<div class="opciones-menu">
  <a class="item" mat-list-item *sgiHasAnyAuthority="['PII-INV-V', 'PII-INV-E', 'PII-INV-B','PII-INV-R']"
    [routerLink]="[PII_ROUTE_NAMES.INVENCION]" [routerLinkActive]="['is-active']">
    <mat-icon color="primary" mat-list-icon>assignment_ind</mat-icon>
    <p matLine *ngIf="opened">{{'pii.invencion' | translate:MSG_PARAMS.CARDINALIRY.PLURAL}}</p>
  </a>
  <ng-container *sgiHasAnyAuthorityForAnyUO="[
    'PII-TPR-V', 'PII-TPR-C', 'PII-TPR-E','PII-TPR-B','PII-TPR-R',
    'PII-SEA-V', 'PII-SEA-C', 'PII-SEA-E','PII-SEA-B','PII-SEA-R',
    'PII-RIP-V', 'PII-RIP-C', 'PII-RIP-E','PII-RIP-B','PII-RIP-R'
    ]">
    <mat-accordion #accordion="matAccordion" class="acordeon-sidenav">
      <mat-expansion-panel #expPanel class="panel"
        [expanded]="panelDesplegado && opened ? !panelDesplegado : panelDesplegado">
        <mat-expansion-panel-header class="header item" (click)="activarAcordeon($event)">
          <mat-panel-title class="titulo">
            <mat-icon color="primary" mat-list-icon>list_alt</mat-icon>
            <span *ngIf="opened">{{'menu.pii.configuraciones' | translate}}</span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="opciones-accordion" *ngIf="opened">
          <a mat-list-item *sgiHasAnyAuthority="['PII-TPR-V', 'PII-TPR-C', 'PII-TPR-E','PII-TPR-B','PII-TPR-R']"
            [routerLink]="[PII_ROUTE_NAMES.TIPO_PROTECCION]" [routerLinkActive]="['is-active']">
            {{'pii.tipo-proteccion' | translate:MSG_PARAMS.CARDINALIRY.PLURAL}}
          </a>
          <a mat-list-item *sgiHasAnyAuthority="['PII-SEA-V', 'PII-SEA-C', 'PII-SEA-E','PII-SEA-B','PII-SEA-R']"
            [routerLink]="[PII_ROUTE_NAMES.SECTOR_APLICACION]" [routerLinkActive]="['is-active']">
            {{'pii.sector-aplicacion' | translate:MSG_PARAMS.CARDINALIRY.PLURAL}}
          </a>
          <a mat-list-item *sgiHasAnyAuthority="['PII-RIP-V', 'PII-RIP-C', 'PII-RIP-E','PII-RIP-B','PII-RIP-R']"
            [routerLink]="[PII_ROUTE_NAMES.RESULTADO_INFORME_PATENTABILIDAD]" [routerLinkActive]="['is-active']">
            {{'pii.resultado-informe-patentabilidad' | translate:MSG_PARAMS.CARDINALIRY.PLURAL}}
          </a>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </ng-container>
</div>
<!-- FIN Menu principal -->