<div class="sgi-dialog-header" fxLayout="row" fxLayoutGap="20px">
  <span fxFlexAlign="center" mat-mat-dialog-title role="heading" aria-level="3" fxFlex>{{'sgp.persona' |
    translate:MSG_PARAMS.CARDINALIRY.PLURAL}}</span>
  <button fxFlex="nogrow" mat-icon-button mat-dialog-close>
    <mat-icon class="close-icon">close</mat-icon>
  </button>
</div>
<mat-dialog-content>
  <!-- Buscador -->
  <form [formGroup]="formGroup">
    <!-- Datos persona -->
    <mat-form-field>
      <mat-label>
        {{'sgp.datos-persona' | translate}}
      </mat-label>
      <input matInput formControlName="datosPersona">
    </mat-form-field>
  </form>
  <div class="separacion">
    <button color="primary" mat-raised-button (click)="search(true)">
      {{'btn.search' | translate}}
    </button>
    <button color="warn" aria-label="Center Align" (click)="onClearFilters()" mat-button>
      {{'btn.clean'| translate}}
    </button>
  </div>
  <!-- Tabla resultados -->
  <div class="mat-elevation-z4">
    <table mat-table [dataSource]="personas$ | async" matSort matSortActive="apellidos" matSortDirection="asc"
      matSortDisableClear>
      <!-- Nombre Colum -->
      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{'sgp.nombre' | translate}}
        </th>
        <td mat-cell *matCellDef="let persona">
          {{persona.nombre}} </td>
      </ng-container>
      <!-- Apellidos Colum -->
      <ng-container matColumnDef="apellidos">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{'sgp.apellidos' | translate}}
        </th>
        <td mat-cell *matCellDef="let persona">
          {{persona.apellidos}}
        </td>
      </ng-container>
      <!-- Numero documento Colum -->
      <ng-container matColumnDef="numeroDocumento">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{'sgp.numero-documento' | translate}}
        </th>
        <td mat-cell *matCellDef="let persona">
          {{persona.numeroDocumento}}
        </td>
      </ng-container>
      <!-- Entidad externa Colum -->
      <ng-container matColumnDef="entidad">
        <th mat-header-cell *matHeaderCellDef>
          {{'sgp.entidad-externa' | translate}}
        </th>
        <td mat-cell *matCellDef="let persona">
          {{persona.entidad?.nombre}}
        </td>
      </ng-container>
      <!-- Acciones Column -->
      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef>
          {{'label.actions' | translate}}
        </th>
        <td mat-cell *matCellDef="let persona">
          <ng-container>
            <button mat-button matTooltip="{{'btn.select' | translate}}" (click)="closeModal(persona)">
              <mat-icon color="primary">done_outline</mat-icon>
            </button>
            <button mat-button matTooltip="{{'btn.view' | translate}}" (click)="openPersonaViewModal(persona)">
              <mat-icon color="primary">visibility</mat-icon>
            </button>
          </ng-container>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="elementosPagina" [length]="totalElementos" showFirstLastButtons>
    </mat-paginator>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button class="link-cancelar" mat-button type="button" mat-dialog-close>{{'btn.cancel' |
    translate}}</button>
</mat-dialog-actions>