@import "colors.scss";

:host {
  .footer-row-total {
    font-weight: bold;

    .mat-column-totalGastosCaption,
    .mat-column-totalIngresosCaption,
    .mat-column-totalRepartoEquipoInventorCaption {
      padding-right: 20px;
      text-align: right;
    }

    .mat-column-importeADeducir,
    .mat-column-importeARepartir,
    .mat-column-importeTotal {
      background-color: map-get($sgi-custom-colors, bg);
    }
  }

  .mat-row.selected {
    background: map-get($palette-grey, 100);
  }

  .reparto-equipo-inventor,
  .reparto-gastos,
  .reparto-ingresos {
    margin-bottom: 1em;
    padding: 1px;
    overflow: auto;
  }

  .reparto-resultado {
    .tramo-reparto {
      margin-bottom: 2em;
    }
  }

  .resultado {
    text-align: center;

    h2 {
      font-weight: bold;

      span {
        background-color: map-get($sgi-custom-colors, bg);
        margin-left: 20px;
      }
    }

  }

  .mat-icon.danger {
    color: map-get($sgi-custom-colors, danger);
  }
}