<sgi-fragment title="{{'label.datos-generales' | translate}}">
  <form [formGroup]="formGroup">

    <!-- Nombre -->
    <div [fxLayout]="fxLayoutProperties.layout" [fxLayoutAlign]="fxLayoutProperties.layoutAlign">
      <div [fxFlex.sm]="fxFlexProperties.sm" [fxFlex.md]="fxFlexProperties.md" [fxFlex.gt-md]="fxFlexProperties.gtMd"
        [fxFlexOrder]="fxFlexProperties.order">
        <mat-form-field>
          <mat-label>{{'csp.proyecto-agrupacion-gasto.nombre' | translate}}</mat-label>
          <input type="text" placeholder="{{'csp.proyecto-agrupacion-gasto.nombre' | translate}}" matInput
            formControlName="nombre" required>
          <mat-error *ngIf="formGroup.controls.nombre.errors?.required">
            {{'error.required.entity' | translate:msgParamNombreEntity}}
          </mat-error>
          <mat-error *ngIf="formGroup.controls.nombre.errors?.notUnique">
            {{'error.notUnique.entity' | translate:msgParamNombreEntity}}
          </mat-error>
        </mat-form-field>
      </div>
    </div>

  </form>
</sgi-fragment>