<div class="sgi-dialog-header" fxLayout="row" fxLayoutGap="20px">
  <span fxFlexAlign="center" mat-mat-dialog-title role="heading" aria-level="3" fxFlex>{{title}}</span>
  <button fxFlex="nogrow" mat-icon-button mat-dialog-close>
    <mat-icon class="close-icon">close</mat-icon>
  </button>
</div>
<mat-dialog-content>
  <form [formGroup]="formGroup">
    <!-- Nombre -->
    <div [fxLayout.xs]="fxLayoutProperties.xs" [fxLayout]="fxLayoutProperties.layout"
      [fxLayoutGap]="fxLayoutProperties.gap" ngClass.gt-xs="ml-10">
      <mat-form-field>
        <mat-label>{{'csp.proyecto-paquete-trabajo.nombre' | translate}}
        </mat-label>
        <input matInput formControlName="nombre" type="text" required
          placeholder="{{'csp.proyecto-paquete-trabajo.nombre' | translate}}">
        <mat-error *ngIf="formGroup.controls.nombre.errors?.required">
          {{'error.required.entity' | translate:msgParamNombreEntity}}
        </mat-error>
        <mat-error *ngIf="formGroup.controls.nombre.errors?.notAllowed">
          {{'error.csp.proyecto-paquete-trabajo.nombre.duplicate' | translate}}
        </mat-error>
        <mat-error *ngIf="formGroup.controls.nombre.errors?.maxlength">
          {{'error.maxlength.entity' | translate:msgParamNombreEntity}}
        </mat-error>
      </mat-form-field>
    </div>
    <div class="fieldset-form">
      {{'title.csp.proyecto-paquete-trabajo.duracion' | translate}}
    </div>
    <!-- fecha inicio -->
    <div [fxLayout.xs]="fxLayoutProperties2.xs" [fxLayout]="fxLayoutProperties2.layout"
      [fxLayoutGap]="fxLayoutProperties2.gap" ngClass.gt-xs="ml-10">
      <div>
        <mat-form-field>
          <mat-label>{{'csp.proyecto-paquete-trabajo.fecha-inicio'| translate}}</mat-label>
          <input matInput [ngxMatDatetimePicker]="pickerFechaInicio" formControlName="fechaInicio" required>
          <mat-datepicker-toggle class="fechaIcon" matSuffix [for]="pickerFechaInicio"></mat-datepicker-toggle>
          <ngx-mat-datetime-picker #pickerFechaInicio showSeconds="true" [defaultTime]="[0,0,0]">
          </ngx-mat-datetime-picker>
          <mat-error *ngIf="formGroup.controls.fechaInicio.errors?.required">
            {{'error.required.entity' | translate:msgParamFechaInicioEntity}}
          </mat-error>
          <mat-error *ngIf="formGroup.controls.fechaInicio.errors?.invalid">
            {{'error.invalid.entity' | translate:msgParamFechaInicioEntity}}
          </mat-error>
        </mat-form-field>
      </div>
      <!-- fecha fin -->
      <div>
        <mat-form-field>
          <mat-label>{{'csp.proyecto-paquete-trabajo.fecha-fin'| translate}}</mat-label>
          <input matInput [ngxMatDatetimePicker]="pickerFechaFin" formControlName="fechaFin" required>
          <mat-datepicker-toggle class="fechaIcon" matSuffix [for]="pickerFechaFin"></mat-datepicker-toggle>
          <ngx-mat-datetime-picker #pickerFechaFin showSeconds="true" [defaultTime]="[23,59,59]">
          </ngx-mat-datetime-picker>
          <mat-error *ngIf="formGroup.controls.fechaFin.errors?.required">
            {{'error.required.entity' | translate:msgParamFechaFinEntity}}
          </mat-error>
          <mat-error *ngIf="formGroup.controls.fechaFin.errors?.invalid">
            {{'error.invalid.entity' | translate:msgParamFechaFinEntity}}
          </mat-error>
          <mat-error *ngIf="formGroup.controls.fechaFin.errors?.after">
            {{'error.after.fecha-fin' | translate}}
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <!-- Persona/mes -->
    <div [fxLayout.xs]="fxLayoutProperties.xs" [fxLayout]="fxLayoutProperties.layout"
      [fxLayoutGap]="fxLayoutProperties.gap" ngClass.gt-xs="ml-10">
      <mat-form-field>
        <mat-label>{{'csp.proyecto-paquete-trabajo.persona-mes' | translate}}
        </mat-label>
        <input matInput formControlName="personaMes" type="number" required
          placeholder="{{'csp.proyecto-paquete-trabajo.persona-mes' | translate}}">
        <mat-error *ngIf="formGroup.controls.personaMes.errors?.required">
          {{'error.required.entity' | translate:msgParamPersonaMesEntity}}
        </mat-error>
        <mat-error *ngIf="formGroup.controls.personaMes.errors?.max">
          {{'error.maxlength.entity' | translate:msgParamPersonaMesEntity}}
        </mat-error>
      </mat-form-field>
    </div>
    <!--Descripcion-->
    <div [fxLayout.xs]="fxLayoutProperties.xs" [fxLayout]="fxLayoutProperties.layout"
      [fxLayoutGap]="fxLayoutProperties.gap" ngClass.gt-xs="ml-10">
      <mat-form-field>
        <mat-label>{{'csp.proyecto-paquete-trabajo.descripcion' | translate}}</mat-label>
        <textarea matInput formControlName="descripcion" type="text"
          placeholder="{{'csp.proyecto-paquete-trabajo.descripcion' | translate}}">
            </textarea>
        <mat-error *ngIf="formGroup.controls.descripcion.errors?.maxlength">
          {{'error.maxlength.entity' | translate:msgParamDescripcionEntity}}
        </mat-error>
      </mat-form-field>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button color="accent" (click)="saveOrUpdate()" mat-raised-button type="submit">
    <mat-icon class="save-icon">save</mat-icon>{{textSaveOrUpdate |
    translate}}
  </button>
  <button class="link-cancelar" mat-button type="button" mat-dialog-close>{{'btn.cancel' |
    translate}}</button>
</mat-dialog-actions>