<sgi-root>
  <sgi-menu-item *sgiHasAuthorityForAnyUO="'ETI-PEV-V'" [route]="[ETI_ROUTE_NAMES.PETICIONES_EVALUACION]"
    icon="pending_actions" title="{{'eti.peticion-evaluacion' | translate:MSG_PARAMS.CARDINALIRY.PLURAL}}">
  </sgi-menu-item>
  <sgi-menu-item *sgiHasAnyAuthorityForAnyUO="['ETI-MEM-V', 'ETI-MEM-CEST']" [route]="[ETI_ROUTE_NAMES.MEMORIAS]"
    icon="menu_book" title="{{'eti.memoria' | translate:MSG_PARAMS.CARDINALIRY.PLURAL}}">
  </sgi-menu-item>
  <sgi-menu-item *sgiHasAnyAuthorityForAnyUO="['ETI-CNV-V', 'ETI-CNV-C', 'ETI-CNV-E', 'ETI-CNV-B', 'ETI-CNV-ENV']"
    [route]="[ETI_ROUTE_NAMES.SOLICITUDES_CONVOCATORIA]" icon="event"
    title="{{'eti.convocatoria-reunion' | translate:MSG_PARAMS.CARDINALIRY.PLURAL}}">
  </sgi-menu-item>
  <sgi-menu-item *sgiHasAnyAuthorityForAnyUO="['ETI-EVC-V', 'ETI-EVC-EVAL']" [route]="[ETI_ROUTE_NAMES.EVALUACIONES]"
    icon="question_answer" title="{{'eti.evaluacion' | translate:MSG_PARAMS.CARDINALIRY.PLURAL}}">
  </sgi-menu-item>
  <sgi-menu-item *sgiHasAnyAuthorityForAnyUO="['ETI-EVC-V', 'ETI-EVC-EVAL']"
    [route]="[ETI_ROUTE_NAMES.GESTION_SEGUIMIENTO]" icon="cached"
    title="{{'eti.seguimiento' | translate:MSG_PARAMS.CARDINALIRY.PLURAL}}">
  </sgi-menu-item>
  <sgi-menu-item
    *sgiHasAnyAuthorityForAnyUO="['ETI-ACT-V', 'ETI-ACT-C', 'ETI-ACT-E', 'ETI-ACT-ER', 'ETI-ACT-DES', 'ETI-ACT-DESR', 'ETI-ACT-FIN']"
    [route]="[ETI_ROUTE_NAMES.ACTAS]" icon="assignment_turned_in"
    title="{{'eti.acta' | translate:MSG_PARAMS.CARDINALIRY.PLURAL}}">
  </sgi-menu-item>
  <sgi-menu-item *sgiHasAnyAuthorityForAnyUO="['ETI-EVR-V', 'ETI-EVR-C', 'ETI-EVR-E', 'ETI-EVR-B']"
    [route]="[ETI_ROUTE_NAMES.EVALUADORES]" icon="group_add"
    title="{{'eti.evaluador' | translate:MSG_PARAMS.CARDINALIRY.PLURAL}}">
  </sgi-menu-item>

  <ng-container *ngIf="isEvaluador$ | async">
    <sgi-menu-group *sgiHasAnyAuthorityForAnyUO="['ETI-EVC-V', 'ETI-EVC-EVAL']"
      title="{{'menu.eti.perfil-evaluador' | translate}}" icon="preview">
      <sgi-menu-subitem [route]="[ETI_ROUTE_NAMES.PERFIL_EVALUADOR_EVALUACIONES]"
        title="{{'menu.eti.evaluacion' | translate:MSG_PARAMS.CARDINALIRY.PLURAL}}">
      </sgi-menu-subitem>
      <sgi-menu-subitem [route]="[ETI_ROUTE_NAMES.PERFIL_EVALUADOR_SEGUIMIENTOS]"
        title="{{'menu.eti.seguimiento' | translate:MSG_PARAMS.CARDINALIRY.PLURAL}}">
      </sgi-menu-subitem>
    </sgi-menu-group>
  </ng-container>

  <ng-container *sgiHasAnyAuthorityForAnyUO="['ETI-EVC-VR', 'ETI-EVC-EVALR']">
    <sgi-menu-item [route]="[ETI_ROUTE_NAMES.EVALUACIONES_EVALUADOR]" icon="preview"
      title="{{'menu.eti.evaluacion' | translate:MSG_PARAMS.CARDINALIRY.PLURAL}}">
    </sgi-menu-item>
    <sgi-menu-item [route]="[ETI_ROUTE_NAMES.SEGUIMIENTOS]" icon="assignment_return"
      title="{{'menu.eti.seguimiento' | translate:MSG_PARAMS.CARDINALIRY.PLURAL}}">
    </sgi-menu-item>
  </ng-container>
  <sgi-menu-item *sgiHasAuthorityForAnyUO="'ETI-CNF-E'" [route]="[ETI_ROUTE_NAMES.CONFIGURACIONES]" icon="settings"
    title="{{'eti.configuracion' | translate:MSG_PARAMS.CARDINALIRY.SINGULAR}}">
  </sgi-menu-item>
</sgi-root>