<sgi-action-dialog title="{{'title.csp.solicitud.cambio-estado' | translate}}">
  <form [formGroup]="formGroup">
    <div [fxLayout]="fxLayoutProperties.layout" [fxLayoutAlign]="fxLayoutProperties.layoutAlign"
      [fxLayoutGap]="fxLayoutProperties.gap">
      <!-- Estado actual -->
      <div>
        <mat-form-field>
          <mat-label>{{'csp.solicitud.cambio-estado.actual' | translate}}</mat-label>
          <sgi-select-enum formControlName="estadoActual" [enumMap]="ESTADO_MAP">
          </sgi-select-enum>
        </mat-form-field>
      </div>
    </div>
    <div [fxLayout]="fxLayoutProperties.layout" [fxLayoutAlign]="fxLayoutProperties.layoutAlign"
      [fxLayoutGap]="fxLayoutProperties.gap">
      <!-- Estado nuevo -->
      <div>
        <mat-form-field>
          <mat-label>{{'csp.solicitud.cambio-estado.nuevo' | translate}}</mat-label>
          <sgi-select-enum formControlName="estadoNuevo" [enumMap]="estadosNuevos">
          </sgi-select-enum>
        </mat-form-field>
      </div>
    </div>
    <div [fxLayout]="fxLayoutProperties.layout" [fxLayoutAlign]="fxLayoutProperties.layoutAlign"
      [fxLayoutGap]="fxLayoutProperties.gap">
      <!-- fecha Estado-->
      <div>
        <mat-form-field>
          <mat-label>{{'csp.solicitud.estado-solicitud.fecha' | translate}}</mat-label>
          <input matInput formControlName="fechaEstado" [ngxMatDatetimePicker]="fechaEstado">
          <mat-datepicker-toggle matSuffix [for]="fechaEstado"></mat-datepicker-toggle>
          <ngx-mat-datetime-picker #fechaEstado showSeconds="true">
          </ngx-mat-datetime-picker>
          <mat-error *ngIf="formGroup.get('fechaEstado').errors?.required">
            {{'error.required.entity' | translate:msgParamFechaEstadoEntity}}
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <!-- Comentario -->
    <div [fxLayout]="fxLayoutProperties.layout" [fxLayoutAlign]="fxLayoutProperties.layoutAlign">
      <span class="mat-small">{{'csp.solicitud.cambio-estado.comentario' | translate}}</span>
      <mat-form-field fxFill>
        <textarea matInput formControlName="comentario" type="text">
            </textarea>
        <mat-error *ngIf="formGroup.get('comentario').errors?.maxlength">
          {{'error.maxlength.entity' | translate:msgParamComentarioEntity}}
        </mat-error>
      </mat-form-field>
    </div>
  </form>
</sgi-action-dialog>