<sgi-action [actionService]="actionService">
  <ng-container menu>
    <sgi-action-fragment-menu-item [route]="[ACTA_ROUTE_NAMES.DATOS_GENERALES]"
      [title]="'label.datos-generales' | translate"
      [fragment]="actionService.getFragment(actionService.FRAGMENT.DATOS_GENERALES)">
    </sgi-action-fragment-menu-item>
    <sgi-action-fragment-menu-item [route]="[ACTA_ROUTE_NAMES.MEMORIAS]"
      [title]="'eti.memoria' | translate:MSG_PARAMS.CARDINALIRY.PLURAL"
      [fragment]="actionService.getFragment(actionService.FRAGMENT.MEMORIAS)">
    </sgi-action-fragment-menu-item>
    <sgi-action-fragment-menu-item [route]="[ACTA_ROUTE_NAMES.ASISTENTES]"
      [title]="'eti.acta.asistente' | translate:MSG_PARAMS.CARDINALIRY.PLURAL"
      [fragment]="actionService.getFragment(actionService.FRAGMENT.ASISTENTES)">
    </sgi-action-fragment-menu-item>
    <sgi-action-fragment-menu-item [route]="[ACTA_ROUTE_NAMES.COMENTARIOS]"
      [title]="'eti.acta.comentario' | translate:MSG_PARAMS.CARDINALIRY.PLURAL"
      [fragment]="actionService.getFragment(actionService.FRAGMENT.COMENTARIOS)">
    </sgi-action-fragment-menu-item>
  </ng-container>
  <ng-container footer>
    <sgi-action-footer [texto]="textoCrear" [actionService]="actionService">
    </sgi-action-footer>
  </ng-container>
</sgi-action>