<div class="sgi-dialog-header" fxLayout="row" fxLayoutGap="20px">
  <span fxFlexAlign="center" mat-mat-dialog-title role="heading" aria-level="3" fxFlex>{{'title.csp.proyecto.new' |
    translate}}</span>
  <button fxFlex="nogrow" mat-icon-button mat-dialog-close>
    <mat-icon class="close-icon">close</mat-icon>
  </button>
</div>
<p>{{'info.csp.solicitud-proyecto.new'| translate}}</p>
<mat-dialog-content>
  <form [formGroup]="formGroup">
    <div [fxLayout.xs]="fxLayoutProperties.xs" [fxLayout]="fxLayoutProperties.layout"
      [fxLayoutGap]="fxLayoutProperties.gap" ngClass.gt-xs="ml-10">
      <!-- Fecha inicio proyecto -->
      <div>
        <mat-form-field>
          <mat-label>{{'csp.solicitud-proyecto.fecha-inicio'| translate}}</mat-label>
          <input matInput [matDatepicker]="pickerFechaInicio" formControlName="fechaInicio" required>
          <mat-datepicker-toggle class="fechaIcon" matSuffix [for]="pickerFechaInicio"></mat-datepicker-toggle>
          <mat-datepicker #pickerFechaInicio>
          </mat-datepicker>
          <mat-error *ngIf="formGroup.controls.fechaInicio.errors?.required">
            {{'error.required.entity' | translate:msgParamFechaInicioEntity}}
          </mat-error>
          <mat-error *ngIf="formGroup.controls.fechaInicio.errors?.before">
            {{'error.before.fecha-inicio' | translate}}
          </mat-error>
        </mat-form-field>
      </div>
      <!-- Fecha fin proyecto -->
      <div>
        <mat-form-field sgiEndDate>
          <mat-label>{{'csp.solicitud-proyecto.fecha-fin'| translate}}</mat-label>
          <input matInput [matDatepicker]="pickerFechaFin" formControlName="fechaFin" required>
          <mat-datepicker-toggle class="fechaIcon" matSuffix [for]="pickerFechaFin"></mat-datepicker-toggle>
          <mat-datepicker #pickerFechaFin>
          </mat-datepicker>
          <mat-error *ngIf="formGroup.controls.fechaFin.errors?.required">
            {{'error.required.entity' | translate:msgParamFechaFinEntity}}
          </mat-error>
          <mat-error *ngIf="formGroup.controls.fechaFin.errors?.after">
            {{'error.after.fecha-fin' | translate}}
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <!-- Modelo de ejecución -->
    <div [fxLayout.xs]="fxLayoutProperties.xs" [fxLayout]="fxLayoutProperties.layout"
      [fxLayoutGap]="fxLayoutProperties.gap" ngClass.gt-xs="ml-10">
      <mat-form-field class="input-form">
        <mat-label>{{'csp.solicitud-proyecto.modelo-ejecucion' | translate}}</mat-label>
        <input type="text" placeholder="{{'csp.solicitud-proyecto.modelo-ejecucion' | translate}}" matInput
          formControlName="modeloEjecucion" [matAutocomplete]="autoModeloEjecucion" (click)="loadModelosEjecucion()"
          required>
        <mat-autocomplete #autoModeloEjecucion="matAutocomplete" [displayWith]="getModeloEjecucion">
          <mat-option *ngFor="let modeloEjecucion of modelosEjecucion$ | async" [value]="modeloEjecucion">
            {{modeloEjecucion.nombre}}
          </mat-option>
        </mat-autocomplete>
        <mat-error *ngIf="formGroup.controls.modeloEjecucion.errors?.required">
          {{'error.required.entity' | translate:msgParamModeloEjecucionEntity}}
        </mat-error>
        <mat-error *ngIf="formGroup.controls.modeloEjecucion.errors?.invalid">
          {{'error.invalid.entity' | translate:msgParamModeloEjecucionEntity}}
        </mat-error>
      </mat-form-field>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button color="accent" (click)="saveOrUpdate()" mat-raised-button type="submit">
    <mat-icon class="save-icon">save</mat-icon>{{textSaveOrUpdate |
    translate}}
  </button>
  <button class="link-cancelar" mat-button type="button" mat-dialog-close>{{'btn.cancel' |
    translate}}</button>
</mat-dialog-actions>