<sgi-action-dialog [title]="title">
  <form [formGroup]="formGroup">
    <!-- Nombre -->
    <div fxLayout="row">
      <mat-form-field>
        <mat-label>{{'csp.tipo-finalidad.nombre' | translate}}</mat-label>
        <input matInput formControlName="nombre" type="text" placeholder="{{'csp.tipo-finalidad.nombre' | translate}}"
          required>
        <mat-error *ngIf="formGroup.controls.nombre.errors?.required">
          {{'error.required.entity' | translate:msgParamNombreEntity}}
        </mat-error>
      </mat-form-field>
    </div>
    <!-- Descripción -->
    <div fxLayout="row">
      <mat-form-field>
        <mat-label>{{'csp.tipo-finalidad.descripcion' | translate}}</mat-label>
        <textarea matInput formControlName="descripcion"
          placeholder="{{'csp.tipo-finalidad.descripcion' | translate}}"></textarea>
      </mat-form-field>
    </div>
  </form>
</sgi-action-dialog>