@import "colors.scss";
@import "typography.scss";

.solicitud-listado {
  .formulario {
    padding: 10px 20px 10px 20px;
    .col {
      padding-right: 15px;
    }
    .buttons-final {
      padding: 10px 0px 10px 0px;
      .filter-button {
        button {
          margin-right: 15px;
        }
      }
    }
  }
}