<div class="sgi-dialog-header" fxLayout="row" fxLayoutGap="20px">
  <span fxFlexAlign="center" mat-mat-dialog-title role="heading" aria-level="3" fxFlex>{{title}}</span>
  <button fxFlex="nogrow" mat-icon-button mat-dialog-close>
    <mat-icon class="close-icon">close</mat-icon>
  </button>
</div>
<mat-dialog-content>
  <form [formGroup]="formGroup" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="none start">
    <div fxFlex fxLayout="column" fxLayoutGap="10px">
      <h3 *ngIf="showDatosPartidaPresupuestaria">&nbsp;</h3>

      <!-- Codigo -->
      <div fxFlex fxLayout="row" fxLayoutGap="10px">
        <mat-form-field>
          <mat-label>{{'csp.proyecto-partida-presupuestaria.codigo' | translate}}
          </mat-label>
          <input matInput formControlName="codigo" type="text" required
            placeholder="{{'csp.proyecto-partida-presupuestaria.codigo' | translate}}">
          <sgi-field-info matSuffix [visible]="true"
            message="{{'csp.partida-presupuestaria.codigo-tooltip' | translate:msgTooltip}}">
          </sgi-field-info>
          <mat-error *ngIf="formGroup.controls.codigo.errors?.required">
            {{'error.required.entity' | translate:msgParamCodigoEntity}}
          </mat-error>
          <mat-error *ngIf="formGroup.controls.codigo.errors?.pattern">
            {{'error.csp.proyecto-partida-presupuestaria.codigo.invalid-format' | translate}}
          </mat-error>
          <mat-error *ngIf="formGroup.controls.codigo.errors?.maxlength">
            {{'error.maxlength.entity' | translate:msgParamCodigoEntity}}
          </mat-error>
          <mat-error *ngIf="formGroup.controls.codigo.errors?.duplicated">
            {{'error.csp.proyecto-partida-presupuestaria.codigo.duplicated' | translate}}
          </mat-error>
        </mat-form-field>
      </div>

      <!-- Tipo -->
      <div fxFlex fxLayout="row" fxLayoutGap="10px">
        <mat-form-field>
          <mat-label>{{'csp.proyecto-partida-presupuestaria.tipo-partida' | translate}}</mat-label>
          <sgi-select-enum formControlName="tipo" [enumMap]="TIPO_PARTIDA_MAP" required></sgi-select-enum>
          <mat-error *ngIf="formGroup.controls.tipo.errors?.required">
            {{'error.required.entity' | translate:msgParamTipoEntity}}
          </mat-error>
        </mat-form-field>
      </div>

      <!-- Descripcion -->
      <div fxFlex fxLayout="row" fxLayoutGap="10px">
        <mat-form-field>
          <mat-label>{{'csp.proyecto-partida-presupuestaria.descripcion' | translate}}</mat-label>
          <textarea matInput formControlName="descripcion" type="text"
            placeholder="{{'csp.proyecto-partida-presupuestaria.descripcion' | translate}}">
            </textarea>
          <mat-error *ngIf="formGroup.get('descripcion').errors?.maxlength">
            {{'error.maxlength.entity' | translate:msgParamDescripcionEntity}}
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <!-- Datos de la convocatoria -->
    <div fxFlex="50" fxLayout="column" fxLayoutGap="10px" *ngIf="showDatosPartidaPresupuestaria">
      <h3>{{'info.csp.datos-convocatoria' | translate}}</h3>

      <!-- Codigo convocatoria-->
      <div fxFlex fxLayout="row" fxLayoutGap="10px">
        <mat-form-field>
          <mat-label>{{'csp.proyecto-partida-presupuestaria.codigo' | translate}}
          </mat-label>
          <input matInput formControlName="codigoConvocatoria" type="text" required
            placeholder="{{'csp.proyecto-partida-presupuestaria.codigo' | translate}}">
        </mat-form-field>
      </div>

      <!-- Tipo convocatoria-->
      <div fxFlex fxLayout="row" fxLayoutGap="10px">
        <mat-form-field>
          <mat-label>{{'csp.proyecto-partida-presupuestaria.tipo-partida' | translate}}</mat-label>
          <sgi-select-enum formControlName="tipoConvocatoria" [enumMap]="TIPO_PARTIDA_MAP" required></sgi-select-enum>
        </mat-form-field>
      </div>

      <!-- Descripcion convocatoria-->
      <div fxFlex fxLayout="row" fxLayoutGap="10px">
        <mat-form-field>
          <mat-label>{{'csp.proyecto-partida-presupuestaria.descripcion' | translate}}</mat-label>
          <textarea matInput formControlName="descripcionConvocatoria" type="text"
            placeholder="{{'csp.proyecto-partida-presupuestaria.descripcion' | translate}}">
                      </textarea>
        </mat-form-field>
      </div>
      <div fxFlex fxLayout="row" fxLayoutGap="10px" class="separation-button">
        <button color="primary" aria-label="Center Align" mat-raised-button (click)="copyToProyecto()"
          [disabled]="disabledCopy">
          {{'btn.csp.aplicar-proyecto'| translate}}
        </button>
      </div>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button color="accent" (click)="saveOrUpdate()" mat-raised-button type="submit" *ngIf="data.canEdit"
    [disabled]="disabledSave">
    <mat-icon class="save-icon">save</mat-icon>
    {{textSaveOrUpdate | translate}}
  </button>
  <button class="link-cancelar" mat-button type="button" mat-dialog-close>
    {{'btn.cancel' | translate}}
  </button>
</mat-dialog-actions>