<sgi-dialog-header title="{{'csp.seguimiento-justificacion.title' | translate}}">
</sgi-dialog-header>
<sgi-dialog-content>
  <form [formGroup]="formGroup" fxLayout="column">
    <div fxFlex fxLayout="row" fxLayoutGap="10px">
      <!-- Proyecto SGI: ID interno -->
      <mat-form-field>
        <mat-label>
          {{'csp.seguimiento-justificacion.proyecto-sgi.id-interno'
          | translate}}
        </mat-label>
        <input matInput type="number"
          placeholder="{{'csp.seguimiento-justificacion.proyecto-sgi.id-interno' | translate}}"
          formControlName="proyectoId">
      </mat-form-field>

      <!-- Proyecto SGI: Título -->
      <mat-form-field>
        <mat-label>
          {{'csp.seguimiento-justificacion.proyecto-sgi.titulo'
          | translate}}
        </mat-label>
        <input matInput type="text" placeholder="{{'csp.seguimiento-justificacion.proyecto-sgi.titulo' | translate}}"
          formControlName="tituloProyecto">
      </mat-form-field>

    </div>

    <div fxFlex fxLayout="row" fxLayoutGap="10px">
      <!-- Fecha última justificación -->
      <mat-form-field>
        <mat-label>
          {{'csp.seguimiento-justificacion.fecha-ultima-justificacion'
          | translate}}
        </mat-label>
        <input matInput formControlName="fechaUltimaJustificacion"
          [ngxMatDatetimePicker]="pickerFechaUltimaJustificacion">
        <mat-datepicker-toggle matSuffix [for]="pickerFechaUltimaJustificacion"></mat-datepicker-toggle>
        <ngx-mat-datetime-picker #pickerFechaUltimaJustificacion showSeconds="true" [defaultTime]="[0,0,0]">
        </ngx-mat-datetime-picker>
      </mat-form-field>

      <!-- Importe concedido: costes directos -->
      <mat-form-field>
        <mat-label>
          {{'csp.seguimiento-justificacion.importe-concedido-cd'
          | translate}}
        </mat-label>
        <input matInput type="text" placeholder="{{'csp.seguimiento-justificacion.importe-concedido-cd' | translate}}"
          formControlName="importeConcedido" sgiInputWithThousandSeparator>
      </mat-form-field>

      <!-- Importe concedido: costes indirectos -->
      <mat-form-field>
        <mat-label>
          {{'csp.seguimiento-justificacion.importe-concedido-ci'
          | translate}}
        </mat-label>
        <input matInput type="text" placeholder="{{'csp.seguimiento-justificacion.importe-concedido-ci' | translate}}"
          formControlName="importeConcedidoCostesIndirectos" sgiInputWithThousandSeparator>
      </mat-form-field>

    </div>

    <div fxFlex fxLayout="row" fxLayoutGap="10px">
      <!-- Importe justificado -->
      <mat-form-field>
        <mat-label>
          {{'csp.seguimiento-justificacion.importe-justificado'
          | translate}}
        </mat-label>
        <input matInput type="text" placeholder="{{'csp.seguimiento-justificacion.importe-justificado' | translate}}"
          formControlName="importeJustificado" sgiInputWithThousandSeparator>
      </mat-form-field>

      <!-- Importe justificado: costes directos -->
      <mat-form-field>
        <mat-label>
          {{'csp.seguimiento-justificacion.importe-justificado-cd'
          | translate}}
        </mat-label>
        <input matInput type="text" placeholder="{{'csp.seguimiento-justificacion.importe-justificado-cd' | translate}}"
          formControlName="importeJustificadoCD" sgiInputWithThousandSeparator>
      </mat-form-field>

      <!-- Importe justificado: costes indirectos -->
      <mat-form-field>
        <mat-label>
          {{'csp.seguimiento-justificacion.importe-justificado-ci'
          | translate}}
        </mat-label>
        <input matInput type="text" placeholder="{{'csp.seguimiento-justificacion.importe-justificado-ci' | translate}}"
          formControlName="importeJustificadoCI" sgiInputWithThousandSeparator>
      </mat-form-field>

    </div>

    <div fxFlex fxLayout="row" fxLayoutGap="10px">
      <!-- Importe aceptado -->
      <mat-form-field>
        <mat-label>
          {{'csp.seguimiento-justificacion.importe-aceptado'
          | translate}}
        </mat-label>
        <input matInput type="text" placeholder="{{'csp.seguimiento-justificacion.importe-aceptado' | translate}}"
          formControlName="importeAceptado" sgiInputWithThousandSeparator>
      </mat-form-field>

      <!-- Importe aceptado: costes directos -->
      <mat-form-field>
        <mat-label>
          {{'csp.seguimiento-justificacion.importe-aceptado-cd'
          | translate}}
        </mat-label>
        <input matInput type="text" placeholder="{{'csp.seguimiento-justificacion.importe-aceptado-cd' | translate}}"
          formControlName="importeAceptadoCD" sgiInputWithThousandSeparator>
      </mat-form-field>

      <!-- Importe aceptado: costes indirectos -->
      <mat-form-field>
        <mat-label>
          {{'csp.seguimiento-justificacion.importe-aceptado-ci'
          | translate}}
        </mat-label>
        <input matInput type="text" placeholder="{{'csp.seguimiento-justificacion.importe-aceptado-ci' | translate}}"
          formControlName="importeAceptadoCI" sgiInputWithThousandSeparator>
      </mat-form-field>

    </div>

    <div fxFlex fxLayout="row" fxLayoutGap="10px">
      <!-- Importe rechazado -->
      <mat-form-field>
        <mat-label>
          {{'csp.seguimiento-justificacion.importe-rechazado'
          | translate}}
        </mat-label>
        <input matInput type="text" placeholder="{{'csp.seguimiento-justificacion.importe-rechazado' | translate}}"
          formControlName="importeRechazado" sgiInputWithThousandSeparator>
      </mat-form-field>

      <!-- Importe rechazado  - costes directos -->
      <mat-form-field>
        <mat-label>
          {{'csp.seguimiento-justificacion.importe-rechazado.cd'
          | translate}}
        </mat-label>
        <input matInput type="text" placeholder="{{'csp.seguimiento-justificacion.importe-rechazado.cd' | translate}}"
          formControlName="importeRechazadoCD" sgiInputWithThousandSeparator>
      </mat-form-field>

      <!-- Importe rechazado - costes indirectos -->
      <mat-form-field>
        <mat-label>
          {{'csp.seguimiento-justificacion.importe-rechazado.ci'
          | translate}}
        </mat-label>
        <input matInput type="text" placeholder="{{'csp.seguimiento-justificacion.importe-rechazado.ci' | translate}}"
          formControlName="importeRechazadoCI" sgiInputWithThousandSeparator>
      </mat-form-field>

    </div>

    <div fxFlex fxLayout="row" fxLayoutGap="10px">
      <!-- Importe alegado -->
      <mat-form-field>
        <mat-label>
          {{'csp.seguimiento-justificacion.importe-alegado'
          | translate}}
        </mat-label>
        <input matInput type="text" placeholder="{{'csp.seguimiento-justificacion.importe-alegado' | translate}}"
          formControlName="importeAlegado" sgiInputWithThousandSeparator>
      </mat-form-field>

      <!-- Importe alegado: coste directos -->
      <mat-form-field>
        <mat-label>
          {{'csp.seguimiento-justificacion.importe-alegado-cd'
          | translate}}
        </mat-label>
        <input matInput type="text" placeholder="{{'csp.seguimiento-justificacion.importe-alegado-cd' | translate}}"
          formControlName="importeAlegadoCD" sgiInputWithThousandSeparator>
      </mat-form-field>

      <!-- Importe alegado: coste indirectos -->
      <mat-form-field>
        <mat-label>
          {{'csp.seguimiento-justificacion.importe-alegado-ci'
          | translate}}
        </mat-label>
        <input matInput type="text" placeholder="{{'csp.seguimiento-justificacion.importe-alegado-ci' | translate}}"
          formControlName="importeAlegadoCI" sgiInputWithThousandSeparator>
      </mat-form-field>

    </div>

    <div fxFlex fxLayout="row" fxLayoutGap="10px">
      <!-- Importe no ejecutado -->
      <mat-form-field>
        <mat-label>
          {{'csp.seguimiento-justificacion.importe-no-ejecutado'
          | translate}}
        </mat-label>
        <input matInput type="text" placeholder="{{'csp.seguimiento-justificacion.importe-no-ejecutado' | translate}}"
          formControlName="importeNoEjecutado" sgiInputWithThousandSeparator>
      </mat-form-field>

      <!-- Importe no ejecutado: costes directos -->
      <mat-form-field>
        <mat-label>
          {{'csp.seguimiento-justificacion.importe-no-ejecutado-cd'
          | translate}}
        </mat-label>
        <input matInput type="text"
          placeholder="{{'csp.seguimiento-justificacion.importe-no-ejecutado-cd' | translate}}"
          formControlName="importeNoEjecutadoCD" sgiInputWithThousandSeparator>
      </mat-form-field>

      <!-- Importe no ejecutado: costes indirectos -->
      <mat-form-field>
        <mat-label>
          {{'csp.seguimiento-justificacion.importe-no-ejecutado-ci'
          | translate}}
        </mat-label>
        <input matInput type="text"
          placeholder="{{'csp.seguimiento-justificacion.importe-no-ejecutado-ci' | translate}}"
          formControlName="importeNoEjecutadoCI" sgiInputWithThousandSeparator>
      </mat-form-field>

    </div>

    <div fxFlex fxLayout="row" fxLayoutGap="10px">
      <!-- Importe a reintegrar -->
      <mat-form-field>
        <mat-label>
          {{'csp.seguimiento-justificacion.importe-reintegrar'
          | translate}}
        </mat-label>
        <input matInput type="text" placeholder="{{'csp.seguimiento-justificacion.importe-reintegrar' | translate}}"
          formControlName="importeReintegrar" sgiInputWithThousandSeparator>
      </mat-form-field>

      <!-- Importe a reintegrar: costes directos -->
      <mat-form-field>
        <mat-label>
          {{'csp.seguimiento-justificacion.importe-reintegrar-cd'
          | translate}}
        </mat-label>
        <input matInput type="text" placeholder="{{'csp.seguimiento-justificacion.importe-reintegrar-cd' | translate}}"
          formControlName="importeReintegrarCD" sgiInputWithThousandSeparator>
      </mat-form-field>

      <!-- Importe a reintegrar: costes indirectos -->
      <mat-form-field>
        <mat-label>
          {{'csp.seguimiento-justificacion.importe-reintegrar-ci'
          | translate}}
        </mat-label>
        <input matInput type="text" placeholder="{{'csp.seguimiento-justificacion.importe-reintegrar-ci' | translate}}"
          formControlName="importeReintegrarCI" sgiInputWithThousandSeparator>
      </mat-form-field>

    </div>

    <div fxFlex fxLayout="row" fxLayoutGap="10px">
      <!-- Reintegro realizado -->
      <mat-form-field>
        <mat-label>
          {{'csp.seguimiento-justificacion.reintegro-realizado'
          | translate}}
        </mat-label>
        <input matInput type="text" placeholder="{{'csp.seguimiento-justificacion.reintegro-realizado' | translate}}"
          formControlName="importeReintegrado" sgiInputWithThousandSeparator>
      </mat-form-field>

      <!-- Reintegro realizado: costes directos -->
      <mat-form-field>
        <mat-label>
          {{'csp.seguimiento-justificacion.reintegro-realizado-cd'
          | translate}}
        </mat-label>
        <input matInput type="text" placeholder="{{'csp.seguimiento-justificacion.reintegro-realizado-cd' | translate}}"
          formControlName="importeReintegradoCD" sgiInputWithThousandSeparator>
      </mat-form-field>

      <!-- Reintegro realizado: costes indirectos -->
      <mat-form-field>
        <mat-label>
          {{'csp.seguimiento-justificacion.reintegro-realizado-ci'
          | translate}}
        </mat-label>
        <input matInput type="text" placeholder="{{'csp.seguimiento-justificacion.reintegro-realizado-ci' | translate}}"
          formControlName="importeReintegradoCI" sgiInputWithThousandSeparator>
      </mat-form-field>

    </div>

    <div fxFlex fxLayout="row" fxLayoutGap="10px">
      <!-- Intereses a reintegrar -->
      <mat-form-field>
        <mat-label>
          {{'csp.seguimiento-justificacion.intereses-reintegrar'
          | translate}}
        </mat-label>
        <input matInput type="text" placeholder="{{'csp.seguimiento-justificacion.intereses-reintegrar' | translate}}"
          formControlName="interesesReintegrar" sgiInputWithThousandSeparator>
      </mat-form-field>

      <!-- Intereses reintegrados -->
      <mat-form-field>
        <mat-label>
          {{'csp.seguimiento-justificacion.intereses-reintegrados'
          | translate}}
        </mat-label>
        <input matInput type="text" placeholder="{{'csp.seguimiento-justificacion.intereses-reintegrados' | translate}}"
          formControlName="interesesReintegrados" sgiInputWithThousandSeparator>
      </mat-form-field>

    </div>

    <div fxFlex fxLayout="row" fxLayoutGap="10px">
      <!-- Fecha último reintegro -->
      <mat-form-field>
        <mat-label>
          {{'csp.seguimiento-justificacion.fecha-reintegro'
          | translate}}
        </mat-label>
        <input matInput formControlName="fechaReintegro" [matDatepicker]="fechaReintegro">
        <mat-datepicker-toggle matSuffix [for]="fechaReintegro"></mat-datepicker-toggle>
        <mat-datepicker #fechaReintegro></mat-datepicker>
      </mat-form-field>

      <!-- Núm. justificante último reintegro -->
      <mat-form-field>
        <mat-label>
          {{'csp.seguimiento-justificacion.num-justificante-ultimo-reintegro'
          | translate}}
        </mat-label>
        <input matInput type="text"
          placeholder="{{'csp.seguimiento-justificacion.num-justificante-ultimo-reintegro' | translate}}"
          formControlName="justificanteReintegro">
        <mat-error *ngIf="formGroup.controls.justificanteReintegro.errors?.maxlength">
          {{'error.maxlength.entity' | translate:msgParamJustificanteReintegroEntity}}
        </mat-error>
      </mat-form-field>

    </div>

    <div fxFlex fxLayout="row" fxLayoutGap="10px">
      <!-- Reintegro pendiente -->
      <mat-form-field>
        <mat-label>
          {{'csp.seguimiento-justificacion.reintegro-pendiente'
          | translate}}
        </mat-label>
        <input matInput type="text" placeholder="{{'csp.seguimiento-justificacion.reintegro-pendiente' | translate}}"
          formControlName="reintegroPendiente" sgiInputWithThousandSeparator>
      </mat-form-field>

      <!-- Intereses pendientes de reintegrar -->
      <mat-form-field>
        <mat-label>
          {{'csp.seguimiento-justificacion.intereses-pendientes-reintegrar'
          | translate}}
        </mat-label>
        <input matInput type="text"
          placeholder="{{'csp.seguimiento-justificacion.intereses-pendientes-reintegrar' | translate}}"
          formControlName="interesesPendientes" sgiInputWithThousandSeparator>
      </mat-form-field>

    </div>
  </form>
</sgi-dialog-content>
<mat-dialog-actions>
  <button color="accent" (click)="doAction()" [disabled]="this.actionDisabled" mat-raised-button type="submit">
    <mat-icon class="save-icon">save</mat-icon>
    {{ 'btn.ok' | translate}}
  </button>
  <button class="link-cancelar" mat-button type="button" mat-dialog-close>
    {{'btn.cancel' | translate}}
  </button>
</mat-dialog-actions>