:host {
  .formulario {
    padding: 10px 20px 10px 20px;

    .buttons-final {
      padding: 10px 0px 10px 0px;

      .filter-button {
        button {
          margin-right: 15px;
        }
      }
    }
  }

  .paginator-export {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}