<!-- Titulares -->
<section class="periodo-titularidad-titulares">
  <h2>{{'pii.invencion-titularidad.periodo-titularidad-titulares.desde' | translate:msgParamEntityPlural}}
    {{ (formPart.periodosTitularidadSelected$ | async)?.value?.fechaInicio | luxon:'shortDate' }}</h2>

  <!-- Listado de Titulares -->
  <table mat-table class="mat-elevation-z8" [dataSource]="dataSource" matSort matSortActive="id" matSortDirection="asc"
    matSortDisableClear>
    <!-- Titular-->
    <ng-container matColumnDef="titular">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        {{'sgemp.empresa' |
        translate:MSG_PARAMS.CARDINALIRY.SINGULAR}}
      </th>
      <td mat-cell *matCellDef="let titularidad">{{titularidad.value.titular.nombre}}
      </td>
    </ng-container>
    <!-- Porcentaje Participacion -->
    <ng-container matColumnDef="participacion">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        {{'pii.invencion-titularidad.periodo-titularidad-titulares.participacion' |
        translate}}
      </th>
      <td mat-cell *matCellDef="let titularidad">{{titularidad.value.participacion}}
      </td>
    </ng-container>

    <!-- Acciones -->
    <ng-container matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef> {{'label.actions' | translate}} </th>
      <td mat-cell *matCellDef="let titularidad">
        <ng-container *sgiHasAuthority="'PII-INV-E'">
          <button *ngIf="canEdit(titularidad)" mat-button matTooltip="{{'btn.edit' | translate}}"
            (click)="openModal(titularidad)">
            <mat-icon color="primary">border_color</mat-icon>
          </button>
        </ng-container>
        <ng-container *sgiHasAuthority="'PII-INV-B'">
          <button *ngIf="canEdit(titularidad)" mat-button matTooltip="{{'btn.delete' | translate}}"
            (click)="deletePeriodoTitularidad(titularidad)">
            <mat-icon color="warn">highlight_off</mat-icon>
          </button>
        </ng-container>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnas"></tr>
    <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="elementosPagina" showFirstLastButtons>
  </mat-paginator>
  <mat-error *ngIf="!(formPart.isTitularesComplete$ | async)">
    {{ 'error.pii.invencion-titularidad.periodo-titularidad.participacion' | translate }}
  </mat-error>

  <ng-container *sgiHasAuthority="'PII-INV-C'">
    <div class="separation-button">
      <button color="three" mat-raised-button (click)="openModal(null)" [disabled]="
        !(formPart.periodosTitularidadSelected$ | async)
         || (this.formPart.periodosTitularidad$ | async).length == 0
         || formPart.periodoVigente?.value?.id != (formPart.periodosTitularidadSelected$ | async)?.value?.id
         ">
        <mat-icon color="accent">add_circle</mat-icon>
        {{ 'btn.add.entity' | translate:msgParamEntity }}
      </button>
    </div>
  </ng-container>

</section>