<sgi-root>
  <sgi-menu-group *sgiHasAnyAuthorityForAnyUO="['PRC-VAL-V', 'PRC-VAL-E']"
    title="{{'menu.prc.validacion-produccion' | translate}}" icon="verified_user">
    <sgi-menu-subitem *sgiHasAnyAuthority="['PRC-VAL-V', 'PRC-VAL-E']" [route]="[PRC_ROUTE_NAMES.PUBLICACION]"
      title="{{'prc.publicacion' | translate:MSG_PARAMS.CARDINALIRY.PLURAL}}">
    </sgi-menu-subitem>
    <sgi-menu-subitem *sgiHasAnyAuthority="['PRC-VAL-V', 'PRC-VAL-E']" [route]="[PRC_ROUTE_NAMES.CONGRESO]"
      title="{{'prc.congreso' | translate:MSG_PARAMS.CARDINALIRY.PLURAL}}">
    </sgi-menu-subitem>
    <sgi-menu-subitem *sgiHasAnyAuthority="['PRC-VAL-V', 'PRC-VAL-E']" [route]="[PRC_ROUTE_NAMES.OBRA_ARTISTICA]"
      title="{{'prc.obra-artistica' | translate:MSG_PARAMS.CARDINALIRY.PLURAL}}">
    </sgi-menu-subitem>
    <sgi-menu-subitem *sgiHasAnyAuthority="['PRC-VAL-V', 'PRC-VAL-E']" [route]="[PRC_ROUTE_NAMES.COMITE_EDITORIAL]"
      title="{{'prc.comite-editorial' | translate:MSG_PARAMS.CARDINALIRY.PLURAL}}">
    </sgi-menu-subitem>
    <sgi-menu-subitem *sgiHasAnyAuthority="['PRC-VAL-V', 'PRC-VAL-E']" [route]="[PRC_ROUTE_NAMES.TESIS_TFM_TFG]"
      title="{{'prc.tesis-tfm-tfg' | translate:MSG_PARAMS.CARDINALIRY.SINGULAR}}">
    </sgi-menu-subitem>
    <sgi-menu-subitem *sgiHasAnyAuthority="['PRC-VAL-V', 'PRC-VAL-E']" [route]="[PRC_ROUTE_NAMES.ACTIVIDAD_IDI]"
      title="{{'prc.actividad-idi' | translate:MSG_PARAMS.CARDINALIRY.PLURAL}}">
    </sgi-menu-subitem>
  </sgi-menu-group>
  <sgi-menu-item *sgiHasAuthority="'PRC-INF-G'" [route]="[PRC_ROUTE_NAMES.INFORME]" icon="receipt"
    title="{{'prc.informe' | translate:MSG_PARAMS.CARDINALIRY.PLURAL}}">
  </sgi-menu-item>
  <sgi-menu-item *sgiHasAnyAuthority="['PRC-VAL-V', 'PRC-CON-C', 'PRC-CON-E']" [route]="[PRC_ROUTE_NAMES.CONVOCATORIA]"
    icon="account_balance" title="{{'prc.convocatoria' | translate:MSG_PARAMS.CARDINALIRY.PLURAL}}">
  </sgi-menu-item>
</sgi-root>