@import "colors.scss";
@import "typography.scss";

:host {
  .sgi-dialog-header {
    font-size: map-get($sgi-typography-size, dialog-header);
    color: map-get($sgi-custom-colors, white);
    background-color: map-get($palette-primary, $primary-color);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
  }
}