<div class="sgi-dialog-header" fxLayout="row" fxLayoutGap="20px">
  <span fxFlexAlign="center" mat-mat-dialog-title role="heading" aria-level="3" fxFlex>{{title | translate}}</span>
  <button fxFlex="nogrow" mat-icon-button mat-dialog-close>
    <mat-icon class="close-icon">close</mat-icon>
  </button>
</div>
<mat-dialog-content>
  <form [formGroup]="formGroup">

    <!-- Código-->
    <div [fxLayout.xs]="fxLayoutProperties.xs" [fxLayout]="fxLayoutProperties.layout"
      [fxLayoutGap]="fxLayoutProperties.gap" ngClass.gt-xs="ml-10">
      <mat-form-field>
        <mat-label>{{'csp.convocatoria-partida-presupuestaria.codigo' | translate}}</mat-label>
        <textarea matInput formControlName="codigo" required type="text" id="codigo"
          placeholder="{{'csp.convocatoria-partida-presupuestaria.codigo' | translate}}">
                    </textarea>
        <mat-error *ngIf="formGroup.controls.codigo.errors?.required">
          {{ 'error.required.entity' | translate:msgParamCodigoEntity }}
        </mat-error>
      </mat-form-field>
    </div>

    <!-- Tipo de partida-->
    <div [fxLayout.xs]="fxLayoutProperties.xs" [fxLayout]="fxLayoutProperties.layout"
      [fxLayoutGap]="fxLayoutProperties.gap" ngClass.gt-xs="ml-10">
      <mat-form-field>
        <mat-label>{{'csp.convocatoria-partida-presupuestaria.tipo-partida' | translate}}</mat-label>
        <sgi-select-enum formControlName="tipoPartida" required [enumMap]="TIPO_PARTIDA_MAP"></sgi-select-enum>
        <mat-error *ngIf="formGroup.controls.tipoPartida.errors?.required">
          {{ 'error.required.entity' | translate:msgParamTipoPartida }}
        </mat-error>
      </mat-form-field>
    </div>

    <!-- Observaciones -->
    <div [fxLayout.xs]="fxLayoutProperties.xs" [fxLayout]="fxLayoutProperties.layout"
      [fxLayoutGap]="fxLayoutProperties.gap" ngClass.gt-xs="ml-10">
      <mat-form-field>
        <mat-label>{{'csp.convocatoria-partida-presupuestaria.descripcion' | translate}}</mat-label>
        <textarea matInput formControlName="descripcion" type="text" id="observaciones"
          placeholder="{{'csp.convocatoria-partida-presupuestaria.descripcion' | translate}}">
                </textarea>
        <mat-error *ngIf="formGroup.controls.descripcion.errors?.maxlength">
          {{'error.maxlength.entity' | translate:msgParamDescripcionEntity}}
        </mat-error>
      </mat-form-field>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button color="accent" (click)="saveOrUpdate()" mat-raised-button type="submit" *ngIf="data.canEdit">
    <mat-icon class="save-icon">save</mat-icon>{{textSaveOrUpdate | translate}}
  </button>
  <button class="link-cancelar" mat-button type="button" mat-dialog-close>{{'btn.cancel' |
    translate}}</button>
</mat-dialog-actions>