<sgi-dialog-header [title]="title"></sgi-dialog-header>
<sgi-dialog-content>
  <form [formGroup]="formGroup">
    <!-- Generado automatico -->
    <div fxLayout="row" *ngIf="!this.data?.certificado?.id">
      <mat-radio-group class="radio-inline" name="generado_automatico" formControlName="generadoAutomatico" required>
        <mat-radio-button color="primary" class="radio" [value]="true" name="generadoAutomaticoSi">
          {{'csp.certificado-autorizacion.generadoAutomatico' | translate}}
        </mat-radio-button>
        <mat-radio-button color="primary" class="radio" [value]="false" name="generadoAutomaticoNo">
          {{'csp.certificado-autorizacion.generadoManual' | translate}}
        </mat-radio-button>
      </mat-radio-group>
    </div>
    <!-- Nombre -->
    <div fxLayout="row">
      <mat-form-field>
        <mat-label>{{'csp.certificado-autorizacion.nombre' | translate}}</mat-label>
        <input matInput formControlName="nombre" id="nombre"
          placeholder="{{'csp.certificado-autorizacion.nombre' | translate}}">
      </mat-form-field>
    </div>
    <!-- Documento-->
    <div fxLayout="row">
      <mat-form-field class="input-form" *ngIf="!formGroup.controls.generadoAutomatico.value">
        <mat-label>{{'csp.certificado-autorizacion.documento' | translate}}</mat-label>
        <sgi-file-upload #uploader placeholder="{{'csp.certificado-autorizacion.documento' | translate}}"
          formControlName="documento" required autoUpload="false" (uploadEventChange)="onUploadProgress($event)">
        </sgi-file-upload>
        <mat-error *ngIf="formGroup.controls.documento.errors?.required">
          {{ 'error.required.entity' | translate:msgParamDocumentoEntity}}
        </mat-error>
      </mat-form-field>
      <mat-form-field class="input-form" *ngIf="formGroup.controls.generadoAutomatico.value">
        <mat-label>{{'csp.certificado-autorizacion.documento' | translate}}</mat-label>
        <input matInput formControlName="documentoAuto" id="documentoAuto"
          placeholder="{{'csp.certificado-autorizacion.documento' | translate}}" required readonly>
        <button *ngIf="formGroup.controls.generadoAutomatico.value" mat-button color="primary"
          matTooltip="{{'btn.autorizacion.descargar-certificado' | translate}}" id="btnDownload"
          (click)="visualizarInforme()">
          <mat-icon color="primary">arrow_downward</mat-icon>
        </button>
        <mat-error *ngIf="formGroup.controls.documentoAuto.errors?.required">
          {{ 'error.required.entity' | translate:msgParamDocumentoEntity}}
        </mat-error>
      </mat-form-field>
    </div>
    <!--Publico-->
    <div fxLayout="row">
      <mat-form-field>
        <mat-label>{{'csp.certificado-autorizacion.publico' | translate}}
        </mat-label>
        <sgi-select-boolean formControlName="publico" required></sgi-select-boolean>
        <mat-error *ngIf="formGroup.controls.publico.errors?.hasCertificadoPublico">
          {{ 'error.csp.certificado-autorizacion.hasAlreadyCertificadoPublico' | translate}}
        </mat-error>
        <mat-error *ngIf="formGroup.controls.publico.errors?.required">
          {{ 'error.required.field' | translate:msgParamPublicoEntity}}
        </mat-error>
      </mat-form-field>
    </div>
  </form>
</sgi-dialog-content>
<mat-dialog-actions>
  <button color="accent" (click)="doAction()" [disabled]="this.actionDisabled" mat-raised-button type="submit">
    <mat-icon class="save-icon">save</mat-icon>{{textSaveOrUpdate | translate}}
  </button>
  <button class="link-cancelar" mat-button type="button" mat-dialog-close>{{'btn.cancel' |
    translate}}</button>
</mat-dialog-actions>