<sgi-action [actionService]="actionService">
  <ng-container menu>
    <sgi-action-fragment-menu-item [route]="[GESTION_SEGUIMIENTO_ROUTE_NAMES.EVALUACIONES]"
      [title]="'eti.evaluacion' | translate:MSG_PARAMS.CARDINALIRY.SINGULAR"
      [fragment]="actionService.getFragment(actionService.FRAGMENT.EVALUACIONES)">
    </sgi-action-fragment-menu-item>
    <sgi-action-fragment-menu-item [route]="[GESTION_SEGUIMIENTO_ROUTE_NAMES.COMENTARIOS]"
      [title]="'eti.gestion-seguimiento.comentarios' | translate"
      [fragment]="actionService.getFragment(actionService.FRAGMENT.COMENTARIOS)">
    </sgi-action-fragment-menu-item>
    <sgi-action-fragment-menu-item [route]="[GESTION_SEGUIMIENTO_ROUTE_NAMES.DOCUMENTACION]"
      [title]="'eti.documentacion' | translate"
      [fragment]="actionService.getFragment(actionService.FRAGMENT.DOCUMENTACION)">
    </sgi-action-fragment-menu-item>
  </ng-container>
  <ng-container footer>
    <sgi-action-footer [texto]="textoCrear" [actionService]="actionService">
    </sgi-action-footer>
  </ng-container>
</sgi-action>