<!-- Agrupacion Gasto -->
<sgi-fragment title="{{'menu.csp.proyectos.configuracion-economica' | translate}} - {{'csp.proyecto-agrupacion-gasto' |
    translate:MSG_PARAMS.CARDINALIRY.PLURAL}}">

  <div class="mat-elevation-z4">
    <table class="table-agrupaciones-gasto" mat-table [dataSource]="dataSource" matSort matSortActive="id"
      matSortDirection="asc" matSortDisableClear>

      <!-- Nombres Column -->
      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{'csp.proyecto-agrupacion-gasto.nombre' | translate}} </th>
        <td mat-cell *matCellDef="let wrapper">
          {{wrapper.value.nombre}}
        </td>
      </ng-container>

      <!-- Acciones  Column -->
      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef> {{'label.actions' | translate}} </th>
        <td mat-cell *matCellDef="let wrapper">
          <ng-container>
            <button color="primary" *ngIf="!this.formPart.readonly" mat-icon-button
              matTooltip="{{'btn.view' | translate}}" [routerLink]="[wrapper.value.id]">
              <mat-icon>visibility</mat-icon>
            </button>
            <button color="warn" *ngIf="!this.formPart.readonly && !this.formPart.isVisor" mat-icon-button
              matTooltip="{{'btn.delete' | translate}}" (click)="deleteAgrupacion(wrapper)">
              <mat-icon>highlight_off</mat-icon>
            </button>
          </ng-container>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>

    <mat-paginator [pageSizeOptions]="elementosPagina" showFirstLastButtons>
    </mat-paginator>
  </div>

  <div class="separation-button" *ngIf="!formPart.readonly">
    <!-- Botón añadir Areas -->
    <button *ngIf="!this.formPart.isVisor" color="three" mat-button mat-raised-button [routerLink]="[ROUTE_NAMES.NEW]">
      <mat-icon color="accent">add_circle</mat-icon>
      {{ 'btn.add.entity' | translate:msgParamEntity }}
    </button>
  </div>

</sgi-fragment>