<sgi-dialog-content>
  <p>{{ (isFechaFinDefinivaLowerThanFechaInicio
    ? 'msg.csp.proyecto.info-modificar-fechas.fecha-fin-definitiva-menor'
    : 'msg.csp.proyecto.info-modificar-fechas') | translate}}</p>
  <ul>
    <li>{{'csp.proyecto.info-modificar-fechas.fase' | translate}}</li>
    <li>{{'csp.proyecto.info-modificar-fechas.hito' | translate}}</li>
    <li>{{'csp.proyecto.info-modificar-fechas.equipo' | translate}}</li>
    <li>{{'csp.proyecto.info-modificar-fechas.responsable-economico' | translate}}</li>
    <li>{{'csp.proyecto.info-modificar-fechas.elegibilidad' | translate}}</li>
    <li>{{'csp.proyecto.info-modificar-fechas.anualidades-presupuesto' | translate}}</li>
    <li>{{'csp.proyecto.info-modificar-fechas.paquetes-trabajo' | translate}}</li>
    <li>{{'csp.proyecto.info-modificar-fechas.socios' | translate}}</li>
    <li>{{'csp.proyecto.info-modificar-fechas.socios.equipo' | translate}}</li>
    <li>{{'csp.proyecto.info-modificar-fechas.socios.periodos-pago' | translate}}</li>
    <li>{{'csp.proyecto.info-modificar-fechas.socios.periodos-justificacion' | translate}}</li>
    <li>{{'csp.proyecto.info-modificar-fechas.seguimiento-cientifico' | translate}}</li>
    <li>{{'csp.proyecto.info-modificar-fechas.calendario-justificacion' | translate}}</li>
    <li>{{'csp.proyecto.info-modificar-fechas.calendario-facturacion' | translate}}</li>
  </ul>
</sgi-dialog-content>
<mat-dialog-actions>
  <button color="accent" (click)="aceptar()" mat-raised-button type="submit">
    {{'btn.ok' | translate}}
  </button>
</mat-dialog-actions>