<sgi-menu-content>
  <!-- Buscador de facturas previstas pendientes de emitir -->
  <form class="formulario mat-elevation-z8" [formGroup]=" formGroup" fxLayout="column">

    <div fxFlex fxLayout="row" fxLayoutGap="10px">
      <!-- fechaEmisionDesde -->
      <mat-form-field class=" input-form" fxFlex="20%">
        <mat-label>{{'csp.facturas-previstas-pendientes.fechaEmision.desde' | translate}}</mat-label>
        <input matInput formControlName="fechaEmisionDesde" [matDatepicker]="fechaEmisionDesde">
        <mat-datepicker-toggle matSuffix [for]="fechaEmisionDesde"></mat-datepicker-toggle>
        <mat-datepicker #fechaEmisionDesde>
        </mat-datepicker>
      </mat-form-field>

      <!-- fechaEmisionHasta -->
      <mat-form-field class=" input-form" fxFlex="20%" sgiEndDate>
        <mat-label>{{'csp.facturas-previstas-pendientes.fechaEmision.hasta' | translate}}</mat-label>
        <input matInput formControlName="fechaEmisionHasta" [matDatepicker]="fechaEmisionHasta">
        <mat-datepicker-toggle matSuffix [for]="fechaEmisionHasta"></mat-datepicker-toggle>
        <mat-datepicker #fechaEmisionHasta>
        </mat-datepicker>
      </mat-form-field>
    </div>

    <div class="buttons-final">
      <div class="col filter-button">
        <button color="primary" aria-label="Center Align" mat-raised-button (click)="onSearch()">
          <mat-icon>search</mat-icon> {{'btn.search'| translate}}
        </button>
        <button color="warn" aria-label="Center Align" (click)="onClearFilters()" mat-button>{{'btn.clean'|
          translate}}
        </button>
      </div>
    </div>
  </form>
  <!-- FIN Buscador de facturas previstas pendientes de emitir -->

  <!-- Listado de facturas previstas pendientes de emitir -->
  <div class="mat-elevation-z4">
    <table mat-table [dataSource]="dataSource" matSort matSortActive="fechaEmision" matSortDirection="asc"
      matSortDisableClear>
      <!-- Titulo proyecto -->
      <ng-container matColumnDef="tituloProyecto">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{'csp.facturas-previstas-pendientes.titulo-proyecto' | translate}}
        </th>
        <td mat-cell *matCellDef="let facturaPrevistaPendiente">
          {{facturaPrevistaPendiente.tituloProyecto}}
        </td>
      </ng-container>

      <!-- Identificador interno -->
      <ng-container matColumnDef="proyectoIdSGI">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{'csp.facturas-previstas-pendientes.proyecto-id-sgi' | translate}}
        </th>
        <td mat-cell *matCellDef="let facturaPrevistaPendiente">
          {{facturaPrevistaPendiente.proyectoIdSGI}}
        </td>
      </ng-container>

      <!-- Código SGE -->
      <ng-container matColumnDef="proyectoIdSGE">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{'csp.facturas-previstas-pendientes.proyecto-id-sge' | translate}}
        </th>
        <td mat-cell *matCellDef="let facturaPrevistaPendiente">
          {{facturaPrevistaPendiente.proyectoIdSGE}}
        </td>
      </ng-container>

      <!-- Número previsión -->
      <ng-container matColumnDef="numeroPrevision">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{'csp.facturas-previstas-pendientes.numero-prevision' | translate}}
        </th>
        <td mat-cell *matCellDef="let facturaPrevistaPendiente">
          {{facturaPrevistaPendiente.numeroPrevision}}
        </td>
      </ng-container>

      <!-- Fecha de emisión -->
      <ng-container matColumnDef="fechaEmision">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{'csp.facturas-previstas-pendientes.fecha-emision' | translate}}
        </th>
        <td mat-cell *matCellDef="let facturaPrevistaPendiente">
          {{facturaPrevistaPendiente.fechaEmision | luxon:'shortDate'}}
        </td>
      </ng-container>

      <!-- Importe base -->
      <ng-container matColumnDef="importeBase">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{'csp.facturas-previstas-pendientes.importe-base' | translate}}
        </th>
        <td mat-cell *matCellDef="let facturaPrevistaPendiente">
          {{facturaPrevistaPendiente.importeBase}}
        </td>
      </ng-container>

      <!-- IVA -->
      <ng-container matColumnDef="porcentajeIVA">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{'csp.facturas-previstas-pendientes.porcentaje-iva' | translate}}
        </th>
        <td mat-cell *matCellDef="let facturaPrevistaPendiente">
          {{facturaPrevistaPendiente.porcentajeIVA}}
        </td>
      </ng-container>

      <!-- Importe total -->
      <ng-container matColumnDef="importeTotal">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{'csp.facturas-previstas-pendientes.importe-total' | translate}}
        </th>
        <td mat-cell *matCellDef="let facturaPrevistaPendiente">
          {{facturaPrevistaPendiente.importeTotal}}
        </td>
      </ng-container>

      <!-- Tipo facturación -->
      <ng-container matColumnDef="tipoFacturacion.nombre">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{'csp.facturas-previstas-pendientes.tipo-facturacion' | translate}}
        </th>
        <td mat-cell *matCellDef="let facturaPrevistaPendiente">
          {{facturaPrevistaPendiente.tipoFacturacion?.nombre}}
        </td>
      </ng-container>

      <!-- Fecha conformidad -->
      <ng-container matColumnDef="fechaConformidad">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{'csp.facturas-previstas-pendientes.fecha-conformidad' | translate}}
        </th>
        <td mat-cell *matCellDef="let facturaPrevistaPendiente">
          {{facturaPrevistaPendiente.fechaConformidad | luxon:'shortDate'}}
        </td>
      </ng-container>

      <!-- Validación IP -->
      <ng-container matColumnDef="estadoValidacionIP.estado">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{'csp.facturas-previstas-pendientes.estado-validacion-ip' | translate}}
        </th>
        <td mat-cell *matCellDef="let facturaPrevistaPendiente">
          {{TIPO_ESTADO_VALIDACION_MAP.get(facturaPrevistaPendiente.estadoValidacionIP?.estado) | translate}}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnas"></tr>
      <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
    </table>
    <div class="paginator-export">
      <button mat-button matTooltip="{{'btn.export' | translate}}" (click)="openExportModal()"
        [disabled]="!dataSource.data?.length">
        <mat-icon color="primary">insert_chart_outlined</mat-icon>
      </button>
      <mat-paginator [pageSizeOptions]="elementosPagina" showFirstLastButtons>
      </mat-paginator>
    </div>

  </div>
</sgi-menu-content>