<sgi-action-dialog [title]="title" *sgiHasAnyAuthority="['CSP-TOFF-C', 'CSP-TOFF-E']">
  <form [formGroup]="formGroup">
    <!-- Nombre -->
    <div fxLayout="row">
      <mat-form-field>
        <mat-label>{{'csp.tipo-fase.nombre' | translate}}</mat-label>
        <input matInput formControlName="nombre" type="text" placeholder="{{'csp.tipo-fase.nombre' | translate}}"
          required>
        <mat-error *ngIf="formGroup.controls.nombre.errors?.required">
          {{'error.required.entity' | translate:msgParamNombreEntity}}
        </mat-error>
      </mat-form-field>
    </div>
  </form>
</sgi-action-dialog>