<sgi-fragment title="{{ 'pii.invencion-ingreso' | translate: MSG_PARAMS.CARDINALIRY.PLURAL }}">
  <div class="mat-elevation-z4">
    <mat-table [dataSource]="dataSource" matSort>

      <!-- Columnas dinamicas -->
      <ng-container *ngFor="let column of formPart.columns" [matColumnDef]="column.id">
        <mat-header-cell *matHeaderCellDef [class.computed]="column.compute" mat-sort-header>
          {{column.name}}
        </mat-header-cell>
        <mat-cell *matCellDef="let wrapper" [class.computed]="column.compute">
          <ng-container *ngIf="column.compute">
            {{wrapper?.value.ingreso.columnas[column.id] | number: '1.2-2'}}
          </ng-container>
          <ng-container *ngIf="!column.compute">
            {{wrapper?.value.ingreso.columnas[column.id]}}
          </ng-container>
        </mat-cell>
      </ng-container>

      <!-- Repartido Column -->
      <ng-container matColumnDef="estado">
        <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header>
          {{'pii.invencion-ingreso.estado' | translate}}
        </mat-header-cell>
        <mat-cell mat-cell *matCellDef="let wrapper">
          {{ ESTADO_MAP.get(wrapper.value.estado) | translate }}
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="formPart.displayColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: formPart.displayColumns;"></mat-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="elementsPage" showFirstLastButtons></mat-paginator>
  </div>

</sgi-fragment>