:host {
  sgi-dialog-content {
    min-width: 75vw;

    .separacion {
      padding: 10px 0px 20px 0px;
    }

    .truncate {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}