<sgi-fragment title="{{'menu.csp.proyectos.socios' | translate}}">

  <!-- Error campos coordinado y coordinador externo como true pero no hay socio coordinador -->
  <div
    *ngIf="!(formPart.hasAnyProyectoSocioWithRolCoordinador$ | async) && (formPart.hasProyectoCoordinadoAndCoordinadorExterno$ | async)"
    class="info-message">
    {{'info.csp.solicitud-proyecto-socio.socio-con-rol-coordinador.no-informado' | translate}}
  </div>

  <div class="mat-elevation-z4">
    <table mat-table [dataSource]="dataSource" matSort matSortActive="id" matSortDirection="asc" matSortDisableClear>
      <!-- Identificador fiscal Column -->
      <ng-container matColumnDef="empresa.numeroIdentificacion">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{'csp.proyecto-socio.indentificador-fiscal' | translate}}
        </th>
        <td mat-cell *matCellDef="let wrapper">
          {{ wrapper.value.empresa?.numeroIdentificacion }}
        </td>
      </ng-container>

      <!-- Nombre Column -->
      <ng-container matColumnDef="empresa.nombre">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{'info.csp.proyecto-socio.nombre' | translate}}
        </th>
        <td mat-cell *matCellDef="let wrapper">
          {{ wrapper.value.empresa?.nombre }}
        </td>
      </ng-container>

      <!-- Rol Column -->
      <ng-container matColumnDef="rolSocio.nombre">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{'info.csp.proyecto-socio.rol' | translate}}
        </th>
        <td mat-cell *matCellDef="let wrapper">
          {{wrapper.value.rolSocio.nombre | translate}}
        </td>
      </ng-container>

      <!-- Número de investigadores Column -->
      <ng-container matColumnDef="numInvestigadores">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{'info.csp.proyecto-socio.numero-investigadores' | translate}}
        </th>
        <td mat-cell *matCellDef="let wrapper">
          {{wrapper.value.numInvestigadores}}
        </td>
      </ng-container>

      <!-- Fecha de inicio Column -->
      <ng-container matColumnDef="fechaInicio">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{'info.csp.proyecto-socio.fecha-inicio' | translate}}
        </th>
        <td mat-cell *matCellDef="let wrapper">
          {{wrapper.value.fechaInicio | luxon:'shortDate'}}
        </td>
      </ng-container>

      <!-- Fecha de fin Column -->
      <ng-container matColumnDef="fechaFin">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{'info.csp.proyecto-socio.fecha-fin' | translate}}
        </th>
        <td mat-cell *matCellDef="let wrapper">
          {{wrapper.value.fechaFin | luxon:'shortDate'}}
        </td>
      </ng-container>

      <!-- Importe presupuesto Column -->
      <ng-container matColumnDef="importePresupuesto">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{'info.csp.proyecto-socio.importe-presupuesto' | translate}}
        </th>
        <td mat-cell *matCellDef="let wrapper">
          {{wrapper.value.importePresupuesto | number:'1.2-2'}}
        </td>
      </ng-container>

      <!-- Importe concedido Column -->
      <ng-container matColumnDef="importeConcedido">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{'info.csp.proyecto-socio.importe-concedido' | translate}}
        </th>
        <td mat-cell *matCellDef="let wrapper">
          {{wrapper.value.importeConcedido | number:'1.2-2'}}
        </td>
      </ng-container>

      <!-- Acciones Column -->
      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef> {{'label.actions' | translate}} </th>
        <td mat-cell *matCellDef="let wrapper">
          <ng-container *sgiHasAuthorityForAnyUO="'CSP-PRO-E'">
            <button color="primary" *ngIf="!actionService.readonly" mat-icon-button
              matTooltip="{{'btn.edit' | translate}}" [routerLink]="[wrapper.value.id]">
              <mat-icon>border_color</mat-icon>
            </button>
            <button color="primary" *ngIf="actionService.readonly" mat-icon-button
              matTooltip="{{'btn.view' | translate}}" [routerLink]="[wrapper.value.id]">
              <mat-icon>visibility</mat-icon>
            </button>
          </ng-container>
          <ng-container *sgiHasAuthorityForAnyUO="'CSP-PRO-E'">
            <button color="warn" *ngIf="!actionService.readonly" mat-icon-button
              matTooltip="{{'btn.delete' | translate}}" (click)="deleteProyectoSocio(wrapper)">
              <mat-icon>highlight_off</mat-icon>
            </button>
          </ng-container>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  <ng-container *sgiHasAuthorityForAnyUO="'CSP-PRO-E'">
    <div class="separation-button">
      <button *ngIf="!actionService.readonly" color="three" mat-button mat-raised-button
        [routerLink]="[ROUTE_NAMES.NEW]">
        <mat-icon color="accent">add_circle</mat-icon>
        {{ 'btn.add.entity' | translate:msgParamEntity }}
      </button>
    </div>
  </ng-container>

</sgi-fragment>