<sgi-action [actionService]="actionService">
  <ng-container menu>
    <sgi-action-fragment-menu-item *sgiHasAnyAuthority="['PRC-VAL-V','PRC-VAL-E']"
      [route]="[ACTIVIDAD_IDI_ROUTE_NAMES.DATOS_GENERALES]" [title]="'label.datos-generales' | translate"
      [fragment]="actionService.getFragment(actionService.FRAGMENT.DATOS_GENERALES)">
    </sgi-action-fragment-menu-item>
  </ng-container>
  <ng-container footer>
    <sgi-action-empty-footer [actionService]="actionService">
      <sgi-action-footer-button *sgiHasAuthority="'PRC-VAL-E'" action="validar" color="accent"
        icon="check_circle_outline" text="{{'btn.validate' | translate}}" [disabled]="isProduccionCientificaEditable">
      </sgi-action-footer-button>
      <sgi-action-footer-button *sgiHasAuthority="'PRC-VAL-E'" action="rechazar" color="warn" icon="highlight_off"
        text="{{'btn.reject' | translate}}" [disabled]="isProduccionCientificaEditable">
      </sgi-action-footer-button>
    </sgi-action-empty-footer>
  </ng-container>
</sgi-action>