<section class="seguimientos-cientificos-listado">
  <h2>{{'csp.convocatoria-seguimiento-cientifico' | translate}}</h2>
  <!-- Entidades convocantes listado -->
  <div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 table-unidad" matSort matSortActive="id"
      matSortDirection="asc" matSortDisableClear>
      <!-- numPeriodo Column -->
      <ng-container matColumnDef="numPeriodo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{'csp.convocatoria-seguimiento-cientifico.periodo' | translate}}
        </th>
        <td mat-cell *matCellDef="let wrapper"> {{wrapper.value.numPeriodo}}
        </td>
      </ng-container>

      <!-- mesInicial Column -->
      <ng-container matColumnDef="mesInicial">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{'csp.convocatoria-seguimiento-cientifico.mes-inicial' | translate}}
        </th>
        <td mat-cell *matCellDef="let wrapper"> {{wrapper.value.mesInicial}}
        </td>
      </ng-container>

      <!-- mesFinal Column -->
      <ng-container matColumnDef="mesFinal">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{'csp.convocatoria-seguimiento-cientifico.mes-final' | translate}}
        </th>
        <td mat-cell *matCellDef="let wrapper"> {{wrapper.value.mesFinal}}
        </td>
      </ng-container>

      <!-- fechaInicio Column -->
      <ng-container matColumnDef="fechaInicio">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{'csp.convocatoria-seguimiento-cientifico.fecha-inicio-presentacion' | translate}}
        </th>
        <td mat-cell *matCellDef="let wrapper"> {{wrapper.value.fechaInicioPresentacion | luxon:'short'}} </td>
      </ng-container>

      <!-- fechaFin Column -->
      <ng-container matColumnDef="fechaFin">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{'csp.convocatoria-seguimiento-cientifico.fecha-fin-presentacion' | translate}}
        </th>
        <td mat-cell *matCellDef="let wrapper"> {{wrapper.value.fechaFinPresentacion | luxon:'short'}} </td>
      </ng-container>

      <!-- tipoSeguimiento Column -->
      <ng-container matColumnDef="tipoSeguimiento">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{'csp.convocatoria-seguimiento-cientifico.tipo-seguimiento' | translate}}
        </th>
        <td mat-cell *matCellDef="let wrapper"> {{TIPO_SEGUIMIENTO_MAP.get(wrapper.value.tipoSeguimiento) | translate }}
        </td>
      </ng-container>

      <!-- observaciones Column -->
      <ng-container matColumnDef="observaciones">
        <th mat-header-cell *matHeaderCellDef>
          {{'csp.convocatoria-seguimiento-cientifico.observaciones' | translate}}
        </th>
        <td mat-cell *matCellDef="let wrapper"> {{wrapper.value.observaciones}} </td>
      </ng-container>

      <!-- Acciones Column -->
      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef>{{'label.actions' | translate}}</th>
        <td mat-cell *matCellDef="let wrapper">
          <button mat-button matTooltip="{{'btn.edit' | translate}}" *ngIf="!formPart.readonly"
            (click)="openModalSeguimientoCientifico(wrapper)">
            <mat-icon color="primary">border_color</mat-icon>
          </button>
          <button mat-button matTooltip="{{'btn.delete' | translate}}" *ngIf="!formPart.readonly"
            (click)="deleteSeguimientoCientifico(wrapper)">
            <mat-icon color="warn">highlight_off</mat-icon>
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="columnas"></tr>
      <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="elementosPagina" showFirstLastButtons>
    </mat-paginator>
  </div>
  <div class="separation-button">
    <button color="three" mat-button mat-raised-button (click)="openModalSeguimientoCientifico()">
      <mat-icon color="accent">add_circle</mat-icon>
      {{ 'btn.add.entity' | translate:msgParamEntity }}
    </button>
  </div>
</section>