<!-- Convocatoria concepto-gasto -->
<section class="convocatoriaConceptoGasto">
  <h2>{{'csp.convocatoria-elegibilidad' | translate}}</h2>

  <h3>{{'csp.convocatoria-concepto-gasto-permitido' | translate: MSG_PARAMS.CARDINALIRY.PLURAL}}</h3>
  <table class="mat-elevation-z8 table-convocatoriaConceptoGasto-permitidos" mat-table
    [dataSource]="dataSourcePermitidos" matSort matSortDisableClear #sortPermitidos="matSort">
    <!-- Nombre concepto gasto -->
    <ng-container matColumnDef="conceptoGasto.nombre">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        {{'csp.convocatoria-concepto-gasto.nombre' | translate}} </th>
      <td mat-cell *matCellDef="let wrapper"> {{wrapper.value.conceptoGasto.nombre}}
      </td>
    </ng-container>

    <!-- Descripción -->
    <ng-container matColumnDef="conceptoGasto.descripcion">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        {{'csp.convocatoria-concepto-gasto.descripcion' | translate}} </th>
      <td mat-cell *matCellDef="let wrapper">
        {{wrapper.value.conceptoGasto.descripcion}}
      </td>
    </ng-container>

    <!-- Importe máximo -->
    <ng-container matColumnDef="importeMaximo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        {{'csp.convocatoria-concepto-gasto.importe-maximo' | translate}} </th>
      <td mat-cell *matCellDef="let wrapper"> {{wrapper.value.importeMaximo}}
      </td>
    </ng-container>

    <!-- Mes inicial -->
    <ng-container matColumnDef="mesInicial">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        {{'csp.convocatoria-concepto-gasto.mes-inicial' | translate}} </th>
      <td mat-cell *matCellDef="let wrapper"> {{wrapper.value.mesInicial}}
      </td>
    </ng-container>

    <!-- Mes final -->
    <ng-container matColumnDef="mesFinal">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        {{'csp.convocatoria-concepto-gasto.mes-final' | translate}} </th>
      <td mat-cell *matCellDef="let wrapper"> {{wrapper.value.mesFinal}}
      </td>
    </ng-container>

    <!-- Observaciones -->
    <ng-container matColumnDef="observaciones">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        {{'csp.convocatoria-concepto-gasto.observaciones' | translate}} </th>
      <td mat-cell *matCellDef="let wrapper"> {{wrapper.value.observaciones}}
      </td>
    </ng-container>

    <!-- Acciones Column -->
    <ng-container matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef> {{'label.actions' | translate}} </th>
      <td mat-cell *matCellDef="let wrapper">
        <button mat-button matTooltip="{{'btn.view' | translate}}" *ngIf="!formPart.canEdit"
          [routerLink]="['../', CONVOCATORIA_ROUTE_NAMES.CONCEPTO_GATO_PERMITIDO, wrapper.value.id]">
          <mat-icon color="primary">visibility</mat-icon>
        </button>
        <button mat-button matTooltip="{{'btn.edit' | translate}}" *ngIf="formPart.canEdit"
          [routerLink]="['../', CONVOCATORIA_ROUTE_NAMES.CONCEPTO_GATO_PERMITIDO, wrapper.value.id]">
          <mat-icon color="primary">border_color</mat-icon>
        </button>
        <button mat-button matTooltip="{{'btn.delete' | translate}}" *ngIf="formPart.canEdit"
          (click)="deleteConvocatoriaConceptoGasto(wrapper)">
          <mat-icon color="warn">highlight_off</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumnsPermitidos"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumnsPermitidos"></tr>

  </table>

  <mat-paginator #paginatorPermitidos [pageSizeOptions]="elementosPagina" showFirstLastButtons>
  </mat-paginator>

  <div class="separation-button" *ngIf="formPart.canEdit">
    <button color="three" aria-label="Center Align" mat-raised-button
      [routerLink]="['../', CONVOCATORIA_ROUTE_NAMES.CONCEPTO_GATO_PERMITIDO, ROUTE_NAMES.NEW]">
      <mat-icon color="accent">add_circle</mat-icon>
      {{ 'btn.add.entity' | translate:msgParamEntityPermitido }}
    </button>
  </div>
</section>
<mat-divider></mat-divider>
<section>
  <h3>{{'title.csp.convocatoria-concepto-gasto.costes-indirectos' | translate}}</h3>
  <form [formGroup]="formGroup" [fxLayout.xs]="fxLayoutProperties.xs" [fxLayout]="fxLayoutProperties.layout"
    [fxLayoutGap]="fxLayoutProperties.gap" ngClass.gt-xs="ml-10">

    <!-- Costes indirectos -->
    <div [fxFlex.sm]="fxFlexProperties.sm" [fxFlex.md]="fxFlexProperties.md" [fxFlex.gt-md]="fxFlexProperties.gtMd"
      [fxFlexOrder]="fxFlexProperties.order">
      <mat-form-field>
        <mat-label>{{'csp.convocatoria-concepto-gasto.costes-indirectos.concepto' | translate}}</mat-label>
        <sgi-select-entity formControlName="costeIndirecto" [options]="costesIndirectos$ | async"
          [displayWith]="displayerCosteIndirecto">
        </sgi-select-entity>
      </mat-form-field>
    </div>

    <!-- porcentajeCosteIndirecto -->
    <div [fxFlex.sm]="fxFlexProperties.sm" [fxFlex.md]="fxFlexProperties.md" [fxFlex.gt-md]="fxFlexProperties.gtMd"
      [fxFlexOrder]="fxFlexProperties.order">
      <mat-form-field fxFill>
        <mat-label>{{'csp.convocatoria-concepto-gasto.costes-indirectos.porcentaje' | translate}}</mat-label>
        <input matInput formControlName="porcentajeCosteIndirecto" type="number" id="porcentajeCosteIndirecto" min="0"
          placeholder="{{'csp.convocatoria-concepto-gasto.costes-indirectos.porcentaje' | translate}}">
        <mat-error *ngIf="formGroup.controls.porcentajeCosteIndirecto.hasError('max')">
          {{'error.max.digit' | translate}}
        </mat-error>
        <mat-error *ngIf="formGroup.controls.porcentajeCosteIndirecto.hasError('min')">
          {{'error.csp.convocatoria-concepto-gasto.min' | translate}}
        </mat-error>
      </mat-form-field>
    </div>

  </form>
</section>
<mat-divider></mat-divider>
<section class="convocatoriaConceptoGasto">
  <h3>{{'csp.convocatoria-concepto-gasto-no-permitido' | translate: MSG_PARAMS.CARDINALIRY.PLURAL}}</h3>
  <table class="mat-elevation-z8 table-convocatoriaConceptoGasto-nopermitidos" mat-table
    [dataSource]="dataSourceNoPermitidos" matSort matSortDisableClear #sortNoPermitidos="matSort">

    <!-- Nombre concepto gasto -->
    <ng-container matColumnDef="conceptoGasto.nombre">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        {{'csp.convocatoria-concepto-gasto.nombre' | translate}} </th>
      <td mat-cell *matCellDef="let wrapper"> {{wrapper.value.conceptoGasto.nombre}}
      </td>
    </ng-container>

    <!-- Descripción -->
    <ng-container matColumnDef="conceptoGasto.descripcion">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        {{'csp.convocatoria-concepto-gasto.descripcion' | translate}} </th>
      <td mat-cell *matCellDef="let wrapper">
        {{wrapper.value.conceptoGasto.descripcion}}
      </td>
    </ng-container>

    <!-- Mes inicial -->
    <ng-container matColumnDef="mesInicial">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        {{'csp.convocatoria-concepto-gasto.mes-inicial' | translate}} </th>
      <td mat-cell *matCellDef="let wrapper"> {{wrapper.value.mesInicial}}
      </td>
    </ng-container>

    <!-- Mes final -->
    <ng-container matColumnDef="mesFinal">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        {{'csp.convocatoria-concepto-gasto.mes-final' | translate}} </th>
      <td mat-cell *matCellDef="let wrapper"> {{wrapper.value.mesFinal}}
      </td>
    </ng-container>

    <!-- Observaciones -->
    <ng-container matColumnDef="observaciones">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        {{'csp.convocatoria-concepto-gasto.observaciones' | translate}} </th>
      <td mat-cell *matCellDef="let wrapper"> {{wrapper.value.observaciones}}
      </td>
    </ng-container>

    <!-- Acciones Column -->
    <ng-container matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef> {{'label.actions' | translate}} </th>
      <td mat-cell *matCellDef="let wrapper">
        <button mat-button matTooltip="{{'btn.view' | translate}}" *ngIf="!formPart.canEdit"
          [routerLink]="['../', CONVOCATORIA_ROUTE_NAMES.CONCEPTO_GATO_NO_PERMITIDO, wrapper.value.id]">
          <mat-icon color="primary">visibility</mat-icon>
        </button>
        <button mat-button matTooltip="{{'btn.edit' | translate}}" *ngIf="formPart.canEdit"
          [routerLink]="['../', CONVOCATORIA_ROUTE_NAMES.CONCEPTO_GATO_NO_PERMITIDO, wrapper.value.id]">
          <mat-icon color="primary">border_color</mat-icon>
        </button>
        <button mat-button matTooltip="{{'btn.delete' | translate}}" *ngIf="formPart.canEdit"
          (click)="deleteConvocatoriaConceptoGasto(wrapper)">
          <mat-icon color="warn">highlight_off</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumnsNoPermitidos"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumnsNoPermitidos"></tr>

  </table>

  <mat-paginator #paginatorNoPermitidos [pageSizeOptions]="elementosPagina" showFirstLastButtons>
  </mat-paginator>

  <div class="separation-button" *ngIf="formPart.canEdit">
    <button color="three" aria-label="Center Align" mat-raised-button
      [routerLink]="['../', CONVOCATORIA_ROUTE_NAMES.CONCEPTO_GATO_NO_PERMITIDO, ROUTE_NAMES.NEW]">
      <mat-icon color="accent">add_circle</mat-icon>
      {{ 'btn.add.entity' | translate:msgParamEntityNoPermitido }}
    </button>
  </div>
</section>