@import "colors.scss";

.memoria-formulario {
  .mat-radio-label-content {
    white-space: normal;
  }

  .mat-step-header .mat-step-icon {
    height: 100px;
    width: 100px;
    font-size: 40px;
    background-color: map-get($sgi-custom-colors, white);
    color: map-get($palette-primary, $primary-color);

    mat-icon {
      height: 40px;
      width: 40px;
      font-size: 40px;
    }
  }

  .mat-step-header .mat-step-icon-selected {
    background-color: map-get($palette-primary, $primary-color);
    color: map-get($sgi-custom-colors, white);
  }

  .mat-stepper-label-position-bottom .mat-horizontal-stepper-header:not(:first-child)::before,
  [dir="rtl"] .mat-stepper-label-position-bottom .mat-horizontal-stepper-header:not(:last-child)::before,
  .mat-stepper-label-position-bottom .mat-horizontal-stepper-header:not(:last-child)::after,
  [dir="rtl"] .mat-stepper-label-position-bottom .mat-horizontal-stepper-header:not(:first-child)::after {
    top: 74px;
    width: calc(50% - 60px);
    border-top-width: 1.5px;
    border-top-style: dashed;
    border-color: map-get($palette-primary, $primary-color);
  }

  .mat-horizontal-stepper-header-container {
    background-color: map-get($sgi-custom-colors, bg);
    border: solid 1px $dark-dividers;
  }

  .mat-step-label {
    white-space: normal;
  }

  .upper-buttons {
    padding-top: 1em;
    padding-bottom: 1em;

    button {
      &.left {
        border-radius: 1.5em;
        padding-right: 2em;

        mat-icon {
          margin-left: -0.2em;
          padding-right: 0.1em;
        }
      }

      &.right {
        border-radius: 1.5em;
        padding-left: 2.3em;

        mat-icon {
          margin-right: -0.2em;
          padding-left: 0.1em;
        }
      }
    }
  }

  .mat-horizontal-content-container {
    padding: 0 4px 24px 4px;
  }

  .mat-radio-button~.mat-radio-button {
    margin-left: 16px;
  }

  formly-field-mat-multicheckbox mat-checkbox {
    display: block;
  }

  .template {
    .template-input {
      border-width: 1px;
      border-style: solid;
      border-radius: 0.5em;
      background: lightgrey;
      padding: 0.5em;
      margin-top: 5px;
      margin-bottom: 5px;
    }
  }

  formly-field.vertical-radio {
    mat-radio-button~mat-radio-button {
      margin-top: 5px;
    }

    mat-radio-button {
      display: block;
      margin-left: 0 !important;
    }
  }

  .link {
    button {
      background: transparent;
      border: 0;
    }
  }
}