@import "colors.scss";

:host {
  .error-message {
    align-items: center;
    background-color: map-get($palette-warn, 100);
    border-radius: 5px;
    box-shadow: 0 5px 6px -6px map-get($palette-grey, 300);
    -moz-box-shadow: 0 5px 6px -6px map-get($palette-grey, 300);
    -webkit-box-shadow: 0 5px 6px -6px map-get($palette-grey, 300);
    color: map-get($palette-warn, 400);
    display: flex;
    margin: 13px 0;
    padding: 10px;
    text-align: left;

    .error-icon {
      margin-right: 1rem;
    }
  }
}