<sgi-action [actionService]="actionService">
  <ng-container menu>
    <sgi-action-fragment-menu-item [route]="[AREA_TEMATICA_ROUTE_NAMES.DATOS_GENERALES]" *sgiHasAuthority="'CSP-AREA-C'"
      [title]="'label.datos-generales' | translate"
      [fragment]="actionService.getFragment(actionService.FRAGMENT.DATOS_GENERALES)">
    </sgi-action-fragment-menu-item>
    <sgi-action-fragment-menu-item [route]="[AREA_TEMATICA_ROUTE_NAMES.AREAS_ARBOL]" *sgiHasAuthority="'CSP-AREA-C'"
      [title]="'tree.entity' | translate:msgParamEntity"
      [fragment]="actionService.getFragment(actionService.FRAGMENT.AREAS_ARBOL)">
    </sgi-action-fragment-menu-item>
  </ng-container>
  <ng-container footer>
    <sgi-action-footer [texto]="textoCrear" [actionService]="actionService"></sgi-action-footer>
  </ng-container>
</sgi-action>