<sgi-action-dialog title="{{'title.new.entity' | translate:msgParamGrupoEntity}}">
  <div fxLayout="row">
    <p>{{'info.csp.solicitud-grupo.new'| translate}}</p>
  </div>
  <form [formGroup]="formGroup" fxLayout="column">
    <!-- Nombre -->
    <div fxFlex>
      <mat-form-field>
        <mat-label>{{'csp.solicitud.grupo.nombre' | translate}}</mat-label>
        <input matInput formControlName="nombre" type="text" id="nombre"
          placeholder="{{'csp.solicitud.grupo.nombre' | translate}}" required>
        <mat-error *ngIf="formGroup.controls.nombre.errors?.required">
          {{'error.required.entity' | translate:msgParamNombreEntity}}
        </mat-error>
      </mat-form-field>

    </div>

    <div fxFlex fxLayout="row" fxLayoutGap="10px">
      <!--Fecha inicio-->
      <mat-form-field fxFlex="50%">
        <mat-label>{{'label.fecha-inicio' | translate}}</mat-label>
        <input matInput formControlName="fechaInicio" [matDatepicker]="fechaInicio" required>
        <mat-datepicker-toggle matSuffix [for]="fechaInicio"></mat-datepicker-toggle>
        <mat-datepicker #fechaInicio>
        </mat-datepicker>
        <mat-error *ngIf="formGroup.controls.fechaInicio.errors?.required">
          {{'error.required.entity' | translate:msgParamFechaInicioEntity}}
        </mat-error>
      </mat-form-field>
      <!--Fecha Fin-->
      <mat-form-field fxFlex="50%" sgiEndDate>
        <mat-label>{{'label.fecha-fin' | translate}}</mat-label>
        <input matInput formControlName="fechaFin" [matDatepicker]="fechaFin">
        <mat-datepicker-toggle matSuffix [for]="fechaFin"></mat-datepicker-toggle>
        <mat-datepicker #fechaFin>
        </mat-datepicker>
        <mat-error *ngIf="formGroup.controls.fechaFin.errors?.after">
          {{'error.after.fecha-fin' | translate}}
        </mat-error>
      </mat-form-field>
    </div>
  </form>
</sgi-action-dialog>