@import "colors.scss";
@import "vars.scss";

$border-color: map-get($sgi-custom-colors, divider);

/* HEADER */
.header {
  border-bottom: #{$borderWidth} solid $border-color;
  padding: 0px 0px 0px 0px;
  height: calc(#{$headerHeight} - #{$borderWidth * 1});

  .logos {
    padding-left: 7px;
    padding-right: 7px;
    border-right: 1px solid $border-color;
    .logo-ministerio {
      width: 188px;
      height: 58px;
      object-fit: contain;
    }
    .logo-feder {
      width: 144px;
      height: 34px;
      object-fit: contain;
    }
    .logo-ue {
      width: 72px;
      height: 61px;
      object-fit: contain;
    }
  }
  .icons-options {
    .inline {
      display: flex;
    }
  }
  .select-modulo {
    border-right: 1px solid $border-color;
    padding: 7px;
    text-align: center;
    h2 {
      font-weight: bold;
      margin: 0px;
    }
  }
  .mat-menu {
    padding: 15px;
  }
}
/* FIN HEADER */
