@import "colors.scss";
@import "vars.scss";

$padding: 15px;
$config: mat-typography-config();

/* HEADER */
.header {
  border-bottom: #{$borderWidth} solid map-get($palette-primary, 50);
  padding: 0px 0px 0px 0px;
  height: calc(#{$headerHeight} - #{$borderWidth * 1});

  .logos {
    padding-left: 7px;
    padding-right: 7px;
    border-right: 1px solid map-get($palette-primary, 50);
    .logo-ministerio {
      width: 188px;
      height: 58px;
      object-fit: contain;
    }
    .logo-feder {
      width: 144px;
      height: 34px;
      object-fit: contain;
    }
    .logo-ue {
      width: 72px;
      height: 61px;
      object-fit: contain;
    }
  }
  .icons-options {
    .inline {
      display: flex;
    }
  }
  #seleccionarModulo {
    border-right: 1px solid map-get($palette-primary, 50);
    padding: 7px;
    text-align: center;
    h2 {
      font-size: mat-font-size($config, caption);
      font-weight: bold;
      margin: 0px;
    }
  }
  .mat-menu {
    padding: $padding;
  }
}
/* FIN HEADER */
