<header class="navbar header">
  <div fxLayout.xs="row wrap" fxLayout="row wrap">
    <!-- Columna menu movil (xs-sm) y logos-->
    <div class="logos" fxLayoutAlign="start center" fxFlex="initial" fxLayoutGap="5px">
      <img [src]="getUrlResource('web-header-logo-ministerio')"
        [srcset]="getUrlSetResource('web-header-logo-ministerio', ['2x', '3x'])" alt="" class="logo-ministerio">
      <img [src]="getUrlResource('web-header-logo-feder')"
        [srcset]="getUrlSetResource('web-header-logo-feder', ['2x', '3x'])" alt="" class="logo-feder">
      <img [src]="getUrlResource('web-header-logo-ue')" [srcset]="getUrlSetResource('web-header-logo-ue', ['2x', '3x'])"
        alt="" class="logo-ue">
    </div>
    <div class="select-modulo" fxLayoutAlign="center center" fxFlex fxHide.xs fxHide.sm>
      <h2 *ngIf="module !== Module.INV">{{module?.title | translate}}</h2>
    </div>

    <!-- FIN Columna menu movil (xs-sm) y logos-->
    <div fxFlex="nogrow">
      <!-- navbar movil (xs-sm) -->
      <div fxHide fxShow.xs fxLayoutAlign="flex-end" class="icons-options devices">
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu class="mat-menu" #menu="matMenu">
          <sgi-navbar class="icons-responsive"></sgi-navbar>
        </mat-menu>
      </div>
      <!-- FIN navbar (xs-sm) -->

      <!-- navbar pantallas grandes -->
      <div fxHide fxShow.sm>
        <div fxLayoutAlign="flex-end" class="icons-options desktop">
          <sgi-navbar class="inline"></sgi-navbar>
        </div>
      </div>
      <!-- FIN navbar pantallas grandes -->

      <!-- Menu secundario pantallas grandes (md,lg,xl) -->
      <div fxHide fxShow.md fxShow.lg fxShow.xl>
        <div fxLayoutAlign="flex-end" class="icons-options desktop">
          <sgi-navbar class="inline"></sgi-navbar>
        </div>
      </div>
    </div>
    <!-- FIN Menu secundario pantallas grandes (md,lg,xl) -->
  </div>
</header>