<section class="convocatoria-requisitos-equipo">
  <h2>{{'csp.convocatoria-requisito-equipo' | translate}}</h2>

  <form [formGroup]="formGroup" [fxLayout.xs]="fxLayoutProperties.xs" [fxLayout]="fxLayoutProperties.layout"
    [fxLayoutGap]="fxLayoutProperties.gap" ngClass.gt-xs="ml-10">

    <!-- Nivel académico TODO reemplazar cuando se tenga el servicio correspondiente-->
    <div [fxFlex.sm]="fxFlexProperties.sm" [fxFlex.md]="fxFlexProperties.md" [fxFlex.gt-md]="fxFlexProperties.gtMd"
      [fxFlexOrder]="fxFlexProperties.order">
      <mat-form-field>
        <mat-label>{{'csp.convocatoria-requisito-equipo.nivel-academico' | translate}}</mat-label>
        <input matInput formControlName="nivelAcademicoRef" id="nivelAcademicoRef"
          placeholder="{{'csp.convocatoria-requisito-equipo.nivel-academico' | translate}}" />
        <mat-error *ngIf="formGroup.controls.nivelAcademicoRef.hasError('maxlength')">
          {{'error.maxlength.entity' | translate:msgParamNivelAcademicoEntity}}
        </mat-error>
      </mat-form-field>
    </div>

    <!-- Antigüedad nivel académico -->
    <div [fxFlex.sm]="fxFlexProperties.sm" [fxFlex.md]="fxFlexProperties.md" [fxFlex.gt-md]="fxFlexProperties.gtMd"
      [fxFlexOrder]="fxFlexProperties.order">
      <mat-form-field class="input-form">
        <mat-label>{{'csp.convocatoria-requisito-equipo.nivel-academico.anios' | translate}}</mat-label>
        <input matInput formControlName="aniosNivelAcademico" type="number" id="aniosNivelAcademico" min="0"
          placeholder="{{'csp.convocatoria-requisito-equipo.nivel-academico.anios' | translate}}">
        <mat-error *ngIf="formGroup.controls.aniosNivelAcademico.hasError('max')">
          {{'error.max.digit' | translate}}
        </mat-error>
        <mat-error *ngIf="formGroup.controls.aniosNivelAcademico.hasError('min')">
          {{'error.min.digit' | translate}}
        </mat-error>
      </mat-form-field>
    </div>

    <!-- Edad máxima -->
    <div [fxFlex.sm]="fxFlexProperties.sm" [fxFlex.md]="fxFlexProperties.md" [fxFlex.gt-md]="fxFlexProperties.gtMd"
      [fxFlexOrder]="fxFlexProperties.order">
      <mat-form-field class="input-form">
        <mat-label>{{'csp.convocatoria-requisito-equipo.nivel-academico.edad-maxima' | translate}}</mat-label>
        <input matInput formControlName="edadMaxima" type="number" id="edadMaxima" min="0"
          placeholder="{{'csp.convocatoria-requisito-equipo.nivel-academico.edad-maxima' | translate}}">
        <mat-error *ngIf="formGroup.controls.edadMaxima.hasError('max')">
          {{'error.max.digit' | translate}}
        </mat-error>
        <mat-error *ngIf="formGroup.controls.edadMaxima.hasError('min')">
          {{'error.min.digit' | translate}}
        </mat-error>
      </mat-form-field>
    </div>

    <!-- Vinculación con universidad -->
    <div [fxFlex.sm]="fxFlexProperties.sm" [fxFlex.md]="fxFlexProperties.md" [fxFlex.gt-md]="fxFlexProperties.gtMd"
      [fxFlexOrder]="fxFlexProperties.order">
      <mat-form-field class="input-form">
        <mat-label>{{'csp.convocatoria-requisito-equipo.vinculacion-universidad' | translate}}</mat-label>
        <sgi-select-boolean formControlName="vinculacionUniversidad"></sgi-select-boolean>
      </mat-form-field>
    </div>

    <!-- Años vinculación -->
    <div [fxFlex.sm]="fxFlexProperties.sm" [fxFlex.md]="fxFlexProperties.md" [fxFlex.gt-md]="fxFlexProperties.gtMd"
      [fxFlexOrder]="fxFlexProperties.order">
      <mat-form-field class="input-form">
        <mat-label>{{'csp.convocatoria-requisito-equipo.vinculacion-anios' | translate}}</mat-label>
        <input matInput formControlName="aniosVinculacion" type="number" id="aniosVinculacion" min="0"
          placeholder="{{'csp.convocatoria-requisito-equipo.vinculacion-anios' | translate}}">
        <mat-error *ngIf="formGroup.controls.aniosVinculacion.hasError('max')">
          {{'error.max.digit' | translate}}
        </mat-error>
        <mat-error *ngIf="formGroup.controls.aniosVinculacion.hasError('min')">
          {{'error.min.digit' | translate}}
        </mat-error>
      </mat-form-field>
    </div>

    <!-- Modalidad de contrato TODO reemplazar cuando se tenga el servicio correspondiente -->
    <div [fxFlex.sm]="fxFlexProperties.sm" [fxFlex.md]="fxFlexProperties.md" [fxFlex.gt-md]="fxFlexProperties.gtMd"
      [fxFlexOrder]="fxFlexProperties.order">
      <mat-form-field>
        <mat-label>{{'csp.convocatoria-requisito-equipo.modalidad-contrato' | translate}}</mat-label>
        <input matInput formControlName="modalidadContratoRef" id="modalidadContratoRef"
          placeholder="{{'csp.convocatoria-requisito-equipo.modalidad-contrato' | translate}}" />
        <mat-error *ngIf="formGroup.controls.modalidadContratoRef.hasError('maxlength')">
          {{'error.maxlength.entity' | translate:msgParamModalidadContratoEntity}}
        </mat-error>
      </mat-form-field>
    </div>

    <!-- Número proyectos competitivos mínimos -->
    <div [fxFlex.sm]="fxFlexProperties.sm" [fxFlex.md]="fxFlexProperties.md" [fxFlex.gt-md]="fxFlexProperties.gtMd"
      [fxFlexOrder]="fxFlexProperties.order">
      <mat-form-field class="input-form">
        <mat-label>{{'csp.convocatoria-requisito-equipo.proyectos-competitivos.minimo' | translate}}</mat-label>
        <input matInput formControlName="numMinimoCompetitivos" type="number" id="numMinimoCompetitivos" min="0"
          placeholder="{{'csp.convocatoria-requisito-equipo.proyectos-competitivos.minimo' | translate}}">
        <mat-error *ngIf="formGroup.controls.numMinimoCompetitivos.hasError('max')">
          {{'error.max.digit' | translate}}
        </mat-error>
        <mat-error *ngIf="formGroup.controls.numMinimoCompetitivos.hasError('min')">
          {{'error.min.digit' | translate}}
        </mat-error>
      </mat-form-field>
    </div>

    <!-- Número proyectos NO competitivos mínimos -->
    <div [fxFlex.sm]="fxFlexProperties.sm" [fxFlex.md]="fxFlexProperties.md" [fxFlex.gt-md]="fxFlexProperties.gtMd"
      [fxFlexOrder]="fxFlexProperties.order">
      <mat-form-field class="input-form">
        <mat-label>{{'csp.convocatoria-requisito-equipo.proyectos-no-competitivos.minimo' | translate}}</mat-label>
        <input matInput formControlName="numMinimoNoCompetitivos" type="number" id="numMinimoNoCompetitivos" min="0"
          placeholder="{{'csp.convocatoria-requisito-equipo.proyectos-no-competitivos.minimo' | translate}}">
        <mat-error *ngIf="formGroup.controls.numMinimoNoCompetitivos.hasError('max')">
          {{'error.max.digit' | translate}}
        </mat-error>
        <mat-error *ngIf="formGroup.controls.numMinimoNoCompetitivos.hasError('min')">
          {{'error.min.digit' | translate}}
        </mat-error>
      </mat-form-field>
    </div>

    <!-- Número proyectos competitivos activos máximos -->
    <div [fxFlex.sm]="fxFlexProperties.sm" [fxFlex.md]="fxFlexProperties.md" [fxFlex.gt-md]="fxFlexProperties.gtMd"
      [fxFlexOrder]="fxFlexProperties.order">
      <mat-form-field class="input-form">
        <mat-label>{{'csp.convocatoria-requisito-equipo.proyectos-competitivos.maximo' | translate}}</mat-label>
        <input matInput formControlName="numMaximoCompetitivosActivos" type="number" id="numMaximoCompetitivosActivos"
          min="0" placeholder="{{'csp.convocatoria-requisito-equipo.proyectos-competitivos.maximo' | translate}}">
        <mat-error *ngIf="formGroup.controls.numMaximoCompetitivosActivos.hasError('max')">
          {{'error.max.digit' | translate}}
        </mat-error>
        <mat-error *ngIf="formGroup.controls.numMaximoCompetitivosActivos.hasError('min')">
          {{'error.min.digit' | translate}}
        </mat-error>
      </mat-form-field>
    </div>

    <!-- Número proyectos NO competitivos activos máximos -->
    <div [fxFlex.sm]=" fxFlexProperties.sm" [fxFlex.md]="fxFlexProperties.md" [fxFlex.gt-md]="fxFlexProperties.gtMd"
      [fxFlexOrder]="fxFlexProperties.order">
      <mat-form-field class="input-form">
        <mat-label>{{'csp.convocatoria-requisito-equipo.proyectos-no-competitivos.maximo' | translate}}</mat-label>
        <input matInput formControlName="numMaximoNoCompetitivosActivos" type="number" min="0"
          id="numMaximoNoCompetitivosActivos"
          placeholder="{{'csp.convocatoria-requisito-equipo.proyectos-no-competitivos.maximo' | translate}}">
        <mat-error *ngIf="formGroup.controls.numMaximoNoCompetitivosActivos.hasError('max')">
          {{'error.max.digit' | translate}}
        </mat-error>
        <mat-error *ngIf="formGroup.controls.numMaximoNoCompetitivosActivos.hasError('min')">
          {{'error.min.digit' | translate}}
        </mat-error>
      </mat-form-field>
    </div>

    <!-- Otros requisitos -->
    <div [fxFlex.sm]="fxFlexPropertiesInline.sm" [fxFlex.md]="fxFlexPropertiesInline.md"
      [fxFlex.gt-md]="fxFlexPropertiesInline.gtMd" [fxFlexOrder]="fxFlexPropertiesInline.order">
      <mat-form-field>
        <mat-label>{{'csp.convocatoria-requisito-equipo.otros-requisitos' | translate}}</mat-label>
        <textarea #resumen matInput formControlName="otrosRequisitos" id="otrosRequisitos"
          placeholder="{{'csp.convocatoria-requisito-equipo.otros-requisitos' | translate}}" maxlength="250"></textarea>
        <mat-hint>{{resumen.value.length}} / 250</mat-hint>
      </mat-form-field>
    </div>
  </form>

</section>