<sgi-fragment title="{{'label.datos-generales' | translate}}">
  <form [formGroup]="formGroup" #form fxLayout="column wrap">

    <div id="datos-generales" fxFlex fxLayout="row " fxLayoutGap="1%">
      <!-- Título -->
      <div fxFlex fxFlex.sm="100%">
        <mat-form-field>
          <mat-label>{{'pii.solicitud-proteccion.titulo' | translate}}</mat-label>
          <input matInput formControlName="titulo" type="text" id="titulo"
            placeholder="{{'pii.solicitud-proteccion.titulo' | translate}}" required>
          <mat-error *ngIf="formGroup.controls.titulo.errors?.required">
            {{'error.required.entity' | translate:msgParamTituloEntity}}
          </mat-error>
          <mat-error *ngIf="formGroup.controls.titulo.errors?.maxlength">
            {{'error.maxlength.entity' | translate:msgParamTituloEntity}}
          </mat-error>
        </mat-form-field>
      </div>
      <div id="via-proteccion-pais" fxFLex fxLayoutGap="3%">
        <!-- Vias Protección -->
        <div fxFlex>
          <mat-form-field>
            <mat-label>{{'pii.solicitud-proteccion.via-proteccion' | translate}}</mat-label>
            <sgi-select-entity formControlName="viaProteccion" [options]="formPart.viasProteccion$ | async" required>
            </sgi-select-entity>
            <mat-error *ngIf="formGroup.controls.viaProteccion.errors?.required">
              {{'error.required.entity' | translate:msgParamViaProteccionEntity}}
            </mat-error>
          </mat-form-field>
        </div>
        <!-- Pais -->
        <div fxFlex *ngIf="formPart.showPaisSelector | async">
          <mat-form-field>
            <mat-label>{{'pii.solicitud-proteccion.pais' | translate}}</mat-label>
            <sgi-select-entity formControlName="pais" [options]="formPart.paises$ | async" required>
            </sgi-select-entity>
            <mat-error *ngIf="formGroup.controls.pais.errors?.required">
              {{'error.required.entity' | translate:msgParamPaisEntity}}
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div id="otros-campos" fxFlex fxLayout="row wrap" fxLayoutGap="1%">

      <!-- Fecha Prioridad -->
      <div fxFlex="24%" fxFlex.lt-sm="100%">
        <mat-form-field fxFill>
          <mat-label *ngIf="formPart.canShowFechaPrioridad() | async; else labelFechaSolicitud">
            {{'pii.solicitud-proteccion.fecha-prioridad' | translate}}
          </mat-label>
          <ng-template #labelFechaSolicitud>
            <mat-label>{{'pii.solicitud-proteccion.fecha-solicitud' | translate}}</mat-label>
          </ng-template>
          <input matInput formControlName="fechaPrioridad" [matDatepicker]="fechaPrioridad" required>
          <mat-datepicker-toggle matSuffix [for]="fechaPrioridad"></mat-datepicker-toggle>
          <mat-datepicker #fechaPrioridad></mat-datepicker>
          <mat-error *ngIf="formGroup.controls.fechaPrioridad.errors?.required">
            {{'error.required.entity' | translate:((formPart.canShowFechaPrioridad() | async) ?
            msgParamFechaPrioridadEntity : msgParamFechaSolicitudEntity)}}
          </mat-error>
        </mat-form-field>
      </div>

      <!-- Fecha Fin Prioridad -->
      <div fxFlex="24%" fxFlex.lt-sm="100%" *ngIf="formPart.canShowFechaFinPrioridad() | async">
        <mat-form-field fxFill>
          <mat-label *ngIf="formPart.isExtensionInternacional | async; else noPCTFechaFinPrioridad">{{
            'pii.solicitud-proteccion.fecha-fin-prioridad-pct' | translate }}</mat-label>
          <ng-template #noPCTFechaFinPrioridad>
            <mat-label>{{ 'pii.solicitud-proteccion.fecha-fin-prioridad-form' | translate }}</mat-label>
          </ng-template>
          <input matInput formControlName="fechaFinPrioridad" [matDatepicker]="fechaFinPrioridad" required>
          <mat-datepicker-toggle matSuffix [for]="fechaFinPrioridad"></mat-datepicker-toggle>
          <mat-datepicker #fechaFinPrioridad></mat-datepicker>
          <mat-error *ngIf="formGroup.controls.fechaFinPrioridad.errors?.required">
            {{'error.required.entity' | translate:((formPart.isExtensionInternacional | async)
            ? this.msgParamFechaFinPrioridadPCTEntity
            : this.msgParamFechaFinPrioridadEntity)}}
          </mat-error>
          <mat-error *ngIf="formGroup.controls.fechaFinPrioridad.errors?.after">
            {{'error.after.param' | translate:((formPart.canShowFechaPrioridad() | async) ?
            msgParamFechaPrioridadEntity : msgParamFechaSolicitudEntity)}}
          </mat-error>
        </mat-form-field>
      </div>

      <!-- Número de Solicitud -->
      <div fxFlex="24%" fxFlex.lt-sm="100%">
        <mat-form-field fxFill>
          <mat-label>{{'pii.solicitud-proteccion.numero-solicitud-form' | translate}}</mat-label>
          <input matInput formControlName="numeroSolicitud" type="text" id="numeroSolicitud"
            placeholder="{{'pii.solicitud-proteccion.numero-solicitud-form' | translate}}" required>
          <mat-error *ngIf="formGroup.controls.numeroSolicitud.errors?.required">
            {{'error.required.entity' | translate:msgParamNumeroSolicitudEntity}}
          </mat-error>
          <mat-error *ngIf="formGroup.controls.numeroSolicitud.errors?.maxlength">
            {{'error.maxlength.entity' | translate:msgParamNumeroSolicitudEntity}}
          </mat-error>
        </mat-form-field>
      </div>

      <!-- Estado -->
      <div fxFlex="24%" fxFlex.lt-sm="100%"
        *ngIf="formPart.tipoPropiedad === formPart.TipoPropiedad.INDUSTRIAL && formPart.getKey()">
        <mat-form-field>
          <mat-label>{{'pii.solicitud-proteccion.estado' | translate}}</mat-label>
          <sgi-select-enum #estado formControlName="estado" [enumMap]="ESTADO_MAP" [required]="true"></sgi-select-enum>
          <mat-error *ngIf="formGroup.controls.estado.errors?.required">
            {{'error.required.entity' | translate:msgParamEstadoEntity}}
          </mat-error>
        </mat-form-field>
      </div>

      <!-- Fecha de Publicación -->
      <div fxFlex="24%" fxFlex.lt-sm="100%"
        *ngIf="formPart.tipoPropiedad === formPart.TipoPropiedad.INDUSTRIAL && formPart.solicitudProteccion?.id">
        <mat-form-field fxFill>
          <mat-label>
            {{'pii.solicitud-proteccion.fecha-publicacion-form' | translate}}
          </mat-label>
          <input matInput formControlName="fechaPublicacion" [matDatepicker]="fechaPublicacion">
          <mat-datepicker-toggle matSuffix [for]="fechaPublicacion"></mat-datepicker-toggle>
          <mat-datepicker #fechaPublicacion></mat-datepicker>
        </mat-form-field>
      </div>

      <!-- Número de Publicación -->
      <div fxFlex="24%" fxFlex.lt-sm="100%"
        *ngIf="formPart.tipoPropiedad === formPart.TipoPropiedad.INDUSTRIAL && formPart.solicitudProteccion?.id">
        <mat-form-field fxFill>
          <mat-label>{{'pii.solicitud-proteccion.numero-publicacion-form' | translate}}</mat-label>
          <input matInput formControlName="numeroPublicacion" type="text" id="numeroPublicacion"
            placeholder="{{'pii.solicitud-proteccion.numero-publicacion-form' | translate}}">
          <mat-error *ngIf="formGroup.controls.numeroPublicacion.errors?.maxlength">
            {{'error.maxlength.entity' | translate:msgParamNumeroPublicacionEntity}}
          </mat-error>
        </mat-form-field>
      </div>

      <!-- Fecha de Concesión -->
      <div fxFlex="24%" fxFlex.lt-sm="100%" *ngIf="formPart.tipoPropiedad === formPart.TipoPropiedad.INDUSTRIAL &&
                    formPart.solicitudProteccion?.id">
        <mat-form-field fxFill>
          <mat-label>
            {{'pii.solicitud-proteccion.fecha-concesion-form' | translate}}
          </mat-label>
          <input matInput formControlName="fechaConcesion" [matDatepicker]="fechaConcesion">
          <mat-datepicker-toggle matSuffix [for]="fechaConcesion"></mat-datepicker-toggle>
          <mat-datepicker #fechaConcesion></mat-datepicker>
        </mat-form-field>
      </div>

      <!-- Número de Concesión -->
      <div fxFlex="24%" fxFlex.lt-sm="100%"
        *ngIf="formPart.tipoPropiedad === formPart.TipoPropiedad.INDUSTRIAL && formPart.solicitudProteccion?.id">
        <mat-form-field fxFill>
          <mat-label>{{'pii.solicitud-proteccion.numero-concesion-form' | translate}}</mat-label>
          <input matInput formControlName="numeroConcesion" type="text" id="numeroConcesion"
            placeholder="{{'pii.solicitud-proteccion.numero-concesion-form' | translate}}">
          <mat-error *ngIf="formGroup.controls.numeroConcesion.errors?.maxlength">
            {{'error.maxlength.entity' | translate:msgParamNumeroConcesionEntity}}
          </mat-error>
        </mat-form-field>
      </div>

      <!-- Número de Registro -->
      <div fxFlex="24%" fxFlex.lt-sm="100%" *ngIf="formPart.tipoPropiedad === formPart.TipoPropiedad.INTELECTUAL">
        <mat-form-field fxFill>
          <mat-label>{{'pii.solicitud-proteccion.numero-registro-form' | translate}}</mat-label>
          <input matInput formControlName="numeroRegistro" type="text" id="numeroRegistro"
            placeholder="{{'pii.solicitud-proteccion.numero-registro-form' | translate}}">
          <mat-error *ngIf="formGroup.controls.numeroSolicitud.errors?.maxlength">
            {{'error.maxlength.entity' | translate:msgParamNumeroRegistroEntity}}
          </mat-error>
        </mat-form-field>
      </div>

      <!-- Fecha de Caducidad -->
      <div fxFlex="24%" fxFlex.lt-sm="100%" *ngIf="formGroup.controls.estado.value === Estado.CADUCADA">
        <mat-form-field fxFill>
          <mat-label>
            {{'pii.solicitud-proteccion.fecha-caducidad-form' | translate}}
          </mat-label>
          <input matInput formControlName="fechaCaducidad" [matDatepicker]="fechaCaducidad" required>
          <mat-datepicker-toggle matSuffix [for]="fechaCaducidad"></mat-datepicker-toggle>
          <mat-datepicker #fechaCaducidad></mat-datepicker>
          <mat-error *ngIf="formGroup.controls.fechaCaducidad.errors?.required">
            {{'error.required.entity' | translate:msgParamFechaCaducidEntity}}
          </mat-error>
        </mat-form-field>
      </div>

      <!-- Tipo de Caducidad -->
      <div fxFlex="24%" fxFlex.lt-sm="100%" *ngIf="formGroup.controls.estado.value === Estado.CADUCADA">
        <mat-form-field fxFill>
          <mat-label>{{'pii.solicitud-proteccion.tipo-caducidad-form' | translate}}</mat-label>
          <sgi-select-entity formControlName="tipoCaducidad" [options]="formPart.tiposCaducidad$ | async"
            [displayWith]="displayTextTipoCaducidad" [required]="true">
          </sgi-select-entity>
          <mat-error *ngIf="formGroup.controls.tipoCaducidad.errors?.required">
            {{'error.required.entity' | translate:msgParamTipoCaducidadEntity}}
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <!-- Agente de la propiedad -->
    <div fxFlex="100%" *ngIf="formPart.tipoPropiedad === formPart.TipoPropiedad.INDUSTRIAL">
      <mat-form-field fxFill>
        <mat-label>{{'pii.solicitud-proteccion.agente-propiedad' | translate}}</mat-label>
        <sgi-select-empresa placeholder="{{'pii.solicitud-proteccion.agente-propiedad' | translate}}"
          formControlName="agentePropiedad">
        </sgi-select-empresa>
      </mat-form-field>
    </div>

    <!-- Comentarios -->
    <div fxFlex="100%">
      <mat-form-field fxFill>
        <mat-label>{{'pii.solicitud-proteccion.comentarios' | translate}}</mat-label>
        <textarea matInput formControlName="comentarios" id="comentarios"
          placeholder="{{'pii.solicitud-proteccion.comentarios' | translate}}"></textarea>
        <mat-error *ngIf="formGroup.controls.comentarios.errors?.maxlength">
          {{'error.maxlength.entity' | translate:msgParamComentariosEntity}}
        </mat-error>
      </mat-form-field>
    </div>
    <div *ngIf="(formPart.isViaEuropea$ | async) && formPart.getKey() ">
      <sgi-solicitud-proteccion-paises-validados></sgi-solicitud-proteccion-paises-validados>
    </div>

  </form>
</sgi-fragment>
