<sgi-fragment
  title="{{'menu.csp.solicitud.solicitud-rrhh' | translate}} - {{'menu.csp.solicitud.solicitud-rrhh.tutor' | translate}}">

  <form [formGroup]="formGroup" fxLayout="column">
    <div fxFlex fxLayout="row" fxLayoutGap="10px">
      <!-- Tutor -->
      <mat-form-field fxFlex="0 1 calc((100% - 10px) / 2)">
        <mat-label>{{'csp.solicitud.solicitud-rrhh.tutor-seleccionar' | translate}}</mat-label>
        <sgi-select-persona-public placeholder="{{'csp.solicitud.solicitud-rrhh.tutor-seleccionar' | translate}}"
          formControlName="tutor" [tipoColectivo]="tipoColectivoTutor" required>
        </sgi-select-persona-public>
        <mat-error *ngIf="formGroup.controls.tutor.errors?.required">
          {{'error.required.entity' | translate:msgParamTutorEntity}}
        </mat-error>
      </mat-form-field>
    </div>


    <div fxFlex fxLayout="row" fxLayoutGap="10px">
      <!-- Nombre -->
      <mat-form-field fxFlex="0 1 calc((100% - (10px * 2)) / 3)">
        <mat-label>{{'csp.solicitud.solicitud-rrhh.nombre' | translate}}</mat-label>
        <input matInput type="text" placeholder="{{'csp.solicitud.solicitud-rrhh.nombre' | translate}}"
          formControlName="nombre">
      </mat-form-field>

      <!-- Apellidos -->
      <mat-form-field fxFlex="0 1 calc((100% - (10px * 2)) / 3 * 2 + 10px)">
        <mat-label>{{'csp.solicitud.solicitud-rrhh.apellidos' | translate}}</mat-label>
        <input matInput type="text" placeholder="{{'csp.solicitud.solicitud-rrhh.apellidos' | translate}}"
          formControlName="apellidos">
      </mat-form-field>
    </div>

    <div fxFlex fxLayout="row" fxLayoutGap="10px">
      <!-- Categoria -->
      <mat-form-field fxFlex="0 1 calc((100% - (10px * 2)) / 3)">
        <mat-label>{{'csp.solicitud.solicitud-rrhh.categoria' | translate}}</mat-label>
        <input matInput type="text" placeholder="{{'csp.solicitud.solicitud-rrhh.categoria' | translate}}"
          formControlName="categoria">
      </mat-form-field>
    </div>

    <div fxFlex fxLayout="row" fxLayoutGap="10px">
      <!-- Departamento -->
      <mat-form-field fxFlex="0 1 calc((100% - (10px * 2)) / 3)">
        <mat-label>{{'csp.solicitud.solicitud-rrhh.departamento' | translate}}</mat-label>
        <input matInput type="text" placeholder="{{'csp.solicitud.solicitud-rrhh.departamento' | translate}}"
          formControlName="departamento">
      </mat-form-field>

      <!-- Centro -->
      <mat-form-field fxFlex="0 1 calc((100% - (10px * 2)) / 3)">
        <mat-label>{{'csp.solicitud.solicitud-rrhh.centro' | translate}}</mat-label>
        <input matInput type="text" placeholder="{{'csp.solicitud.solicitud-rrhh.centro' | translate}}"
          formControlName="centro">
      </mat-form-field>
    </div>

    <div fxFlex fxLayout="row" fxLayoutGap="10px">
      <div fxLayout="column" fxFlex="0 1 calc((100% - (10px * 2)) / 3)">
        <h3>{{'csp.solicitud.solicitud-rrhh.telefono' | translate:MSG_PARAMS.CARDINALIRY.PLURAL}}</h3>
        <div class="mat-elevation-z4">
          <table mat-table [dataSource]="telefonos" matSort matSortActive="nombre" matSortDirection="asc"
            matSortDisableClear>
            <!-- Telefono Column -->
            <ng-container matColumnDef="telefono">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                {{'csp.solicitud.solicitud-rrhh.telefono' | translate:MSG_PARAMS.CARDINALIRY.SINGULAR}}
              </th>
              <td mat-cell *matCellDef="let data">
                {{data}}
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="columnsTelefonos"></tr>
            <tr mat-row *matRowDef="let row; columns: columnsTelefonos"></tr>
          </table>
        </div>
      </div>
      <div fxLayout="column" fxFlex="0 1 calc((100% - (10px * 2)) / 3)">
        <h3>{{'csp.solicitud.solicitud-rrhh.email' | translate:MSG_PARAMS.CARDINALIRY.PLURAL}}</h3>
        <div class="mat-elevation-z4">
          <table mat-table [dataSource]="emails" matSort matSortActive="nombre" matSortDirection="asc"
            matSortDisableClear>
            <!-- Email Column -->
            <ng-container matColumnDef="email">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                {{'csp.solicitud.solicitud-rrhh.email' | translate:MSG_PARAMS.CARDINALIRY.SINGULAR}}
              </th>
              <td mat-cell *matCellDef="let data">
                {{data.email}}
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="columnsEmails"></tr>
            <tr mat-row *matRowDef="let row; columns: columnsEmails"></tr>
          </table>
        </div>
      </div>
    </div>
  </form>

</sgi-fragment>