<sgi-menu-content>
  <!-- Buscador de solicitudes -->
  <form [formGroup]="formGroup" fxLayout="column">

    <div fxLayout="row">
      <!-- Numero documento -->
      <mat-form-field>
        <mat-label>{{'pub.solicitud.consultar.numero-documento' | translate}}</mat-label>
        <input matInput formControlName="numeroDocumento" type="text"
          placeholder="{{'pub.solicitud.consultar.numero-documento' | translate}}" required>
        <mat-icon color="primary" matSuffix
          matTooltip="{{'pub.solicitud.consultar.numero-documento.tooltip' | translate}}">
          error
        </mat-icon>
        <mat-error *ngIf="formGroup.controls.numeroDocumento.errors?.required">
          {{ 'error.required.entity' | translate:msgParamNumeroDocumento }}
        </mat-error>
      </mat-form-field>
    </div>

    <!-- Codigo indentificacion solicitud -->
    <div fxLayout="row">
      <mat-form-field class="input-form">
        <mat-label>{{'pub.solicitud.consultar.uuid-solicitud' | translate}}</mat-label>
        <input matInput formControlName="uuid" type="text"
          placeholder="{{'pub.solicitud.consultar.uuid-solicitud' | translate}}" required>
        <mat-icon color="primary" matSuffix
          matTooltip="{{'pub.solicitud.consultar.uuid-solicitud.tooltip' | translate}}">
          error
        </mat-icon>
        <mat-error *ngIf="formGroup.controls.uuid.errors?.required">
          {{ 'error.required.entity' | translate:msgParamUUID }}
        </mat-error>
      </mat-form-field>
    </div>

    <!-- Acciones -->
    <div fxLayout="row">
      <div class="buttons-final">
        <button color="primary" mat-raised-button (click)="onSearch()">
          <mat-icon>search</mat-icon> {{'btn.search'| translate}}
        </button>
        <button color="warn" (click)="onClearFilters()" mat-button>
          {{'btn.clean'| translate}}
        </button>
      </div>

    </div>
  </form>

</sgi-menu-content>