@import "colors.scss";
@import "vars.scss";

.separation {
  height: $footerHeight;
  &.footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    box-shadow: inset 0px 14px 12px -12px map-get($palette-grey, 300);
    background: map-get($sgi-custom-colors, white);
  }
  .botonera {
    height: 100%;
    padding-left: 5px;
    .link-cancelar {
      font-weight: bold;
      color: map-get($sgi-custom-colors, black);
      padding-left: 5px;
      padding-right: 5px;
      span.underline {
        text-decoration: underline;
      }
    }
  }
}
