<sgi-menu-content>
  <!-- Buscador de areas-tematicas -->
  <form class="formulario mat-elevation-z8" [formGroup]="formGroup" [fxLayout.xs]="fxLayoutProperties.xs"
    [fxLayout]="fxLayoutProperties.layout" [fxLayoutGap]="fxLayoutProperties.gap" ngClass.gt-xs="ml-10">

    <div fxFlex="84%" fxFlex.sm="50%" fxFlex.md="72%" [fxLayout.xs]="fxLayoutProperties.xs"
      [fxLayout]="fxLayoutProperties.layout" fxLayoutGap="fxLayoutProperties.gap" ngClass.gt-xs="ml-10">
      <!-- Nombre -->
      <div class="col">
        <mat-form-field>
          <mat-label>{{'csp.area-tematica.nombre-listado' | translate}}</mat-label>
          <input matInput placeholder="{{'csp.area-tematica.nombre-listado' | translate}}" formControlName="nombre">
        </mat-form-field>
      </div>

      <!-- Activo -->
      <ng-container *sgiHasAuthority="'CSP-AREA-R'">
        <div class="col">
          <mat-form-field>
            <mat-label>{{'label.activo' | translate}}</mat-label>
            <mat-select matNativeControl formControlName="activo">
              <mat-option value="todos">{{'label.todos' | translate}}</mat-option>
              <mat-option value="true">{{'label.si' | translate}}</mat-option>
              <mat-option value="false">{{'label.no' | translate}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </ng-container>

    </div>

    <div class="buttons-final">
      <div class="col filter-button">
        <button color="primary" aria-label="Center Align" mat-raised-button (click)="onSearch()">
          <mat-icon>search</mat-icon> {{'btn.search'| translate}}
        </button>
        <button color="warn" aria-label="Center Align" (click)="onClearFilters()" mat-button>{{'btn.clean'|
          translate}}
        </button>
      </div>
    </div>
  </form>
  <!-- FIN Buscador de areas temáticas -->

  <div class="mat-elevation-z4">
    <table mat-table [dataSource]="areaTematica$ | async" matSort matSortActive="id" matSortDirection="asc"
      matSortDisableClear>

      <!-- Nombre -->
      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'csp.area-tematica.nombre-listado' | translate}}
        </th>
        <td mat-cell *matCellDef="let areaTematica">{{areaTematica.nombre}}</td>
      </ng-container>

      <!-- Descripción -->
      <ng-container matColumnDef="descripcion">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'csp.area-tematica.descripcion' | translate}}
        </th>
        <td mat-cell *matCellDef="let areaTematica">{{areaTematica.descripcion}}</td>
      </ng-container>

      <!-- Activo  -->
      <ng-container matColumnDef="activo" *sgiHasAuthority="'CSP-AREA-R'">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'label.activo' | translate}}
        </th>
        <td mat-cell *matCellDef="let areaTematica">{{(areaTematica.activo ? 'label.si' : 'label.no') | translate}}
        </td>
      </ng-container>

      <!-- Acciones -->
      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef> {{'label.actions' | translate}} </th>
        <td mat-cell *matCellDef="let areaTematica">
          <ng-container *sgiHasAuthority="'CSP-AREA-E'">
            <button *ngIf="areaTematica.activo ? true : false" mat-button matTooltip="{{'btn.edit' | translate}}"
              [routerLink]="[areaTematica.id]">
              <mat-icon color="primary">border_color</mat-icon>
            </button>
          </ng-container>
          <ng-container *sgiHasAuthority="'CSP-AREA-B'">
            <button *ngIf="areaTematica.activo ? true : false" mat-button matTooltip="{{'btn.delete' | translate}}"
              (click)="deactivateAreaTematica(areaTematica)">
              <mat-icon color="warn">highlight_off</mat-icon>
            </button>
          </ng-container>
          <ng-container *sgiHasAuthority="'CSP-AREA-R'">
            <button *ngIf="areaTematica.activo ? false : true" (click)="activeAreaTematica(areaTematica)" mat-button
              matTooltip="{{'btn.recover' | translate}}">
              <mat-icon color="accent">add_circle_outline</mat-icon>
            </button>
          </ng-container>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnas"></tr>
      <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="elementosPagina" [length]="totalElementos" showFirstLastButtons>
    </mat-paginator>
  </div>
  <sgi-menu-content-footer *sgiHasAuthority="'CSP-AREA-C'">
    <sgi-footer-crear [texto]="textoCrear" [route]="ROUTE_NAMES.NEW"></sgi-footer-crear>
  </sgi-menu-content-footer>
</sgi-menu-content>