<sgi-dialog-header [title]="title"></sgi-dialog-header>
<sgi-dialog-content>
  <form [formGroup]="formGroup">
    <!-- Rol investigador -->
    <div fxLayout="row">
      <mat-form-field>
        <mat-label>
          {{'csp.miembro-equipo-proyecto.rol-participacion' | translate}}
        </mat-label>
        <sgi-select-entity formControlName="rolParticipacion" required [options]="rolesGrupo$ | async">
        </sgi-select-entity>
        <mat-error *ngIf="formGroup.controls.rolParticipacion.errors?.required">
          {{'error.required.entity' | translate:msgParamRolParticipacionEntity}}
        </mat-error>
      </mat-form-field>
    </div>
    <!-- Miembro -->
    <div fxLayout="row">
      <mat-form-field>
        <mat-label>
          {{'csp.miembro-equipo-proyecto.miembro' | translate}}
        </mat-label>
        <sgi-select-persona placeholder="{{'csp.miembro-equipo-solicitud.miembro' | translate}}"
          formControlName="miembro" [colectivos]="colectivosIdRolParticipacion" required>
        </sgi-select-persona>
        <mat-error *ngIf="formGroup.controls.miembro.errors?.required">
          {{'error.required.entity' | translate:msgParamMiembroEntity}}
        </mat-error>
        <mat-error *ngIf="formGroup.controls.miembro.errors?.contains">
          {{'error.csp.persona-equipo.duplicate' | translate}}
        </mat-error>
      </mat-form-field>
    </div>
    <!-- Periodo participacion -->
    <div class="fieldset-form" fxLayout="row">
      {{'title.csp.miembro-equipo-proyecto.periodo-participacion' | translate}}
    </div>
    <div fxLayout="row" fxLayoutGap="10px">
      <!-- Fecha inicio -->
      <div fxFlex>
        <mat-form-field color="primary">
          <mat-label>{{'csp.grupo-equipo.fecha-inicio' | translate}}</mat-label>
          <input matInput formControlName="fechaInicio" [matDatepicker]="picker1" required>
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
          <mat-error *ngIf="formGroup.controls.fechaInicio.errors?.required">
            {{'error.required.entity' | translate:msgParamFechaInicioEntity}}
          </mat-error>
          <mat-error *ngIf="formGroup.controls.fechaInicio.errors?.range">
            {{'error.overlapping.record.entity' | translate:msgParamFechaInicioEntity}}
          </mat-error>
          <mat-error
            *ngIf="formGroup.controls.fechaInicio.errors?.invalid || formGroup.controls.fechaFin.errors?.minDate">
            {{'error.csp.miembro-equipo-grupo.fecha.invalid' | translate}}
          </mat-error>
        </mat-form-field>
      </div>
      <!-- Fecha fin -->
      <div fxFlex>
        <mat-form-field color="primary" sgiEndDate>
          <mat-label>{{'csp.grupo-equipo.fecha-fin' | translate}}</mat-label>
          <input matInput formControlName="fechaFin" [matDatepicker]="picker2">
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
          <mat-error *ngIf="formGroup.controls.fechaFin.errors?.after">
            {{'error.after.fecha-fin' | translate}}
          </mat-error>
          <mat-error *ngIf="formGroup.controls.fechaFin.errors?.range">
            {{'error.overlapping.record.entity' | translate:msgParamFechaFinEntity}}
          </mat-error>
          <mat-error *ngIf="formGroup.controls.fechaFin.errors?.invalid || formGroup.controls.fechaFin.errors?.minDate">
            {{'error.csp.miembro-equipo-grupo.fecha.invalid' | translate}}
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div fxLayout="row" fxLayoutGap="10px">
      <!-- Dedicación -->
      <div fxFlex>
        <mat-form-field>
          <mat-label>{{'csp.grupo-equipo.dedicacion' | translate}}</mat-label>
          <sgi-select-enum formControlName="dedicacion" [enumMap]="DEDICACION_MAP" required>
          </sgi-select-enum>
          <mat-error *ngIf="formGroup.controls.participacion.errors?.required">
            {{'error.required.entity' | translate:msgParamDedicacionEntity}}
          </mat-error>
        </mat-form-field>
      </div>
      <!-- Participación -->
      <div fxFlex>
        <mat-form-field>
          <mat-label>{{'csp.grupo-equipo.participacion' | translate}}</mat-label>
          <input matInput formControlName="participacion" type="number" required>
          <mat-error *ngIf="formGroup.controls.participacion.errors?.required">
            {{'error.required.entity' | translate:msgParamParticipacionEntity}}
          </mat-error>
          <mat-error *ngIf="formGroup.controls.participacion.errors?.pattern">
            {{'error.number.format.integer.entity' | translate:msgParamParticipacionEntity}}
          </mat-error>
          <mat-error *ngIf="formGroup.controls.participacion.errors?.min">
            {{ 'error.min.entity' | translate:msgParamParticipacionEntity }}
          </mat-error>
          <mat-error *ngIf="formGroup.controls.participacion.errors?.max">
            {{ 'error.max.entity' | translate:msgParamParticipacionEntity }}
          </mat-error>
        </mat-form-field>
      </div>
    </div>
  </form>
</sgi-dialog-content>
<mat-dialog-actions>
  <button color="accent" (click)="doAction()" [disabled]="this.actionDisabled" mat-raised-button type="submit">
    <mat-icon class="save-icon">save</mat-icon>{{textSaveOrUpdate | translate}}
  </button>
  <button class="link-cancelar" mat-button type="button" mat-dialog-close>{{'btn.cancel' |
    translate}}</button>
</mat-dialog-actions>