<sgi-fragment title="{{'eti.evaluacion' | translate:MSG_PARAMS.CARDINALIRY.SINGULAR}}">
  <form [formGroup]="formGroup" [fxLayout.xs]="fxLayoutProperties.xs" [fxLayout]="fxLayoutProperties.layout"
    [fxLayoutGap]="fxLayoutProperties.gap" ngClass.gt-xs="ml-10">

    <!--Comité-->
    <div [fxFlex.sm]="fxFlexProperties.sm" [fxFlex.md]="fxFlexProperties.md" [fxFlex.gt-md]="fxFlexProperties.gtMd"
      [fxFlexOrder]="fxFlexProperties.order">
      <mat-form-field>
        <mat-label>{{'label.eti.comite' | translate}}</mat-label>
        <input type="text" placeholder="{{'label.eti.comite' | translate}}" arial-label="Number" matInput
          formControlName="comite">
      </mat-form-field>
    </div>

    <!--Fecha Evaluación-->
    <div [fxFlex.sm]="fxFlexProperties.sm" [fxFlex.md]="fxFlexProperties.md" [fxFlex.gt-md]="fxFlexProperties.gtMd"
      [fxFlexOrder]="fxFlexProperties.order">
      <mat-form-field color="primary">
        <mat-label>{{'eti.seguimiento.datos-memoria.fecha-evaluacion'| translate}}</mat-label>
        <input matInput [matDatepicker]="fechaEvaluacion" formControlName="fechaEvaluacion">
        <mat-datepicker-toggle class="fechaIcon" matSuffix [for]="fechaEvaluacion"></mat-datepicker-toggle>
        <mat-datepicker #fechaEvaluacion></mat-datepicker>
      </mat-form-field>
    </div>

    <!--Referencia Memoria-->
    <div [fxFlex.sm]="fxFlexProperties.sm" [fxFlex.md]="fxFlexProperties.md" [fxFlex.gt-md]="fxFlexProperties.gtMd"
      [fxFlexOrder]="fxFlexProperties.order">
      <mat-form-field>
        <mat-label>{{'eti.memoria.referencia' | translate}}</mat-label>
        <input matInput formControlName="referenciaMemoria" placeholder="{{'eti.memoria.referencia' | translate}}">
      </mat-form-field>
    </div>

    <!--Solicitante-->
    <div [fxFlex.sm]="fxFlexProperties.sm" [fxFlex.md]="fxFlexProperties.md" [fxFlex.gt-md]="fxFlexProperties.gtMd"
      [fxFlexOrder]="fxFlexProperties.order">
      <mat-form-field>
        <mat-label>{{'eti.solicitante' | translate}}</mat-label>
        <input matInput formControlName="solicitante" placeholder="{{'eti.solicitante' | translate}}">
      </mat-form-field>
    </div>

    <!--Versión-->
    <div [fxFlex.sm]="fxFlexProperties.sm" [fxFlex.md]="fxFlexProperties.md" [fxFlex.gt-md]="fxFlexProperties.gtMd"
      [fxFlexOrder]="fxFlexProperties.order">
      <mat-form-field>
        <mat-label>{{'eti.seguimiento.datos-memoria.version' | translate}}</mat-label>
        <input matInput formControlName="version" placeholder="{{'eti.seguimiento.datos-memoria.version' | translate}}">
      </mat-form-field>
    </div>

    <!-- Dictamen -->
    <div [fxFlex.sm]="fxFlexProperties.sm" [fxFlex.md]="fxFlexProperties.md" [fxFlex.gt-md]="fxFlexProperties.gtMd"
      [fxFlexOrder]="fxFlexProperties.order">
      <mat-form-field class="input-form">
        <mat-label>{{'eti.dictamen' | translate}}</mat-label>
        <sgi-select-entity formControlName="dictamen" [options]="dictamenes$ | async" required>
        </sgi-select-entity>
      </mat-form-field>
    </div>

  </form>
  <sgi-seguimiento-listado-anterior-memoria #evaluaciones [rol]="this.actionService.getRol()">
  </sgi-seguimiento-listado-anterior-memoria>
</sgi-fragment>