<sgi-fragment title="{{'label.datos-generales' | translate}}">
  <form [formGroup]="formGroup" [fxLayout.xs]="fxLayoutProperties.xs" [fxLayout]="fxLayoutProperties.layout"
    [fxLayoutGap]="fxLayoutProperties.gap" ngClass.gt-xs="ml-10">
    <div [fxFlex.sm]="fxFlexProperties.sm" [fxFlex.md]="fxFlexProperties.md" [fxFlex.gt-md]="fxFlexProperties.gtMd"
      [fxFlexOrder]="fxFlexProperties.order">
      <mat-form-field>
        <mat-label>{{'eti.acta.convocatoria-reunion' | translate}}</mat-label>
        <sgi-select-entity formControlName="convocatoriaReunion" [options]="convocatorias$ | async" required
          [displayWith]="displayerConvocatoriaReunion">
        </sgi-select-entity>
        <mat-error *ngIf="formGroup.controls.convocatoriaReunion.errors?.required">
          {{'error.required.entity' | translate:msgParamConvocatoriaReunionEntity}}
        </mat-error>
      </mat-form-field>
    </div>
    <div [fxFlex.sm]="fxFlexProperties.sm" [fxFlex.md]="fxFlexProperties.md" [fxFlex.gt-md]="fxFlexProperties.gtMd"
      [fxFlexOrder]="fxFlexProperties.order">
      <mat-form-field>
        <mat-label>{{'eti.acta.hora-inicio' | translate}}</mat-label>
        <input matTimepicker #timepickerInicio="matTimepicker" formControlName="horaInicio"
          disableDialogOpenOnClick="true" strict="false" okLabel="{{ 'btn.ok' | translate }}"
          cancelLabel="{{ 'btn.cancel' | translate }}" required [readonly]="readonly">
        <button mat-icon-button type="button" matSuffix (click)="timepickerInicio.showDialog()" color="primary"
          [disabled]="readonly">
          <mat-icon>access_time</mat-icon>
        </button>
        <mat-error *ngIf="formGroup.controls.horaInicio.errors?.required">
          {{'error.required.entity' | translate:msgParamHoraInicioEntity}}
        </mat-error>
        <mat-error *ngIf="formGroup.controls.horaInicio.errors?.before">
          {{'error.before.hora-inicio' | translate}}
        </mat-error>
      </mat-form-field>
    </div>
    <div [fxFlex.sm]="fxFlexProperties.sm" [fxFlex.md]="fxFlexProperties.md" [fxFlex.gt-md]="fxFlexProperties.gtMd"
      [fxFlexOrder]="fxFlexProperties.order">
      <mat-form-field>
        <mat-label>{{'eti.acta.hora-fin' | translate}}</mat-label>
        <input matTimepicker #timepickerFin="matTimepicker" formControlName="horaFin" disableDialogOpenOnClick="true"
          strict="false" okLabel="{{ 'btn.ok' | translate }}" cancelLabel="{{ 'btn.cancel' | translate }}" required
          [readonly]="readonly">
        <button mat-icon-button type="button" matSuffix (click)="timepickerFin.showDialog()" color="primary"
          [disabled]="readonly">
          <mat-icon>access_time</mat-icon>
        </button>
        <mat-error *ngIf="formGroup.controls.horaFin.errors?.required">
          {{'error.required.entity' | translate:msgParamHoraFinEntity}}
        </mat-error>
        <mat-error *ngIf="formGroup.controls.horaFin.errors?.after">
          {{'error.after.hora-fin' | translate}}
        </mat-error>
      </mat-form-field>
    </div>
    <div [fxFlex.sm]="fxFlexPropertiesInline.sm" [fxFlex.md]="fxFlexPropertiesInline.md"
      [fxFlex.gt-md]="fxFlexPropertiesInline.gtMd" [fxFlexOrder]="fxFlexPropertiesInline.order">
      <mat-form-field>
        <mat-label>{{'eti.acta.resumen' | translate}}</mat-label>
        <textarea #resumen matInput formControlName="resumen" id="resumen"
          placeholder="{{'eti.acta.resumen' | translate}}" required [readonly]="readonly" maxlength="4000"></textarea>
        <mat-hint>{{resumen.value.length}} / 4000</mat-hint>
        <mat-error *ngIf="formGroup.controls.resumen.errors?.required">
          {{'error.required.entity' | translate:msgParamResumenEntity}}
        </mat-error>
      </mat-form-field>
    </div>
  </form>
</sgi-fragment>