<sgi-export-dialog [title]="title" [totalRegistrosExportacionExcel]="TOTAL_REG_EXP_EXCEL"
  [limiteRegistrosExportacionExcel]="LIMITE_REG_EXP_EXCEL">
  <form [formGroup]=" formGroup">
    <!-- OutputReportType -->
    <mat-form-field>
      <mat-label>{{'export.type' | translate}}</mat-label>
      <sgi-select-enum formControlName="outputType" required [enumMap]="OUTPUT_REPORT_XLS_TYPE_MAP">
      </sgi-select-enum>
    </mat-form-field>

    <!-- Columns visibility -->
    <div class="row-visibility-header">
      <mat-label>{{'export.columns' | translate}}</mat-label>
      <mat-checkbox color="primary" class="checkbox" formControlName="showTodos" (change)="selectUnselectAll($event)">
        <mat-label>{{'label.todos' | translate}}</mat-label>
      </mat-checkbox>
    </div>

    <div class="row-visibility">
      <div class="columns-visibility">
        <mat-checkbox color="primary" class="checkbox" formControlName="showSolicitudEntidadesConvocantes">
          {{'label.csp.entidades-convocantes' | translate}}
        </mat-checkbox>
        <mat-checkbox color="primary" class="checkbox nested-checkbox" formControlName="showPlanesInvestigacion">
          {{'csp.convocatoria.plan-investigacion' | translate}}
        </mat-checkbox>
        <mat-checkbox color="primary" class="checkbox" formControlName="showSolicitudProyectoFichaGeneral">
          {{'menu.csp.solicitudes.datos-proyecto' | translate}} - {{'label.ficha-general' | translate}}
        </mat-checkbox>
        <mat-checkbox color="primary" class="checkbox" formControlName="showSolicitudProyectoAreasConocimiento">
          {{'menu.csp.solicitudes.datos-proyecto' | translate}} - {{'label.areas-conocimiento' | translate}}
        </mat-checkbox>
      </div>
      <div class="columns-visibility">
        <mat-checkbox color="primary" class="checkbox" formControlName="showSolicitudProyectoClasificaciones">
          {{'menu.csp.solicitudes.datos-proyecto' | translate}} - {{'csp.proyecto-clasificacion' |
          translate:MSG_PARAMS.CARDINALIRY.PLURAL}}
        </mat-checkbox>
        <mat-checkbox color="primary" class="checkbox" formControlName="showSolicitudProyectoEquipo">
          {{'menu.csp.solicitudes.datos-proyecto' | translate}} - {{'csp.proyecto-equipo' | translate}}
        </mat-checkbox>
        <mat-checkbox color="primary" class="checkbox" formControlName="showSolicitudProyectoResponsableEconomico">
          {{'menu.csp.solicitudes.datos-proyecto' | translate}} - {{'csp.proyecto-responsable-economico' | translate}}
        </mat-checkbox>
        <mat-checkbox color="primary" class="checkbox" formControlName="showSolicitudProyectoSocios">
          {{'menu.csp.solicitudes.datos-proyecto' | translate}} - {{'csp.proyecto-socio' |
          translate:MSG_PARAMS.CARDINALIRY.PLURAL}}
        </mat-checkbox>
      </div>
      <div class="columns-visibility">
        <mat-checkbox color="primary" class="checkbox" formControlName="showSolicitudProyectoEntidadesFinanciadoras">
          {{'menu.csp.solicitudes.datos-proyecto' | translate}} - {{'menu.csp.solicitudes.entidades-financiadoras' |
          translate}}
        </mat-checkbox>
        <mat-checkbox color="primary" class="checkbox" formControlName="showSolicitudRrhh">
          {{'menu.csp.solicitud.solicitud-rrhh' | translate}}
        </mat-checkbox>
        <mat-checkbox color="primary" class="checkbox" formControlName="showGruposInvestigacionIp">
          {{'csp.solicitud.export.grupos-investigacion-ip' | translate}}
        </mat-checkbox>
      </div>
    </div>

  </form>
</sgi-export-dialog>