<sgi-export-dialog [title]="title" [totalRegistrosExportacionExcel]="TOTAL_REG_EXP_EXCEL"
  [limiteRegistrosExportacionExcel]="LIMITE_REG_EXP_EXCEL">
  <form [formGroup]=" formGroup">
    <!-- OutputReportType -->
    <mat-form-field>
      <mat-label>{{'export.type' | translate}}</mat-label>
      <sgi-select-enum formControlName="outputType" required [enumMap]="OUTPUT_REPORT_XLS_TYPE_MAP">
      </sgi-select-enum>
    </mat-form-field>

    <!-- Columns visibility -->
    <div class="row-visibility-header">
      <mat-label>{{'export.columns' | translate}}</mat-label>
      <mat-checkbox color="primary" class="checkbox" formControlName="showTodos" (change)="selectUnselectAll($event)">
        <mat-label>{{'label.todos' | translate}}</mat-label>
      </mat-checkbox>
    </div>

    <div class="row-visibility">
      <div class="columns-visibility">
        <mat-checkbox color="primary" class="checkbox" formControlName="showEquiposInvestigacion">
          {{'csp.grupo-equipo.equipo-investigacion' | translate:MSG_PARAMS.CARDINALIRY.SINGULAR}}
        </mat-checkbox>
        <mat-checkbox color="primary" class="checkbox" formControlName="showEnlaces">
          {{'csp.grupo-enlace' | translate:MSG_PARAMS.CARDINALIRY.PLURAL}}
        </mat-checkbox>
      </div>
      <div class="columns-visibility">
        <mat-checkbox color="primary" class="checkbox" formControlName="showResponsablesEconomicos">
          {{'csp.grupo-responsable-economico' | translate:MSG_PARAMS.CARDINALIRY.SINGULAR}}
        </mat-checkbox>
        <mat-checkbox color="primary" class="checkbox" formControlName="showPersonasAutorizadas">
          {{'csp.grupo-persona-autorizada' | translate:MSG_PARAMS.CARDINALIRY.SINGULAR}}
        </mat-checkbox>
      </div>
      <div class="columns-visibility">
        <mat-checkbox color="primary" class="checkbox" formControlName="showLineasInvestigacion">
          {{'csp.grupo-linea-investigacion' | translate:MSG_PARAMS.CARDINALIRY.PLURAL}}
        </mat-checkbox>
      </div>
      <div class="columns-visibility">
        <mat-checkbox color="primary" class="checkbox" formControlName="showEquiposInstrumentales">
          {{'csp.grupo-equipo.equipo-instrumental' | translate:MSG_PARAMS.CARDINALIRY.PLURAL}}
        </mat-checkbox>
      </div>
    </div>
  </form>
</sgi-export-dialog>