<sgi-action [actionService]="actionService">
  <ng-container menu>
    <sgi-action-fragment-menu-item [route]="[MODELO_EJECUCION_ROUTE_NAMES.DATOS_GENERALES]"
      *sgiHasAuthorityForAnyUO="'CSP-ME-E'" [title]="'label.datos-generales' | translate"
      [fragment]="actionService.getFragment(actionService.FRAGMENT.DATOS_GENERALES)">
    </sgi-action-fragment-menu-item>
    <sgi-action-fragment-menu-item [route]="[MODELO_EJECUCION_ROUTE_NAMES.TIPO_FASES]"
      *sgiHasAuthorityForAnyUO="'CSP-ME-E'" [title]="'csp.tipo-fase' | translate:MSG_PARAMS.CARDINALIRY.PLURAL"
      [fragment]="actionService.getFragment(actionService.FRAGMENT.TIPO_FASES)">
    </sgi-action-fragment-menu-item>
    <sgi-action-fragment-menu-item [route]="[MODELO_EJECUCION_ROUTE_NAMES.TIPO_DOCUMENTOS]"
      *sgiHasAuthorityForAnyUO="'CSP-ME-E'" [title]="'csp.tipo-documento' | translate:MSG_PARAMS.CARDINALIRY.PLURAL"
      [fragment]="actionService.getFragment(actionService.FRAGMENT.TIPO_DOCUMENTOS)">
    </sgi-action-fragment-menu-item>
    <sgi-action-fragment-menu-item [route]="[MODELO_EJECUCION_ROUTE_NAMES.TIPO_ENLACES]"
      *sgiHasAuthorityForAnyUO="'CSP-ME-E'" [title]="'csp.tipo-enlace' | translate:MSG_PARAMS.CARDINALIRY.PLURAL"
      [fragment]="actionService.getFragment(actionService.FRAGMENT.TIPO_ENLACES)">
    </sgi-action-fragment-menu-item>
    <sgi-action-fragment-menu-item [route]="[MODELO_EJECUCION_ROUTE_NAMES.TIPO_FINALIDADES]"
      *sgiHasAuthorityForAnyUO="'CSP-ME-E'" [title]="'csp.tipo-finalidad' | translate:MSG_PARAMS.CARDINALIRY.PLURAL"
      [fragment]="actionService.getFragment(actionService.FRAGMENT.TIPO_FINALIDADES)">
    </sgi-action-fragment-menu-item>
    <sgi-action-fragment-menu-item [route]="[MODELO_EJECUCION_ROUTE_NAMES.TIPO_HITOS]"
      *sgiHasAuthorityForAnyUO="'CSP-ME-E'" [title]="'csp.tipo-hito' | translate:MSG_PARAMS.CARDINALIRY.PLURAL"
      [fragment]="actionService.getFragment(actionService.FRAGMENT.TIPO_HITOS)">
    </sgi-action-fragment-menu-item>
    <sgi-action-fragment-menu-item [route]="[MODELO_EJECUCION_ROUTE_NAMES.UNIDAD_GESTION]"
      *sgiHasAuthorityForAnyUO="'CSP-ME-E'" [title]="'csp.unidad-gestion' | translate:MSG_PARAMS.CARDINALIRY.PLURAL"
      [fragment]="actionService.getFragment(actionService.FRAGMENT.UNIDAD_GESTION)">
    </sgi-action-fragment-menu-item>
  </ng-container>
  <ng-container footer>
    <sgi-action-footer [texto]="textoEditar" [actionService]="actionService"></sgi-action-footer>
  </ng-container>
</sgi-action>