<div class="sgi-dialog-header" fxLayout="row" fxLayoutGap="20px">
  <span fxFlexAlign="center" mat-mat-dialog-title role="heading" aria-level="3" fxFlex>{{title}}</span>
  <button fxFlex="nogrow" mat-icon-button mat-dialog-close>
    <mat-icon class="close-icon">close</mat-icon>
  </button>
</div>
<mat-dialog-content>
  <form [formGroup]="formGroup">
    <!-- Tipo de hito -->
    <div [fxLayout.xs]="fxLayoutProperties.xs" [fxLayout]="fxLayoutProperties.layout"
      [fxLayoutGap]="fxLayoutProperties.gap" ngClass.gt-xs="ml-10">
      <mat-form-field>
        <mat-label>{{'csp.hito.tipo' | translate}}</mat-label>
        <sgi-select-tipo-hito formControlName="tipoHito" required [modeloEjecucionId]="data.idModeloEjecucion"
          relation="convocatoria"></sgi-select-tipo-hito>
        <mat-error *ngIf="formGroup.controls.tipoHito.errors?.required">
          {{'error.required.entity' | translate:msgParamTipoEntity}}
        </mat-error>
      </mat-form-field>
    </div>
    <!-- Fecha inicio -->
    <div [fxLayout.xs]="fxLayoutProperties.xs" [fxLayout]="fxLayoutProperties.layout"
      [fxLayoutGap]="fxLayoutProperties.gap" ngClass.gt-xs="ml-10">
      <mat-form-field color="primary">
        <mat-label>{{'csp.hito.fecha'| translate}}</mat-label>
        <input matInput [ngxMatDatetimePicker]="pickerFechaInicio" formControlName="fechaInicio" required>
        <mat-datepicker-toggle class="fechaIcon" matSuffix [for]="pickerFechaInicio"></mat-datepicker-toggle>
        <ngx-mat-datetime-picker #pickerFechaInicio showSeconds="true" [defaultTime]="[0,0,0]">
        </ngx-mat-datetime-picker>
        <mat-error *ngIf="formGroup.controls.fechaInicio.errors?.required">
          {{'error.required.entity' | translate:msgParamFechaInicioEntity}}
        </mat-error>
        <mat-error *ngIf="formGroup.controls.fechaInicio.errors?.notIn">
          {{'msg.csp.hito.fecha.duplicate' | translate}}
        </mat-error>
      </mat-form-field>
    </div>
    <!-- Comentario -->
    <div [fxLayout.xs]="fxLayoutProperties.xs" [fxLayout]="fxLayoutProperties.layout"
      [fxLayoutGap]="fxLayoutProperties.gap" ngClass.gt-xs="ml-10">
      <mat-form-field>
        <mat-label>{{'csp.hito.comentario' | translate}}</mat-label>
        <textarea matInput formControlName="comentario" type="text" placeholder="{{'csp.hito.comentario' | translate}}">
            </textarea>
        <mat-error *ngIf="formGroup.get('comentario').errors?.maxlength">
          {{'error.maxlength.entity' | translate: msgParamComentarioEntity}}
        </mat-error>
      </mat-form-field>
    </div>
    <!-- Aviso -->
    <div [fxLayout]="fxLayoutProperties.layout" class="checkbox">
      <mat-checkbox color="primary" formControlName="aviso">
        {{'csp.hito.aviso' | translate}}</mat-checkbox>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button color="accent" (click)="saveOrUpdate()" mat-raised-button type="submit" *ngIf="data.canEdit">
    <mat-icon class="save-icon">save</mat-icon>{{textSaveOrUpdate | translate}}
  </button>
  <button class="link-cancelar" mat-button type="button" mat-dialog-close>{{'btn.cancel' |
    translate}}</button>
</mat-dialog-actions>