<sgi-fragment title="{{'label.datos-generales' | translate}}">
  <form [formGroup]="formGroup">
    <!-- Nombre -->
    <div [fxLayout]="fxLayoutProperties.layout" [fxLayoutAlign]="fxLayoutProperties.layoutAlign">
      <div [fxFlex.sm]="fxFlexProperties.sm" [fxFlex.md]="fxFlexProperties.md" [fxFlex.gt-md]="fxFlexProperties.gtMd"
        [fxFlexOrder]="fxFlexProperties.order">
        <mat-form-field fxFill>
          <mat-label>{{'csp.modelo-ejecucion.nombre' | translate}}</mat-label>
          <input matInput formControlName="nombre" type="text" id="nombre"
            placeholder="{{'csp.modelo-ejecucion.nombre' | translate}}" required>
          <mat-error *ngIf="formGroup.controls.nombre.errors?.required">
            {{'error.required.entity' | translate:msgParamNombreEntity}}
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <!-- Descripción -->
    <div [fxLayout]="fxLayoutProperties.layout" [fxLayoutAlign]="fxLayoutProperties.layoutAlign">
      <div [fxFlex.sm]="fxFlexProperties.sm" [fxFlex.md]="fxFlexProperties.md" [fxFlex.gt-md]="fxFlexProperties.gtMd"
        [fxFlexOrder]="fxFlexProperties.order">
        <mat-form-field fxFill>
          <mat-label>{{'csp.modelo-ejecucion.descripcion' | translate}}</mat-label>
          <textarea matInput formControlName="descripcion" id="descripcion"
            placeholder="{{'csp.modelo-ejecucion.descripcion' | translate}}"></textarea>
        </mat-form-field>
      </div>
    </div>

    <div [fxLayout]="fxLayoutProperties.layout" [fxLayoutAlign]="fxLayoutProperties.layoutAlign">
      <div [fxFlex.sm]="fxFlexProperties.sm" [fxFlex.md]="fxFlexProperties.md" [fxFlex.gt-md]="fxFlexProperties.gtMd"
        [fxFlexOrder]="fxFlexProperties.order">
        {{'csp.modelo-ejecucion.caracteristicas' | translate}}
      </div>
    </div>

    <!-- Externo -->
    <div [fxLayout]="fxLayoutProperties.layout" [fxLayoutAlign]="fxLayoutProperties.layoutAlign">
      <div [fxFlex.sm]="fxFlexProperties.sm" [fxFlex.md]="fxFlexProperties.md" [fxFlex.gt-md]="fxFlexProperties.gtMd"
        [fxFlexOrder]="fxFlexProperties.order">
        <sgi-field-info matSuffix [visible]="formPart.hasProyectosAsociados"
          message="{{'info.csp.modelo-ejecucion-proyecto.tooltip' | translate}}">
        </sgi-field-info>
        <mat-checkbox formControlName="externo">
          {{'csp.modelo-ejecucion.externo' | translate}}
        </mat-checkbox>
      </div>
    </div>

    <!-- Contrato -->
    <div [fxLayout]="fxLayoutProperties.layout" [fxLayoutAlign]="fxLayoutProperties.layoutAlign">
      <div [fxFlex.sm]="fxFlexProperties.sm" [fxFlex.md]="fxFlexProperties.md" [fxFlex.gt-md]="fxFlexProperties.gtMd"
        [fxFlexOrder]="fxFlexProperties.order">
        <sgi-field-info matSuffix [visible]="formPart.hasProyectosAsociados"
          message="{{'info.csp.modelo-ejecucion-proyecto.tooltip' | translate}}">
        </sgi-field-info>
        <mat-checkbox formControlName="contrato">
          {{'csp.modelo-ejecucion.contrato' | translate}}
        </mat-checkbox>
      </div>
    </div>
  </form>
</sgi-fragment>