@import "colors.scss";

:host {
  .formulario {
    padding: 10px 20px 10px 20px;
    .col {
      padding-right: 15px;
    }
    .buscador {
      padding-bottom: 15px;
    }
    .buttons-final {
      padding: 10px 0px 10px 0px;
      .filter-button {
        button {
          margin-right: 15px;
        }
      }
    }
  }

  .separation-button {
    padding-top: 30px;
    padding-bottom: 10px;
  }

  #boton-demo {
    margin-bottom: 10px;
    margin-top: 15px;
    float: right;
  }
}
