<section class="memoria-documentacion">
  <h2>{{'eti.documentacion' | translate}}</h2>
  <table class="mat-elevation-z8 table-acta" mat-table [dataSource]="dataSourceDocumentoMemoria" matSort
    matSortActive="tipoDocumento" matSortDirection="asc" matSortDisableClear #sortDocumentacionMemoria="matSort">

    <!-- Tipo documento Column -->
    <ng-container matColumnDef="tipoDocumento">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'eti.memoria.documento.tipo' | translate}}
      </th>
      <td mat-cell *matCellDef="let wrapper"> {{wrapper.value.tipoDocumento.nombre}} </td>
    </ng-container>

    <!-- Nombre Column -->
    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'eti.memoria.documento.nombre' | translate}}
      </th>
      <td mat-cell *matCellDef="let wrapper"> {{wrapper.value.nombre}} </td>
    </ng-container>

    <!-- Acciones Column -->
    <ng-container matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef> {{'label.actions' | translate}} </th>
      <td mat-cell *matCellDef="let wrapper;let i=index;">
        <button mat-button matTooltip="{{'btn.show.file' | translate}}" (click)="downloadDocumentacion(wrapper.value)">
          <mat-icon color="primary">picture_as_pdf</mat-icon>
        </button>
        <ng-container *ngIf="isEditAllowed(TIPO_DOCUMENTACION.INICIAL)">
          <button mat-button matTooltip="{{'btn.delete' | translate}}"
            (click)="deleteDocumentacion(TIPO_DOCUMENTACION.INICIAL, wrapper)">
            <mat-icon color="warn">highlight_off</mat-icon>
          </button>
        </ng-container>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumnsDocumentoMemoria"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumnsDocumentoMemoria;"></tr>

  </table>

  <mat-paginator #paginatorDocumentacionMemoria [pageSizeOptions]="elementosPaginaDocumentoMemoria"
    showFirstLastButtons>
  </mat-paginator>


  <!-- Botón añadir documentación -->
  <div class="separation-button">
    <ng-container *ngIf="isEditAllowed(TIPO_DOCUMENTACION.INICIAL)">
      <button color="three" mat-raised-button (click)="openModalDocumentacion(TIPO_DOCUMENTACION.INICIAL)">
        <mat-icon color="accent">add_circle</mat-icon>
        {{'btn.add.entity' | translate:msgParamDocumentoEntity}}
      </button>
    </ng-container>
  </div>


  <div class="separation-button">
    <h2>{{'title.eti.memoria.documentacion.seguimiento-anual' | translate}}</h2>
    <ng-container *ngIf="formularioComite === FORMULARIO.M10">
      <span>{{'eti.memoria.documentacion.seguimiento-anual.formulario.M10' | translate}}</span>
    </ng-container>
    <ng-container *ngIf="formularioComite === FORMULARIO.M20">
      <span>{{'eti.memoria.documentacion.seguimiento-anual.formulario.M20' | translate}}</span>
    </ng-container>
    <ng-container *ngIf="formularioComite === FORMULARIO.M30">
      <span>{{'eti.memoria.documentacion.seguimiento-anual.formulario.M30' | translate}}</span>
    </ng-container>
    <div class="separation-button">
      <table class="mat-elevation-z8 table-acta" mat-table [dataSource]="dataSourceSeguimientoAnual" matSort
        matSortActive="nombre" matSortDirection="asc" matSortDisableClear #sortSeguimientoAnual="matSort">

        <!-- Nombre Column -->
        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'eti.memoria.documento.nombre' | translate}}
          </th>
          <td mat-cell *matCellDef="let wrapper"> {{wrapper.value.nombre}} </td>
        </ng-container>

        <!-- Acciones Column -->
        <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef> {{'label.actions' | translate}} </th>
          <td mat-cell *matCellDef="let wrapper;let i=index;">

            <button mat-button matTooltip="{{'btn.show.file' | translate}}"
              (click)="downloadDocumentacion(wrapper.value)">
              <mat-icon color="primary">picture_as_pdf</mat-icon>
            </button>

            <ng-container *ngIf="isEditAllowed(TIPO_DOCUMENTACION.SEGUIMIENTO_ANUAL)">
              <button mat-button matTooltip="{{'btn.delete' | translate}}"
                (click)="deleteDocumentacion(TIPO_DOCUMENTACION.SEGUIMIENTO_ANUAL, wrapper)">
                <mat-icon color="warn">highlight_off</mat-icon>
              </button>
            </ng-container>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumnsSeguimientoAnual"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsSeguimientoAnual;"></tr>

      </table>

      <mat-paginator #paginatorSeguimientoAnual [pageSizeOptions]="elementosPaginaSeguimientoAnual"
        showFirstLastButtons>
      </mat-paginator>
    </div>
    <!-- Botón añadir documentación -->
    <div class="separation-button">
      <ng-container *ngIf="isEditAllowed(TIPO_DOCUMENTACION.SEGUIMIENTO_ANUAL)">
        <button color="three" mat-raised-button (click)="openModalDocumentacion(TIPO_DOCUMENTACION.SEGUIMIENTO_ANUAL)">
          <mat-icon color="accent">add_circle</mat-icon>
          {{'btn.add.entity' | translate:msgParamDocumentoEntity}}
        </button>
      </ng-container>
    </div>


  </div>

  <div class="separation-button">
    <h2>{{'title.eti.memoria.documentacion.seguimiento-final' | translate}}</h2>
    <table class="mat-elevation-z8 table-acta" mat-table [dataSource]="dataSourceSeguimientoFinal" matSort
      matSortActive="nombre" matSortDirection="asc" matSortDisableClear #sortSeguimientoFinal="matSort">

      <!-- Nombre Column -->
      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'eti.memoria.documento.nombre' | translate}}
        </th>
        <td mat-cell *matCellDef="let wrapper"> {{wrapper.value.nombre}} </td>
      </ng-container>

      <!-- Acciones Column -->
      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef> {{'label.actions' | translate}} </th>
        <td mat-cell *matCellDef="let wrapper;let i=index;">

          <button mat-button matTooltip="{{'btn.show.file' | translate}}"
            (click)="downloadDocumentacion(wrapper.value)">
            <mat-icon color="primary">picture_as_pdf</mat-icon>
          </button>

          <ng-container *ngIf="isEditAllowed(TIPO_DOCUMENTACION.SEGUIMIENTO_FINAL)">
            <button mat-button matTooltip="{{'btn.delete' | translate}}"
              (click)="deleteDocumentacion(TIPO_DOCUMENTACION.SEGUIMIENTO_FINAL, wrapper)">
              <mat-icon color="warn">highlight_off</mat-icon>
            </button>
          </ng-container>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumnsSeguimientoFinal"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumnsSeguimientoFinal;"></tr>

    </table>

    <mat-paginator #paginatorSeguimientoFinal [pageSizeOptions]="elementosPaginaSeguimientoFinal" showFirstLastButtons>
    </mat-paginator>

    <div class="separation-button">
      <!-- Botón añadir documentación -->
      <ng-container *ngIf="isEditAllowed(TIPO_DOCUMENTACION.SEGUIMIENTO_FINAL)">
        <button color="three" mat-raised-button (click)="openModalDocumentacion(TIPO_DOCUMENTACION.SEGUIMIENTO_FINAL)">
          <mat-icon color="accent">add_circle</mat-icon>
          {{'btn.add.entity' | translate:msgParamDocumentoEntity}}
        </button>
      </ng-container>
    </div>

  </div>



  <div class="separation-button">
    <h2>{{'title.eti.memoria.documentacion.retrospectiva' | translate}}</h2>
    <table class="mat-elevation-z8 table-acta" mat-table [dataSource]="dataSourceRetrospectiva" matSort
      matSortActive="nombre" matSortDirection="asc" matSortDisableClear #sortRetrospectiva="matSort">

      <!-- Nombre Column -->
      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'eti.memoria.documento.nombre' | translate}}
        </th>
        <td mat-cell *matCellDef="let wrapper"> {{wrapper.value.nombre}} </td>
      </ng-container>

      <!-- Acciones Column -->
      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef> {{'label.actions' | translate}} </th>
        <td mat-cell *matCellDef="let wrapper;let i=index;">
          <button mat-button matTooltip="{{'btn.show.file' | translate}}"
            (click)="downloadDocumentacion(wrapper.value)">
            <mat-icon color="primary">picture_as_pdf</mat-icon>
          </button>
          <ng-container *ngIf="isEditAllowed(TIPO_DOCUMENTACION.RETROSPECTIVA)">
            <button mat-button matTooltip="{{'btn.delete' | translate}}"
              (click)="deleteDocumentacion(TIPO_DOCUMENTACION.RETROSPECTIVA, wrapper)">
              <mat-icon color="warn">highlight_off</mat-icon>
            </button>
          </ng-container>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumnsRetrospectiva"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumnsRetrospectiva;"></tr>

    </table>

    <mat-paginator #paginatorRetrospectiva [pageSizeOptions]="elementosPaginaRetrospectiva" showFirstLastButtons>
    </mat-paginator>

    <div class="separation-button">
      <!-- Botón añadir documentación -->
      <ng-container *ngIf="isEditAllowed(TIPO_DOCUMENTACION.RETROSPECTIVA)">
        <button color="three" mat-raised-button (click)="openModalDocumentacion(TIPO_DOCUMENTACION.RETROSPECTIVA)">
          <mat-icon color="accent">add_circle</mat-icon>
          {{'btn.add.entity' | translate:msgParamDocumentoEntity}}
        </button>
      </ng-container>
    </div>


  </div>
</section>