<div class="sgi-dialog-header" fxLayout="row" fxLayoutGap="20px">
  <span fxFlexAlign="center" mat-mat-dialog-title role="heading" aria-level="3" fxFlex>{{title}}</span>
  <button fxFlex="nogrow" mat-icon-button mat-dialog-close>
    <mat-icon class="close-icon">close</mat-icon>
  </button>
</div>
<mat-dialog-content>

  <form [formGroup]="formGroup" fxFill fxLayout="row wrap" fxLayoutGap="10px">
    <!-- Nombre -->
    <div fxFlex="calc(50 - 10px)">
      <mat-form-field>
        <mat-label>{{'pii.tipo-proteccion.nombre' | translate}}</mat-label>
        <input matInput formControlName="nombre" type="text" id="nombre"
          placeholder="{{'pii.tipo-proteccion.nombre' | translate}}" required cdkFocusInitial>
        <mat-error *ngIf="formGroup.controls.nombre.errors?.required">
          {{'error.required.entity' | translate:msgParamNombreEntity}}
        </mat-error>
        <mat-error *ngIf="formGroup.controls.nombre.errors?.maxlength">
          {{'error.maxlength.entity' | translate:msgParamNombreEntity}}
        </mat-error>
      </mat-form-field>
    </div>
    <!-- Descripción -->
    <div fxFlex="100">
      <mat-form-field>
        <mat-label>{{'pii.tipo-proteccion.descripcion' | translate}}</mat-label>
        <textarea matInput formControlName="descripcion" id="descripcion"
          placeholder="{{'pii.tipo-proteccion.descripcion' | translate}}" required></textarea>
        <mat-error *ngIf="formGroup.controls.descripcion.errors?.required">
          {{'error.required.entity' | translate: msgParamDescripcionEntity}}
        </mat-error>
        <mat-error *ngIf="formGroup.controls.descripcion.errors?.maxlength">
          {{'error.maxlength.entity' | translate:msgParamDescripcionEntity}}
        </mat-error>
      </mat-form-field>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button color="accent" (click)="saveOrUpdate()" mat-raised-button type="submit" [disabled]="!formGroup.valid">
    <mat-icon class="save-icon">save</mat-icon>{{textSaveOrUpdate | translate}}
  </button>
  <button class="link-cancelar" mat-button type="button" mat-dialog-close>{{'btn.cancel' |
    translate}}</button>
</mat-dialog-actions>