<sgi-fragment title="{{'menu.csp.proyectos.configuracion-economica' | translate}} - {{'menu.csp.proyectos.configuracion-economica.consulta-presupuesto' |
    translate}}">
  <div fxLayout="column" class="mat-elevation-z4">
    <form [formGroup]="filterForm" fxLayout="row" fxLayoutGap="10px" class="busqueda">

      <!-- Listado de anualidades -->
      <mat-form-field fxFlex="25%">
        <mat-label>{{'csp.proyecto-consulta-presupuesto.label.listado-anualidades' | translate}}</mat-label>
        <sgi-select-entity formControlName="anualidad" [options]="formPart.anualidades$ | async"
          [displayWith]="displayerAnualidad"></sgi-select-entity>
      </mat-form-field>

      <!-- Listado de aplicaciones presupuestarias -->
      <mat-form-field fxFlex="25%">
        <mat-label>{{'csp.proyecto-consulta-presupuesto.label.listado-aplicaciones-presupuestarias' | translate}}
        </mat-label>
        <sgi-select-entity formControlName="aplicacion" [options]="formPart.aplicaciones$ | async"
          [displayWith]="displayerAplicacion"></sgi-select-entity>
      </mat-form-field>

      <!-- Listado de conceptos de gasto -->
      <mat-form-field fxFlex="25%">
        <mat-label>{{'csp.proyecto-consulta-presupuesto.label.listado-concepto-gasto' | translate}}
        </mat-label>
        <sgi-select-entity formControlName="concepto" [options]="formPart.conceptos$ | async"
          [displayWith]="displayerConcepto"></sgi-select-entity>
      </mat-form-field>

      <div class="buttons-final" fxFlex="25%" fxLayoutAlign="end">
        <button mat-raised-button color="primary" (click)="filterTable()">
          <mat-icon>search</mat-icon> {{ 'btn.search' | translate }}
        </button>
      </div>

    </form>

    <div fxLayout="column">
      <mat-table [dataSource]="dataSource" multiTemplateDataRows>
        <!-- Anualidad -->
        <ng-container matColumnDef="anualidad">
          <mat-header-cell *matHeaderCellDef>{{'csp.proyecto-consulta-presupuesto.label.anualidad' | translate}}
          </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <mat-icon color="primary" *ngIf="element.level === 0 && element.childs.length > 0"
              (click)="element.expanded ? element.collapse() : element.expand()">
              {{element.expanded ? 'expand_more' : 'chevron_right'}}
            </mat-icon>
            {{element.level === 0 ? element.item.proyectoAnualidad.anio : '' }}
            {{element.level === 0 && element.item.proyectoAnualidad.anio == null ? msgParamAnualidadGenerica : ''}}
          </mat-cell>
        </ng-container>

        <!-- Concepto de Gasto -->
        <ng-container matColumnDef="conceptoGasto">
          <mat-header-cell *matHeaderCellDef>{{'csp.proyecto-consulta-presupuesto.label.concepto-gasto' | translate}}
          </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <mat-icon color="primary" *ngIf="element.level === 1 && element.childs.length > 0"
              (click)="element.expanded ? element.collapse() : element.expand()">
              {{element.expanded ? 'expand_more' : 'chevron_right'}}
            </mat-icon>
            {{element.level === 1 ? element.item.conceptoGasto?.nombre: ''}}
          </mat-cell>
        </ng-container>

        <!-- Aplicación presupuestaria -->
        <ng-container matColumnDef="aplicacionPresupuestaria">
          <mat-header-cell *matHeaderCellDef>{{'csp.proyecto-consulta-presupuesto.label.aplicacion-presupuestaria' |
            translate}}
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{!!!element.childs.length ?
            element.item.proyectoPartida?.codigo: ''}}</mat-cell>
        </ng-container>

        <!-- Código económico -->
        <ng-container matColumnDef="codigoEconomico">
          <mat-header-cell *matHeaderCellDef>{{'csp.proyecto-consulta-presupuesto.label.codigo-economico' |
            translate}}
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{ element.item.codigoEconomico?.id }} {{ element.item.codigoEconomico ?
            '-' : '' }} {{
            element.item.codigoEconomico?.nombre }}</mat-cell>
        </ng-container>

        <!-- Importe presupuesto -->
        <ng-container matColumnDef="importePresupuesto">
          <mat-header-cell *matHeaderCellDef>{{'csp.proyecto-consulta-presupuesto.label.importe-presupuesto' |
            translate}}
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{ element.item.importePresupuesto | number:'1.2-2'}}</mat-cell>
        </ng-container>

        <!-- Importe concedido -->
        <ng-container matColumnDef="importeConcedido">
          <mat-header-cell *matHeaderCellDef>{{'csp.proyecto-consulta-presupuesto.label.importe-concedido' |
            translate}}
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.item.importeConcedido | number:'1.2-2'}}
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"
          [class.expanded-row]="!!row.parent && !!!row.parent?.expanded">
        </mat-row>
      </mat-table>
      <button mat-button fxFlexAlign="start" matTooltip="{{'btn.export' | translate}}" (click)="openExportModal()"
        [disabled]="!dataSource.data.length">
        <mat-icon color="primary">insert_chart_outlined</mat-icon>
      </button>
    </div>
  </div>
</sgi-fragment>