<sgi-root>
  <!-- ETICA -->
  <sgi-menu-group title="{{'menu.principal.inv.etica' | translate}}" icon="list_alt">
    <sgi-menu-subitem *sgiHasAuthorityForAnyUO="'ETI-PEV-INV-VR'" [route]="[INV_ROUTE_NAMES.PETICIONES_EVALUACION]"
      title="{{'menu.principal.inv.peticionesEvaluacion' | translate}}">
    </sgi-menu-subitem>
    <sgi-menu-subitem *sgiHasAuthorityForAnyUO="'ETI-PEV-INV-VR'" [route]="[INV_ROUTE_NAMES.MEMORIAS]"
      title="{{'menu.principal.inv.memorias' | translate}}">
    </sgi-menu-subitem>
    <sgi-menu-subitem *sgiHasAuthorityForAnyUO="'ETI-CHK-E'" [route]="[INV_ROUTE_NAMES.CHECKLIST]"
      title="{{'menu.principal.inv.checklist' | translate}}">
    </sgi-menu-subitem>
    <ng-container *ngIf="showEvaluaciones">
      <sgi-menu-subitem *sgiHasAuthorityForAnyUO="'ETI-EVC-INV-VR'" [route]="[INV_ROUTE_NAMES.EVALUACIONES]"
        title="{{'menu.principal.inv.evaluaciones' | translate}}">
      </sgi-menu-subitem>
    </ng-container>
    <ng-container *ngIf="showSeguimientos">
      <sgi-menu-subitem *sgiHasAuthorityForAnyUO="'ETI-EVC-INV-VR'" [route]="[INV_ROUTE_NAMES.SEGUIMIENTOS]"
        title="{{'menu.principal.inv.seguimientos' | translate}}">
      </sgi-menu-subitem>
    </ng-container>
    <sgi-menu-subitem *sgiHasAnyAuthorityForAnyUO="['ETI-ACT-INV-ER', 'ETI-ACT-ER']" [route]="[INV_ROUTE_NAMES.ACTAS]"
      title="{{'menu.principal.inv.actas' | translate}}">
    </sgi-menu-subitem>
  </sgi-menu-group>

  <!-- CSP -->
  <sgi-menu-group title="{{'menu.principal.inv.csp' | translate}}" icon="assignment_late">
    <sgi-menu-subitem *sgiHasAuthorityForAnyUO="'CSP-CON-INV-V'" [route]="[INV_ROUTE_NAMES.CONVOCATORIAS]"
      title="{{'menu.principal.inv.convocatoria' | translate}}">
    </sgi-menu-subitem>
    <sgi-menu-subitem *sgiHasAnyAuthorityForAnyUO="['CSP-SOL-INV-ER', 'CSP-SOL-INV-BR']"
      [route]="[INV_ROUTE_NAMES.SOLICITUDES]" title="{{'csp.solicitud' | translate:MSG_PARAMS.CARDINALIRY.PLURAL}}">
    </sgi-menu-subitem>
    <sgi-menu-subitem title="{{'csp.proyecto' | translate:MSG_PARAMS.CARDINALIRY.PLURAL}}">
    </sgi-menu-subitem>
    <sgi-menu-subitem title="{{'menu.principal.inv.ejecucionEconomica' | translate}}">
    </sgi-menu-subitem>
    <sgi-menu-subitem title="{{'menu.principal.inv.timesheet' | translate}}">
    </sgi-menu-subitem>
    <sgi-menu-subitem title="{{'menu.principal.inv.GRUPO' | translate}}">
    </sgi-menu-subitem>
  </sgi-menu-group>
</sgi-root>