<sgi-dialog-header [title]="title"></sgi-dialog-header>
<sgi-dialog-content>
  <form [formGroup]="formGroup">
    <!-- Tipo de documento -->
    <div fxLayout="row" *ngIf="data.tipoEvaluacion == TIPO_EVALUACION.MEMORIA && data.showTipoDocumentos">
      <mat-form-field>
        <mat-label>{{'eti.memoria.documento.tipo' | translate}}</mat-label>
        <sgi-select-entity formControlName="tipoDocumento" required [options]="tiposDocumento$ | async">
        </sgi-select-entity>
        <mat-error *ngIf="formGroup.controls.tipoDocumento.errors?.required">
          {{'error.required.entity' | translate:msgParamTipoEntity}}
        </mat-error>
      </mat-form-field>
    </div>
    <div fxLayout="row">
      <mat-form-field>
        <mat-label>{{'eti.memoria.documento.nombre' | translate}}</mat-label>
        <input matInput type="text" formControlName="nombre" required>
        <mat-error *ngIf="formGroup.controls.nombre.errors?.required">
          {{'error.required.entity' | translate:msgParamNombreEntity}}
        </mat-error>
      </mat-form-field>
    </div>
    <!-- File -->
    <div fxLayout="row">
      <mat-form-field>
        <mat-label>{{'eti.memoria.documento.fichero' | translate}}</mat-label>
        <sgi-file-upload #uploader formControlName="fichero" required autoUpload="false"
          (uploadEventChange)="onUploadProgress($event)">
        </sgi-file-upload>
        <mat-error *ngIf="formGroup.controls.fichero.errors?.required">
          {{'error.required.entity' | translate:msgParamFicheroEntity}}
        </mat-error>
      </mat-form-field>
    </div>

  </form>
</sgi-dialog-content>
<mat-dialog-actions>
  <button color="accent" (click)="doAction()" [disabled]="this.actionDisabled" mat-raised-button type="submit">
    <mat-icon class="save-icon">save</mat-icon>{{'btn.add' |
    translate}}
  </button>
  <button class="link-cancelar" mat-button type="button" mat-dialog-close>{{'btn.cancel' |
    translate}}</button>
</mat-dialog-actions>