@import "colors.scss";

:host ::ng-deep {
  formly-field-mat-multicheckbox mat-checkbox {
    display: block;
  }

  formly-validation-message {
    color: map-get($palette-warn, $warn-color);
    font-size: 75%;
  }
}

.tbl-label {
  font-weight: 600;
  color: map-get($sgi-custom-colors, label);
}