:host {

  .mat-cell.mat-column-responsables,
  .mat-cell.mat-column-entidadesFinanciadoras {
    max-width: 15vw;
    overflow: hidden;
    padding-right: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .table-section {
    padding-top: 15px;
  }

  .export-button {
    margin-top: 10px;
  }
}