<sgi-menu-content>
  <!-- Buscador de solicitudes -->
  <div [ngClass]="busquedaAvanzada ? 'mat-elevation-z4 caja-busqueda-avanzada' : 'mat-elevation-z4'">
    <form [ngClass]="busquedaAvanzada ? '' : 'formulario'" [formGroup]="formGroup" fxLayout="column">

      <div fxFlex fxLayout="row" fxLayoutGap="10px">
        <!-- Convocatoria -->
        <mat-form-field fxFlex="33%">
          <mat-label>{{'csp.solicitud.convocatoria' | translate}}</mat-label>
          <sgi-select-convocatoria [authorities]="['CSP-PRO-V', ' CSP-PRO-E', 'CSP-PRO-B', 'CSP-PRO-R']"
            placeholder="{{'csp.solicitud.convocatoria' | translate}}" formControlName="convocatoria" extended="false">
          </sgi-select-convocatoria>
        </mat-form-field>


        <!-- Estado solicitud -->
        <mat-form-field fxFlex="33%">
          <mat-label>{{'csp.solicitud.estado-solicitud' | translate}}</mat-label>
          <mat-select matNativeControl formControlName="estadoSolicitud">
            <mat-option [value]="undefined"></mat-option>
            <mat-option *ngFor="let estado of ESTADO_MAP | keyvalue" [value]="estado.key">
              {{ estado.value | translate}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <!-- Título Solicitud -->
        <mat-form-field fxFlex="33%">
          <mat-label>{{'csp.solicitud.titulo-listado' | translate}}</mat-label>
          <input matInput formControlName="tituloSolicitud" type="text" id="tituloSolicitud"
            placeholder="{{'csp.solicitud.titulo-listado' | translate}}">
        </mat-form-field>
      </div>


      <!-- Acciones -->
      <div class="buttons-final" *ngIf="!busquedaAvanzada">
        <div class="col filter-button">
          <button color="primary" aria-label="Center Align" mat-raised-button (click)="onSearch()">
            <mat-icon>search</mat-icon> {{'btn.search'| translate}}
          </button>
          <button class="link-busqueda underline" aria-label="Center Align" mat-button
            (click)="toggleBusquedaAvanzada()">
            {{'btn.search.advanced'| translate}}
          </button>
          <button color="warn" aria-label="Center Align" (click)="onClearFilters()" mat-button>{{'btn.clean'|
            translate}}
          </button>
        </div>
      </div>
    </form>

    <form *ngIf="busquedaAvanzada" [ngClass]="busquedaAvanzada ? 'busqueda-avanzada' : ''" [formGroup]="formGroup"
      fxLayout="column">
      <div fxFlex fxLayout="row" fxLayoutGap="10px">
        <!-- solicitante Investigador -->
        <mat-form-field fxFlex="33%">
          <mat-label>{{'csp.solicitud.solicitante' | translate}}</mat-label>
          <sgi-select-persona placeholder="{{'csp.solicitud.solicitante' | translate}}" formControlName="solicitante"
            [tipoColectivo]="tipoColectivoSolicitante">
          </sgi-select-persona>
        </mat-form-field>
      </div>

      <div fxFlex fxLayout="row" fxLayoutGap="10px">
        <!-- plazoAbierto -->
        <mat-checkbox color="primary" formControlName="plazoAbierto">{{'csp.solicitud.plazo.abierto' | translate}}
        </mat-checkbox>
      </div>

      <div class="checkplazo" fxFlex fxLayout="row" fxLayoutGap="10px" *ngIf="formGroup.controls.plazoAbierto.value">
        {{'csp.solicitud.plazo-presentacion' | translate}}
      </div>
      <div fxFlex fxLayout="row" fxLayoutGap="10px" *ngIf="formGroup.controls.plazoAbierto.value">
        <!-- fechaInicioDesde -->
        <mat-form-field class=" input-form" fxFlex="25%">
          <mat-label>{{'csp.solicitud.fecha-inicio-desde' | translate}}</mat-label>
          <input matInput formControlName="fechaInicioDesde" [ngxMatDatetimePicker]="fechaInicioDesde">
          <mat-datepicker-toggle matSuffix [for]="fechaInicioDesde"></mat-datepicker-toggle>
          <ngx-mat-datetime-picker #fechaInicioDesde showSeconds="true" [defaultTime]="[0,0,0]">
          </ngx-mat-datetime-picker>
        </mat-form-field>

        <!-- fechaInicioHasta -->
        <mat-form-field class="input-form" fxFlex="25%">
          <mat-label>{{'csp.solicitud.fecha-inicio-hasta' | translate}}</mat-label>
          <input matInput formControlName="fechaInicioHasta" [ngxMatDatetimePicker]="fechaInicioHasta">
          <mat-datepicker-toggle matSuffix [for]="fechaInicioHasta"></mat-datepicker-toggle>
          <ngx-mat-datetime-picker #fechaInicioHasta showSeconds="true" [defaultTime]="[23,59,59]">
          </ngx-mat-datetime-picker>
        </mat-form-field>

        <!-- fechaFinDesde -->
        <mat-form-field class="input-form" fxFlex="25%">
          <mat-label>{{'csp.solicitud.fecha-fin-desde' | translate}}</mat-label>
          <input matInput formControlName="fechaFinDesde" [ngxMatDatetimePicker]="fechaFinDesde">
          <mat-datepicker-toggle matSuffix [for]="fechaFinDesde"></mat-datepicker-toggle>
          <ngx-mat-datetime-picker #fechaFinDesde showSeconds="true" [defaultTime]="[0,0,0]">
          </ngx-mat-datetime-picker>
        </mat-form-field>

        <!-- fechaFinHasta -->
        <mat-form-field class="input-form" fxFlex="25%">
          <mat-label>{{'csp.solicitud.fecha-fin-hasta' | translate}}</mat-label>
          <input matInput formControlName="fechaFinHasta" [ngxMatDatetimePicker]="fechaFinHasta">
          <mat-datepicker-toggle matSuffix [for]="fechaFinHasta"></mat-datepicker-toggle>
          <ngx-mat-datetime-picker #fechaFinHasta showSeconds="true" [defaultTime]="[23,59,59]">
          </ngx-mat-datetime-picker>
        </mat-form-field>
      </div>

      <div fxFlex fxLayout="row" fxLayoutGap="10px">
        <!-- Entidad convocantes -->
        <mat-form-field class="input-form" fxFlex="33%">
          <mat-label>{{'title.csp.solicitud-entidad-convocante' | translate}}</mat-label>
          <sgi-select-empresa placeholder="{{'title.csp.solicitud-entidad-convocante' | translate}}"
            formControlName="entidadConvocante">
          </sgi-select-empresa>
        </mat-form-field>

        <!-- Plan de investigacion -->
        <mat-form-field class="input-form" fxFlex="33%">
          <mat-label>{{'csp.solicitud.plan-investigacion' | translate}}</mat-label>
          <sgi-select-entity formControlName="planInvestigacion" [options]="planInvestigaciones$ | async">
          </sgi-select-entity>
        </mat-form-field>

      </div>

      <div fxFlex fxLayout="row" fxLayoutGap="10px">

        <!-- Entidad financiadora -->
        <mat-form-field class="input-form" fxFlex="33%">
          <mat-label>{{'csp.solicitud-entidad-financiadora' | translate:MSG_PARAMS.CARDINALIRY.SINGULAR}}
          </mat-label>
          <sgi-select-empresa
            placeholder="{{'csp.solicitud-entidad-financiadora' | translate:MSG_PARAMS.CARDINALIRY.SINGULAR}}"
            formControlName="entidadFinanciadora">
          </sgi-select-empresa>
        </mat-form-field>

        <!-- Fuente financiacion -->
        <mat-form-field class="input-form" fxFlex="33%">
          <mat-label>{{'csp.solicitud.fuente-financiacion' | translate}}</mat-label>
          <sgi-select-fuente-financiacion formControlName="fuenteFinanciacion" extended="false">
          </sgi-select-fuente-financiacion>
        </mat-form-field>
      </div>
      <div class="fieldset-form" fxFlex="100%">
        {{'csp.solicitud.fecha-publicacion-convocatoria' | translate}}
      </div>
      <div fxFlex fxLayout="row" fxLayoutGap="10px">
        <!-- fechaPublicacionConvocatoriaDesde-->
        <mat-form-field fxFlex="16%">
          <mat-label>{{'csp.solicitud.fecha-publicacion-convocatoria-desde' | translate}}</mat-label>
          <input matInput formControlName="fechaPublicacionConvocatoriaDesde"
            [matDatepicker]="pickerFechaPublicacionConvocatoriaDesde"
            [placeholder]="'csp.solicitud.fecha-publicacion-convocatoria-desde' | translate">
          <mat-datepicker-toggle matSuffix [for]="pickerFechaPublicacionConvocatoriaDesde"></mat-datepicker-toggle>
          <mat-datepicker #pickerFechaPublicacionConvocatoriaDesde>
          </mat-datepicker>
        </mat-form-field>

        <!-- fechaPublicacionConvocatoriaHasta-->
        <mat-form-field sgiEndDate fxFlex="16%">
          <mat-label>{{'csp.solicitud.fecha-publicacion-convocatoria-hasta' | translate}}</mat-label>
          <input matInput formControlName="fechaPublicacionConvocatoriaHasta"
            [matDatepicker]="pickerFechaPublicacionConvocatoriaHasta"
            [placeholder]="'csp.solicitud.fecha-publicacion-convocatoria-hasta' | translate">
          <mat-datepicker-toggle matSuffix [for]="pickerFechaPublicacionConvocatoriaHasta"></mat-datepicker-toggle>
          <mat-datepicker #pickerFechaPublicacionConvocatoriaHasta>
          </mat-datepicker>
        </mat-form-field>
        <!-- activo -->
        <ng-container *sgiHasAuthorityForAnyUO="'CSP-SOL-R'">
          <mat-form-field fxFlex="6%">
            <mat-label>{{'label.activo' | translate}}</mat-label>
            <mat-select matNativeControl formControlName="activo">
              <mat-option value="{{undefined}}">{{'label.todos' | translate}}</mat-option>
              <mat-option value="{{true}}">{{'label.si' | translate}}</mat-option>
              <mat-option value="{{false}}">{{'label.no' | translate}}</mat-option>
            </mat-select>
          </mat-form-field>
        </ng-container>
      </div>

      <!-- Palabras clave -->
      <div fxFlex fxLayout="row" fxLayoutGap="10px">
        <mat-form-field fxFlex="100%">
          <mat-label>{{'csp.solicitud.palabras-clave' | translate}}</mat-label>
          <sgi-palabra-clave formControlName="palabrasClave" id="palabrasClave"
            placeholder="{{'csp.solicitud.palabras-clave' | translate}}"></sgi-palabra-clave>
        </mat-form-field>
      </div>

      <!-- Acciones -->
      <div class="buttons-final">
        <div class="col filter-button">
          <button color="primary" aria-label="Center Align" mat-raised-button (click)="onSearch()">
            <mat-icon>search</mat-icon> {{'btn.search'| translate}}
          </button>
          <button class="link-busqueda underline" aria-label="Center Align" mat-button
            (click)="toggleBusquedaAvanzada()">
            {{'btn.search.simple'| translate}}
          </button>
          <button color="warn" aria-label="Center Align" (click)="onClearFilters()" mat-button>{{'btn.clean'|
            translate}}
          </button>
        </div>
      </div>
    </form>
  </div>

  <!-- Tabla solicitudes -->
  <div class="mat-elevation-z4">
    <table mat-table [dataSource]="solicitudes$ | async" matSort matSortActive="id" matSortDirection="asc"
      matSortDisableClear>

      <!-- Codigo interno Column -->
      <ng-container matColumnDef="codigoRegistroInterno">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{'csp.solicitud.codigo' | translate}}
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.codigoRegistroInterno}}
        </td>
      </ng-container>

      <!-- Codigo interno Column -->
      <ng-container matColumnDef="codigoExterno">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{'csp.solicitud.codigo-externo' | translate}}
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.codigoExterno}}
        </td>
      </ng-container>

      <!-- Referencia convocatoria Column -->
      <ng-container matColumnDef="referencia">
        <th mat-header-cell *matHeaderCellDef>
          {{'csp.solicitud.referencia-convocatoria' | translate}}
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.convocatoria ? element.convocatoria.codigo : element.convocatoriaExterna}}
        </td>
      </ng-container>

      <!-- Solicitante Column -->
      <ng-container matColumnDef="solicitante">
        <th mat-header-cell *matHeaderCellDef>
          {{'csp.solicitud.solicitante' | translate}}
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.solicitante?.nombre }} {{ element.solicitante?.apellidos }}
        </td>
      </ng-container>

      <!-- Titulo Solicitud Column -->
      <ng-container matColumnDef="titulo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{'csp.solicitud.titulo-listado' | translate}}
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.titulo}}
        </td>
      </ng-container>

      <!-- Estado solicitud Column -->
      <ng-container matColumnDef="estado.estado">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{'csp.solicitud.estado' | translate}}
        </th>
        <td mat-cell *matCellDef="let element">
          {{ESTADO_MAP.get(element.estado?.estado) | translate}}
        </td>
      </ng-container>


      <!-- Fecha estado Column -->
      <ng-container matColumnDef="estado.fechaEstado">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{'csp.solicitud.estado-solicitud.fecha' | translate}}
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.estado?.fechaEstado | luxon:'shortDate' }}
        </td>
      </ng-container>

      <!-- Activo Column -->
      <ng-container matColumnDef="activo" *sgiHasAuthorityForAnyUO="'CSP-SOL-R'">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{'label.activo' | translate}}
        </th>
        <td mat-cell *matCellDef="let element">
          {{element.activo ? ('label.si' | translate) : 'label.no' | translate }}
        </td>
      </ng-container>


      <!-- Acciones Column -->
      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef> {{'label.actions' | translate}} </th>
        <td mat-cell *matCellDef="let element">
          <ng-container *sgiHasAnyAuthority="['CSP-SOL-V', 'CSP-SOL-V_' + element.unidadGestion.id ]">
            <a mat-icon-button color="primary" matTooltip="{{'btn.view' | translate}}"
              *ngIf="!mapModificable.get(element.id)" [routerLink]="[element.id]">
              <mat-icon>visibility</mat-icon>
            </a>
          </ng-container>
          <ng-container *sgiHasAnyAuthority="['CSP-SOL-E', 'CSP-SOL-E_' + element.unidadGestion.id ]">
            <a *ngIf="element.activo === true" mat-icon-button color="primary" matTooltip="{{'btn.edit' | translate}}"
              [routerLink]="[element.id]">
              <mat-icon>border_color</mat-icon>
            </a>
          </ng-container>
          <ng-container *sgiHasAnyAuthority="['CSP-SOL-B', 'CSP-SOL-B_' + element.unidadGestion.id ]">
            <button *ngIf="element.estado.estado === Estado.BORRADOR && element.activo === true" mat-icon-button
              color="warn" matTooltip="{{'btn.delete' | translate}}" (click)="deactivateSolicitud(element)">
              <mat-icon>highlight_off</mat-icon>
            </button>
          </ng-container>
          <ng-container *sgiHasAnyAuthority="['CSP-SOL-R', 'CSP-SOL-R_' + element.unidadGestion.id ]">
            <button *ngIf="element.activo === false" mat-icon-button color="accent"
              matTooltip="{{'btn.recover' | translate}}" (click)="activateSolicitud(element)">
              <mat-icon>add_circle_outline</mat-icon>
            </button>
          </ng-container>
          <ng-container *sgiHasAnyAuthority="['CSP-PRO-C', 'CSP-PRO-C_' + element.unidadGestion.id ]">
            <button mat-icon-button color="primary" *ngIf="mapCrearProyecto.get(element.id)"
              matTooltip="{{'csp.solicitud.listado.crear.proyecto' | translate}}" (click)="crearProyectoModal(element)">
              <mat-icon>next_week</mat-icon>
            </button>
          </ng-container>
          <ng-container *sgiHasAuthorityForAnyUO="'CSP-GIN-C'">
            <button *ngIf="element.tipoSolicitudGrupo == tipoSolicitudGrupo.CONSTITUCION  && element.showCreateGrupo"
              mat-icon-button color="primary" matTooltip="{{'btn.add.entity' | translate:msgParamGrupoEntity}}"
              (click)="crearGrupoModal(element)">
              <mat-icon>group_add</mat-icon>
            </button>
          </ng-container>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="columnas"></tr>
      <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
    </table>
    <div class="paginator-export">
      <button mat-button matTooltip="{{'btn.export' | translate}}" (click)="openExportModal()"
        [disabled]="totalElementos<=0">
        <mat-icon color="primary">insert_chart_outlined</mat-icon>
      </button>
      <mat-paginator [pageSizeOptions]="elementosPagina" [length]="totalElementos" showFirstLastButtons>
      </mat-paginator>
    </div>
  </div>

  <sgi-menu-content-footer *sgiHasAuthorityForAnyUO="'CSP-SOL-C'">
    <sgi-footer-crear [texto]="textoCrear" [route]="ROUTE_NAMES.NEW">
    </sgi-footer-crear>
  </sgi-menu-content-footer>
</sgi-menu-content>