@import "typography.scss";

:host {
  .caja-busqueda-avanzada {
    padding: 10px 20px 10px 20px;

    .col {
      padding-right: 15px;
    }

    .buttons-final {
      padding: 10px 0px 10px 0px;

      .filter-button {
        button {
          margin-right: 15px;
        }
      }
    }

    .input-right {
      float: left;
      width: 65%;
    }

    .boton-left {
      float: right;
    }

    .fieldset-form {
      padding-bottom: 10px;
      padding-top: 10px;
      font-size: map-get($sgi-typography-size, form-fieldset);
    }

    .checkplazo {
      margin-top: 10px;
    }
  }

  .formulario {
    padding: 10px 20px 10px 20px;

    .col {
      padding-right: 15px;
    }

    .buttons-final {
      padding: 10px 0px 10px 0px;

      .filter-button {
        button {
          margin-right: 15px;
        }
      }
    }
  }

  .paginator-export {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}