<!-- Convocatorias listado investigador -->
<sgi-menu-content>
  <!-- Buscador de convocatorias -->
  <div [ngClass]="busquedaAvanzada ? 'mat-elevation-z8 caja-busqueda-avanzada' : ''">
    <form [ngClass]="busquedaAvanzada ? '' : 'formulario'" [formGroup]="formGroup" [fxLayout.xs]="fxLayoutProperties.xs"
      [fxLayout]="fxLayoutProperties.layout" fxLayoutGap="fxLayoutProperties.gap">

      <div fxFlex="73%" fxFlex.sm="50%" fxFlex.md="53%" [fxLayout.xs]="fxLayoutProperties.xs"
        [fxLayout]="fxLayoutProperties.layout" fxLayoutGap="fxLayoutProperties.gap" ngClass.gt-xs="ml-10">
        <!-- Aplicar Filtro -->
        <div class="col">
          <div class="checkbox">
            <mat-checkbox color="primary" formControlName="aplicarFiltro" id="aplicarFiltro">
              {{'csp.convocatoria.aplicar.filtro' | translate}}</mat-checkbox>
          </div>
        </div>

        <!-- Abierto plazo -->
        <div class="col">
          <div class="checkbox">
            <mat-checkbox color="primary" formControlName="abiertoPlazoPresentacionSolicitud"
              id="abiertoPlazoPresentacionSolicitud">
              {{'csp.convocatoria.plazo-abierto' | translate}}</mat-checkbox>
          </div>
        </div>
      </div>

      <div class="buttons-final" *ngIf="!busquedaAvanzada">
        <div class="col filter-button">
          <button color="primary" aria-label="Center Align" mat-raised-button (click)="onSearch()">
            <mat-icon>search</mat-icon> {{'btn.search'| translate}}
          </button>
          <button class="link-busqueda underline" aria-label="Center Align" mat-button
            (click)="toggleBusquedaAvanzada()">
            {{'btn.search.advanced'| translate}}
          </button>
          <button color="warn" aria-label="Center Align" (click)="onClearFilters()" mat-button>{{'btn.clean'|
            translate}}
          </button>
        </div>
      </div>
    </form>

    <form *ngIf="busquedaAvanzada" [ngClass]="busquedaAvanzada ? 'busqueda-avanzada' : ''" [formGroup]="formGroup">

      <div [fxLayout.xs]="fxLayoutProperties.xs" [fxLayout]="fxLayoutProperties.layout"
        [fxLayoutGap]="fxLayoutProperties.gap" ngClass.gt-xs="ml-10">

        <!-- Titulo -->
        <div [fxFlex.sm]="fxFlexProperties.sm" [fxFlex.md]="fxFlexProperties.md" [fxFlex.gt-md]="fxFlexProperties.gtMd"
          [fxFlexOrder]="fxFlexProperties.order">
          <mat-form-field>
            <mat-label>{{'csp.convocatoria.titulo' | translate}}</mat-label>
            <input matInput type="text" placeholder="{{'csp.convocatoria.titulo' | translate}}"
              formControlName="titulo">
          </mat-form-field>
        </div>

        <!-- Referencia -->
        <div [fxFlex.sm]="fxFlexProperties.sm" [fxFlex.md]="fxFlexProperties.md" [fxFlex.gt-md]="fxFlexProperties.gtMd"
          [fxFlexOrder]="fxFlexProperties.order">
          <mat-form-field>
            <mat-label>{{'csp.convocatoria.referencia' | translate}}</mat-label>
            <input matInput type="text" placeholder="{{'csp.convocatoria.referencia' | translate}}"
              formControlName="codigo">
          </mat-form-field>
        </div>


      </div>

      <div [fxLayout.xs]="fxLayoutProperties.xs" [fxLayout]="fxLayoutProperties.layout"
        [fxLayoutGap]="fxLayoutProperties.gap" ngClass.gt-xs="ml-10">

        <!-- Finalidades -->
        <div [fxFlex.sm]="fxFlexProperties.sm" [fxFlex.md]="fxFlexProperties.md" [fxFlex.gt-md]="fxFlexProperties.gtMd"
          [fxFlexOrder]="fxFlexProperties.order">
          <mat-form-field class="input-form">
            <mat-label>{{'csp.convocatoria.finalidad' | translate}}</mat-label>
            <sgi-select-tipo-finalidad formControlName="finalidad" extended="false">
            </sgi-select-tipo-finalidad>
          </mat-form-field>
        </div>
      </div>

      <div class="fieldset-form">
        {{'csp.convocatoria.fecha-publicacion' | translate}}
      </div>

      <div [fxLayout.xs]="fxLayoutProperties.xs" [fxLayout]="fxLayoutProperties.layout"
        [fxLayoutGap]="fxLayoutProperties.gap" ngClass.gt-xs="ml-10">

        <!-- Fecha publicacion desde-->
        <div class="col">
          <mat-form-field>
            <mat-label>{{'csp.convocatoria.fecha-publicacion-desde' | translate}}</mat-label>
            <input matInput formControlName="fechaPublicacionDesde" [matDatepicker]="pickerFechaPublicacionDesde"
              [placeholder]="'csp.convocatoria.fecha-publicacion-desde' | translate">
            <mat-datepicker-toggle matSuffix [for]="pickerFechaPublicacionDesde"></mat-datepicker-toggle>
            <mat-datepicker #pickerFechaPublicacionDesde>
            </mat-datepicker>
          </mat-form-field>
        </div>

        <!-- Fecha publicacion hasta-->
        <div class="col">
          <mat-form-field sgiEndDate>
            <mat-label>{{'csp.convocatoria.fecha-publicacion-hasta' | translate}}</mat-label>
            <input matInput formControlName="fechaPublicacionHasta" [matDatepicker]="pickerFechaPublicacionHasta"
              [placeholder]="'csp.convocatoria.fecha-publicacion-hasta' | translate">
            <mat-datepicker-toggle matSuffix [for]="pickerFechaPublicacionHasta"></mat-datepicker-toggle>
            <mat-datepicker #pickerFechaPublicacionHasta>
            </mat-datepicker>
          </mat-form-field>
        </div>

      </div>

      <div [fxLayout.xs]="fxLayoutProperties.xs" [fxLayout]="fxLayoutProperties.layout"
        [fxLayoutGap]="fxLayoutProperties.gap" ngClass.gt-xs="ml-10">

        <!-- Entidad convocantes -->
        <div [fxFlex.sm]="fxFlexProperties.sm" [fxFlex.md]="fxFlexProperties.md" [fxFlex.gt-md]="fxFlexProperties.gtMd"
          [fxFlexOrder]="fxFlexProperties.order">
          <mat-form-field class="input-form">
            <mat-label>{{'csp.convocatoria-entidad-convocante' | translate:MSG_PARAMS.CARDINALIRY.SINGULAR}}
            </mat-label>
            <sgi-select-empresa
              placeholder="{{'csp.convocatoria-entidad-convocante' | translate:MSG_PARAMS.CARDINALIRY.SINGULAR}}"
              formControlName="entidadConvocante">
            </sgi-select-empresa>
          </mat-form-field>
        </div>

      </div>

      <div [fxLayout.xs]="fxLayoutProperties.xs" [fxLayout]="fxLayoutProperties.layout"
        [fxLayoutGap]="fxLayoutProperties.gap" ngClass.gt-xs="ml-10">

        <!-- Entidad financiadora -->
        <div [fxFlex.sm]="fxFlexProperties.sm" [fxFlex.md]="fxFlexProperties.md" [fxFlex.gt-md]="fxFlexProperties.gtMd"
          [fxFlexOrder]="fxFlexProperties.order">
          <mat-form-field class="input-form">
            <mat-label>{{'csp.convocatoria-entidad-financiadora' | translate:MSG_PARAMS.CARDINALIRY.SINGULAR}}
            </mat-label>
            <sgi-select-empresa
              placeholder="{{'csp.convocatoria-entidad-financiadora' | translate:MSG_PARAMS.CARDINALIRY.SINGULAR}}"
              formControlName="entidadFinanciadora">
            </sgi-select-empresa>
          </mat-form-field>
        </div>

        <!-- Fuente financiacion -->
        <div [fxFlex.sm]="fxFlexProperties.sm" [fxFlex.md]="fxFlexProperties.md" [fxFlex.gt-md]="fxFlexProperties.gtMd"
          [fxFlexOrder]="fxFlexProperties.order">
          <mat-form-field class="input-form">
            <mat-label>{{'csp.convocatoria.fuente-financiacion' | translate}}</mat-label>
            <sgi-select-fuente-financiacion formControlName="fuenteFinanciacion" extended="false">
            </sgi-select-fuente-financiacion>
          </mat-form-field>
        </div>

      </div>

      <div [fxLayout.xs]="fxLayoutProperties.xs" [fxLayout]="fxLayoutProperties.layout"
        [fxLayoutGap]="fxLayoutProperties.gap" ngClass.gt-xs="ml-10">

        <!-- Tipo de ámbito geográfico -->
        <div [fxFlex.sm]="fxFlexProperties.sm" [fxFlex.md]="fxFlexProperties.md" [fxFlex.gt-md]="fxFlexProperties.gtMd"
          [fxFlexOrder]="fxFlexProperties.order">
          <mat-form-field class="input-form">
            <mat-label>{{'csp.convocatoria.ambito-geografico' | translate}}</mat-label>
            <sgi-select-tipo-ambito-geografico formControlName="ambitoGeografico"></sgi-select-tipo-ambito-geografico>
          </mat-form-field>
        </div>

      </div>

      <div [fxLayout.xs]="fxLayoutProperties.xs" [fxLayout]="fxLayoutProperties.layout"
        [fxLayoutGap]="fxLayoutProperties.gap" ngClass.gt-xs="ml-10">

        <!-- Area tematica -->
        <div [fxFlex.sm]="fxFlexProperties.sm" [fxFlex.md]="fxFlexProperties.md" [fxFlex.gt-md]="fxFlexProperties.gtMd"
          [fxFlexOrder]="fxFlexProperties.order">
          <mat-form-field class="input-form">
            <mat-label>{{'list.entity' | translate:msgParamAreaTematicaEntity}}</mat-label>
            <sgi-select-area-tematica formControlName="areaTematica"></sgi-select-area-tematica>
          </mat-form-field>
        </div>

      </div>

      <!-- Palabras clave -->
      <div [fxLayout.xs]="fxLayoutProperties.xs" [fxLayout]="fxLayoutProperties.layout"
        [fxLayoutGap]="fxLayoutProperties.gap" ngClass.gt-xs="ml-10">
        <div fxFlex="100%">
          <mat-form-field fxFill>
            <mat-label>{{'csp.convocatoria.palabras-clave' | translate}}</mat-label>
            <sgi-palabra-clave formControlName="palabrasClave" id="palabrasClave"
              placeholder="{{'csp.convocatoria.palabras-clave' | translate}}"></sgi-palabra-clave>
          </mat-form-field>
        </div>
      </div>

      <div class="buttons-final">
        <div class="col filter-button">
          <button color="primary" aria-label="Center Align" mat-raised-button (click)="onSearch()">
            <mat-icon>search</mat-icon> {{'btn.search'| translate}}
          </button>
          <button class="link-busqueda underline" aria-label="Center Align" mat-button
            (click)="toggleBusquedaAvanzada()">
            {{'btn.search.simple'| translate}}
          </button>
          <button color="warn" aria-label="Center Align" (click)="onClearFilters()" mat-button>{{'btn.clean'|
            translate}}
          </button>
        </div>
      </div>
    </form>
  </div>
  <div class="mat-elevation-z4">
    <table mat-table [dataSource]="convocatorias$ | async" matSort matSortActive="id" matSortDirection="asc"
      matSortDisableClear>

      <!-- Titulo Column -->
      <ng-container matColumnDef="titulo">
        <th mat-header-cell *matHeaderCellDef> {{'csp.convocatoria.titulo' | translate}} </th>
        <td mat-cell *matCellDef="let element"> {{element.convocatoria.titulo}}</td>
      </ng-container>

      <!-- Referencia Column -->
      <ng-container matColumnDef="codigo">
        <th mat-header-cell *matHeaderCellDef> {{'csp.convocatoria.referencia' | translate}} </th>
        <td mat-cell *matCellDef="let element"> {{element.convocatoria.codigo}}</td>
      </ng-container>

      <!-- Fecha inicio solicitud Column -->
      <ng-container matColumnDef="fechaInicioSolicitud">
        <th mat-header-cell *matHeaderCellDef> {{'csp.convocatoria.solicitud.fecha-inicio' | translate}} </th>
        <td mat-cell *matCellDef="let element">{{element.fase.fechaInicio | luxon:'short'}}</td>
      </ng-container>

      <!-- Fecha fin solicitud Column -->
      <ng-container matColumnDef="fechaFinSolicitud">
        <th mat-header-cell *matHeaderCellDef> {{'csp.convocatoria.solicitud.fecha-fin' | translate}} </th>
        <td mat-cell *matCellDef="let element">{{element.fase.fechaFin | luxon:'short'}}</td>
      </ng-container>

      <!-- Estado convocante Column -->
      <ng-container matColumnDef="entidadConvocante">
        <th mat-header-cell *matHeaderCellDef>
          {{'csp.convocatoria-entidad-convocante' | translate:MSG_PARAMS.CARDINALIRY.SINGULAR}} </th>
        <td mat-cell *matCellDef="let element">{{element.entidadConvocanteEmpresa.nombre}}</td>
      </ng-container>

      <!-- Entidad Financiadora Column -->
      <ng-container matColumnDef="entidadFinanciadora">
        <th mat-header-cell *matHeaderCellDef>
          {{'csp.convocatoria-entidad-financiadora' | translate:MSG_PARAMS.CARDINALIRY.SINGULAR}} </th>
        <td mat-cell *matCellDef="let element">{{element.entidadFinanciadoraEmpresa.nombre}}</td>
      </ng-container>

      <!-- Fuente Financiacion Column -->
      <ng-container matColumnDef="fuenteFinanciacion">
        <th mat-header-cell *matHeaderCellDef> {{'csp.convocatoria.fuente-financiacion' | translate}} </th>
        <td mat-cell *matCellDef="let element">{{element.entidadFinanciadora.fuenteFinanciacion?.nombre}}</td>
      </ng-container>

      <!-- Acciones Column -->
      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef> {{'label.actions' | translate}} </th>
        <td mat-cell *matCellDef="let element;let i=index;">
          <ng-container>
            <a mat-button color="primary" matTooltip="{{'btn.view' | translate}}"
              [routerLink]="[element.convocatoria.id]">
              <mat-icon color="primary">visibility</mat-icon>
            </a>
          </ng-container>
          <ng-container *sgiHasAuthority="'CSP-SOL-INV-C'">
            <a *ngIf="mapTramitable.get(element.convocatoria.id) && element.convocatoria.activo === true"
              [routerLink]="['../..', INV_ROUTE_NAMES.SOLICITUDES, ROUTE_NAMES.NEW]"
              [state]="getSolicitudState(element.convocatoria.id)" mat-button matTooltip="{{'btn.process' | translate}}"
              color="primary">
              <mat-icon color="primary">shop</mat-icon>
            </a>
          </ng-container>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="columnas"></tr>
      <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="elementosPagina" [length]="totalElementos" showFirstLastButtons>
    </mat-paginator>
  </div>
</sgi-menu-content>