<!-- Convocatoria reunion listado -->
<section class="convocatoria-reunion-listado">
  <!-- Buscador de convocatorias reunión -->
  <form class="formulario  mat-elevation-z8" [formGroup]="formGroup" [fxLayout.xs]="fxLayoutProperties.xs"
    [fxLayout]="fxLayoutProperties.layout" fxLayoutGap="fxLayoutProperties.gap" ngClass.gt-xs="ml-10">

    <div fxFlex="85%" fxFlex.sm="50%" fxFlex.md="73%" [fxLayout.xs]="fxLayoutProperties.xs"
      [fxLayout]="fxLayoutProperties.layout" fxLayoutGap="fxLayoutProperties.gap" ngClass.gt-xs="ml-10">
      <!-- Comité -->
      <div class="col">
        <mat-form-field class="input-form">
          <mat-label>{{'label.eti.comite' | translate}}</mat-label>
          <input type="text" [placeholder]="'label.eti.comite' | translate" arial-label="Number" matInput
            formControlName="comite" [matAutocomplete]="autocompleteComite">
          <mat-autocomplete #autocompleteComite="matAutocomplete" [displayWith]="getComite">
            <mat-option *ngFor="let comite of filteredComites | async" [value]="comite">
              {{comite.comite}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>

      <!-- Fecha evaluación (desde - hasta)-->
      <div class="col">
        <mat-form-field>
          <mat-label>{{'eti.convocatoria-reunion.fecha-evaluacion.desde' | translate}}</mat-label>
          <input matInput formControlName="fechaEvaluacionDesde" [ngxMatDatetimePicker]="pickerFechaEvaluacionDesde"
            [placeholder]="'eti.convocatoria-reunion.fecha-evaluacion.desde' | translate">
          <mat-datepicker-toggle matSuffix [for]="pickerFechaEvaluacionDesde"></mat-datepicker-toggle>
          <ngx-mat-datetime-picker #pickerFechaEvaluacionDesde showSeconds="true" [defaultTime]="[0,0,0]">
          </ngx-mat-datetime-picker>
        </mat-form-field>
      </div>

      <div class="col">
        <mat-form-field>
          <mat-label>{{'eti.convocatoria-reunion.fecha-evaluacion.hasta' | translate}}</mat-label>
          <input matInput formControlName="fechaEvaluacionHasta" [ngxMatDatetimePicker]="pickerFechaEvaluacionHasta"
            placeholder="{{'eti.convocatoria-reunion.fecha-evaluacion.hasta' | translate}}">
          <mat-datepicker-toggle matSuffix [for]="pickerFechaEvaluacionHasta"></mat-datepicker-toggle>
          <ngx-mat-datetime-picker #pickerFechaEvaluacionHasta showSeconds="true" [defaultTime]="[23,59,59]">
          </ngx-mat-datetime-picker>
        </mat-form-field>
      </div>

      <!-- Convocatoria -->
      <div class="col">
        <mat-form-field class="input-form">
          <mat-label>{{'eti.convocatoria-reunion.tipo' | translate}}</mat-label>
          <input type="text" [placeholder]="'eti.convocatoria-reunion.tipo' | translate" arial-label="Number" matInput
            formControlName="tipoConvocatoriaReunion" [matAutocomplete]="autocompleteTipoConvocatoriaReunion">
          <mat-autocomplete #autocompleteTipoConvocatoriaReunion="matAutocomplete"
            [displayWith]="getTipoConvocatoriaReunion">
            <mat-option *ngFor="let tipoConvocatoriaReunion of filteredTiposConvocatoriaReunion | async"
              [value]="tipoConvocatoriaReunion">
              {{tipoConvocatoriaReunion.nombre}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
    </div>

    <div class="buttons-final">
      <div class="col filter-button">
        <button color="primary" aria-label="Center Align" mat-raised-button (click)="onSearch()">
          <mat-icon>search</mat-icon> {{'btn.search'| translate}}
        </button>
        <button color="warn" aria-label="Center Align" (click)="onClearFilters()" mat-button>{{'btn.clean'| translate}}
        </button>
      </div>
    </div>

  </form>

  <!-- Listado de convocatorias reunión -->
  <table class="mat-elevation-z8 table-convocatoria-reunion" mat-table matSort
    [dataSource]="convocatoriaReunion$ | async" matSort matSortActive="id" matSortDirection="asc" matSortDisableClear>

    <!-- Comite Column -->
    <ng-container matColumnDef="comite">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'label.eti.comite' | translate}}
      </th>
      <td mat-cell *matCellDef="let convocatoriaReunion"> {{convocatoriaReunion.comite.comite}} </td>
    </ng-container>

    <!-- Fecha evaluacion Column -->
    <ng-container matColumnDef="fechaEvaluacion">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        {{'eti.convocatoria-reunion.fecha-evaluacion' | translate}} </th>
      <td mat-cell *matCellDef="let convocatoriaReunion"> {{convocatoriaReunion.fechaEvaluacion | luxon:'short'}}
      </td>
    </ng-container>

    <!-- Codigo Column -->
    <ng-container matColumnDef="codigo">
      <th mat-header-cell *matHeaderCellDef> {{'eti.convocatoria-reunion.codigo' | translate}}
      </th>
      <td mat-cell *matCellDef="let convocatoriaReunion"> {{convocatoriaReunion.codigo}} </td>
    </ng-container>

    <!-- Hora Column -->
    <ng-container matColumnDef="horaInicio">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'eti.convocatoria-reunion.hora' | translate}}
      </th>
      <td mat-cell *matCellDef="let convocatoriaReunion">
        {{convocatoriaReunion.horaInicio | number:'2.0'}}:{{convocatoriaReunion.minutoInicio | number:'2.0'}} </td>
    </ng-container>

    <!-- Lugar Column -->
    <ng-container matColumnDef="lugar">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'eti.convocatoria-reunion.lugar' | translate}}
      </th>
      <td mat-cell *matCellDef="let convocatoriaReunion"> {{convocatoriaReunion.lugar}} </td>
    </ng-container>

    <!-- Convocatoria Column -->
    <ng-container matColumnDef="tipoConvocatoriaReunion">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        {{'eti.convocatoria-reunion.tipo' | translate}}
      </th>
      <td mat-cell *matCellDef="let convocatoriaReunion"> {{convocatoriaReunion.tipoConvocatoriaReunion.nombre}} </td>
    </ng-container>

    <!-- Fecha envio Column -->
    <ng-container matColumnDef="fechaEnvio">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        {{'eti.convocatoria-reunion.fecha-envio' | translate}}
      </th>
      <td mat-cell *matCellDef="let convocatoriaReunion"> {{convocatoriaReunion.fechaEnvio | luxon:'shortDate'}} </td>
    </ng-container>

    <!-- Acciones Column -->
    <ng-container matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef> {{'label.actions' | translate}} </th>
      <td mat-cell *matCellDef="let convocatoriaReunion;let i=index;">
        <ng-container *ngIf="!mapModificable.get(convocatoriaReunion.id)">
          <button mat-button matTooltip="{{'btn.view' | translate}}" *sgiHasAuthorityForAnyUO="'ETI-CNV-E'"
            [routerLink]="[convocatoriaReunion.id]">
            <mat-icon color="primary">visibility</mat-icon>
          </button>
        </ng-container>
        <ng-container *ngIf="mapModificable.get(convocatoriaReunion.id)">
          <button mat-button *sgiHasAuthorityForAnyUO="'ETI-CNV-E'" [routerLink]="[convocatoriaReunion.id]"
            matTooltip="{{'btn.edit' | translate}}">
            <mat-icon color="primary">border_color</mat-icon>
          </button>
        </ng-container>
        <span *ngIf="mapEliminable.get(convocatoriaReunion.id)">
          <button color="warn" mat-button *sgiHasAuthorityForAnyUO="'ETI-CNV-B'"
            matTooltip="{{'btn.delete' | translate}}" (click)="borrar(convocatoriaReunion.id, $event)">
            <mat-icon>highlight_off</mat-icon>
          </button>
        </span>
        <ng-container *sgiHasAuthorityForAnyUO="'ETI-CNV-ENV'">
          <button color="accent" *ngIf="!convocatoriaReunion.fechaEnvio" mat-button
            matTooltip="{{'btn.send' | translate}}" (click)="enviar(convocatoriaReunion.id, $event)">
            <mat-icon>send</mat-icon>
          </button>
        </ng-container>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="elementosPagina" [length]="totalElementos" showFirstLastButtons>
  </mat-paginator>

</section>
<sgi-footer-crear *sgiHasAuthorityForAnyUO="'ETI-CNV-C'" [texto]="textoCrear" [route]="ROUTE_NAMES.NEW">
</sgi-footer-crear>
<!-- FIN Convocatoria reunion listado-->