<form [formGroup]="formGroup" fxLayout="column">

  <div fxFlex fxLayout="row" fxLayoutGap="10px">
    <mat-form-field fxFlex>
      <mat-label>{{label | translate:labelParams}}</mat-label>
      <sgi-input-emails formControlName="configValue" [matTooltip]="configValue?.description" matTooltipShowDelay="200"
        [required]="required">
      </sgi-input-emails>

      <mat-error *ngIf="formGroup.controls.configValue.errors?.required">
        {{ 'error.required.field' | translate:msgParamLabel }}
      </mat-error>
    </mat-form-field>

    <button [disabled]="!formGroup.valid || !hasChanges()" color="primary" mat-icon-button (click)="save()"
      matTooltip="{{'btn.save' | translate}}">
      <mat-icon>save</mat-icon>
    </button>
  </div>

</form>