<div class="sgi-dialog-header" fxLayout="row" fxLayoutGap="20px">
  <span fxFlexAlign="center" mat-mat-dialog-title role="heading" aria-level="3" fxFlex>{{title}}</span>
  <button fxFlex="nogrow" mat-icon-button mat-dialog-close>
    <mat-icon class="close-icon">close</mat-icon>
  </button>
</div>
<mat-dialog-content>
  <form [formGroup]="formGroup">
    <!-- Identificador SGE -->
    <div>
      <mat-form-field>
        <mat-label>{{'csp.proyecto-anualidad.partida-gasto.identificador-sge' |
          translate:MSG_PARAMS.CARDINALIRY.SINGULAR}}</mat-label>
        <sgi-select-entity formControlName="identificadorSge" [options]=" proyectosSge$ | async" required
          [displayWith]="displayerIdentificadorSge" [compareWith]="comparerIdentificadorSge"
          [sortWith]="sorterIdentificadorSge">
        </sgi-select-entity>
      </mat-form-field>
    </div>

    <!-- Concepto de gasto tipo-->
    <div [fxLayout.xs]="fxLayoutProperties.xs" [fxLayout]="fxLayoutProperties.layout"
      [fxLayoutGap]="fxLayoutProperties.gap" ngClass.gt-xs="ml-10 separation-button">

      <div [fxLayout]="fxLayoutProperties.layout" [fxLayoutAlign]="fxLayoutProperties.layoutAlign">
        <mat-radio-group class="radio-inline" name="conceptoGastoFiltro" formControlName="conceptoGastoFiltro">
          <mat-radio-button color="primary" class="radio" *ngFor="let optionConceptoGasto of optionsConceptoGasto"
            name="conceptoGastoFiltro" [value]="optionConceptoGasto" (change)="loadConceptoGasto($event.value)">
            {{optionConceptoGasto | translate}}
          </mat-radio-button>
        </mat-radio-group>

      </div>

    </div>

    <!-- Concepto Gasto -->
    <div [fxLayout]="fxLayoutProperties.layout" [fxLayoutAlign]="fxLayoutProperties.layoutAlign">
      <div [fxLayout]="fxLayoutProperties.layout" [fxLayoutAlign]="fxLayoutProperties.layoutAlign">
        <mat-form-field fxFill>
          <mat-label>{{'csp.proyecto-anualidad.partida-gasto.concepto-gasto' | translate}}</mat-label>
          <sgi-select-entity formControlName="conceptoGasto" required [options]="conceptosGasto$ | async"
            (selectionChange)="loadCodigosEconomicosInfo($event)" [displayWith]="displayerConceptoGasto">
          </sgi-select-entity>
          <mat-error *ngIf="formGroup.controls.conceptoGasto.errors?.required">
            {{'error.invalid.entity' | translate:msgParamConceptoGastoEntity}}
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="separation-button" [fxLayout]="fxLayoutProperties.layout"
      [fxLayoutAlign]="fxLayoutProperties.layoutAlign" *ngIf="formGroup.controls.conceptoGasto.value">
      <!-- Códigos económicos permitidos-->
      <div>
        <h4>{{'list.entity' | translate:msgParamCodigosEconomicosPermitidos}}</h4>
        <table class=" mat-elevation-z8 table-acta" mat-table [dataSource]="conceptosGastoCodigoEcPermitidos" matSort
          matSortActive="id" matSortDirection="asc" matSortDisableClear>
          <ng-container matColumnDef="conceptoGasto">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              {{'csp.proyecto-anualidad.partida-gasto.concepto-gasto' | translate}}
            </th>
            <td mat-cell *matCellDef="let data">{{data.proyectoConceptoGasto.conceptoGasto.nombre}}</td>
          </ng-container>
          <ng-container matColumnDef="importeMaximo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              {{'csp.proyecto-anualidad.partida-gasto.concepto-gasto.codigo-economico.importe-maximo' | translate}}
            </th>
            <td mat-cell *matCellDef="let data">{{data.proyectoConceptoGasto.importeMaximo}}</td>
          </ng-container>
          <ng-container matColumnDef="permitidoDesde">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              {{'csp.proyecto-anualidad.partida-gasto.concepto-gasto.codigo-economico.permitido-desde' | translate}}
            </th>
            <td mat-cell *matCellDef="let data">
              {{data.proyectoConceptoGasto.fechaInicio | luxon:'short'}}
            </td>
          </ng-container>
          <ng-container matColumnDef="permitidoHasta">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              {{'csp.proyecto-anualidad.partida-gasto.concepto-gasto.codigo-economico.permitido-hasta' | translate}}
            </th>
            <td mat-cell *matCellDef="let data"> {{data.proyectoConceptoGasto.fechaFin | luxon:'short'}} </td>
          </ng-container>
          <ng-container matColumnDef="codigoEconomico">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              {{'csp.proyecto-anualidad.partida-gasto.concepto-gasto.codigo-economico' | translate}}
            </th>
            <td mat-cell *matCellDef="let data">{{data.codigoEconomicoRef}}</td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="columnsCodigosEcPermitidos"></tr>
          <tr mat-row *matRowDef="let row; columns: columnsCodigosEcPermitidos;"></tr>
        </table>
      </div>
      <!-- Códigos económicos no permitidos-->
      <div>
        <h4>{{'list.entity' | translate:msgParamCodigosEconomicosNoPermitidos}}</h4>
        <table class="mat-elevation-z8 table-acta" mat-table [dataSource]="conceptosGastoCodigoEcNoPermitidos" matSort
          matSortActive="id" matSortDirection="asc" matSortDisableClear>
          <ng-container matColumnDef="conceptoGasto">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              {{'csp.proyecto-anualidad.partida-gasto.concepto-gasto' | translate}}
            </th>
            <td mat-cell *matCellDef="let data">{{data.proyectoConceptoGasto.conceptoGasto.nombre}}</td>
          </ng-container>
          <ng-container matColumnDef="noPermitidoDesde">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              {{'csp.proyecto-anualidad.partida-gasto.concepto-gasto.codigo-economico.no-permitido-desde' | translate}}
            </th>
            <td mat-cell *matCellDef="let data">
              {{data.proyectoConceptoGasto.fechaInicio | luxon:'short'}}
            </td>
          </ng-container>
          <ng-container matColumnDef="noPermitidoHasta">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              {{'csp.proyecto-anualidad.partida-gasto.concepto-gasto.codigo-economico.no-permitido-hasta' | translate}}
            </th>
            <td mat-cell *matCellDef="let data"> {{data.proyectoConceptoGasto.fechaFin | luxon:'short'}} </td>
          </ng-container>
          <ng-container matColumnDef="codigoEconomico">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              {{'csp.proyecto-anualidad.partida-gasto.concepto-gasto.codigo-economico' | translate}}
            </th>
            <td mat-cell *matCellDef="let data">{{data.codigoEconomicoRef}}</td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="columnsCodigosEcNoPermitidos"></tr>
          <tr mat-row *matRowDef="let row; columns: columnsCodigosEcNoPermitidos;"></tr>
        </table>
      </div>
    </div>

    <!-- Código Económico Tipo -->
    <div [fxLayout.xs]="fxLayoutProperties.xs" [fxLayout]="fxLayoutProperties.layout"
      [fxLayoutGap]="fxLayoutProperties.gap" ngClass.gt-xs="ml-10 separation-button">

      <div [fxLayout]="fxLayoutProperties.layout" [fxLayoutAlign]="fxLayoutProperties.layoutAlign">
        <mat-radio-group class="radio-inline" name="codigoEconomicoFiltro" formControlName="codigoEconomicoFiltro">
          <mat-radio-button color="primary" class="radio" *ngFor="let optionCodigoEconomico of optionsCodigoEconomico"
            name="codigoEconomicoFiltro" [value]="optionCodigoEconomico" (change)="loadCodigoEconomico($event.value)">
            {{optionCodigoEconomico | translate}}
          </mat-radio-button>
        </mat-radio-group>

      </div>

    </div>
    <!--  Código Económico -->
    <div [fxLayout]="fxLayoutProperties.layout" [fxLayoutAlign]="fxLayoutProperties.layoutAlign">
      <div [fxLayout]="fxLayoutProperties.layout" [fxLayoutAlign]="fxLayoutProperties.layoutAlign">
        <mat-form-field fxFill>
          <mat-label>{{'csp.proyecto-anualidad.partida-gasto.codigo-economico' | translate}}</mat-label>
          <sgi-select-entity formControlName="codigoEconomico" [options]="codigosEconomicos$ | async"
            [displayWith]="displayerCodigoEconomico">
          </sgi-select-entity>

        </mat-form-field>
      </div>
    </div>

    <!--  Partida Presupuestaria -->
    <div [fxLayout]="fxLayoutProperties.layout" [fxLayoutAlign]="fxLayoutProperties.layoutAlign">
      <div [fxLayout]="fxLayoutProperties.layout" [fxLayoutAlign]="fxLayoutProperties.layoutAlign">
        <mat-form-field fxFill>
          <mat-label>{{'csp.proyecto-anualidad.partida.partida-presupuestaria' | translate}}</mat-label>
          <sgi-select-entity formControlName="partidaPresupuestaria" required [options]="proyectosPartida$ | async"
            [displayWith]="displayerProyectoPartida">
          </sgi-select-entity>
          <mat-error *ngIf="formGroup.controls.partidaPresupuestaria.errors?.required">
            {{'error.invalid.entity' | translate:msgParamPartidaPresupuestariaEntity}}
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <!-- Importes presupuesto y concedido -->
    <div [fxLayout.xs]="fxLayoutProperties.xs" [fxLayout]="fxLayoutProperties.layout"
      [fxLayoutGap]="fxLayoutProperties.gap" ngClass.gt-xs="ml-10">
      <div [fxLayout.xs]="fxLayoutProperties.xs" [fxLayout]="fxLayoutProperties.layout"
        [fxLayoutGap]="fxLayoutProperties.gap" ngClass.gt-xs="ml-10">
        <mat-form-field fxFill>
          <mat-label>{{'csp.proyecto-anualidad.partida-gasto.importe-presupuesto' | translate}}</mat-label>
          <input matInput formControlName="importePresupuesto" type="number"
            placeholder="{{'csp.proyecto-anualidad.partida-gasto.importe-presupuesto' | translate}}" required min="0">
          <mat-error *ngIf="formGroup.controls.importePresupuesto.errors?.min">
            {{'error.min.digit' | translate}}
          </mat-error>
          <mat-error *ngIf="formGroup.controls.importePresupuesto.errors?.max">
            {{'error.max.digit' | translate}}
          </mat-error>
        </mat-form-field>
      </div>
      <div [fxLayout.xs]="fxLayoutProperties.xs" [fxLayout]="fxLayoutProperties.layout"
        [fxLayoutGap]="fxLayoutProperties.gap" ngClass.gt-xs="ml-10">
        <mat-form-field fxFill>
          <mat-label>{{'csp.proyecto-anualidad.partida-gasto.importe-concedido' | translate}}</mat-label>
          <input matInput formControlName="importeConcedido" type="number"
            placeholder="{{'csp.proyecto-anualidad.partida-gasto.importe-concedido' | translate}}" required min="0">
          <mat-error *ngIf="formGroup.controls.importeConcedido.errors?.min">
            {{'error.min.digit' | translate}}
          </mat-error>
          <mat-error *ngIf="formGroup.controls.importeConcedido.errors?.max">
            {{'error.max.digit' | translate}}
          </mat-error>
        </mat-form-field>
      </div>
    </div>

  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button color="accent" (click)="saveOrUpdate()" mat-raised-button type="submit">
    <mat-icon class="save-icon">save</mat-icon>{{textSaveOrUpdate | translate}}
  </button>
  <button class="link-cancelar" mat-button type="button" mat-dialog-close>{{'btn.cancel' |
    translate}}</button>
</mat-dialog-actions>