<!-- Areas Conocimiento -->
<sgi-fragment title="{{'label.areas-conocimiento' | translate}}">

  <div class="mat-elevation-z4">
    <table mat-table [dataSource]="dataSource" matSort matSortActive="id" matSortDirection="asc" matSortDisableClear>

      <!-- Niveles Column -->
      <ng-container matColumnDef="niveles">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{'csp.proyecto-area-conocimiento.niveles' | translate}} </th>
        <td mat-cell *matCellDef="let wrapper" matTooltip="{{wrapper.value.nivelesTexto}}">
          {{wrapper.value.nivelesTexto}}
        </td>
      </ng-container>

      <!-- Nivel Seleccionado Column -->
      <ng-container matColumnDef="nivelSeleccionado">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{'csp.proyecto-area-conocimiento.nivelSeleccionado' | translate}}
        </th>
        <td mat-cell *matCellDef="let wrapper"> {{wrapper.value.nivelSeleccionado.nombre}} </td>
      </ng-container>

      <!-- Acciones  Column -->
      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef> {{'label.actions' | translate}} </th>
        <td mat-cell *matCellDef="let area">
          <ng-container>
            <button *ngIf="!this.formPart.readonly" mat-button matTooltip="{{'btn.delete' | translate}}"
              (click)="deleteArea(area)">
              <mat-icon color="warn">highlight_off</mat-icon>
            </button>
          </ng-container>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>

    <mat-paginator [pageSizeOptions]="elementosPagina" showFirstLastButtons>
    </mat-paginator>
  </div>
  <div class="separation-button" *ngIf="!formPart.readonly">
    <!-- Botón añadir Areas -->
    <button *ngIf="!this.formPart.isVisor" color="three" mat-button mat-raised-button (click)="openModal()">
      <mat-icon color="accent">add_circle</mat-icon>
      {{ 'btn.add.entity' | translate:msgParamEntity }}
    </button>
  </div>

</sgi-fragment>