<sgi-dialog-header [title]="title"></sgi-dialog-header>
<sgi-dialog-content>
  <form [formGroup]="formGroup">
    <div fxLayout="row" fxLayoutGap="10px">
      <!-- Pais -->
      <mat-form-field fxFlex>
        <mat-label>{{'pii.sector-licenciado.pais' | translate}}</mat-label>
        <sgi-select-entity formControlName="pais" [options]=" paises$ | async" required>
        </sgi-select-entity>
        <mat-error *ngIf="formGroup.controls.pais.errors?.required">
          {{'error.required.entity' | translate:msgParamPaisEntity}}
        </mat-error>
      </mat-form-field>
      <!-- Exclusividad -->
      <mat-form-field fxFlex>
        <mat-label>{{'pii.sector-licenciado.exclusividad' | translate}}</mat-label>
        <sgi-select-boolean formControlName="exclusividad" required>
        </sgi-select-boolean>
        <mat-error *ngIf="formGroup.controls.exclusividad.errors?.required">
          {{'error.required.entity' | translate:msgParamExclusividadEntity}}
        </mat-error>
      </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutGap="10px">
      <!-- Fecha Inicio -->
      <mat-form-field fxFlex>
        <mat-label>{{'pii.sector-licenciado.fecha-inicio' | translate}}</mat-label>
        <input matInput formControlName="fechaInicio" [matDatepicker]="fechaInicio" required>
        <mat-datepicker-toggle matSuffix [for]="fechaInicio"></mat-datepicker-toggle>
        <mat-datepicker #fechaInicio></mat-datepicker>
        <mat-error *ngIf="formGroup.controls.fechaInicio.errors?.required">
          {{'error.required.entity' | translate:msgParamFechaInicioEntity}}
        </mat-error>
      </mat-form-field>
      <!-- Fecha Fin -->
      <mat-form-field fxFlex>
        <mat-label>{{'pii.sector-licenciado.fecha-fin' | translate}}</mat-label>
        <input matInput formControlName="fechaFin" [matDatepicker]="fechaFin" required>
        <mat-datepicker-toggle matSuffix [for]="fechaFin"></mat-datepicker-toggle>
        <mat-datepicker #fechaFin></mat-datepicker>
        <mat-error *ngIf="formGroup.controls.fechaFin.errors?.required">
          {{'error.required.entity' | translate:msgParamFechaFinEntity}}
        </mat-error>
        <mat-error *ngIf="formGroup.controls.fechaFin.errors?.after">
          {{'error.after.param' | translate:msgParamFechaInicioEntity}}
        </mat-error>
      </mat-form-field>
    </div>

    <!-- Sector -->
    <div fxLayout="row">
      <mat-form-field fxFlex>
        <mat-label>{{'pii.sector-licenciado.sector' | translate}}</mat-label>
        <sgi-select-sector-aplicacion formControlName="sector" required>
        </sgi-select-sector-aplicacion>
        <mat-error *ngIf="formGroup.controls.sector.errors?.required">
          {{'error.required.entity' | translate:msgParamSectorEntity}}
        </mat-error>
      </mat-form-field>
    </div>
  </form>

</sgi-dialog-content>
<mat-dialog-actions>
  <button color="accent" (click)="doAction()" [disabled]="this.actionDisabled" mat-raised-button type="submit"
    *ngIf="!data.readonly">
    <mat-icon class="save-icon">save</mat-icon>{{textSaveOrUpdate | translate}}
  </button>
  <button class="link-cancelar" mat-button type="button" mat-dialog-close>{{'btn.cancel' |
    translate}}</button>
</mat-dialog-actions>