@import "~@angular/material/theming";

.mat-select-trigger {
  cursor: default;
  width: 100%;

  .mat-select-value {
    .mat-input-element {
      cursor: default;
    }
    .upload {
      display:inline-block;
    }
  }

  .icon-wrapper {
    cursor: pointer;
    color: rgba(0, 0, 0, 0.54);
    &.disabled {
      cursor: default;
      color: rgba(0, 0, 0, 0.38);
    }
  }
}