<div class="sgi-dialog-header" fxLayout="row" fxLayoutGap="20px">
  <span fxFlexAlign="center" mat-mat-dialog-title role="heading" aria-level="3" fxFlex>{{title}}</span>
  <button fxFlex="nogrow" mat-icon-button mat-dialog-close>
    <mat-icon class="close-icon">close</mat-icon>
  </button>
</div>
<mat-dialog-content>
  <form [formGroup]="formGroup">
    <!-- Nombre -->
    <div [fxLayout]="fxLayoutProperties.layout" [fxLayoutAlign]="fxLayoutProperties.layoutAlign">
      <mat-form-field fxFlex="36">
        <mat-label>{{'pii.via-proteccion.nombre' | translate}}</mat-label>
        <input matInput formControlName="nombre" type="text" id="nombre"
          placeholder="{{'pii.via-proteccion.nombre' | translate}}" required cdkFocusInitial>
        <mat-error *ngIf="formGroup.controls.nombre.errors?.required">
          {{'error.required.entity' | translate:msgParamNombreEntity}}
        </mat-error>
        <mat-error *ngIf="formGroup.controls.nombre.errors?.maxlength">
          {{'error.maxlength.entity' | translate:msgParamNombreEntity}}
        </mat-error>
      </mat-form-field>
    </div>
    <!-- Descripción -->
    <div [fxLayout]="fxLayoutProperties.layout" [fxLayoutAlign]="fxLayoutProperties.layoutAlign">
      <mat-form-field>
        <mat-label>{{'pii.via-proteccion.descripcion' | translate}}</mat-label>
        <textarea matInput formControlName="descripcion" id="descripcion"
          placeholder="{{'pii.via-proteccion.descripcion' | translate}}" required></textarea>
        <mat-error *ngIf="formGroup.controls.descripcion.errors?.required">
          {{'error.required.entity' | translate:msgParamDescripcionEntity}}
        </mat-error>
        <mat-error *ngIf="formGroup.controls.descripcion.errors?.maxlength">
          {{'error.maxlength.entity' | translate:msgParamDescripcionEntity}}
        </mat-error>
      </mat-form-field>
    </div>

    <div [fxLayout]="fxLayoutProperties.layout" [fxLayoutAlign]="fxLayoutProperties.layoutAlign" fxLayoutGap="10px">
      <!-- Tipo Propiedad -->
      <div fxFlex="50">
        <mat-form-field>
          <mat-label>{{'pii.via-proteccion.tipo-propiedad' | translate}}</mat-label>
          <sgi-select-enum formControlName="tipoPropiedad" [enumMap]="TIPO_PROPIEDAD_MAP" required></sgi-select-enum>
          <mat-error *ngIf="formGroup.controls.tipoPropiedad.errors?.required">
            {{'error.required.entity' | translate:msgParamTipoPropiedadEntity}}
          </mat-error>
        </mat-form-field>
      </div>
      <!-- Meses Prioridad -->
      <div fxFlex="50">
        <mat-form-field *ngIf="(isMesesPrioridadNeeded | async)">
          <mat-label>{{'pii.via-proteccion.meses-prioridad' | translate}}</mat-label>
          <input matInput formControlName="mesesPrioridad" id="mesesPrioridad"
            placeholder="{{'pii.via-proteccion.meses-prioridad' | translate}}" required type="number" />
          <mat-error *ngIf="formGroup.controls.mesesPrioridad.errors?.required">
            {{'error.required.entity' | translate:msgParamMesesPrioridadEntity}}
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div fxLayout="column" fxLayoutAlign="center start">

      <!-- Pais Específico -->
      <mat-checkbox color="primary" formControlName="paisEspecifico" id="paisEspecifico">
        {{'pii.via-proteccion.pais-especifico' | translate}}</mat-checkbox>

      <!-- Extensión Internacional -->
      <mat-checkbox color="primary" formControlName="extensionInternacional" id="extensionInternacional">
        {{'pii.via-proteccion.extension-internacional' | translate}}</mat-checkbox>

      <!-- Varios Paises -->
      <mat-checkbox color="primary" formControlName="variosPaises" id="variosPaises">
        {{'pii.via-proteccion.varios-paises' | translate}}</mat-checkbox>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button color="accent" [disabled]="!formGroup.valid" (click)="saveOrUpdate()" mat-raised-button type="submit">
    <mat-icon class="save-icon">save</mat-icon>{{textSaveOrUpdate | translate}}
  </button>
  <button class="link-cancelar" mat-button type="button" mat-dialog-close>{{'btn.cancel' |
    translate}}</button>
</mat-dialog-actions>