@import "colors.scss";

$variable1: 28;

$background-color: map-get($sgi-custom-colors, bg);

.navbar-icon {
  .nav-item {
    border-radius: $variable1 + px;
    margin: 10px 10px 10px 0px;
    padding: 11px 13px 9px 13px;
    background-color: $background-color;
    height: $variable1 + px;
    cursor: pointer;
    &:hover,
    &:focus {
      background-color: map-get($palette-primary, 400);
      mat-icon {
        color: $background-color;
      }
      -moz-transition: all 0.51s;
      -o-transition: all 0.51s;
      -webkit-transition: all 0.51s;
      transition: all 0.51s;
    }
    .nav-link {
      .posicion {
        vertical-align: super;
      }
    }
    &.modulo {
      background-color: map-get($palette-primary, 300);
      mat-icon {
        color: $background-color;
      }
      &:hover,
      &:focus {
        background-color: $background-color;
        mat-icon {
          color: $background-color;
        }
      }
    }
  }
  &.modulo {
    border-left: 1px solid $background-color;
  }
  &.modulo,
  &:first-child {
    padding-left: 10px;
  }
}
