:host {
  ::ng-deep .mat-form-field-infix {
    width: 80px;
  }
  mat-card {
    width: calc(50% - 40px); 
    padding-top:0px;
    padding-bottom: 10px; 
    padding-left: 10px; 
    padding-right: 10px;

    mat-card-title {
      font-size: 16px;
    }

    mat-card-content {
      .radio-button-container {
        margin-top: 1em;
        margin-bottom: 1.25em;
      }
    }
  }

  .listado-gastos {
   .mat-header-cell.mat-column-aplicacionPresupuestaria, .mat-cell.mat-column-aplicacionPresupuestaria {
      min-width: 200px;
    }
  }

}