.mat-raised-button {
  width: 100%;
  border-radius: 5em;  
  text-align: left;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.link-icon {
  width: calc(100% - 32px);
  text-align: right;
  position: absolute;
  left: 16px;
  top: 5px;
}