<sgi-root>

  <sgi-menu-group *sgiHasAuthority="'ADM-CNF-E'" title="{{'menu.adm.config' | translate}}" icon="settings">

    <sgi-menu-subitem *sgiHasAuthority="'ADM-CNF-E'" [route]="[ADM_ROUTE_NAMES.CONFIG_GLOBAL]"
      title="{{'adm.config.global' | translate}}">
    </sgi-menu-subitem>
    <sgi-menu-subitem *sgiHasAuthority="'ADM-CNF-E'" [route]="[ADM_ROUTE_NAMES.CONFIG_CSP]"
      title="{{'adm.config.csp' | translate}}">
    </sgi-menu-subitem>
    <sgi-menu-subitem *sgiHasAuthority="'ADM-CNF-E'" [route]="[ADM_ROUTE_NAMES.CONFIG_ETI]"
      title="{{'adm.config.eti' | translate}}">
    </sgi-menu-subitem>
    <sgi-menu-subitem *sgiHasAuthority="'ADM-CNF-E'" [route]="[ADM_ROUTE_NAMES.CONFIG_PII]"
      title="{{'adm.config.pii' | translate}}">
    </sgi-menu-subitem>
    <sgi-menu-subitem *sgiHasAuthority="'ADM-CNF-E'" [route]="[ADM_ROUTE_NAMES.CONFIG_PRC]"
      title="{{'adm.config.prc' | translate}}">
    </sgi-menu-subitem>

  </sgi-menu-group>

</sgi-root>