<ng-container *ngFor="let problem of problems">
  <div class="mat-elevation-z4 problem" [ngClass]="[problem.level ? problem.level : 'error']">
    <div fxLayout="row" fxLayoutGap="10px">
      <div fxFlex style="text-align: left;">
        <div class="preserve-lines">
          {{errorMsg(problem) | async}}
        </div>
      </div>
    </div>

    <ng-container *ngIf="problem.errors">
      <ul style="text-align: left; margin-top:0px; margin-bottom: 0px">
        <li *ngFor="let error of problem.errors">{{error.field}}{{error.field ? ':' : ''}} {{error.error}}</li>
      </ul>
    </ng-container>
  </div>
</ng-container>