<!-- Actas listado -->
<sgi-menu-content>
  <!-- Buscador de actas -->

  <form class="formulario mat-elevation-z8" [formGroup]="formGroup" [fxLayout.xs]="fxLayoutProperties.xs"
    [fxLayout]="fxLayoutProperties.layout" fxLayoutGap="fxLayoutProperties.gap" ngClass.gt-xs="ml-10">

    <div fxFlex="85%" fxFlex.sm="50%" fxFlex.md="73%" [fxLayout.xs]="fxLayoutProperties.xs"
      [fxLayout]="fxLayoutProperties.layout" fxLayoutGap="fxLayoutProperties.gap" ngClass.gt-xs="ml-10">
      <!-- Comité -->
      <div class="col">
        <mat-form-field class="input-form">
          <mat-label>{{'label.eti.comite' | translate}}</mat-label>
          <input type="text" [placeholder]="'label.eti.comite' | translate" arial-label="Number" matInput
            formControlName="comite" [matAutocomplete]="autocompleteComite">
          <mat-autocomplete #autocompleteComite="matAutocomplete" [displayWith]="getComite">
            <mat-option *ngFor="let comite of filteredComites | async" [value]="comite">
              {{comite.comite}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>

      <!-- Fechas inicio evaluacion-->
      <div class="col">
        <mat-form-field color="primary">
          <mat-label>{{'eti.acta.fecha-evaluacion.inicio'| translate}}</mat-label>
          <input matInput [matDatepicker]="pickerFechaEvaluacionInicio" formControlName="fechaEvaluacionInicio">
          <mat-datepicker-toggle class="fechaIcon" matSuffix [for]="pickerFechaEvaluacionInicio">
          </mat-datepicker-toggle>
          <mat-datepicker #pickerFechaEvaluacionInicio>
          </mat-datepicker>
        </mat-form-field>
      </div>

      <!-- Fechas fin evaluacion-->
      <div class="col">
        <mat-form-field color="primary" sgiEndDate>
          <mat-label>{{'eti.acta.fecha-evaluacion.fin'| translate}}</mat-label>
          <input matInput [matDatepicker]="pickerFechaEvaluacionFin" formControlName="fechaEvaluacionFin">
          <mat-datepicker-toggle class="fechaIcon" matSuffix [for]="pickerFechaEvaluacionFin"></mat-datepicker-toggle>
          <mat-datepicker #pickerFechaEvaluacionFin>
          </mat-datepicker>
        </mat-form-field>
      </div>

      <!-- Num acta-->
      <div class="col">
        <mat-form-field>
          <mat-label>{{'eti.acta.numero' | translate}}</mat-label>
          <input matInput type="number" placeholder="{{'eti.acta.numero' | translate}}" formControlName="numeroActa"
            min="0">
        </mat-form-field>
      </div>

      <!-- Tipo estado -->
      <div class="col">
        <mat-form-field class="input-form">
          <mat-label>{{'eti.acta.estado' | translate}}</mat-label>
          <input type="text" placeholder="{{'eti.acta.estado' | translate}}" arial-label="Number" matInput
            formControlName="tipoEstadoActa" [matAutocomplete]="autoCompleteTipoEstado">
          <mat-autocomplete #autoCompleteTipoEstado="matAutocomplete" [displayWith]="getTipoEstadoActa">
            <mat-option *ngFor="let tipoEstado of filteredTipoEstadoActa | async" [value]="tipoEstado">
              {{tipoEstado.nombre}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
    </div>

    <div class="buttons-final">
      <div class="col filter-button">
        <button color="primary" aria-label="Center Align" mat-raised-button (click)="onSearch()">
          <mat-icon>search</mat-icon> {{'btn.search'| translate}}
        </button>
        <button color="warn" aria-label="Center Align" (click)="onClearFilters()" mat-button>{{'btn.clean'|
          translate}}
        </button>
      </div>
    </div>
  </form>

  <div class="mat-elevation-z4">
    <table mat-table [dataSource]="actas$ | async" matSort matSortActive="id" matSortDirection="asc"
      matSortDisableClear>

      <!-- Comite Column -->
      <ng-container matColumnDef="convocatoriaReunion.comite">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'label.eti.comite' | translate}} </th>
        <td mat-cell *matCellDef="let acta"> {{acta.comite}} </td>
      </ng-container>

      <!-- Fecha evaluacion Column -->
      <ng-container matColumnDef="convocatoriaReunion.fechaEvaluacion">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'eti.acta.fecha-evaluacion' | translate}} </th>
        <td mat-cell *matCellDef="let acta"> {{acta.fechaEvaluacion | luxon:'shortDate'}} </td>
      </ng-container>

      <!-- Numero acta Column -->
      <ng-container matColumnDef="numero">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'eti.acta.numero' | translate}} </th>
        <td mat-cell *matCellDef="let acta"> {{acta.numeroActa}} </td>
      </ng-container>

      <!-- Convocatoria Column -->
      <ng-container matColumnDef="convocatoriaReunion.tipoConvocatoriaReunion">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'eti.acta.convocatoria' | translate}} </th>
        <td mat-cell *matCellDef="let acta"> {{acta.convocatoria}} </td>
      </ng-container>

      <!-- Numero de iniciales Column -->
      <ng-container matColumnDef="numeroIniciales">
        <th mat-header-cell *matHeaderCellDef> {{'eti.acta.numero-iniciales' | translate}} </th>
        <td mat-cell *matCellDef="let acta"> {{acta.numEvaluaciones}} </td>
      </ng-container>

      <!-- Numero de revisiones Column -->
      <ng-container matColumnDef="numeroRevisiones">
        <th mat-header-cell *matHeaderCellDef> {{'eti.acta.numero-revisiones' | translate}} </th>
        <td mat-cell *matCellDef="let acta"> {{acta.numRevisiones}} </td>
      </ng-container>

      <!-- Numero total Column -->
      <ng-container matColumnDef="numeroTotal">
        <th mat-header-cell *matHeaderCellDef> {{'eti.acta.numero-total' | translate}} </th>
        <td mat-cell *matCellDef="let acta"> {{acta.numTotal}} </td>
      </ng-container>

      <!-- Estado Column -->
      <ng-container matColumnDef="estadoActual.nombre">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'eti.acta.estado' | translate}} </th>
        <td mat-cell *matCellDef="let acta"> {{acta.estadoActa.nombre}}</td>
      </ng-container>


      <!-- Acciones Column -->
      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef> {{'label.actions' | translate}} </th>
        <td mat-cell *matCellDef="let acta;let i=index;">
          <ng-container *sgiHasAnyAuthorityForAnyUO="['ETI-ACT-E','ETI-ACT-INV-ER','ETI-ACT-ER']">
            <a *ngIf="!isFinalizada(acta)" mat-button [routerLink]="[acta.id]" matTooltip="{{'btn.edit' | translate}}">
              <mat-icon color="primary">border_color</mat-icon>
            </a>
            <a *ngIf="isFinalizada(acta)" mat-button [routerLink]="[acta.id]" matTooltip="{{'btn.view' | translate}}">
              <mat-icon color="primary">visibility</mat-icon>
            </a>
          </ng-container>
          <ng-container>
            <button mat-button matTooltip="{{'btn.show.file' | translate}}" (click)="visualizarInforme(acta.id)">
              <mat-icon color="primary">picture_as_pdf</mat-icon>
            </button>
          </ng-container>
          <ng-container *sgiHasAnyAuthorityForAnyUO="['ETI-ACT-FIN','ETI-ACT-INV-DESR','ETI-ACT-DESR']">
            <button *ngIf="hasFinalizarActa(acta)" mat-button (click)="finishActa(acta.id)"
              matTooltip="{{'eti.acta.finalizar' | translate}}">
              <mat-icon color="primary">https</mat-icon>
            </button>
          </ng-container>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <div class="paginator-export">
      <button mat-button matTooltip="{{'btn.export' | translate}}" (click)="openExportModal()"
        [disabled]="totalElementos<=0">
        <mat-icon color="primary">insert_chart_outlined</mat-icon>
      </button>
      <mat-paginator [pageSizeOptions]="elementosPagina" [length]="totalElementos" showFirstLastButtons>
      </mat-paginator>
    </div>
  </div>
  <sgi-menu-content-footer *sgiHasAuthorityForAnyUO="'ETI-ACT-C'">
    <sgi-footer-crear [texto]="textoCrear" [route]="ROUTE_NAMES.NEW">
    </sgi-footer-crear>
  </sgi-menu-content-footer>
</sgi-menu-content>
<!-- FIN actas listado-->