<div fxFlex fxLayout="row wrap" fxLayoutAlign="center centerr">
  <ng-container *ngFor="let module of modules">
    <mat-card *sgiHasModuleAccess="module.code" class="mat-elevation-z4 module" fxLayout="column" fxFlex="400px"
      [routerLink]="[module.path]">
      <mat-card-header>
        <mat-icon color="primary" mat-card-avatar>{{module.icon}}</mat-icon>
        <mat-card-title>{{module.code}}</mat-card-title>
      </mat-card-header>
      <div fxLayoutAlign="center">
        <span class="module-content">{{module.name | translate}}</span>
      </div>
    </mat-card>
  </ng-container>
</div>