<sgi-dialog-header title="{{'title.modulo.select'| translate}}"></sgi-dialog-header>
<sgi-dialog-content>
  <mat-action-list fxLayoutGap="10px" fxLayout="column">
    <ng-container *ngFor="let modulo of modulos">
      <div mat-list-item *sgiHasModuleAccess="modulo.code" (click)="openModulo(modulo.path)" class="seleccion" fxFlex
        fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="center" tabindex="0">
        <div class="module-icon" fxFlex fxLayoutAlign="center center">
          <mat-icon color="primary">{{modulo.icon}}</mat-icon>
        </div>
        <div fxFlex="grow" fxLayoutAlign="start center" class="module-name">{{modulo.name | translate}}</div>
        <div class="module-link" fxFlex fxLayoutAlign="center center">
          <mat-icon color="primary">arrow_forward</mat-icon>
        </div>
      </div>
    </ng-container>
  </mat-action-list>
</sgi-dialog-content>