<sgi-dialog-header [title]="title"></sgi-dialog-header>
<sgi-dialog-content>
  <form [formGroup]="formGroup">
    <!-- Empresa económica -->
    <div fxLayout="row">
      <mat-form-field>
        <mat-label>{{'csp.entidad-financiadora.empresa-economica' | translate}}</mat-label>
        <sgi-select-empresa formControlName="empresa"
          placeholder="{{'csp.entidad-financiadora.empresa-economica' | translate}}" required>
        </sgi-select-empresa>
        <mat-error *ngIf="formGroup.controls.empresa.errors?.required">
          {{ 'error.required.entity' | translate:msgParamEmpresaEntity }}
        </mat-error>
      </mat-form-field>
    </div>
    <!-- Fuente de financiación -->
    <div fxLayout="row">
      <mat-form-field>
        <mat-label>{{'csp.entidad-financiadora.fuente-financiacion' | translate}}</mat-label>
        <sgi-select-fuente-financiacion formControlName="fuenteFinanciacion"></sgi-select-fuente-financiacion>
      </mat-form-field>
    </div>
    <!-- Tipo de financiación -->
    <div fxLayout="row">
      <mat-form-field>
        <mat-label>{{'csp.entidad-financiadora.tipo-financiacion' | translate}}</mat-label>
        <sgi-select-tipo-financiacion formControlName="tipoFinanciacion">
        </sgi-select-tipo-financiacion>
      </mat-form-field>
    </div>
    <!-- Porcentaje de financiación -->
    <div fxLayout="row">
      <mat-form-field>
        <mat-label>{{'csp.entidad-financiadora.porcentaje-financiacion' | translate}}
        </mat-label>
        <input matInput formControlName="porcentajeFinanciacion" type="number" id="porcentajeFinanciacion" min="0"
          max="100" step="1" placeholder="{{'csp.entidad-financiadora.porcentaje-financiacion' | translate}}">
        <mat-error *ngIf="formGroup.controls.porcentajeFinanciacion.errors?.min">
          {{ 'error.min.entity' | translate:msgParamPorcentajeFinanciacionEntity }}
        </mat-error>
        <mat-error *ngIf="formGroup.controls.porcentajeFinanciacion.errors?.max">
          {{ 'error.max.entity' | translate:msgParamPorcentajeFinanciacionEntity }}
        </mat-error>
        <mat-error *ngIf="formGroup.controls.porcentajeFinanciacion.errors?.maxDecimals">
          {{ 'error.max.decimals.entity' | translate:msgParamPorcentajeFinanciacionEntity }}
        </mat-error>
      </mat-form-field>
    </div>
    <!-- Importe de financiación -->
    <div fxLayout="row">
      <mat-form-field>
        <mat-label>{{'csp.entidad-financiadora.importe-financiacion' | translate}}
        </mat-label>
        <input matInput formControlName="importeFinanciacion" type="number" id="importeFinanciacion" min="0" step="1"
          placeholder="{{'csp.entidad-financiadora.importe-financiacion' | translate}}">
        <mat-error *ngIf="formGroup.controls.importeFinanciacion.errors?.min">
          {{ 'error.min.entity' | translate:msgParamImporteFinanciacionEntity }}
        </mat-error>
        <mat-error *ngIf="formGroup.controls.importeFinanciacion.errors?.max">
          {{ 'error.max.entity' | translate:msgParamImporteFinanciacionEntity }}
        </mat-error>
      </mat-form-field>
    </div>
  </form>
</sgi-dialog-content>
<mat-dialog-actions>
  <button color="accent" (click)="doAction()" [disabled]="this.actionDisabled" mat-raised-button type="submit"
    *ngIf="!data.readonly">
    <mat-icon class="save-icon">save</mat-icon>{{textSaveOrUpdate | translate}}
  </button>
  <button class="link-cancelar" mat-button type="button" mat-dialog-close>{{'btn.cancel' |
    translate}}</button>
</mat-dialog-actions>