<div class="scrollable-panel-with-footer">
  <section class="planes-investigacion-listado">
    <!-- Buscador de planes de investigación -->
    <form class="formulario mat-elevation-z8" [formGroup]="formGroup" [fxLayout.xs]="fxLayoutProperties.xs"
      [fxLayout]="fxLayoutProperties.layout" [fxLayoutGap]="fxLayoutProperties.gap" ngClass.gt-xs="ml-10">

      <div fxFlex="84%" fxFlex.sm="50%" fxFlex.md="72%" [fxLayout.xs]="fxLayoutProperties.xs"
        [fxLayout]="fxLayoutProperties.layout" fxLayoutGap="fxLayoutProperties.gap" ngClass.gt-xs="ml-10">
        <!-- Nombre -->
        <div class="col">
          <mat-form-field>
            <mat-label>{{'csp.plan-investigacion.nombre' | translate}}</mat-label>
            <input matInput placeholder="{{'csp.plan-investigacion.nombre' | translate}}" formControlName="nombre">
          </mat-form-field>
        </div>

        <!-- Activo -->
        <ng-container *sgiHasAuthority="'CSP-PRG-R'">
          <div class="col">
            <mat-form-field>
              <mat-label>{{'label.activo' | translate}}</mat-label>
              <mat-select matNativeControl formControlName="activo">
                <mat-option value="todos">{{'label.todos' | translate}}</mat-option>
                <mat-option value="true">{{'label.si' | translate}}</mat-option>
                <mat-option value="false">{{'label.no' | translate}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </ng-container>
      </div>

      <div class="buttons-final">
        <div class="col filter-button">
          <button color="primary" aria-label="Center Align" mat-raised-button (click)="onSearch()">
            <mat-icon>search</mat-icon> {{'btn.search'| translate}}
          </button>
          <button color="warn" aria-label="Center Align" (click)="onClearFilters()" mat-button>{{'btn.clean'|
            translate}}
          </button>
        </div>
      </div>
    </form>
    <!-- FIN Buscador de planes de investigación -->

    <!-- Listado de planes de investigación -->
    <table mat-table class="mat-elevation-z8 table-unidad" [dataSource]="programas$ | async" matSort matSortActive="id"
      matSortDirection="asc" matSortDisableClear>
      <!-- Nombre -->
      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'csp.plan-investigacion.nombre' | translate}}
        </th>
        <td mat-cell *matCellDef="let programa">{{programa.nombre}}</td>
      </ng-container>

      <!-- Descripción -->
      <ng-container matColumnDef="descripcion">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'csp.plan-investigacion.descripcion' | translate}}
        </th>
        <td mat-cell *matCellDef="let programa">{{programa.descripcion}}</td>
      </ng-container>

      <!-- Activo -->
      <ng-container *sgiHasAuthority="'CSP-PRG-R'">
        <ng-container matColumnDef="activo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'label.activo' | translate}}
          </th>
          <td mat-cell *matCellDef="let programa">{{(programa.activo ? 'label.si' : 'label.no') | translate}}
          </td>
        </ng-container>
      </ng-container>

      <!-- Acciones -->
      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef> {{'label.actions' | translate}} </th>
        <td mat-cell *matCellDef="let programa">
          <ng-container *sgiHasAuthority="'CSP-PRG-E'">
            <button *ngIf="programa.activo === true" mat-button matTooltip="{{'btn.edit' | translate}}"
              [routerLink]="[programa.id]">
              <mat-icon color="primary">border_color</mat-icon>
            </button>
          </ng-container>
          <ng-container *sgiHasAuthority="'CSP-PRG-B'">
            <button *ngIf="programa.activo === true" mat-button matTooltip="{{'btn.edit' | translate}}"
              (click)="desactivePlan(programa)">
              <mat-icon color="warn">highlight_off</mat-icon>
            </button>
          </ng-container>
          <ng-container *sgiHasAuthority="'CSP-PRG-R'">
            <button *ngIf="programa.activo === false" (click)="activePlan(programa)" mat-button
              matTooltip="{{'btn.recover' | translate}}">
              <mat-icon color="accent">add_circle_outline</mat-icon>
            </button>
          </ng-container>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnas"></tr>
      <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="elementosPagina" [length]="totalElementos" showFirstLastButtons>
    </mat-paginator>
  </section>
</div>
<ng-container *sgiHasAuthority="'CSP-PRG-C'">
  <sgi-footer-crear [texto]="textoCrear" [route]="ROUTE_NAMES.NEW"></sgi-footer-crear>
</ng-container>