<sgi-dialog-header title="{{'title.csp.ejecucion-economica.viajes-dietas' | translate}}"></sgi-dialog-header>
<sgi-dialog-content>
  <div fxLayout="column" fxLayoutGap="10px">
    <mat-card>
      <mat-card-title>
        {{ 'title.csp.ejecucion-economica.facturas-justificantes.datos-sge' | translate}}
      </mat-card-title>
      <mat-card-content>
        <sgi-ejecucion-economica-detalle-economico [detalle]="data" [rowConfig]="data.rowConfig">
        </sgi-ejecucion-economica-detalle-economico>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-title>
        {{ 'title.csp.ejecucion-economica.facturas-justificantes.datos-sgi' | translate}}
      </mat-card-title>
      <mat-card-content>
        <form [formGroup]="formGroup">
          <div fxLayout="row" fxLayoutGap="10px">
            <!-- Proyecto -->
            <div fxFlex>
              <mat-form-field>
                <mat-label>{{'csp.ejecucion-economica.facturas-justificantes.proyecto-sgi' | translate}}</mat-label>
                <sgi-select-entity formControlName="proyecto" [options]="proyectos$ | async"
                  [displayWith]="displayerProyecto" required>
                </sgi-select-entity>
                <mat-error *ngIf="formGroup.controls.proyecto.errors?.required">
                  {{ 'error.required.entity' | translate:msgParamProyecto }}
                </mat-error>
              </mat-form-field>
            </div>

            <!-- Fecha congreso -->
            <div fxFlex>
              <mat-form-field>
                <mat-label>
                  {{'csp.ejecucion-economica.facturas-justificantes.fecha-congreso' | translate}}
                </mat-label>
                <input matInput formControlName="fechaCongreso" [ngxMatDatetimePicker]="picker1">
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <ngx-mat-datetime-picker #picker1 showSeconds="true" [defaultTime]="[0,0,0]"></ngx-mat-datetime-picker>
              </mat-form-field>
            </div>

            <!-- Importe inscripcion -->
            <div fxFlex>
              <mat-form-field>
                <mat-label>
                  {{'csp.ejecucion-economica.facturas-justificantes.importe-inscripcion' | translate}}
                </mat-label>
                <input matInput formControlName="importeInscripcion" type="text" sgiInputWithThousandSeparator
                  placeholder="{{'csp.ejecucion-economica.facturas-justificantes.importe-inscripcion' | translate}}">
                <mat-error *ngIf="formGroup.controls.importeInscripcion.errors?.min">
                  {{'error.min.entity' | translate:msgParamImporteInscripcion}}
                </mat-error>
                <mat-error *ngIf="formGroup.controls.importeInscripcion.errors?.max">
                  {{'error.max.entity' | translate:msgParamImporteInscripcion}}
                </mat-error>
              </mat-form-field>
            </div>
          </div>

          <div fxLayout="row">
            <!-- Observaciones -->
            <div fxFlex>
              <mat-form-field>
                <mat-label>
                  {{'csp.ejecucion-economica.facturas-justificantes.observaciones' | translate}}
                </mat-label>
                <textarea matInput formControlName="observaciones"
                  placeholder="{{'csp.ejecucion-economica.facturas-justificantes.observaciones' | translate}}"></textarea>
              </mat-form-field>
            </div>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</sgi-dialog-content>
<mat-dialog-actions>
  <button color="accent" (click)="doAction()" [disabled]="this.actionDisabled" mat-raised-button type="submit"
    *sgiHasAuthorityForAnyUO="'CSP-EJEC-E'">
    <mat-icon class="save-icon">save</mat-icon>
    {{'btn.ok' | translate}}
  </button>
  <button class="link-cancelar" mat-button type="button" mat-dialog-close>
    {{'btn.cancel' | translate}}
  </button>
</mat-dialog-actions>