<sgi-dialog-header [title]="title"></sgi-dialog-header>
<sgi-dialog-content>
  <form [formGroup]="formGroup">
    <!-- Responsable -->
    <div fxLayout="row">
      <mat-form-field>
        <mat-label>
          {{'csp.proyecto-responsable-economico' | translate}}
        </mat-label>
        <sgi-select-persona placeholder="{{'csp.proyecto-responsable-economico' | translate}}"
          formControlName="responsable" [tipoColectivo]="TipoColectivo.RESPONSABLE_ECONOMICO_CSP" required>
        </sgi-select-persona>
        <mat-error *ngIf="formGroup.controls.responsable.errors?.required">
          {{'error.required.entity' | translate:msgParamEntity}}
        </mat-error>
      </mat-form-field>
    </div>
    <!-- Fechas -->
    <div fxLayout="row">
      {{'title.csp.proyecto-responsable-economico.periodo-participacion' | translate}}
    </div>
    <div fxLayout="row" fxLayoutGap="10px">
      <!-- Fecha inicio -->
      <div fxFlex>
        <mat-form-field>
          <mat-label>{{'csp.proyecto-responsable-economico.fecha-inicio' | translate}}</mat-label>
          <input matInput formControlName="fechaInicio" [matDatepicker]="picker1" [required]="requiredFechaInicio">
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
          <mat-error *ngIf="formGroup.controls.fechaInicio.errors?.required">
            {{'error.required.entity' | translate:msgParamFechaInicio}}
          </mat-error>
          <mat-error *ngIf="formGroup.controls.fechaInicio.errors?.overlaps">
            {{'error.overlapping.record.entity' | translate:msgParamEntity}}
          </mat-error>
          <mat-error *ngIf="formGroup.controls.fechaInicio.errors?.invalid">
            {{'error.csp.proyecto-responsable-economico.fecha.invalid' | translate}}
          </mat-error>
        </mat-form-field>
      </div>
      <!-- Fecha fin -->
      <div fxFlex>
        <mat-form-field sgiEndDate>
          <mat-label>{{'csp.proyecto-responsable-economico.fecha-fin' | translate}}</mat-label>
          <input matInput formControlName="fechaFin" [matDatepicker]="picker2" [required]="requiredFechaFin">
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
          <mat-error *ngIf="formGroup.controls.fechaFin.errors?.required">
            {{'error.required.entity' | translate:msgParamFechaFin}}
          </mat-error>
          <mat-error *ngIf="formGroup.controls.fechaFin.errors?.after">
            {{'error.after.fecha-fin' | translate}}
          </mat-error>
          <mat-error *ngIf="formGroup.controls.fechaFin.errors?.overlaps">
            {{'error.overlapping.record.entity' | translate:msgParamEntity}}
          </mat-error>
          <mat-error *ngIf="formGroup.controls.fechaFin.errors?.invalid">
            {{'error.csp.proyecto-responsable-economico.fecha.invalid' | translate}}
          </mat-error>
        </mat-form-field>
      </div>
    </div>
  </form>
</sgi-dialog-content>
<mat-dialog-actions>
  <button color="accent" (click)="doAction()" [disabled]="this.actionDisabled" mat-raised-button type="submit"
    *ngIf="!data.readonly">
    <mat-icon class="save-icon">save</mat-icon>
    {{textSaveOrUpdate | translate}}
  </button>
  <button class="link-cancelar" mat-button type="button" mat-dialog-close>
    {{'btn.cancel' | translate}}
  </button>
</mat-dialog-actions>