@import "colors.scss";

.programa {
  .arbol {
    padding: 10px;
    border: 1px solid map-get($palette-grey, 300);
    min-height: 485px;
    .mat-tree-node {
      button {
        font-weight: 400;
      }
    }
    .arbol-invisible {
      display: none;
    }
    .arbol-tree ul,
    .arbol-tree li {
      margin-top: 0;
      margin-bottom: 0;
      list-style-type: none;
    }
  }
  .visualizacion {
    h3 {
      font-weight: bold;
    }
    background: map-get($sgi-custom-colors, bg);
    padding: 30px;
  }
}
