<sgi-dialog-header [title]="title"></sgi-dialog-header>
<sgi-dialog-content>
  <form [formGroup]="formGroup">

    <!-- Fecha Informe-->
    <div fxLayout="row">
      <mat-form-field fxFlex="33">
        <mat-label>{{'pii.invencion-informe-patentabilidad.fecha-informe' | translate}}</mat-label>
        <input matInput formControlName="fecha" [matDatepicker]="fecha" required>
        <mat-datepicker-toggle matSuffix [for]="fecha"></mat-datepicker-toggle>
        <mat-datepicker #fecha></mat-datepicker>
        <mat-error *ngIf="formGroup.controls.fecha.errors?.required">
          {{'error.required.entity' | translate:msgParamFechaInformeEntity}}
        </mat-error>
      </mat-form-field>
    </div>

    <!-- Nombre -->
    <div fxLayout="row">
      <mat-form-field fxFlex>
        <mat-label>{{'pii.invencion-informe-patentabilidad.nombre' | translate}}</mat-label>
        <input matInput formControlName="nombre" id="nombre"
          placeholder="{{'pii.invencion-informe-patentabilidad.nombre' | translate}}" required>
        <mat-error *ngIf="formGroup.controls.nombre.errors?.required">
          {{'error.required.entity' | translate:msgParamNombreEntity}}
        </mat-error>
        <mat-error *ngIf="formGroup.controls.nombre.errors?.maxlength">
          {{'error.maxlength.entity' | translate:msgParamNombreEntity}}
        </mat-error>
      </mat-form-field>
    </div>

    <!-- Fichero -->
    <div fxLayout="row">
      <mat-form-field fxFlex>
        <mat-label>{{'pii.invencion-informe-patentabilidad.fichero' | translate}}</mat-label>
        <sgi-file-upload #uploader formControlName="documento" autoUpload="false"
          (uploadEventChange)="onUploadProgress($event)"
          placeholder="{{'pii.invencion-informe-patentabilidad.fichero' | translate}}" required></sgi-file-upload>
        <mat-error *ngIf="formGroup.controls.documento.errors?.required">
          {{'error.required.entity' | translate:msgParamFicheroEntity}}
        </mat-error>
      </mat-form-field>
    </div>

    <!-- Resultado-->
    <div fxLayout="row">
      <mat-form-field fxFlex="50">
        <mat-label>{{'pii.invencion-informe-patentabilidad.resultado' | translate}}</mat-label>
        <sgi-select-resultado-informe-patentabilidad formControlName="resultadoInformePatentabilidad" required>
        </sgi-select-resultado-informe-patentabilidad>
        <mat-error *ngIf="formGroup.controls.resultadoInformePatentabilidad.errors?.required">
          {{'error.required.entity' | translate:msgParamResultadoEntity}}
        </mat-error>
      </mat-form-field>
    </div>

    <!-- Entidad Creadora -->
    <div fxLayout="row">
      <mat-form-field fxFlex>
        <mat-label>{{'pii.invencion-informe-patentabilidad.entidad-creadora' | translate}}</mat-label>
        <sgi-select-empresa placeholder="{{'pii.invencion-informe-patentabilidad.entidad-creadora' | translate}}"
          formControlName="entidadCreadora" required>
        </sgi-select-empresa>
        <mat-error *ngIf="formGroup.controls.entidadCreadora.errors?.required">
          {{'error.required.entity' | translate:msgParamEntidadCreaddoraEntity}}
        </mat-error>
      </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutGap="10px">

      <!-- Contacto Entidad Creadora -->

      <mat-form-field fxFlex>
        <mat-label>{{'pii.invencion-informe-patentabilidad.contacto-entidad' | translate}}</mat-label>
        <input matInput formControlName="contactoEntidadCreadora" id="contactoEntidadCreadora"
          placeholder="{{'pii.invencion-informe-patentabilidad.contacto-entidad' | translate}}">
        <mat-error *ngIf="formGroup.controls.contactoEntidadCreadora.errors?.maxlength">
          {{'error.maxlength.entity' | translate:msgParamContactoEntidadEntity}}
        </mat-error>
      </mat-form-field>

      <!-- Contacto Examinador -->
      <mat-form-field fxFlex>
        <mat-label>{{'pii.invencion-informe-patentabilidad.contacto-examinador' | translate}}</mat-label>
        <input matInput formControlName="contactoExaminador" id="contactoExaminador"
          placeholder="{{'pii.invencion-informe-patentabilidad.contacto-examinador' | translate}}" required>
        <mat-error *ngIf="formGroup.controls.contactoExaminador.errors?.required">
          {{'error.required.entity' | translate:msgParamContactoExaminadorEntity}}
        </mat-error>
        <mat-error *ngIf="formGroup.controls.contactoExaminador.errors?.maxlength">
          {{'error.maxlength.entity' | translate:msgParamContactoExaminadorEntity}}
        </mat-error>
      </mat-form-field>

    </div>

    <!-- Comentarios -->
    <div fxLayout="row">
      <mat-form-field fxFlex>
        <mat-label>{{'pii.invencion-informe-patentabilidad.comentarios' | translate}}</mat-label>
        <textarea matInput formControlName="comentarios" id="comentarios"
          placeholder="{{'pii.invencion-informe-patentabilidad.comentarios' | translate}}"></textarea>
        <mat-error *ngIf="formGroup.controls.comentarios.errors?.maxlength">
          {{'error.maxlength.entity' | translate:msgParamComentariosEntity}}
        </mat-error>
      </mat-form-field>
    </div>

  </form>
</sgi-dialog-content>
<mat-dialog-actions>
  <button color="accent" (click)="doAction()" [disabled]="this.actionDisabled" mat-raised-button type="submit"
    *ngIf="!data.readonly">
    <mat-icon class="save-icon">save</mat-icon>{{textSaveOrUpdate | translate}}
  </button>
  <button class="link-cancelar" mat-button type="button" mat-dialog-close>{{'btn.cancel' |
    translate}}</button>
</mat-dialog-actions>