<sgi-dialog-header [title]="title"></sgi-dialog-header>
<sgi-dialog-content>
  <form [formGroup]="formGroup" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="none start">
    <div fxFlex fxLayout="column" fxLayoutGap="10px">
      <h3 *ngIf="showDatosConvocatoriaCodigoEconomico">&nbsp;</h3>
      <!-- Código Económico -->
      <div fxFlex fxLayout="row" fxLayoutGap="10px">
        <mat-form-field>
          <mat-label>
            {{'csp.proyecto-concepto-gasto-codigo-economico.codigo-concepto-sge' | translate}}
          </mat-label>
          <sgi-select formControlName="codigoEconomico" required [options]="codigosEconomicos$ | async"
            [compareWith]="comparerCodigoEconomico" [displayWith]="displayerCodigoEconomico"
            [sortWith]="sorterCodigoEconomico"></sgi-select>
          <mat-error *ngIf="formGroup.controls.codigoEconomico.errors?.required">
            {{'error.required.entity' | translate:msgParamCodigoEconomigoSgeEntity}}
          </mat-error>
          <mat-error *ngIf="formGroup.controls.codigoEconomico.errors?.overlappedConceptoAndCodigo">
            {{ 'error.csp.proyecto-concepto-gasto-codigo-economico.overlapped-concepto-and-codigo' | translate }}
          </mat-error>
        </mat-form-field>
      </div>

      <div fxFlex fxLayout="row" fxLayoutGap="10px" class="fieldset-form">
        {{'label.csp.proyecto-concepto-gasto-codigo-economico.vigencia' | translate}}
      </div>


      <div fxFlex fxLayout="row" fxLayoutGap="10px">
        <!-- Fecha inicio -->
        <mat-form-field>
          <mat-label>
            {{'csp.proyecto-concepto-gasto-codigo-economico.fecha-inicio'| translate}}
          </mat-label>
          <input matInput [matDatepicker]="pickerFechaInicio" formControlName="fechaInicio">
          <mat-datepicker-toggle class="fechaIcon" matSuffix [for]="pickerFechaInicio">
          </mat-datepicker-toggle>
          <mat-datepicker #pickerFechaInicio>
          </mat-datepicker>
          <mat-error *ngIf="formGroup.controls.fechaInicio.errors?.before">
            {{'error.before.fecha-inicio' | translate}}
          </mat-error>
          <mat-error *ngIf="formGroup.controls.fechaInicio.errors?.overlapped">
            {{'error.overlapping.record.entity' | translate:msgParamEntity}}
          </mat-error>
        </mat-form-field>

        <!-- Fecha fin -->
        <mat-form-field sgiEndDate>
          <input matInput [matDatepicker]="pickerFechaFin" formControlName="fechaFin">
          <mat-label>
            {{'csp.proyecto-concepto-gasto-codigo-economico.fecha-fin'| translate}}
          </mat-label>
          <mat-datepicker-toggle class="fechaIcon" matSuffix [for]="pickerFechaFin">
          </mat-datepicker-toggle>
          <mat-datepicker #pickerFechaFin>
          </mat-datepicker>
          <mat-error *ngIf="formGroup.controls.fechaFin.errors?.after">
            {{'error.after.fecha-fin' | translate}}
          </mat-error>
          <mat-error *ngIf="formGroup.controls.fechaFin.errors?.overlapped">
            {{'error.overlapping.record.entity' | translate:msgParamEntity}}
          </mat-error>
        </mat-form-field>
      </div>

      <div fxFlex fxLayout="row" fxLayoutGap="10px">
        <!-- Observaciones -->
        <mat-form-field>
          <mat-label>
            {{'csp.proyecto-concepto-gasto-codigo-economico.observaciones' | translate}}
          </mat-label>
          <textarea #obs matInput formControlName="observaciones" type="text"
            placeholder="{{'csp.convocatoria-elegibilidad.codigo-economico.observaciones' | translate}}"
            maxlength="250">
        </textarea>
          <mat-hint>{{obs.value.length}} / 250</mat-hint>
        </mat-form-field>
      </div>
    </div>

    <!-- Datos de la convocatoria -->
    <div fxFlex="50" fxLayout="column" fxLayoutGap="10px" *ngIf="showDatosConvocatoriaCodigoEconomico">
      <h3>{{'info.csp.datos-convocatoria' | translate}}</h3>

      <!-- Código Económico Convocatoria -->
      <div fxFlex fxLayout="row" fxLayoutGap="10px">
        <mat-form-field>
          <mat-label>
            {{'csp.proyecto-concepto-gasto-codigo-economico.codigo-concepto-sge' | translate}}
          </mat-label>
          <sgi-select formControlName="codigoEconomicoConvocatoria" [options]="codigosEconomicos$ | async"
            [compareWith]="comparerCodigoEconomico" [displayWith]="displayerCodigoEconomico"
            [sortWith]="sorterCodigoEconomico"></sgi-select>
        </mat-form-field>
      </div>

      <div fxFlex fxLayout="row" fxLayoutGap="10px" class="fieldset-form">
        {{'label.csp.proyecto-concepto-gasto-codigo-economico.vigencia' | translate}}
      </div>


      <div fxFlex fxLayout="row" fxLayoutGap="10px">
        <!-- Fecha inicio Convocatoria -->
        <mat-form-field>
          <mat-label>
            {{'csp.proyecto-concepto-gasto-codigo-economico.fecha-inicio'| translate}}
          </mat-label>
          <input matInput [ngxMatDatetimePicker]="pickerFechaInicioConvocatoria"
            formControlName="fechaInicioConvocatoria">
          <mat-datepicker-toggle class="fechaIcon" matSuffix [for]="pickerFechaInicioConvocatoria">
          </mat-datepicker-toggle>
          <ngx-mat-datetime-picker #pickerFechaInicioConvocatoria showSeconds="true" [defaultTime]="[0,0,0]">
          </ngx-mat-datetime-picker>
        </mat-form-field>

        <!-- Fecha fin Convocatoria -->
        <mat-form-field>
          <input matInput [ngxMatDatetimePicker]="pickerFechaFinConvocatoria" formControlName="fechaFinConvocatoria">
          <mat-label>
            {{'csp.proyecto-concepto-gasto-codigo-economico.fecha-fin'| translate}}
          </mat-label>
          <mat-datepicker-toggle class="fechaIcon" matSuffix [for]="pickerFechaFinConvocatoria">
          </mat-datepicker-toggle>
          <ngx-mat-datetime-picker #pickerFechaFinConvocatoria showSeconds="true" [defaultTime]="[23,59,59]">
          </ngx-mat-datetime-picker>
        </mat-form-field>
      </div>


      <!-- Observaciones Convocatoria -->
      <div fxFlex fxLayout="row" fxLayoutGap="10px">
        <mat-form-field>
          <mat-label>
            {{'csp.proyecto-concepto-gasto-codigo-economico.observaciones' | translate}}
          </mat-label>
          <textarea #obs matInput formControlName="observacionesConvocatoria" type="text"
            placeholder="{{'csp.convocatoria-elegibilidad.codigo-economico.observaciones' | translate}}"
            maxlength="250">
          </textarea>
          <mat-hint>{{obs.value.length}} / 250</mat-hint>
        </mat-form-field>
      </div>

      <div fxFlex fxLayout="row" fxLayoutGap="10px" class="separation-button">
        <button color="primary" aria-label="Center Align" mat-raised-button (click)="copyToProyecto()"
          [disabled]="disabledCopy">
          {{'btn.csp.aplicar-proyecto'| translate}}
        </button>
      </div>
    </div>

  </form>
</sgi-dialog-content>
<mat-dialog-actions>
  <button color="accent" (click)="doAction()" [disabled]="this.actionDisabled || disabledSave" mat-raised-button
    type="submit" *ngIf="!data.readonly">
    <mat-icon class="save-icon">save</mat-icon>{{textSaveOrUpdate | translate}}
  </button>
  <button class="link-cancelar" mat-button type="button" mat-dialog-close>
    {{'btn.cancel' | translate}}
  </button>
</mat-dialog-actions>