<p class="tbl-label" *ngIf="to.title">{{ to.title }}</p>

<table mat-table #formTable [dataSource]="dataSource" [multiTemplateDataRows]="true">

  <ng-container [matColumnDef]="currentField.key" *ngFor="let currentField of fieldsToRender; let i = index">

    <th mat-header-cell *matHeaderCellDef>{{ currentField.name }}</th>
    <ng-container *ngIf="currentField.name === HEADER_ACCIONES else notAction">
      <td mat-cell *matCellDef="let row; let i = dataIndex">
        <div class="action-button-container" *ngIf="!to.disabled">
          <button mat-button matTooltip="{{'btn.edit' | translate}}" (click)="editItem(i)">
            <mat-icon color="primary">border_color</mat-icon>
          </button>
          <button mat-button matTooltip="{{'btn.delete' | translate}}" (click)="removeItem(i)">
            <mat-icon color="warn">highlight_off</mat-icon>
          </button>
        </div>
      </td>
    </ng-container>

    <ng-template #notAction>
      <td mat-cell *matCellDef="let element; let i = dataIndex" [ngSwitch]="currentField?.type">

        <p *ngSwitchCase="'datepicker'">
          {{model[i][currentField.key] | luxon: currentField.format}}
        </p>

        <p *ngSwitchCase="'select'">
          {{getOptionSelected(model[i][currentField.key], currentField.options)}}
        </p>

        <p *ngSwitchDefault>{{model[i][currentField.key]}}</p>
      </td>
    </ng-template>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="getDisplayColumns(); sticky: true"></tr>
  <tr mat-row *matRowDef="let row; columns: getDisplayColumns()"></tr>
</table>

<formly-validation-message [field]="field"></formly-validation-message>

<div class="separation-button" *ngIf="!to.disabled">
  <button color="three" mat-raised-button (click)="addItem()">
    <mat-icon color="accent">add_circle</mat-icon>
    {{ btnAddTitle }}
  </button>
</div>