:host ::ng-deep {
  formly-field-mat-multicheckbox .mat-checkbox {
    display: block;
  }
  formly-validation-message {
    color: #c11b4a;
    font-size: 75%;
  }
}

.tbl-label {
  font-weight: 600;
  color: rgba(0, 0, 0, 0.7);
}
