<!-- Configuración -->
<section class="configuracion-actualizar">
  <h2>{{'eti.configuracion' | translate:MSG_PARAMS.CARDINALIRY.PLURAL}}</h2>

  <form [formGroup]="formGroup" [fxLayout.xs]="fxLayoutProperties.xs" [fxLayout]="fxLayoutProperties.layout"
    [fxLayoutGap]="fxLayoutProperties.gap" ngClass.gt-xs="ml-10">

    <!-- mesesArchivadaInactivo -->
    <div [fxFlex.sm]="fxFlexProperties.sm" [fxFlex.md]="fxFlexProperties.md" [fxFlex.gt-md]="fxFlexProperties.gtMd"
      [fxFlexOrder]="fxFlexProperties.order">
      <mat-form-field>
        <mat-label>{{'eti.configuracion.meses-inactiva' | translate}}</mat-label>
        <input type="number" [placeholder]="'eti.configuracion.meses-inactiva' | translate" arial-label="Number"
          matInput formControlName="mesesArchivadaInactivo">
        <mat-hint>{{'eti.configuracion.meses-inactiva.descripcion' | translate}}
        </mat-hint>
      </mat-form-field>
    </div>

    <!-- diasArchivadaPendienteCorrecciones -->
    <div [fxFlex.sm]="fxFlexProperties.sm" [fxFlex.md]="fxFlexProperties.md" [fxFlex.gt-md]="fxFlexProperties.gtMd"
      [fxFlexOrder]="fxFlexProperties.order">
      <mat-form-field>
        <mat-label>{{'eti.configuracion.dias-correcciones' | translate}}</mat-label>
        <input type="number" [placeholder]="'eti.configuracion.dias-correcciones' | translate" arial-label="Number"
          matInput formControlName="diasArchivadaPendienteCorrecciones">
        <mat-hint>{{'eti.configuracion.dias-correcciones.descripcion' | translate}}
        </mat-hint>
      </mat-form-field>
    </div>

    <!-- diasLimiteEvaluador -->
    <div [fxFlex.sm]="fxFlexProperties.sm" [fxFlex.md]="fxFlexProperties.md" [fxFlex.gt-md]="fxFlexProperties.gtMd"
      [fxFlexOrder]="fxFlexProperties.order">
      <mat-form-field>
        <mat-label>{{'eti.configuracion.dias-evaluar' | translate}}</mat-label>
        <input type="number" [placeholder]="'eti.configuracion.dias-evaluar' | translate" arial-label="Number" matInput
          formControlName="diasLimiteEvaluador">
        <mat-hint>{{'eti.configuracion.dias-evaluar.descripcion' | translate}}</mat-hint>
      </mat-form-field>
    </div>

    <!-- mesesAvisoProyectoCEEA -->
    <div [fxFlex.sm]="fxFlexProperties.sm" [fxFlex.md]="fxFlexProperties.md" [fxFlex.gt-md]="fxFlexProperties.gtMd"
      [fxFlexOrder]="fxFlexProperties.order">
      <mat-form-field>
        <mat-label>{{'eti.configuracion.meses-ceea' | translate}}</mat-label>
        <input type="number" [placeholder]="'eti.configuracion.meses-ceea' | translate" arial-label="Number" matInput
          formControlName="mesesAvisoProyectoCEEA">
        <mat-hint>{{'eti.configuracion.meses-ceea.descripcion' | translate}}</mat-hint>
      </mat-form-field>
    </div>

    <!-- mesesAvisoProyectoCEISH -->
    <div [fxFlex.sm]="fxFlexProperties.sm" [fxFlex.md]="fxFlexProperties.md" [fxFlex.gt-md]="fxFlexProperties.gtMd"
      [fxFlexOrder]="fxFlexProperties.order">
      <mat-form-field>
        <mat-label>{{'eti.configuracion.meses-ceish' | translate}}</mat-label>
        <input type="number" [placeholder]="'eti.configuracion.meses-ceish' | translate" arial-label="Number" matInput
          formControlName="mesesAvisoProyectoCEISH">
        <mat-hint>{{'eti.configuracion.meses-ceish.descripcion' | translate}}</mat-hint>
      </mat-form-field>
    </div>

    <!-- mesesAvisoProyectoCEIAB -->
    <div [fxFlex.sm]="fxFlexProperties.sm" [fxFlex.md]="fxFlexProperties.md" [fxFlex.gt-md]="fxFlexProperties.gtMd"
      [fxFlexOrder]="fxFlexProperties.order">
      <mat-form-field>
        <mat-label>{{'eti.configuracion.meses-ceiab' | translate}}</mat-label>
        <input type="number" [placeholder]="'eti.configuracion.meses-ceiab' | translate" arial-label="Number" matInput
          formControlName="mesesAvisoProyectoCEIAB">
        <mat-hint>{{'eti.configuracion.meses-ceiab.descripcion' | translate}}</mat-hint>
      </mat-form-field>
    </div>

  </form>

  <div id="modals-buttons" class="float-right" mat-dialog-actions>
    <button color="accent" (click)="update()" mat-raised-button type="submit" [disabled]="!updateEnable">{{'btn.save' |
      translate}}</button>
    <button class="link-cancelar" mat-button (click)="cancel()" type="button">{{'btn.cancel' | translate}}</button>
  </div>
</section>