<sgi-fragment title="{{'pii.invencion-equipo-inventor' | translate}}">

  <!-- Listado de Inventores Asociados a la Invencion -->
  <div class="mat-elevation-z4">
    <table mat-table [dataSource]="dataSource" matSort matSortActive="id" matSortDirection="asc" matSortDisableClear>

      <!-- Nombre -->
      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'pii.invencion-inventor.nombre' | translate}}
        </th>
        <td mat-cell *matCellDef="let inventor">{{inventor.value.inventor?.nombre}}</td>
      </ng-container>
      <!-- Apellidos -->
      <ng-container matColumnDef="apellidos">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'pii.invencion-inventor.apellidos' |
          translate}}
        </th>
        <td mat-cell *matCellDef="let inventor">{{inventor.value.inventor?.apellidos}}</td>
      </ng-container>
      <!-- Apellidos -->
      <ng-container matColumnDef="persona">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'pii.invencion-inventor.email' |
          translate}}
        </th>
        <td mat-cell *matCellDef="let inventor">{{inventor.value.inventor | personaEmail}}</td>
      </ng-container>
      <!-- Entidad -->
      <ng-container matColumnDef="entidad">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'pii.invencion-inventor.entidad' |
          translate}}
        </th>
        <td mat-cell *matCellDef="let inventor">{{inventor.value.inventor | personaEntidad}}</td>
      </ng-container>
      <!-- Porcentaje Participacion -->
      <ng-container matColumnDef="participacion">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'pii.invencion-inventor.participacion' |
          translate}} %
        </th>
        <td mat-cell *matCellDef="let inventor">{{inventor.value.participacion}}</td>
      </ng-container>
      <!-- Reparto Universidad -->
      <ng-container matColumnDef="esReparto">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'pii.invencion-inventor.reparto-universidad' |
          translate}}
        </th>
        <td mat-cell *matCellDef="let inventor">{{(inventor.value.repartoUniversidad ? 'label.si' : 'label.no') |
          translate}}
        </td>
      </ng-container>

      <!-- Acciones -->
      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef> {{'label.actions' | translate}} </th>
        <td mat-cell *matCellDef="let invencionInventor; let i = index;">
          <ng-container *sgiHasAnyAuthority="['PII-INV-E']">
            <button color="primary" (click)="openModal(invencionInventor)" mat-icon-button
              matTooltip="{{'btn.edit' | translate}}">
              <mat-icon>border_color</mat-icon>
            </button>
          </ng-container>
          <ng-container *sgiHasAnyAuthority="['PII-INV-B']">
            <button color="warn" *ngIf="!invencionInventor.value.id" mat-icon-button
              matTooltip="{{'btn.delete' | translate}}" (click)="deleteInventor(invencionInventor)">
              <mat-icon>highlight_off</mat-icon>
            </button>
          </ng-container>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnas"></tr>
      <tr mat-row *matRowDef="let row; columns: columnas;" [hidden]="!row.value.activo"></tr>

    </table>
    <mat-paginator [pageSizeOptions]="elementosPagina" showFirstLastButtons>
    </mat-paginator>

  </div>

  <ng-container *sgiHasAuthority="'PII-INV-C'">
    <div class="separation-button">
      <button color="three" mat-raised-button (click)="openModal(null)">
        <mat-icon color="accent">add_circle</mat-icon>
        {{ 'btn.add.entity' | translate:msgParamEntity }}
      </button>
    </div>
  </ng-container>

  <mat-error *ngIf="isInvecionInvtoresEmpty; else errorParticipacion">
    {{'pii.invencion-inventor.error.vacio' | translate}}
  </mat-error>
  <ng-template #errorParticipacion>
    <mat-error *ngIf="!(formPart.participacionCompleta$ | async)">
      {{msgErrorParticipacion}}
    </mat-error>
  </ng-template>

</sgi-fragment>