<mat-dialog-content align="center">
  {{message | translate:params}}
</mat-dialog-content>
<mat-dialog-actions align="center">
  <button [color]="continuarButtonStyle" mat-raised-button (click)="confirmacionClick()" mat-dialog-close
    tabindex="-1">{{continuarButtonText | translate}}</button>

  <button *ngIf="cancelButtonStyle !== DIALOG_BUTTON_STYLE.BTN_STYLE_LINK" [color]="cancelButtonStyle" mat-raised-button
    mat-dialog-close tabindex="-1">{{cancelButtonText | translate}}</button>

  <button *ngIf="cancelButtonStyle === DIALOG_BUTTON_STYLE.BTN_STYLE_LINK" class="link-cancelar" mat-button
    mat-dialog-close tabindex="-1">
    <span class="underline">{{cancelButtonText| translate}}</span>
  </button>
</mat-dialog-actions>