@import "colors.scss";
@import "vars.scss";

$breadcrumbTextColor: map-get($palette-grease, 500);
$breadcrumbTextColorActive: map-get($palette-primary, 500);

.breadcrumbComponent {
  background-color: map-get($palette-primary, 50);
  $height: calc(#{$breadcrumHeight} - #{$borderWidth * 1});
  max-height: $height;
  min-height: $height;
  box-shadow: inset 0px 14px 12px -12px map-get($palette-grease, 100);
  border-bottom: solid #{$borderWidth} rgba(0, 0, 0, 0.12);
  .migas {
    padding: 5px 20px 5px 20px;
    .breadcrumb {
      --uiBreadcrumbDividerColor: var(--breadcrumbDividerColor, inherit);
      --uiBreadcrumbDividerSize: var(--breadcrumbDividerSize, 16px);
      --uiBreadcrumbIndent: var(--breadcrumbIndent, 10px);

      --uiBreadcrumbTextColor: $breadcrumbTextColor;
      --uiBreadcrumbTextColorActive: $breadcrumbTextColorActive;
      --breadcrumbDividerColor: var(--uiBreadcrumbTextColor);
      --rLinkTextColor: var(--uiBreadcrumbTextColor);

      .breadcrumb__divider {
        color: var(--uiBreadcrumbDividerColor);
        //  margin-left: var(--uiBreadcrumbIndent);
        font-size: var(--uiBreadcrumbDividerSize);
        .chevron {
          transform: rotate(90deg);
          margin-top: 5px;
        }
      }

      span.breadcrumb__point {
        color: $breadcrumbTextColor;
        text-decoration: underline;
        cursor: pointer;
      }

      .breadcrumb__list {
        display: flex;
        flex-wrap: wrap;
      }

      .breadcrumb__group {
        display: inline-flex;
        align-items: center;
      }

      .r-list {
        --uirListPaddingLeft: var(--rListPaddingLeft, 0);
        --uirListMarginTop: var(--rListMarginTop, 0);
        --uirListMarginBottom: var(--rListMarginBottom, 0);
        --uirListListStyle: var(--rListListStyle, none);
        padding-left: var(--uirListPaddingLeft) !important;
        margin-top: var(--uirListMarginTop) !important;
        margin-bottom: var(--uirListMarginBottom) !important;
        list-style: var(--uirListListStyle) !important;
      }

      .r-link {
        --uirLinkDisplay: var(--rLinkDisplay, inline-flex);
        --uirLinkTextDecoration: var(--rLinkTextDecoration, none);
        display: var(--uirLinkDisplay) !important;
        color: $breadcrumbTextColor !important;
        text-decoration: underline !important;
      }
    }
  }
}
