@import "colors.scss";
@import "typography.scss";

a.mat-list-item {
  font-size: mat-font-size($custom-typography, body-1);
  text-decoration-line: none;
  &.is-active {
    background-color: map-get($custom-colors, white);
    font-weight: bold;
  }

  div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
  }

  .warning-icon {
    color: map-get($custom-colors, warning);
  }

  .danger-icon {
    color: map-get($custom-colors, danger);
  }
}
