@import "colors.scss";
@import "typography.scss";

a.mat-list-item {
  font-size: map-get($sgi-typography-size, menu-secondary);
  text-decoration-line: none;
  &.is-active {
    background-color: map-get($sgi-custom-colors, white);
    font-weight: bold;
  }

  div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
  }
}
