<button mat-list-item [routerLink]="route" [routerLinkActive]="['is-active']">
  <div>
    <span>{{title}}</span>
    <span *ngIf="fragment?.status$ | async as status;">
      <sgi-icon-changes *ngIf="status.changes && !status.errors && !status.problems"
        tooltip="{{'msg.footer.changes' | translate}}">
      </sgi-icon-changes>
      <sgi-icon-errors *ngIf="status.errors && !status.problems" tooltip="{{'error.footer.form' | translate}}">
      </sgi-icon-errors>
      <sgi-icon-problems *ngIf="status.problems && status.changes" tooltip="{{'msg.footer.problems' | translate}}">
      </sgi-icon-problems>
    </span>
  </div>
</button>