<sgi-dialog-header [title]="title"></sgi-dialog-header>
<sgi-dialog-content>
  <form [formGroup]="formGroup">
    <formly-form [form]="formGroup" [fields]="formlyData.fields" [options]="options" [model]="formlyData.model">
    </formly-form>
  </form>
</sgi-dialog-content>

<mat-dialog-actions>
  <button color="accent" *ngIf="personaData.action === ACTION_MODAL_MODE.NEW" (click)="doAction()" mat-raised-button
    type="submit" [disabled]="actionDisabled">
    <mat-icon class="save-icon">save</mat-icon>{{'btn.request.add' | translate}}
  </button>
  <button color="accent" *ngIf="personaData.action === ACTION_MODAL_MODE.EDIT" (click)="doAction()" mat-raised-button
    type="submit" [disabled]="actionDisabled || sgpModificacionDisabled">
    <mat-icon class="save-icon">save</mat-icon>{{'btn.request.edit' | translate}}
  </button>
  <sgi-field-info *ngIf="personaData.action === ACTION_MODAL_MODE.EDIT" matSuffix [visible]="sgpModificacionDisabled"
    message="{{'msg.sgp.modificacion-persona-disabled' | translate}}">
  </sgi-field-info>
  <button class="link-cancelar" mat-button type="button" mat-dialog-close>{{'btn.cancel' | translate}}</button>
</mat-dialog-actions>