<sgi-action-dialog [title]="title">
  <form [formGroup]="formGroup">
    <!-- Nombre -->
    <div fxLayout="row">
      <mat-form-field>
        <mat-label>{{'pii.sector-aplicacion.nombre' | translate}}</mat-label>
        <input matInput formControlName="nombre" type="text" id="nombre"
          placeholder="{{'pii.sector-aplicacion.nombre' | translate}}" required cdkFocusInitial>
        <mat-error *ngIf="formGroup.controls.nombre.errors?.required">
          {{'error.required.entity' | translate:msgParamNombreEntity}}
        </mat-error>
        <mat-error *ngIf="formGroup.controls.nombre.errors?.maxlength">
          {{'error.maxlength.entity' | translate:msgParamNombreEntity}}
        </mat-error>
      </mat-form-field>
    </div>
    <!-- Descripción -->
    <div fxLayout="row">
      <mat-form-field>
        <mat-label>{{'pii.sector-aplicacion.descripcion' | translate}}</mat-label>
        <textarea matInput formControlName="descripcion" id="descripcion"
          placeholder="{{'pii.sector-aplicacion.descripcion' | translate}}" required></textarea>
        <mat-error *ngIf="formGroup.controls.descripcion.errors?.required">
          {{'error.required.entity' | translate:msgParamDescripcionEntity}}
        </mat-error>
        <mat-error *ngIf="formGroup.controls.descripcion.errors?.maxlength">
          {{'error.maxlength.entity' | translate:msgParamDescripcionEntity}}
        </mat-error>
      </mat-form-field>
    </div>
  </form>
</sgi-action-dialog>