<sgi-fragment title="{{'label.datos-generales' | translate}}">

  <form [formGroup]="formGroup" fxLayout="column">

    <!-- Estado de la solicitud -->
    <div fxFlex fxLayout="row" fxLayoutGap="10px">
      <mat-form-field fxFlex="0 1 calc((100% - (10px * 3)) / 4)">
        <mat-label>{{'csp.solicitud.estado-solicitud' | translate}}</mat-label>
        <mat-select formControlName="estado" placeholder="{{'csp.solicitud.cambio-estado.actual' | translate}}">
          <mat-option *ngFor="let estado of ESTADO_MAP | keyvalue" [value]="estado.key">
            {{ estado.value | translate}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <!-- Comentarios del estado -->
      <mat-form-field *ngIf="(formPart.showComentariosEstado$ | async)"
        fxFlex="0 1 calc((100% - (10px * 3)) / 4*3 + 20px)">
        <mat-label>{{'csp.solicitud.estado-solicitud.comentario' | translate}}</mat-label>
        <textarea matInput formControlName="comentariosEstado" type="text" id="comentariosEstado"
          placeholder="{{'csp.solicitud.estado-solicitud.comentario' | translate}}" cdkTextareaAutosize
          #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1" cdkAutosizeMaxRows="3"></textarea>
      </mat-form-field>
    </div>

    <!-- Solicitante -->
    <div fxFlex fxLayout="row" fxLayoutGap="10px" *ngIf="!this.formPart.isInvestigador">
      <mat-form-field fxFlex="0 1 calc((100% - (10px * 3)) / 2 + 10px)">
        <mat-label>{{'csp.solicitud.solicitante' | translate}}</mat-label>
        <sgi-select-persona placeholder="{{'csp.solicitud.solicitante' | translate}}" formControlName="solicitante"
          [tipoColectivo]="tipoColectivoSolicitante" required>
        </sgi-select-persona>
        <mat-error *ngIf="formGroup.controls.solicitante.errors?.required">
          {{'error.required.entity' | translate:msgParamSolicitanteEntity}}
        </mat-error>
      </mat-form-field>
    </div>

    <!-- Convocatoria -->
    <div fxFlex fxLayout="row" fxLayoutGap="10px">
      <mat-form-field fxFlex="0 1 calc((100% - (10px * 3)) / 2 + 10px)">
        <mat-label>{{'csp.solicitud.convocatoria' | translate}}</mat-label>
        <sgi-select-convocatoria authorities="CSP-SOL-C" placeholder="{{'csp.solicitud.convocatoria' | translate}}"
          formControlName="convocatoria" [required]="formPart.convocatoriaRequired">
          [value]="this.formPart.convocatoria$ | async">
        </sgi-select-convocatoria>
        <mat-error *ngIf="formGroup.controls.convocatoria.errors?.required">
          {{'error.required.entity' | translate:msgParamConvocatoriaEntity}}
        </mat-error>
      </mat-form-field>


      <!-- Referencia externa convocatoria // Identificación convocatoria -->
      <mat-form-field *ngIf="!this.formPart.isInvestigador" fxFlex="0 1 calc((100% - (10px * 3)) / 2 + 10px)">
        <mat-label>{{'csp.solicitud.convocatoria-externa' | translate}}</mat-label>
        <input matInput formControlName="convocatoriaExterna" type="text" id="convocatoriaExterna"
          placeholder="{{'csp.solicitud.convocatoria-externa' | translate}}"
          [required]="formPart.convocatoriaExternaRequired">

        <mat-error *ngIf="formGroup.controls.convocatoriaExterna.errors?.required">
          {{'error.required.entity' | translate:msgParamConvocatoriaExternaEntity}}
        </mat-error>
        <mat-error *ngIf="formGroup.controls.convocatoriaExterna.errors?.maxlength">
          {{'error.invalid.entity' | translate:msgParamConvocatoriaExternaEntity}}
        </mat-error>
      </mat-form-field>
    </div>

    <div fxFlex fxLayout="row" fxLayoutGap="10px">
      <!-- Tipo forumlario-->
      <mat-form-field *ngIf="!this.formPart.isInvestigador" fxFlex="0 1 calc((100% - (10px * 3)) / 4)">
        <mat-label>{{'csp.solicitud.tipo-formulario' | translate}}</mat-label>
        <mat-select matNativeControl formControlName="formularioSolicitud"
          [required]="formPart.convocatoriaExternaRequired">
          <mat-option *ngFor="let formularioSolicitud of FORMULARIO_SOLICITUD_MAP | keyvalue"
            [value]="formularioSolicitud.key">
            {{ formularioSolicitud.value | translate}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="formGroup.controls.formularioSolicitud.errors?.required">
          {{'error.required.entity' | translate:msgParamFormularioSolicitudEntity}}
        </mat-error>
      </mat-form-field>

      <!--Tipo solicitud grupo-->
      <mat-form-field *ngIf="this.formPart.tipoFormularioSolicitud === FormularioSolicitud.GRUPO"
        fxFlex="0 1 calc((100% - (10px * 3)) / 4)">
        <mat-label>{{'csp.solicitud.tipo-solicitud-grupo' | translate}}</mat-label>
        <sgi-select-enum formControlName="tipoSolicitudGrupo" required [enumMap]="TIPO_SOLICITUD_GRUPO_MAP">
        </sgi-select-enum>
        <mat-error *ngIf="formGroup.controls.tipoSolicitudGrupo.errors?.required">
          {{'error.required.entity' | translate:msgParamFormularioSolicitudEntity}}
        </mat-error>
      </mat-form-field>

      <!-- Grupo-->
      <mat-form-field
        *ngIf="this.formPart.getFormGroup().controls.tipoSolicitudGrupo.value === TipoSolicitudGrupo.MODIFICACION"
        fxFlex="0 1 calc((100% - (10px * 3)) / 4)">
        <mat-label>{{'csp.solicitud.grupo' | translate}}</mat-label>
        <sgi-select-grupo #grupo [personaRef]="this.formPart.solicitanteRef" formControlName="grupo" required>
        </sgi-select-grupo>
        <mat-error *ngIf="formGroup.controls.grupo.errors?.required">
          {{'error.required.entity' | translate:msgParamGrupoEntity}}
        </mat-error>
      </mat-form-field>

      <!-- Unidad de gestión -->
      <mat-form-field *ngIf="!this.formPart.isInvestigador" fxFlex="0 1 calc((100% - (10px * 3)) / 4)">
        <mat-label>{{'csp.proyecto.unidad-gestion' | translate}}</mat-label>
        <sgi-select-unidad-gestion #unidadGestion formControlName="unidadGestion" required>
        </sgi-select-unidad-gestion>
        <mat-error *ngIf="formGroup.controls.unidadGestion.errors?.required">
          {{'error.required.entity' | translate:msgParamUnidadGestionEntity}}
        </mat-error>
        <mat-error *ngIf="formGroup.controls.unidadGestion.errors?.invalid">
          {{'error.invalid.entity' | translate:msgParamUnidadGestionEntity}}
        </mat-error>
      </mat-form-field>
    </div>

    <div fxFlex fxLayout="row" fxLayoutGap="10px">
      <!-- Codigo de registro -->
      <mat-form-field *ngIf="fragment.isEdit()" fxFlex="0 1 calc((100% - (10px * 3)) / 4)">
        <mat-label>{{'csp.solicitud.codigo-registro' | translate}}</mat-label>
        <input matInput formControlName="codigoRegistro" type="text" id="codigoRegistro"
          placeholder="{{'csp.solicitud.codigo-registro' | translate}}">
      </mat-form-field>

      <!-- Codigo de registro en entidad convocante -->
      <mat-form-field fxFlex="0 1 calc((100% - (10px * 3)) / 4)">
        <mat-label>{{'csp.solicitud.codigo-externo' | translate}}</mat-label>
        <input matInput formControlName="codigoExterno" type="text" id="codigoExterno"
          placeholder="{{'csp.solicitud.codigo-externo' | translate}}">
        <mat-error *ngIf="formGroup.controls.codigoExterno.errors?.maxlength">
          {{'error.maxlength.entity' | translate:msgParamCodigoExternoEntity}}
        </mat-error>
      </mat-form-field>
    </div>

    <!-- Título -->
    <div fxFlex fxLayout="row" fxLayoutGap="10px">
      <mat-form-field fxFlex="100%">
        <mat-label>{{'csp.solicitud.titulo' | translate}}</mat-label>
        <input matInput formControlName="titulo" type="text" id="titulo"
          placeholder="{{'csp.solicitud.titulo' | translate}}">
        <mat-error *ngIf="formGroup.controls.titulo.errors?.maxlength">
          {{'error.maxlength.entity' | translate:msgParamTituloEntity}}
        </mat-error>
      </mat-form-field>
    </div>

    <!-- Tabla entidades convocantes de la convocatoria -->
    <ng-container>
      <div fxFlex fxLayout="column" fxLayoutGap="10px" class="margin-bottom">
        <h3 fxFlex="100%">{{'list.entity' | translate:msgParamEntidadConvocanteEntity}}</h3>
        <div class="mat-elevation-z4" fxFlex="100%">
          <table mat-table [dataSource]="dataSourceEntidadesConvocantes" matSort>

            <!-- Entidad convocante -->
            <ng-container matColumnDef="entidadConvocante">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                {{'csp.solicitud-entidad-convocante' | translate: MSG_PARAMS.CARDINALIRY.SINGULAR}}
              </th>
              <td mat-cell *matCellDef="let entidadConvocanteModalidad">
                {{ entidadConvocanteModalidad.entidadConvocante.entidad?.nombre }}
              </td>
            </ng-container>

            <!-- Plan de la convocatoria -->
            <ng-container matColumnDef="plan">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                {{'csp.solicitud-entidad-convocante.plan' | translate}}
              </th>
              <td mat-cell *matCellDef="let entidadConvocanteModalidad">
                {{ entidadConvocanteModalidad.plan?.nombre }}
              </td>
            </ng-container>

            <!-- Programa/subprograma de la convocatoria Column -->
            <ng-container matColumnDef="programaConvocatoria">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                {{'csp.solicitud-entidad-convocante.programa' | translate}}
              </th>
              <td mat-cell *matCellDef="let entidadConvocanteModalidad">
                {{ entidadConvocanteModalidad.entidadConvocante.programa?.nombre }}
              </td>
            </ng-container>

            <!-- Modalidad solicitada Column -->
            <ng-container matColumnDef="modalidadSolicitud">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                {{'csp.solicitud-entidad-convocante.modalidad' | translate}}
              </th>
              <td mat-cell *matCellDef="let entidadConvocanteModalidad">
                {{ entidadConvocanteModalidad.modalidad?.value.programa?.nombre }}
              </td>
            </ng-container>

            <!-- Acciones Column -->
            <ng-container matColumnDef="acciones">
              <th mat-header-cell *matHeaderCellDef> {{'label.actions' | translate}}
              </th>
              <td mat-cell *matCellDef="let entidadConvocanteModalidad; let i=index;">
                <ng-container>
                  <button mat-icon-button color="primary" matTooltip="{{'btn.view' | translate}}"
                    (click)="openModalSelectModalidad(entidadConvocanteModalidad)">
                    <mat-icon>{{this.formPart.readonly ? 'visibility' : 'border_color'}}</mat-icon>
                  </button>
                </ng-container>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

          </table>

          <mat-paginator [pageSizeOptions]="elementosPagina" showFirstLastButtons>
          </mat-paginator>
        </div>
      </div>
    </ng-container>

    <!-- Observaciones -->
    <div fxFlex fxLayout="row" fxLayoutGap="10px">
      <mat-form-field fxFlex="100%">
        <mat-label>{{'csp.solicitud.observaciones' | translate}}</mat-label>
        <textarea matInput formControlName="observaciones" type="text" id="observaciones"
          placeholder="{{'csp.solicitud.observaciones' | translate}}" cdkTextareaAutosize
          #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5">
        </textarea>
        <mat-error *ngIf="formGroup.controls.observaciones.errors?.maxlength">
          {{'error.maxlength.entity' | translate:msgParamObservacionesEntity}}
        </mat-error>
      </mat-form-field>
    </div>

  </form>

</sgi-fragment>