<sgi-dialog-header title="{{(!paisValidado?.created ? 'pii.solicitud-proteccion.pais-validado.titulo' : 'title.new.entity') |
    translate:msgParamTituloEntity}}"></sgi-dialog-header>
<sgi-dialog-content>
  <form [formGroup]="formGroup">
    <div fxFlex fxLayout="row" fxLayout.lt-md='column' fxLayoutGap="10px">
      <!-- Fecha Validacion -->
      <div fxFlex>
        <mat-form-field>
          <mat-label>
            {{'pii.solicitud-proteccion.pais-validado.fecha-validacion' | translate:msgParamFechaValidacionEntity}}
          </mat-label>
          <input matInput formControlName="fechaValidacion" [matDatepicker]="fechaValidacion" required>
          <mat-datepicker-toggle matSuffix [for]="fechaValidacion"></mat-datepicker-toggle>
          <mat-datepicker #fechaValidacion></mat-datepicker>
          <mat-error *ngIf="formGroup.controls.fechaValidacion.errors?.required">
            {{'error.required.entity' | translate: msgParamFechaValidacionEntity }}
          </mat-error>
        </mat-form-field>
      </div>
      <!-- Pais -->
      <div fxFlex>
        <mat-form-field>
          <mat-label>{{'pii.solicitud-proteccion.pais-validado.pais' | translate:msgParamPaisEntity}}</mat-label>
          <sgi-select-entity formControlName="pais" [options]="data.paises" required>
          </sgi-select-entity>
          <mat-error *ngIf="formGroup.controls.pais.errors?.required">
            {{'error.required.entity' | translate:msgParamPaisEntity}}
          </mat-error>
        </mat-form-field>
      </div>
      <!-- Código Invención -->
      <div fxFlex>
        <mat-form-field>
          <mat-label>
            {{'pii.solicitud-proteccion.pais-validado.codigo-invencion' | translate:msgParamCodigoInvencionEntity}}
          </mat-label>
          <input matInput formControlName="codigoInvencion" required>
          <mat-error *ngIf="formGroup.controls.codigoInvencion.errors?.required">
            {{'error.required.entity' | translate: msgParamCodigoInvencionEntity }}
          </mat-error>
        </mat-form-field>
      </div>

    </div>
  </form>
</sgi-dialog-content>
<mat-dialog-actions>
  <button color="accent" (click)="doAction()" [disabled]="this.actionDisabled" mat-raised-button type="submit">
    <mat-icon class="save-icon">save</mat-icon>
    {{( paisValidado?.created ? 'btn.add' : 'btn.ok' )| translate}}
  </button>
  <button class="link-cancelar" mat-button type="button" mat-dialog-close>
    {{'btn.cancel' | translate}}
  </button>
</mat-dialog-actions>