<div class="opciones-menu">

  <!-- ETICA -->
  <mat-accordion #accordion="matAccordion" class="acordeon-sidenav">
    <mat-expansion-panel #expPanel class="panel"
      [expanded]="panelDesplegado && opened ? !panelDesplegado : panelDesplegado">
      <mat-expansion-panel-header class="header item" (click)="activarAcordeon($event)">
        <mat-panel-title class="titulo">
          <mat-icon color="primary" mat-list-icon>list_alt</mat-icon>
          <span *ngIf="opened">{{'menu.principal.inv.etica' | translate}}</span>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="opciones-accordion" *ngIf="opened">
        <a *sgiHasAuthorityForAnyUO="'ETI-PEV-VR-INV'" mat-list-item
          [routerLink]="[INV_ROUTE_NAMES.PETICIONES_EVALUACION]"
          [routerLinkActive]="['is-active']">{{'menu.principal.inv.peticionesEvaluacion' | translate}}</a>
        <a *sgiHasAuthorityForAnyUO="'ETI-PEV-VR-INV'" mat-list-item [routerLink]="[INV_ROUTE_NAMES.MEMORIAS]"
          [routerLinkActive]="['is-active']">{{'menu.principal.inv.memorias' | translate}}</a>
        <ng-container *ngIf="showEvaluaciones">
          <a *sgiHasAuthorityForAnyUO="'ETI-EVC-VR-INV'" mat-list-item [routerLink]="[INV_ROUTE_NAMES.EVALUACIONES]"
            [routerLinkActive]="['is-active']">{{'menu.principal.inv.evaluaciones' | translate}}</a>
        </ng-container>
        <ng-container *ngIf="showSeguimientos">
          <a *sgiHasAuthorityForAnyUO="'ETI-EVC-VR-INV'" [routerLink]="[INV_ROUTE_NAMES.SEGUIMIENTOS]" mat-list-item
            [routerLinkActive]="['is-active']">{{'menu.principal.inv.seguimientos' | translate}}</a>
        </ng-container>
      </div>
    </mat-expansion-panel>

  </mat-accordion>

  <!-- CSP -->
  <mat-accordion #accordion="matAccordion" class="acordeon-sidenav">
    <mat-expansion-panel #expPanel class="panel"
      [expanded]="panelDesplegado && opened ? !panelDesplegado : panelDesplegado">
      <mat-expansion-panel-header class="header item" (click)="activarAcordeon($event)">
        <mat-panel-title class="titulo">
          <mat-icon color="primary" mat-list-icon>assignment_late</mat-icon>
          <span *ngIf="opened">{{'menu.principal.inv.csp' | translate}}</span>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="opciones-accordion" *ngIf="opened">
        <a mat-list-item *sgiHasAuthorityForAnyUO="'CSP-CON-INV-V'" [routerLink]="[INV_ROUTE_NAMES.CONVOCATORIAS]"
          [routerLinkActive]="['is-active']">{{'menu.principal.inv.convocatoria' | translate}}</a>
        <a mat-list-item *sgiHasAnyAuthorityForAnyUO="['CSP-SOL-INV-ER', 'CSP-SOL-INV-BR']"
          [routerLink]="[INV_ROUTE_NAMES.SOLICITUDES]" [routerLinkActive]="['is-active']"
          [routerLinkActive]="['is-active']">{{'csp.solicitud' |
          translate:MSG_PARAMS.CARDINALIRY.PLURAL}}</a>
        <a mat-list-item [routerLinkActive]="['is-active']">{{'csp.proyecto' |
          translate:MSG_PARAMS.CARDINALIRY.PLURAL}}</a>
        <a mat-list-item [routerLinkActive]="['is-active']">{{'menu.principal.inv.ejecucionEconomica' | translate}}</a>
        <a mat-list-item [routerLinkActive]="['is-active']">{{'menu.principal.inv.timesheet' | translate}}</a>
        <a mat-list-item [routerLinkActive]="['is-active']">{{'menu.principal.inv.contratosRRHH' | translate}}</a>
      </div>
    </mat-expansion-panel>

  </mat-accordion>

</div>
<!-- FIN Menu principal -->