<sgi-dialog-header [title]="title"></sgi-dialog-header>
<sgi-dialog-content>
  <form [formGroup]="formGroup">
    <!-- Tipo de Hito -->
    <div fxLayout="row">
      <mat-form-field>
        <mat-label>{{'csp.modelo-ejecucion-tipo-hito.tipo' | translate}}</mat-label>
        <sgi-select-tipo-hito formControlName="tipoHito" required [excluded]="data.tipoHitos">
        </sgi-select-tipo-hito>
        <mat-error *ngIf="formGroup.controls.tipoHito.errors?.required">
          {{'error.required.entity' | translate:msgParamTipoEntity}}
        </mat-error>
      </mat-form-field>
    </div>
    <!-- Disponibilidad -->
    <div fxLayout="row">
      <label>{{'csp.modelo-ejecucion-tipo-hito.disponible' | translate}}</label>
    </div>
    <div fxLayout="row">
      <div class="checkbox-inline" formGroupName="disponible" fxFlex>
        <!-- Convocatoria-->
        <mat-checkbox color="primary" class="checkbox" formControlName="convocatoria">
          {{'csp.modelo-ejecucion-tipo-hito.convocatorias' | translate}}
        </mat-checkbox>
        <!-- Solicitud -->
        <mat-checkbox color="primary" class="checkbox" formControlName="solicitud">
          {{'csp.modelo-ejecucion-tipo-hito.solicitudes' | translate}}</mat-checkbox>
        <!-- Proyecto -->
        <mat-checkbox color="primary" class="checkbox" formControlName="proyecto">
          {{'csp.modelo-ejecucion-tipo-hito.proyectos' | translate}}</mat-checkbox>
        <mat-error *ngIf="formGroup.controls.disponible.errors?.requiredChecked">
          {{'error.csp.modelo-ejecucion-tipo-hito.requiredChecked' | translate}}
        </mat-error>
      </div>
    </div>
  </form>
</sgi-dialog-content>
<mat-dialog-actions>
  <button color="accent" (click)="doAction()" [disabled]="this.actionDisabled" mat-raised-button type="submit">
    <mat-icon class="save-icon">save</mat-icon>{{textSaveOrUpdate | translate}}
  </button>
  <button class="link-cancelar" mat-button type="button" mat-dialog-close>{{'btn.cancel' |
    translate}}</button>
</mat-dialog-actions>