<div class="sgi-dialog-header" fxLayout="row" fxLayoutGap="20px">
  <span fxFlexAlign="center" mat-mat-dialog-title role="heading" aria-level="3" fxFlex>{{title}}</span>
  <button fxFlex="nogrow" mat-icon-button mat-dialog-close>
    <mat-icon class="close-icon">close</mat-icon>
  </button>
</div>
<mat-dialog-content>
  <form [formGroup]="formGroup">
    <div class="fieldset-form">
      {{'pii.tramo-reparto.tramo' | translate:MSG_PARAMS.CARDINALIRY.SINGULAR}}
    </div>
    <div [fxLayout]="fxLayoutProperties.layout" [fxLayoutAlign]="fxLayoutProperties.layoutAlign">

      <!-- Desde -->
      <mat-form-field class="first-row-input">
        <mat-label>{{'pii.tramo-reparto.desde' | translate}}</mat-label>
        <input matInput formControlName="desde" type="text" id="desde" type="number"
          placeholder="{{'pii.tramo-reparto.desde' | translate}}" required cdkFocusInitial>
        <mat-error *ngIf="formGroup.controls.desde.errors?.required">
          {{'error.required.entity' | translate:msgParamDesdeEntity}}
        </mat-error>
        <mat-error *ngIf="formGroup.controls.desde.errors?.min">
          {{'error.min.entity' | translate:msgParamDesdeEntity}}
        </mat-error>
        <mat-error *ngIf="formGroup.controls.desde.errors?.pattern">
          {{'error.integer.entity' | translate}}
        </mat-error>
      </mat-form-field>

      <!-- Hasta -->
      <mat-form-field>
        <mat-label>{{'pii.tramo-reparto.hasta' | translate}}</mat-label>
        <input matInput formControlName="hasta" id="hasta" type="number"
          placeholder="{{'pii.tramo-reparto.hasta' | translate}}" required>
        <mat-error *ngIf="formGroup.controls.hasta.errors?.required">
          {{'error.required.entity' | translate:msgParamHastaEntity}}
        </mat-error>
        <mat-error *ngIf="formGroup.controls.hasta.errors?.pattern">
          {{'error.integer.entity' | translate}}
        </mat-error>
        <mat-error *ngIf="formGroup.controls.hasta.errors?.after">
          {{'error.after.param' | translate:msgParamDesdeEntity}}
        </mat-error>
      </mat-form-field>

    </div>

    <div [fxLayout]="fxLayoutProperties.layout" [fxLayoutAlign]="fxLayoutProperties.layoutAlign">

      <!-- % Universidad -->
      <mat-form-field class="first-row-input">
        <mat-label>{{'pii.tramo-reparto.porcentaje-universidad' | translate}}</mat-label>
        <input matInput formControlName="porcentajeUniversidad" id="porcentajeUniversidad" type="number"
          placeholder="{{'pii.tramo-reparto.porcentaje-universidad' | translate}}" required>
        <mat-error *ngIf="formGroup.controls.porcentajeUniversidad.errors?.required">
          {{'error.required.entity' | translate:msgParamPorcentajeUniversidadEntity}}
        </mat-error>
        <mat-error *ngIf="formGroup.controls.porcentajeUniversidad.errors?.max">
          {{'error.max.entity' | translate:msgParamPorcentajeUniversidadEntity}}
        </mat-error>
        <mat-error *ngIf="formGroup.controls.porcentajeUniversidad.errors?.min">
          {{'error.min.entity' | translate:msgParamPorcentajeUniversidadEntity}}
        </mat-error>
      </mat-form-field>

      <!-- % Inventores -->
      <mat-form-field>
        <mat-label>{{'pii.tramo-reparto.porcentaje-inventores' | translate}}</mat-label>
        <input matInput formControlName="porcentajeInventores" id="porcentajeInventores" type="number"
          placeholder="{{'pii.tramo-reparto.porcentaje-inventores' | translate}}" required>
        <mat-error *ngIf="formGroup.controls.porcentajeInventores.errors?.required">
          {{'error.required.entity' | translate:msgParamPorcentajeInventoresEntity}}
        </mat-error>
        <mat-error *ngIf="formGroup.controls.porcentajeInventores.errors?.max">
          {{'error.max.entity' | translate:msgParamPorcentajeInventoresEntity}}
        </mat-error>
        <mat-error *ngIf="formGroup.controls.porcentajeInventores.errors?.min">
          {{'error.min.entity' | translate:msgParamPorcentajeInventoresEntity}}
        </mat-error>
      </mat-form-field>

    </div>
    <div [fxLayout]="fxLayoutProperties.layout" [fxLayoutAlign]="fxLayoutProperties.layoutAlign">
      <mat-error *ngIf="formGroup?.errors?.fieldsSumNotEqualsToValue">
        {{'error.sum.fields' | translate: formGroup.errors.fieldsSumNotEqualsToValue }}
      </mat-error>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button color="accent" (click)="saveOrUpdate()" mat-raised-button type="submit">
    <mat-icon class="save-icon">save</mat-icon>{{textSaveOrUpdate | translate}}
  </button>
  <button class="link-cancelar" mat-button type="button" mat-dialog-close>{{'btn.cancel' |
    translate}}</button>
</mat-dialog-actions>