<sgi-dialog-header [title]="title"></sgi-dialog-header>
<sgi-dialog-content>
  <form [formGroup]="formGroup">
    <!-- Tipo de gestion -->
    <div fxLayout="row">
      <mat-form-field fxFill>
        <mat-label>{{'csp.modelo-ejecucion-unidad-gestion' | translate}}</mat-label>
        <sgi-select-entity formControlName="tipoUnidad" [options]="tipoUnidad$ | async" required>
        </sgi-select-entity>
        <mat-error *ngIf="formGroup.controls.tipoUnidad.errors?.required">
          {{'error.required.entity' | translate:msgParamUnidadGestionEntiy}}
        </mat-error>
      </mat-form-field>
    </div>
  </form>
</sgi-dialog-content>
<mat-dialog-actions>
  <button color="accent" (click)="doAction()" [disabled]="this.actionDisabled" mat-raised-button type="submit">
    <mat-icon class="save-icon">save</mat-icon>{{textSaveOrUpdate | translate}}
  </button>
  <button class="link-cancelar" mat-button type="button" mat-dialog-close>{{'btn.cancel' |
    translate}}</button>
</mat-dialog-actions>