/* Color primario */
$palette-primary: (
  50: #f3f6f9,
  100: #ccd5ef,
  200: #aab9e4,
  300: #879cd9,
  400: #6e87d1,
  500: #5472c9,
  600: #4d6ac3,
  700: #435fbc,
  800: #3a55b5,
  900: #2942a9,
  A100: #eaedff,
  A200: #b7c3ff,
  A400: #8499ff,
  A700: #6a84ff,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: rgba(black, 0.87),
    500: white,
    600: white,
    700: white,
    800: rgba(white, 0.87),
    900: rgba(white, 0.87),
    A100: rgba(black, 0.87),
    A200: white,
    A400: white,
    A700: white,
  ),
);

/* Color secundario */
$palette-accent: (
  50: #e0f1e3,
  100: #b3dcba,
  200: #80c58c,
  300: #4dad5e,
  400: #269c3c,
  500: #008a19,
  600: #008216,
  700: #007712,
  800: #006d0e,
  900: #005a08,
  A100: #8bff8f,
  A200: #58ff5d,
  A400: #25ff2b,
  A700: #0cff12,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: rgba(black, 0.87),
    500: white,
    600: white,
    700: white,
    800: rgba(white, 0.87),
    900: rgba(white, 0.87),
    A100: rgba(black, 0.87),
    A200: white,
    A400: white,
    A700: white,
  ),
);

/* Color terciario */
$palette-warn: (
  50: #fde4e9,
  100: #ffcbd1,
  200: #f68ea5,
  300: #f16181,
  400: #ec4167,
  500: #c11b4a,
  600: #d6214d,
  700: #c11b4a,
  800: #ad1447,
  900: #8a0942,
  A100: #f68ea5,
  A200: #c11b4a,
  A400: #c11b4a,
  A700: #8a0942,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: rgba(black, 0.87),
    500: white,
    600: white,
    700: white,
    800: rgba(white, 0.87),
    900: rgba(white, 0.87),
    A100: rgba(black, 0.87),
    A200: white,
    A400: white,
    A700: white,
  ),
);

/* Color cuarto */
$palette-grease: (
  50: #f1f1f1,
  100: #dcdcdc,
  200: #c5c5c5,
  300: #adadad,
  400: #9c9c9c,
  500: #8a8a8a,
  600: #828282,
  700: #777777,
  800: #6d6d6d,
  900: #5a5a5a,
  A100: #777777,
  A200: #5a5a5a,
  A400: #6d6d6d,
  A700: #777777,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: rgba(black, 0.87),
    500: white,
    600: white,
    700: white,
    800: rgba(white, 0.87),
    900: rgba(white, 0.87),
    A100: rgba(black, 0.87),
    A200: white,
    A400: white,
    A700: white,
  ),
);

/* Colores personalizados */
$custom-colors: (
  primary: #768dd2,
  three-buton: #c8fbdf,
  warning: #a35f00,
  success: #28c76f,
  danger: #e35138,
  white: #fff,
  black: #000000,
  contrast: (
    warning: rgb(255, 248, 234),
    success: #b3f3d4,
    danger: rgb(255, 232, 235),
  ),
);
