/********************************************************************************
Se establecen los colores primary, accent y warn con sus respectivos lighter y darker.
Angular material solo utiliza estos 3 variaciones de colores dentro de sus estilos y sus contrastres
los demás colores de la paleta no se utilizarán.
Los colores no parten del 500 porque desde https://material.io/design/color/the-color-system.html#tools-for-picking-colors
al introducir los colores principales los define en otra escala, por ejemplo #5472c9
lo define como 400 en lugar de 500
********************************************************************************/
/*
Definición de colores principales de la paleta
*/
$primary-color: 400; // Viene de mockup zeplin #5472c9
$primary-light-color: 100; // Viene de mockup zeplin #c9d6ff
$primary-dark-color: 900;
$accent-color: 700; // Viene de mockup zeplin #008a19
$accent-light-color: 100; // Viene de mockup zeplin #c8fbdf contrast #5a5a5a ($dark-secondary-text)
$accent-dark-color: 900;
$warn-color: 400; // Viene de mockup zeplin #ea5555
$warn-light-color: 100; // Viene de mockup zeplin #ffcbd1
$warn-dark-color: 900;

/*
 Variables de colores de contraste por defecto obtenidos de 
 https://github.com/angular/components/blob/master/src/material/core/theming/_palette.scss
 */
$dark-primary-text: #000; // Por defecto rgba(black, 0.87);
$dark-secondary-text: #5a5a5a; // Por defecto rgba(black, 0.54);
$dark-disabled-text: #8a8a8a; // Por defecto rgba(black, 0.38);
$dark-dividers: rgba(black, 0.12);
$dark-focused: rgba(black, 0.12);
$light-primary-text: white;
$light-secondary-text: rgba(white, 0.7);
$light-disabled-text: rgba(white, 0.5);
$light-dividers: rgba(white, 0.12);
$light-focused: rgba(white, 0.12);

/* Primary color 
created from https://material.io/design/color/the-color-system.html#tools-for-picking-colors
A100, A200 ... created from http://mcg.mbitson.com/#!?mcgpalette0=%232f58c0
constrast created from indigo palette by similarity
Change 100: c4ccec -> 100: c9d6ff (mockup)
*/
$palette-primary: (
  50: #e8ebf7,
  100: #c9d6ff,
  200: #9dacdf,
  300: #758bd2,
  400: #5472c9,
  500: #2f58c0,
  600: #2950b5,
  700: #1d46a9,
  800: #113c9d,
  900: #002a88,
  A100: #ced6ff,
  A200: #9babff,
  A400: #6880ff,
  A700: #4e6bff,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $light-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  ),
);

/* Accent color (secondary) 
created from https://material.io/design/color/the-color-system.html#tools-for-picking-colors
A100, A200, ... and contrast created from light-green palette by similarity
Change 100: c2e5c1 -> 100: c8fbdf (mockup) and $dark-primary-text --> contrast #5a5a5a ($dark-secondary-text)
*/
$palette-accent: (
  50: #e6f5e6,
  100: #c8fbdf,
  200: #9ad499,
  300: #70c470,
  400: #4db750,
  500: #24aa2e,
  600: #189c25,
  700: #008a19,
  800: #00790b,
  900: #005b00,
  A100: #b9f6ca,
  A200: #69f0ae,
  A400: #00e676,
  A700: #00c853,
  contrast: (
    50: $dark-primary-text,
    100: $dark-secondary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $dark-primary-text,
    600: $dark-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: $dark-primary-text,
  ),
);

/* Warn color (terciary) 
created from https://material.io/design/color/the-color-system.html#tools-for-picking-colors
A100, A200, ... and contrast created from red palette by similarity
Change 100: fccdd3 -> 100: ffcbd1 (mockup)
*/
$palette-warn: (
  50: #feebee,
  100: #ffcbd1,
  200: #eb9a9c,
  300: #e07476,
  400: #ea5555,
  500: #ef453d,
  600: #e03c3b,
  700: #ce3335,
  800: #c12c2e,
  900: #b22122,
  A100: #ff8a80,
  A200: #ff5252,
  A400: #ff1744,
  A700: #d50000,
  contrast: (
    50: dark-primary-text,
    100: dark-primary-text,
    200: dark-primary-text,
    300: dark-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-secondary-text,
    900: $light-secondary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  ),
);

/**
* Se parte de grey-pallete de angular material y se tocan los estilos necesarios para aproximarse al mockup
*/
$palette-grey: (
  50: #fafafa,
  100: #f5f5f5,
  200: #eeeeee,
  300: #e0e0e0,
  400: #bdbdbd,
  500: #9e9e9e,
  600: #757575,
  700: #616161,
  800: #424242,
  900: #212121,
  A100: #ffffff,
  A200: #eeeeee,
  A400: #bdbdbd,
  A700: #616161,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $dark-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: $light-primary-text,
  ),
);

/* Colores personalizados */
$sgi-custom-colors: (
  bg: #f3f6f9,
  divider: #ebedf3,
  bg-action-footer-message: #fff8ea,
  bg-confirmation-dialog: #b3dcba,
  three-buton: #c8fbdf,
  warning: #a35f00,
  success: #28c76f,
  danger: #e35138,
  white: #fff,
  black: #000000,
  contrast: (
    warning: rgb(255, 248, 234),
    success: #b3f3d4,
    danger: rgb(255, 232, 235),
  ),
  orange-inv: #fff3df
);
