$headerHeight: 70px;
$breadcrumHeight: 45px;
$footerHeight: 45px;
$borderWidth: 1px;

// mat-table
$mat-row-cell-padding-left: 5px;
$mat-row-cell-padding-right: 5px;
$mat-row-horizontal-padding: 24px;
