<div class="scrollable-panel">
  <section class="resultado-informe-patentabilidad-listado">
    <!-- Listado de Resultados de Informes de Patentabilidad-->
    <table mat-table class="mat-elevation-z8 table-unidad" [dataSource]="resultadoInformePatentabilidad$ | async"
      matSort matSortActive="id" matSortDirection="asc" matSortDisableClear>
      <!-- Nombre -->
      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'pii.resultado-informe-patentabilidad.nombre' |
          translate}}
        </th>
        <td mat-cell *matCellDef="let resultadoInformePatentabilidad">{{resultadoInformePatentabilidad.nombre}}</td>
      </ng-container>

      <!-- Descripción -->
      <ng-container matColumnDef="descripcion">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'pii.resultado-informe-patentabilidad.descripcion' |
          translate}}
        </th>
        <td mat-cell *matCellDef="let resultadoInformePatentabilidad">{{resultadoInformePatentabilidad.descripcion}}
        </td>
      </ng-container>

      <!-- Acciones -->
      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef> {{'label.actions' | translate}} </th>
        <td mat-cell *matCellDef="let resultadoInformePatentabilidad">
          <ng-container *sgiHasAuthority="'PII-RIP-E'">
            <button *ngIf="resultadoInformePatentabilidad.activo" mat-button matTooltip="{{'btn.edit' | translate}}">
              <mat-icon color="primary">border_color</mat-icon>
            </button>
          </ng-container>
          <ng-container *sgiHasAuthority="'PII-RIP-B'">
            <button *ngIf="resultadoInformePatentabilidad.activo" mat-button matTooltip="{{'btn.delete' | translate}}"
              (click)="deactivateResultadoInformePatentabilidad(resultadoInformePatentabilidad)">
              <mat-icon color="warn">highlight_off</mat-icon>
            </button>
          </ng-container>
          <ng-container *sgiHasAuthority="'PII-RIP-R'">
            <button *ngIf="!resultadoInformePatentabilidad.activo" mat-button matTooltip="{{'btn.recover' | translate}}"
              (click)="activateResultadoInformePatentabilidad(resultadoInformePatentabilidad)">
              <mat-icon color="accent">add_circle_outline</mat-icon>
            </button>
          </ng-container>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnas"></tr>
      <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="elementosPagina" [length]="totalElementos" showFirstLastButtons>
    </mat-paginator>

    <ng-container *sgiHasAuthority="'PII-RIP-C'">
      <div class="separation-button">
        <button color="three" aria-label="Center Align" md-button mat-raised-button>
          <mat-icon color="accent">add_circle</mat-icon>
          {{ 'btn.add.entity' | translate:msgParamEntity }}
        </button>
      </div>
    </ng-container>

  </section>
</div>