<sgi-menu-content>
  <!-- Listado de Resultados de Informes de Patentabilidad-->
  <div class="mat-elevation-z4">
    <table mat-table [dataSource]="resultadoInformePatentabilidad$ | async" matSort matSortActive="id"
      matSortDirection="asc" matSortDisableClear>
      <!-- Nombre -->
      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'pii.resultado-informe-patentabilidad.nombre' |
          translate}}
        </th>
        <td mat-cell *matCellDef="let resultadoInformePatentabilidad">{{resultadoInformePatentabilidad.nombre}}</td>
      </ng-container>

      <!-- Descripción -->
      <ng-container matColumnDef="descripcion">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'pii.resultado-informe-patentabilidad.descripcion' |
          translate}}
        </th>
        <td mat-cell *matCellDef="let resultadoInformePatentabilidad">{{resultadoInformePatentabilidad.descripcion}}
        </td>
      </ng-container>

      <!-- Activo -->
      <ng-container matColumnDef="activo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'label.activo' | translate}}
        </th>
        <td mat-cell *matCellDef="let tipoProteccion">{{(tipoProteccion.activo ? 'label.si' : 'label.no') | translate}}
        </td>
      </ng-container>

      <!-- Acciones -->
      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef> {{'label.actions' | translate}} </th>
        <td mat-cell *matCellDef="let resultadoInformePatentabilidad">
          <ng-container *sgiHasAuthority="'PII-RIP-E'">
            <button color="primary" *ngIf="resultadoInformePatentabilidad.activo" mat-icon-button
              matTooltip="{{'btn.edit' | translate}}" (click)="openModal(resultadoInformePatentabilidad)">
              <mat-icon>border_color</mat-icon>
            </button>
          </ng-container>
          <ng-container *sgiHasAuthority="'PII-RIP-B'">
            <button color="warn" *ngIf="resultadoInformePatentabilidad.activo" mat-icon-button
              matTooltip="{{'btn.delete' | translate}}"
              (click)="deactivateResultadoInformePatentabilidad(resultadoInformePatentabilidad)">
              <mat-icon>highlight_off</mat-icon>
            </button>
          </ng-container>
          <ng-container *sgiHasAuthority="'PII-RIP-R'">
            <button color="accent" *ngIf="!resultadoInformePatentabilidad.activo" mat-icon-button
              matTooltip="{{'btn.recover' | translate}}"
              (click)="activateResultadoInformePatentabilidad(resultadoInformePatentabilidad)">
              <mat-icon>add_circle_outline</mat-icon>
            </button>
          </ng-container>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnas"></tr>
      <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="elementosPagina" [length]="totalElementos" showFirstLastButtons>
    </mat-paginator>
  </div>
  <ng-container *sgiHasAuthority="'PII-RIP-C'">
    <div class="separation-button">
      <button color="three" attr.aria-label="{{ 'btn.add.entity' | translate:msgParamEntity }}" md-button
        mat-raised-button (click)="openModal()">
        <mat-icon color="accent">add_circle</mat-icon>
        {{ 'btn.add.entity' | translate:msgParamEntity }}
      </button>
    </div>
  </ng-container>

</sgi-menu-content>