<!-- Peticiones Evaluacion listado -->
<sgi-menu-content>
  <!-- Buscador de comités -->

  <form class="formulario mat-elevation-z8" [formGroup]="formGroup" [fxLayout.xs]="fxLayoutProperties.xs"
    [fxLayout]="fxLayoutProperties.layout" fxLayoutGap="fxLayoutProperties.gap" ngClass.gt-xs="ml-10">

    <div fxFlex fxLayout="row" fxLayoutGap="10px">
      <!-- Código -->
      <mat-form-field fxFlex="15%">
        <mat-label>{{'eti.peticion-evaluacion.codigo' | translate}}</mat-label>
        <input matInput type="text" placeholder="{{'eti.peticion-evaluacion.codigo' | translate}}"
          formControlName="codigo">
      </mat-form-field>

      <!-- Título proyecto -->
      <mat-form-field fxFlex="20%">
        <mat-label>{{'eti.peticion-evaluacion.proyecto-titulo' | translate}}</mat-label>
        <input matInput type="text" placeholder="{{'eti.peticion-evaluacion.proyecto-titulo' | translate}}"
          formControlName="titulo">
      </mat-form-field>

      <!-- Comité -->
      <mat-form-field fxFlex="8%">
        <mat-label>{{'label.eti.comite' | translate}}</mat-label>
        <sgi-select-comite #selectComite formControlName="comite"></sgi-select-comite>
      </mat-form-field>

      <!--Persona-->
      <mat-form-field fxFlex="37%">
        <mat-label>{{'eti.solicitante' | translate}}</mat-label>
        <sgi-select-persona placeholder="{{'eti.solicitante' | translate}}" [tipoColectivo]="tipoColectivoSolicitante"
          formControlName="solicitante">
        </sgi-select-persona>
      </mat-form-field>

      <!-- Estado Memoria -->
      <mat-form-field fxFlex="20%">
        <mat-label>{{'eti.peticion-evaluacion.estado-memoria' | translate}}</mat-label>
        <sgi-select-enum formControlName="tipoEstadoMemoria" [enumMap]="ESTADO_MEMORIA_MAP">
        </sgi-select-enum>
      </mat-form-field>
    </div>

    <div class="buttons-final">
      <div class="col filter-button">
        <button color="primary" aria-label="Center Align" mat-raised-button (click)="onSearch()">
          <mat-icon>search</mat-icon> {{'btn.search'| translate}}
        </button>
        <button color="warn" aria-label="Center Align" (click)="onClearFilters()" mat-button>{{'btn.clean'|
          translate}}
        </button>
      </div>
    </div>

  </form>

  <div class="mat-elevation-z4">
    <table mat-table [dataSource]="peticionesEvaluacion$ | async" matSort matSortActive="id" matSortDirection="asc"
      matSortDisableClear>
      <!-- Nombre y apellidos persona -->
      <ng-container matColumnDef="solicitante">
        <th mat-header-cell *matHeaderCellDef> {{'eti.solicitante' | translate}}
        </th>
        <td mat-cell *matCellDef="let peticionEvaluacion">
          {{peticionEvaluacion.solicitante?.nombre}} {{peticionEvaluacion.solicitante?.apellidos}}
        </td>
      </ng-container>

      <!-- Código -->
      <ng-container matColumnDef="codigo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'eti.peticion-evaluacion.codigo' | translate}}
        </th>
        <td mat-cell *matCellDef="let peticionEvaluacion"> {{peticionEvaluacion.codigo}} </td>
      </ng-container>

      <!-- Título proyecto -->
      <ng-container matColumnDef="titulo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{'eti.peticion-evaluacion.proyecto-titulo' | translate}}
        </th>
        <td mat-cell *matCellDef="let peticionEvaluacion">{{peticionEvaluacion.titulo}}</td>
      </ng-container>

      <!-- Financiación -->
      <ng-container matColumnDef="fuenteFinanciacion">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{'eti.peticion-evaluacion.organo-financiador' | translate}}
        </th>
        <td mat-cell *matCellDef="let peticionEvaluacion"> {{peticionEvaluacion.fuenteFinanciacion}} </td>
      </ng-container>

      <!-- Fecha inicio -->
      <ng-container matColumnDef="fechaInicio">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{'eti.peticion-evaluacion.fecha-inicio' | translate}}
        </th>
        <td mat-cell *matCellDef="let peticionEvaluacion"> {{peticionEvaluacion.fechaInicio | luxon: 'shortDate'}} </td>
      </ng-container>

      <!-- Fecha fin -->
      <ng-container matColumnDef="fechaFin">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{'eti.peticion-evaluacion.fecha-fin' | translate}}
        </th>
        <td mat-cell *matCellDef="let peticionEvaluacion"> {{peticionEvaluacion.fechaFin | luxon: 'shortDate'}} </td>
      </ng-container>

      <!-- Acciones Column -->
      <ng-container matColumnDef="acciones" class="acciones">
        <th mat-header-cell *matHeaderCellDef> {{'label.actions' | translate}} </th>
        <td mat-cell *matCellDef="let peticionEvaluacion;let i=index;">
          <ng-container *sgiHasAuthorityForAnyUO="'ETI-PEV-V'">
            <a mat-button [routerLink]="[peticionEvaluacion.id]" matTooltip="{{'btn.view' | translate}}">
              <mat-icon color="primary">visibility</mat-icon>
            </a>
          </ng-container>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <div class="paginator-export">
      <button mat-button matTooltip="{{'btn.export' | translate}}" (click)="openExportModal()"
        [disabled]="totalElementos<=0">
        <mat-icon color="primary">insert_chart_outlined</mat-icon>
      </button>
      <mat-paginator [pageSizeOptions]="elementosPagina" [length]="totalElementos" showFirstLastButtons>
      </mat-paginator>
    </div>
  </div>
</sgi-menu-content>
<!-- FIN Peticiones Evaluacion listado-->