:host {
  .formulario {
    padding: 10px 20px 10px 20px;

    .col {
      padding-right: 15px;
    }

    .buttons-final {
      padding: 10px 0px 10px 0px;

      .filter-button {
        button {
          margin-right: 15px;
        }
      }
    }
  }

  .separation-button {
    padding-top: 30px;
    padding-bottom: 10px;
  }

  .paginator-export {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .peticion-evaluacion {

    .mat-cell.mat-column-memoriaComite1,
    .mat-cell.mat-column-memoriaComite2,
    .mat-cell.mat-column-memoriaComite3 {
      max-width: 20vw;
      overflow: hidden;
      padding-right: 10px;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}