<!-- Peticiones Evaluacion listado -->
<sgi-menu-content>
  <!-- Buscador de comités -->

  <form class="formulario mat-elevation-z8" [formGroup]="formGroup" [fxLayout.xs]="fxLayoutProperties.xs"
    [fxLayout]="fxLayoutProperties.layout" fxLayoutGap="fxLayoutProperties.gap" ngClass.gt-xs="ml-10">

    <div fxFlex fxLayout="row" fxLayoutGap="10px">

      <!--Solicitante-->
      <mat-form-field fxFlex="37%">
        <mat-label>{{'eti.solicitante' | translate}}</mat-label>
        <sgi-select-persona placeholder="{{'eti.solicitante' | translate}}" [tipoColectivo]="tipoColectivoSolicitante"
          formControlName="solicitante">
        </sgi-select-persona>
      </mat-form-field>

      <!-- Título proyecto -->
      <mat-form-field fxFlex="20%">
        <mat-label>{{'eti.peticion-evaluacion.proyecto-titulo' | translate}}</mat-label>
        <input matInput type="text" placeholder="{{'eti.peticion-evaluacion.proyecto-titulo' | translate}}"
          formControlName="titulo">
      </mat-form-field>

      <!-- Referencia Memoria -->
      <mat-form-field fxFlex="15%">
        <mat-label>{{'eti.peticion-evaluacion.referencia-memoria' | translate}}</mat-label>
        <input matInput type="text" placeholder="{{'eti.peticion-evaluacion.referencia-memoria' | translate}}"
          formControlName="referenciaMemoria">
      </mat-form-field>

      <!-- Estado Memoria -->
      <mat-form-field fxFlex="20%">
        <mat-label>{{'eti.peticion-evaluacion.estado-memoria' | translate}}</mat-label>
        <sgi-select-enum formControlName="tipoEstadoMemoria" [enumMap]="ESTADO_MEMORIA_MAP">
        </sgi-select-enum>
      </mat-form-field>

      <!-- Comité -->
      <mat-form-field fxFlex="8%">
        <mat-label>{{'label.eti.comite' | translate}}</mat-label>
        <sgi-select-comite #selectComite formControlName="comite"></sgi-select-comite>
      </mat-form-field>

    </div>

    <div class="buttons-final">
      <div class="col filter-button">
        <button color="primary" aria-label="Center Align" mat-raised-button (click)="onSearch()">
          <mat-icon>search</mat-icon> {{'btn.search'| translate}}
        </button>
        <button color="warn" aria-label="Center Align" (click)="onClearFilters()" mat-button>{{'btn.clean'|
          translate}}
        </button>
      </div>
    </div>

  </form>

  <div class="mat-elevation-z4">
    <table class="peticion-evaluacion" mat-table [dataSource]="peticionesEvaluacion$ | async" matSort matSortActive="id"
      matSortDirection="asc" matSortDisableClear>

      <!-- Advertencia Column -->
      <ng-container matColumnDef="helpIcon">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
        </th>
        <td mat-cell *matCellDef="let peticionEvaluacion">
          <sgi-field-info matSuffix [visible]="peticionEvaluacion.memoriasAsignables?.length>0" color="warn"
            icon="error" message="{{getMemoriasAsignables(peticionEvaluacion.memoriasAsignables)}}">
          </sgi-field-info>
        </td>
      </ng-container>

      <!-- Nombre y apellidos persona solicitante -->
      <ng-container matColumnDef="solicitante">
        <th mat-header-cell *matHeaderCellDef> {{'eti.solicitante' | translate}}
        </th>
        <td mat-cell *matCellDef="let peticionEvaluacion">
          {{peticionEvaluacion.solicitante?.nombre}} {{peticionEvaluacion.solicitante?.apellidos}}
        </td>
      </ng-container>

      <!-- Título proyecto -->
      <ng-container matColumnDef="titulo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{'eti.peticion-evaluacion.proyecto-titulo' | translate}}
        </th>
        <td mat-cell *matCellDef="let peticionEvaluacion">{{peticionEvaluacion.titulo}}</td>
      </ng-container>

      <!-- Memoria comité 1 -->
      <ng-container matColumnDef="memoriaComite1">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{'eti.peticion-evaluacion.memoria' | translate}} {{getComite(1)}}
        </th>
        <td mat-cell *matCellDef="let peticionEvaluacion"
          matTooltip="{{getMemoriasComite(peticionEvaluacion.memorias,1)}}">
          {{getMemoriasComite(peticionEvaluacion.memorias,1)}}</td>
      </ng-container>

      <!-- Memoria comité 2 -->
      <ng-container matColumnDef="memoriaComite2">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{'eti.peticion-evaluacion.memoria' | translate}} {{getComite(2)}}
        </th>
        <td mat-cell *matCellDef="let peticionEvaluacion"
          matTooltip="{{getMemoriasComite(peticionEvaluacion.memorias,2)}}">
          {{getMemoriasComite(peticionEvaluacion.memorias,2)}}</td>
      </ng-container>

      <!-- Memoria comité 3 -->
      <ng-container matColumnDef="memoriaComite3">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{'eti.peticion-evaluacion.memoria' | translate}} {{getComite(3)}}
        </th>
        <td mat-cell *matCellDef="let peticionEvaluacion"
          matTooltip="{{getMemoriasComite(peticionEvaluacion.memorias,3)}}">
          {{getMemoriasComite(peticionEvaluacion.memorias,3)}}</td>
      </ng-container>

      <!-- Acciones Column -->
      <ng-container matColumnDef="acciones" class="acciones">
        <th mat-header-cell *matHeaderCellDef> {{'label.actions' | translate}} </th>
        <td mat-cell *matCellDef="let peticionEvaluacion;let i=index;">
          <ng-container *sgiHasAuthorityForAnyUO="'ETI-PEV-V'">
            <a mat-icon-button color="primary" [routerLink]="[peticionEvaluacion.id]"
              matTooltip="{{'btn.view' | translate}}">
              <mat-icon>visibility</mat-icon>
            </a>
          </ng-container>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <div class="paginator-export">
      <button mat-button matTooltip="{{'btn.export' | translate}}" (click)="openExportModal()"
        [disabled]="totalElementos<=0">
        <mat-icon color="primary">insert_chart_outlined</mat-icon>
      </button>
      <mat-paginator [pageSizeOptions]="elementosPagina" [length]="totalElementos" showFirstLastButtons>
      </mat-paginator>
    </div>
  </div>
</sgi-menu-content>
<!-- FIN Peticiones Evaluacion listado-->