<section class="solicitud-proyecto-desglose-presupuesto-global">
  <h2>{{'menu.csp.solicitudes.desgloses-presupuesto' | translate}}</h2>
  <mat-label>{{'list.entity' | translate:msgParamPartidaGastoEntity}}</mat-label>

  <table class="mat-elevation-z8 table-desglose-presupuesto-global" mat-table [dataSource]="dataSource" matSort
    matSortActive="id" matSortDirection="asc" matSortDisableClear>
    <!-- Concepto de gasto Column -->
    <ng-container matColumnDef="conceptoGasto">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        {{'csp.solicitud-desglose-presupuesto.global.concepto-gasto' | translate}}
      </th>
      <td mat-cell *matCellDef="let wrapper">
        {{wrapper.value.conceptoGasto.nombre}}
      </td>
    </ng-container>

    <!-- Anualidad Column -->
    <ng-container matColumnDef="anualidad">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        {{'csp.solicitud-desglose-presupuesto.global.anualidad' | translate}}
      </th>
      <td mat-cell *matCellDef="let wrapper">
        {{wrapper.value.anualidad | translate}}
      </td>
    </ng-container>

    <!-- Importe Presupuestado Column -->
    <ng-container matColumnDef="importePresupuestado">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        {{'csp.solicitud-desglose-presupuesto.global.importe-presupuestado' | translate}}
      </th>
      <td mat-cell *matCellDef="let wrapper">
        {{wrapper.value.importePresupuestado}}
      </td>
    </ng-container>

    <!-- Importe Solicitado Column -->
    <ng-container matColumnDef="importeSolicitado">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        {{'csp.solicitud-desglose-presupuesto.global.importe-solicitado' | translate}}
      </th>
      <td mat-cell *matCellDef="let wrapper">
        {{wrapper.value.importeSolicitado}}
      </td>
    </ng-container>

    <!-- Observaciones Column -->
    <ng-container matColumnDef="observaciones">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        {{'csp.solicitud-desglose-presupuesto.global.observaciones' | translate}}
      </th>
      <td mat-cell *matCellDef="let wrapper">
        {{wrapper.value.observaciones}}
      </td>
    </ng-container>

    <!-- Acciones Column -->
    <ng-container matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef> {{'label.actions' | translate}} </th>
      <td mat-cell *matCellDef="let wrapper">
        <ng-container>
          <button mat-button matTooltip="{{'btn.view' | translate}}" (click)="openModal(wrapper)"
            *ngIf="formPart.readonly">
            <mat-icon color="primary">visibility</mat-icon>
          </button>
          <button mat-button matTooltip="{{'btn.edit' | translate}}" (click)="openModal(wrapper)"
            *ngIf="!formPart.readonly">
            <mat-icon color="primary">border_color</mat-icon>
          </button>
          <button mat-button matTooltip="{{'btn.delete' | translate}}" (click)="deletePartidaGasto(wrapper)"
            *ngIf="!formPart.readonly">
            <mat-icon color="warn">highlight_off</mat-icon>
          </button>
        </ng-container>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="elementsPage" showFirstLastButtons>
  </mat-paginator>

  <div class="separation-button" *ngIf="!formPart.readonly">
    <button color="three" mat-button mat-raised-button (click)="openModal()">
      <mat-icon color="accent">add_circle</mat-icon>
      {{ 'btn.add.entity' | translate:msgParamEntity }}
    </button>
    <button color="primary" class="rounded" mat-raised-button (click)="showPresupuestoCompleto()">
      <mat-icon>cases</mat-icon>
      {{'title.csp.presupuesto-completo'| translate}}
    </button>
  </div>

  <mat-divider></mat-divider>

  <form [formGroup]="formGroup">
    <div ngClass.gt-xs="ml-10">
      <!-- Cabeceras valor caculado y valor manual -->
      <div [fxLayout]="fxLayoutProperties.layout" [fxLayoutAlign]="fxLayoutProperties.layoutAlign"
        [fxLayoutGap]="fxLayoutProperties.gap">
        <div class="label">

        </div>
        <div class="cabecera">
          <span>{{'csp.solicitud-desglose-presupuesto.valor-calculado' | translate}}</span>
        </div>
        <div class="cabecera">
          <span>{{'csp.solicitud-desglose-presupuesto.valor-manual' | translate}}
            <sgi-field-info [visible]="!formPart.readonly"
              message="{{'msg.csp.solicitud-desglose-presupuesto.info' | translate}}">
            </sgi-field-info>
          </span>
        </div>
      </div>
      <!-- Importe presupuestado por Universidad -->
      <div [fxLayout]="fxLayoutProperties.layout" [fxLayoutAlign]="fxLayoutProperties.layoutAlign"
        [fxLayoutGap]="fxLayoutProperties.gap">
        <div class="label">
          <span>{{'csp.solicitud-desglose-presupuesto.importe-presupuestado-universidad' | translate}}</span>
        </div>
        <div>
          <mat-form-field>
            <input
              attr.aria-label="{{'csp.solicitud-desglose-presupuesto.valor-calculado' | translate}}: {{'csp.solicitud-desglose-presupuesto.importe-presupuestado-universidad' | translate}}"
              matInput type="text" [value]="this.valoresCalculadosData.totalPresupuestadoUniversidad" disabled />
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <input
              attr.aria-label="{{'csp.solicitud-desglose-presupuesto.valor-manual' | translate}}: {{'csp.solicitud-desglose-presupuesto.importe-presupuestado-universidad' | translate}}"
              matInput type="number" formControlName="importePresupuestado">
            <sgi-field-info matSuffix
              [visible]="!formPart.readonly && this.formGroup.controls.importePresupuestado.value && this.valoresCalculadosData.totalPresupuestadoUniversidad !== this.formGroup.controls.importePresupuestado.value"
              message="{{'msg.csp.solicitud-desglose-presupuesto.warn' | translate}}" color="warn">
            </sgi-field-info>
          </mat-form-field>
        </div>
      </div>
      <!-- Importe solicitado por Universidad -->
      <div [fxLayout]="fxLayoutProperties.layout" [fxLayoutAlign]="fxLayoutProperties.layoutAlign"
        [fxLayoutGap]="fxLayoutProperties.gap">
        <div class="label">
          <span>{{'csp.solicitud-desglose-presupuesto.importe-solicitado-universidad' | translate}}</span>
        </div>
        <div>
          <mat-form-field>
            <input
              attr.aria-label="{{'csp.solicitud-desglose-presupuesto.valor-calculado' | translate}}: {{'csp.solicitud-desglose-presupuesto.importe-solicitado-universidad' | translate}}"
              matInput type="text" [value]="this.valoresCalculadosData.totalSolicitadoUniversidad" disabled>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <input matInput
              attr.aria-label="{{'csp.solicitud-desglose-presupuesto.valor-manual' | translate}}: {{'csp.solicitud-desglose-presupuesto.importe-solicitado-universidad' | translate}}"
              type="number" formControlName="importeSolicitado">
            <sgi-field-info matSuffix
              [visible]="!formPart.readonly && this.formGroup.controls.importeSolicitado.value && this.valoresCalculadosData.totalSolicitadoUniversidad !== this.formGroup.controls.importeSolicitado.value"
              message="{{'msg.csp.solicitud-desglose-presupuesto.warn' | translate}}" color="warn">
            </sgi-field-info>
          </mat-form-field>
        </div>
      </div>
      <!-- Importe presupuestado por socios -->
      <div [fxLayout]="fxLayoutProperties.layout" [fxLayoutAlign]="fxLayoutProperties.layoutAlign"
        [fxLayoutGap]="fxLayoutProperties.gap">
        <div class="label">
          <span>{{'csp.solicitud-desglose-presupuesto.importe-presupuestado-socios' | translate}}</span>
        </div>
        <div>
          <mat-form-field>
            <input
              attr.aria-label="{{'csp.solicitud-desglose-presupuesto.valor-calculado' | translate}}: {{'csp.solicitud-desglose-presupuesto.importe-presupuestado-socios' | translate}}"
              matInput type="text" [value]="this.valoresCalculadosData.totalPresupuestadoSocios" disabled>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <input
              attr.aria-label="{{'csp.solicitud-desglose-presupuesto.valor-manual' | translate}}: {{'csp.solicitud-desglose-presupuesto.importe-presupuestado-socios' | translate}}"
              matInput type="number" formControlName="importePresupuestadoSocios">
            <sgi-field-info matSuffix
              [visible]="!formPart.readonly && this.formGroup.controls.importePresupuestadoSocios.value && this.valoresCalculadosData.totalPresupuestadoSocios !== this.formGroup.controls.importePresupuestadoSocios.value"
              message="{{'msg.csp.solicitud-desglose-presupuesto.warn' | translate}}" color="warn">
            </sgi-field-info>
          </mat-form-field>
        </div>
      </div>
      <!-- Importe solicitado por socios -->
      <div [fxLayout]="fxLayoutProperties.layout" [fxLayoutAlign]="fxLayoutProperties.layoutAlign"
        [fxLayoutGap]="fxLayoutProperties.gap">
        <div class="label">
          <span>{{'csp.solicitud-desglose-presupuesto.importe-solicitado-socios' | translate}}</span>
        </div>
        <div>
          <mat-form-field>
            <input
              attr.aria-label="{{'csp.solicitud-desglose-presupuesto.valor-calculado' | translate}}: {{'csp.solicitud-desglose-presupuesto.importe-solicitado-socios' | translate}}"
              matInput type="text" [value]="this.valoresCalculadosData.totalSolicitadoSocios" disabled>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <input
              attr.aria-label="{{'csp.solicitud-desglose-presupuesto.valor-manual' | translate}}: {{'csp.solicitud-desglose-presupuesto.importe-solicitado-socios' | translate}}"
              matInput type="number" formControlName="importeSolicitadoSocios">
            <sgi-field-info matSuffix
              [visible]="!formPart.readonly && this.formGroup.controls.importeSolicitadoSocios.value && this.valoresCalculadosData.totalSolicitadoSocios !== this.formGroup.controls.importeSolicitadoSocios.value"
              message="{{'msg.csp.solicitud-desglose-presupuesto.warn' | translate}}" color="warn">
            </sgi-field-info>
          </mat-form-field>
        </div>
      </div>
      <!-- Total Importe presupuestado -->
      <div [fxLayout]="fxLayoutProperties.layout" [fxLayoutAlign]="fxLayoutProperties.layoutAlign"
        [fxLayoutGap]="fxLayoutProperties.gap">
        <div class="label">
          <span>{{'csp.solicitud-desglose-presupuesto.total-importe-presupuestado' | translate}}</span>
        </div>
        <div>
          <mat-form-field>
            <input
              attr.aria-label="{{'csp.solicitud-desglose-presupuesto.valor-calculado' | translate}}: {{'csp.solicitud-desglose-presupuesto.total-importe-presupuestado' | translate}}"
              matInput type="text" [value]="this.valoresCalculadosData.totalPresupuestado" disabled>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <input
              attr.aria-label="{{'csp.solicitud-desglose-presupuesto.valor-manual' | translate}}: {{'csp.solicitud-desglose-presupuesto.total-importe-presupuestado' | translate}}"
              matInput type="number" formControlName="totalImportePresupuestado">
            <sgi-field-info matSuffix
              [visible]="!formPart.readonly && this.formGroup.controls.totalImportePresupuestado.value && this.valoresCalculadosData.totalPresupuestado !== this.formGroup.controls.totalImportePresupuestado.value"
              message="{{'msg.csp.solicitud-desglose-presupuesto.warn' | translate}}" color="warn">
            </sgi-field-info>
          </mat-form-field>
        </div>
      </div>
      <!-- Total Importe solicitado -->
      <div [fxLayout]="fxLayoutProperties.layout" [fxLayoutAlign]="fxLayoutProperties.layoutAlign"
        [fxLayoutGap]="fxLayoutProperties.gap">
        <div class="label">
          <span>{{'csp.solicitud-desglose-presupuesto.total-importe-solicitado' | translate}}</span>
        </div>
        <div>
          <mat-form-field>
            <input
              attr.aria-label="{{'csp.solicitud-desglose-presupuesto.valor-calculado' | translate}}: {{'csp.solicitud-desglose-presupuesto.total-importe-solicitado' | translate}}"
              matInput type="text" [value]="this.valoresCalculadosData.totalSolicitado" disabled>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <input
              attr.aria-label="{{'csp.solicitud-desglose-presupuesto.valor-manual' | translate}}: {{'csp.solicitud-desglose-presupuesto.total-importe-solicitado' | translate}}"
              matInput type="number" formControlName="totalImporteSolicitado">
            <sgi-field-info matSuffix
              [visible]="!formPart.readonly && this.formGroup.controls.totalImporteSolicitado.value && this.valoresCalculadosData.totalSolicitado !== this.formGroup.controls.totalImporteSolicitado.value"
              message="{{'msg.csp.solicitud-desglose-presupuesto.warn' | translate}}" color="warn">
            </sgi-field-info>
          </mat-form-field>
        </div>
      </div>
    </div>
  </form>

</section>