<sgi-action [actionService]="actionService">
  <ng-container menu>
    <sgi-action-fragment-menu-item [route]="[PII_TIPO_PROTECCION_ROUTE_NAMES.DATOS_GENERALES]"
      *sgiHasAnyAuthority="['PII-TPR-C']" [title]="'label.datos-generales' | translate"
      [fragment]="actionService.getFragment(actionService.FRAGMENT.DATOS_GENERALES)">
    </sgi-action-fragment-menu-item>
  </ng-container>
  <ng-container footer>
    <sgi-action-footer [texto]="(textoCrear$| async)" [actionService]="actionService"></sgi-action-footer>
  </ng-container>
</sgi-action>