@import "colors.scss";
@import "vars.scss";

/* SIDENAV */
.sidenav {
  height: calc(100% - #{$headerHeight});

  .menu-principal {
    padding-top: 0px;
    box-shadow: inset 0px 14px 12px -12px map-get($sgi-custom-colors, divider);
  }
}