<!-- SIDENAV -->
<mat-sidenav-container class="sidenav" *ngIf="{
    opened: layoutService.menuOpened$ | async,
    autoCollapse: layoutService.menuAutoclose$ | async
   } as layout">
  <!-- MENU -->
  <mat-sidenav [@menu-animation]="layout.opened ? 'open' : 'close'"
    (mouseenter)="layout.autoCollapse && !layout.opened ? layoutService.openMenu(): false"
    (mouseleave)="layout.autoCollapse && layout.opened ? layoutService.closeMenu(): false" #sidenav [opened]="true"
    [mode]="screenWidth > 960 ? 'side' : 'over'" [class.mat-elevation-z4]="true"
    [ngStyle]="{ 'width.em': layout.opened ? openedWidth : closedWith }">
    <mat-nav-list class="menu-principal">
      <ng-content></ng-content>
    </mat-nav-list>
  </mat-sidenav>
  <!-- MENU -->
  <!-- CONTENIDO -->
  <mat-sidenav-content [@content-animation]="layout.opened ? 'open': 'close'">
    <sgi-breadcrumb></sgi-breadcrumb>
    <div class="layout-components">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
  <!-- CONTENIDO-->
</mat-sidenav-container>
<!-- SIDENAV -->