<sgi-fragment title="{{'csp.proyecto-anualidad.partida-gasto' | translate: MSG_PARAMS.CARDINALIRY.SINGULAR}}">
  <div class="mat-elevation-z4">
    <table mat-table [dataSource]="dataSource" matSort matSortActive="identificadorSge" matSortDirection="asc"
      matSortDisableClear>

      <!-- identificadorSge Column -->
      <ng-container matColumnDef="identificadorSge">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{'csp.proyecto-anualidad.partida-gasto.identificador-sge' | translate}}
        </th>
        <td mat-cell *matCellDef="let wrapper">{{wrapper.value.proyectoSgeRef}}</td>
      </ng-container>

      <!-- conceptoGasto Column -->
      <ng-container matColumnDef="conceptoGasto">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{'csp.proyecto-anualidad.partida-gasto.concepto-gasto' |
          translate}}
        </th>
        <td mat-cell *matCellDef="let wrapper">{{wrapper.value.conceptoGasto?.nombre }}</td>
      </ng-container>

      <!-- codigoEconomico Column -->
      <ng-container matColumnDef="codigoEconomico">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{'csp.proyecto-anualidad.partida-gasto.codigo-economico' |
          translate}}
        </th>
        <td mat-cell *matCellDef="let wrapper">
          {{wrapper.value.codigoEconomico?.id}}
          {{wrapper.value.codigoEconomico?.nombre ? ' - ' + wrapper.value.codigoEconomico.nombre : '' }}
        </td>
      </ng-container>

      <!-- proyectoPartida Column -->
      <ng-container matColumnDef="proyectoPartida">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{'csp.proyecto-anualidad.partida.partida-presupuestaria' |
          translate}}
        </th>
        <td mat-cell *matCellDef="let wrapper">{{wrapper.value.proyectoPartida?.codigo}}</td>
      </ng-container>

      <!-- importePresupuesto Column -->
      <ng-container matColumnDef="importePresupuesto">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{'csp.proyecto-anualidad.partida-gasto.importe-presupuesto' |
          translate}}
        </th>
        <td mat-cell *matCellDef="let wrapper">{{wrapper.value.importePresupuesto }}</td>
      </ng-container>

      <!-- importeConcedido Column -->
      <ng-container matColumnDef="importeConcedido">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{'csp.proyecto-anualidad.partida-gasto.importe-concedido' |
          translate}}
        </th>
        <td mat-cell *matCellDef="let wrapper">{{wrapper.value.importeConcedido }}</td>
      </ng-container>

      <!-- Acciones Column -->
      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef> {{'label.actions' |
          translate}}
        </th>
        <td mat-cell *matCellDef="let wrapper">
          <ng-container>
            <button *ngIf="!this.readonly" mat-button matTooltip="{{'btn.edit' | translate}}"
              (click)="openModal(wrapper.value)">
              <mat-icon color="primary">border_color</mat-icon>
            </button>
            <button *ngIf="this.readonly" mat-button matTooltip="{{'btn.view' | translate}}"
              (click)="openModal(wrapper.value)">
              <mat-icon color="primary">visibility</mat-icon>
            </button>
          </ng-container>
          <ng-container>
            <button *ngIf="!this.readonly" mat-button matTooltip="{{'btn.delete' | translate}}"
              (click)="deleteAnualidadGasto(wrapper)">
              <mat-icon color="warn">highlight_off</mat-icon>
            </button>
          </ng-container>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  <div class="separation-button" *ngIf="!this.readonly">
    <button color="three" mat-button mat-raised-button (click)="openModal()">
      <mat-icon color="accent">add_circle</mat-icon>
      {{ 'btn.add.entity' | translate:msgParamEntity }}
    </button>
  </div>
</sgi-fragment>