<sgi-menu-content>
  <!-- Buscador -->
  <div [ngClass]="busquedaAvanzada ? 'mat-elevation-z8 caja-busqueda-avanzada' : ''">
    <form [ngClass]="busquedaAvanzada ? '' : 'mat-elevation-z8 formulario'" [formGroup]="formGroup" fxLayout="column">

      <div fxFlex fxLayout="row" fxLayoutGap="10px">
        <!-- Datos económicos de -->
        <mat-form-field
          [fxFlex]="formGroup.controls.tipoEntidad.value === TipoEntidad.PROYECTO ? '25%' : '0 1 calc((100% - (10px * 3)) / 4)'">
          <mat-label>{{'csp.ejecucion-economica.tipo-entidad' | translate}}</mat-label>
          <sgi-select-enum formControlName="tipoEntidad" required [enumMap]="TIPO_ENTIDAD_MAP">
          </sgi-select-enum>
        </mat-form-field>

        <!-- Titulo proyecto / Nombre grupo -->
        <mat-form-field
          [fxFlex]="formGroup.controls.tipoEntidad.value === TipoEntidad.PROYECTO ? '25%' : '0 1 calc((100% - (10px * 3)) / 2 + 10px)'">
          <mat-label>{{(formGroup.controls.tipoEntidad.value === TipoEntidad.PROYECTO ?
            'csp.ejecucion-economica.proyecto.titulo' : 'csp.ejecucion-economica.grupo.nombre') | translate}}
          </mat-label>
          <input matInput formControlName="nombre" type="text" placeholder="{{(formGroup.controls.tipoEntidad.value === TipoEntidad.PROYECTO ?
            'csp.ejecucion-economica.proyecto.titulo' : 'csp.ejecucion-economica.grupo.nombre') | translate}}">
        </mat-form-field>

        <!-- Indentificador SGE -->
        <mat-form-field
          [fxFlex]="formGroup.controls.tipoEntidad.value === TipoEntidad.PROYECTO ? '25%' : '0 1 calc((100% - (10px * 3)) / 4)'">
          <mat-label>{{'csp.ejecucion-economica.identificador-sge' | translate}}</mat-label>
          <input matInput formControlName="identificadorSge" type="text"
            placeholder="{{'csp.ejecucion-economica.identificador-sge' | translate}}">
        </mat-form-field>

        <!-- Referencia en entidad convocante -->
        <ng-container *ngIf="formGroup.controls.tipoEntidad.value === TipoEntidad.PROYECTO">
          <mat-form-field fxFlex="25%">
            <mat-label>{{'csp.ejecucion-economica.referencia-entidad-convocante' | translate}}</mat-label>
            <input matInput formControlName="referenciaEntidadConvocante" type="text"
              placeholder="{{'csp.ejecucion-economica.referencia-entidad-convocante' | translate}}">
          </mat-form-field>
        </ng-container>
      </div>

      <div fxFlex fxLayout="row" fxLayoutGap="10px">
        <!-- Fecha Inicio Desde -->
        <mat-form-field fxFlex="25%">
          <mat-label>{{'csp.ejecucion-economica.fecha-inicio-desde' | translate}}</mat-label>
          <input matInput formControlName="fechaInicioDesde" [matDatepicker]="fechaInicioDesde">
          <mat-datepicker-toggle matSuffix [for]="fechaInicioDesde"></mat-datepicker-toggle>
          <mat-datepicker #fechaInicioDesde>
          </mat-datepicker>
        </mat-form-field>

        <!-- Fecha Inicio Hasta -->
        <mat-form-field fxFlex="25%" sgiEndDate>
          <mat-label>{{'csp.ejecucion-economica.fecha-inicio-hasta' | translate}}</mat-label>
          <input matInput formControlName="fechaInicioHasta" [matDatepicker]="fechaInicioHasta">
          <mat-datepicker-toggle matSuffix [for]="fechaInicioHasta"></mat-datepicker-toggle>
          <mat-datepicker #fechaInicioHasta>
          </mat-datepicker>
        </mat-form-field>

        <!-- Fecha Fin Desde -->
        <mat-form-field fxFlex="25%">
          <mat-label>{{'csp.ejecucion-economica.fecha-fin-desde' | translate}}</mat-label>
          <input matInput formControlName="fechaFinDesde" [matDatepicker]="fechaFinDesde">
          <mat-datepicker-toggle matSuffix [for]="fechaFinDesde"></mat-datepicker-toggle>
          <mat-datepicker #fechaFinDesde>
          </mat-datepicker>
        </mat-form-field>

        <!-- Fecha Fin Hasta -->
        <mat-form-field fxFlex="25%" sgiEndDate>
          <mat-label>{{'csp.ejecucion-economica.fecha-fin-hasta' | translate}}</mat-label>
          <input matInput formControlName="fechaFinHasta" [matDatepicker]="fechaFinHasta">
          <mat-datepicker-toggle matSuffix [for]="fechaFinHasta"></mat-datepicker-toggle>
          <mat-datepicker #fechaFinHasta>
          </mat-datepicker>
        </mat-form-field>
      </div>

      <!-- Acciones -->
      <div class="buttons-final" *ngIf="!busquedaAvanzada">
        <div class="col filter-button">
          <button color="primary" aria-label="Center Align" mat-raised-button (click)="onSearch()">
            <mat-icon>search</mat-icon> {{'btn.search'| translate}}
          </button>
          <button class="link-busqueda underline" aria-label="Center Align" mat-button
            (click)="toggleBusquedaAvanzada()">
            {{'btn.search.advanced'| translate}}
          </button>
          <button color="warn" aria-label="Center Align" (click)="onClearFilters()" mat-button>{{'btn.clean'|
            translate}}
          </button>
        </div>
      </div>
    </form>

    <form *ngIf="busquedaAvanzada" [ngClass]="busquedaAvanzada ? 'busqueda-avanzada' : ''" [formGroup]="formGroup"
      fxLayout="column">
      <div fxFlex fxLayout="row" fxLayoutGap="10px">
        <!-- Convocatoria -->
        <mat-form-field fxFlex="0 1 calc((100% - (10px * 1)) / 2)"
          *ngIf="formGroup.controls.tipoEntidad.value === TipoEntidad.PROYECTO">
          <mat-label>{{'csp.ejecucion-economica.convocatoria' | translate}}</mat-label>
          <sgi-select-convocatoria placeholder="{{'csp.ejecucion-economica.convocatoria' | translate}}"
            formControlName="convocatoria" extended="false">
          </sgi-select-convocatoria>
        </mat-form-field>

        <!-- Responsable proyecto / grupo -->
        <mat-form-field fxFlex="0 1 calc((100% - (10px * 1)) / 2)">
          <mat-label>{{(formGroup.controls.tipoEntidad.value === TipoEntidad.PROYECTO ?
            'csp.ejecucion-economica.proyecto.responsable' : 'csp.ejecucion-economica.grupo.responsable') | translate}}
          </mat-label>
          <sgi-select-persona placeholder="{{(formGroup.controls.tipoEntidad.value === TipoEntidad.PROYECTO ? 'csp.ejecucion-economica.proyecto.responsable' :
          'csp.ejecucion-economica.grupo.responsable') | translate}}" formControlName="responsable"
            [colectivos]="colectivosResponsable">
          </sgi-select-persona>
        </mat-form-field>
      </div>

      <div fxFlex fxLayout="row" fxLayoutGap="10px"
        *ngIf="formGroup.controls.tipoEntidad.value === TipoEntidad.PROYECTO">
        <!-- Entidad convocante -->
        <mat-form-field fxFlex="0 1 calc((100% - (10px * 1)) / 2)">
          <mat-label>{{'csp.ejecucion-economica.entidad-convocante' | translate}}</mat-label>
          <sgi-select-empresa placeholder="{{'csp.ejecucion-economica.entidad-convocante' | translate}}"
            formControlName="entidadConvocante">
          </sgi-select-empresa>
        </mat-form-field>

        <!-- Entidad financiadora -->
        <mat-form-field fxFlex="0 1 calc((100% - (10px * 1)) / 2)">
          <mat-label>{{'csp.ejecucion-economica.entidad-financiadora' | translate}}</mat-label>
          <sgi-select-empresa placeholder="{{'csp.ejecucion-economica.entidad-financiadora' | translate}}"
            formControlName="entidadFinanciadora">
          </sgi-select-empresa>
        </mat-form-field>
      </div>

      <!-- Acciones -->
      <div class="buttons-final">
        <div class="col filter-button">
          <button color="primary" aria-label="Center Align" mat-raised-button (click)="onSearch()">
            <mat-icon>search</mat-icon> {{'btn.search'| translate}}
          </button>
          <button class="link-busqueda underline" aria-label="Center Align" mat-button
            (click)="toggleBusquedaAvanzada()">
            {{'btn.search.simple'| translate}}
          </button>
          <button color="warn" aria-label="Center Align" (click)="onClearFilters()" mat-button>{{'btn.clean'|
            translate}}
          </button>
        </div>
      </div>
    </form>
  </div>

  <!-- Tabla -->
  <div class="mat-elevation-z4">
    <table class="ejecucion-economica" mat-table [dataSource]="dataSource$ | async" matSort matSortActive="id"
      matSortDirection="asc" matSortDisableClear>

      <!-- Identificador interno SGI -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{'csp.ejecucion-economica.identificador-sgi' | translate}}
        </th>
        <td mat-cell *matCellDef="let element">
          {{element.id}}
        </td>
      </ng-container>

      <!-- Identificador SGE Column -->
      <ng-container matColumnDef="proyectoSgeRef">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{'csp.ejecucion-economica.identificador-sge' | translate}}
        </th>
        <td mat-cell *matCellDef="let element">
          {{element.proyectoSge.id}}
        </td>
      </ng-container>

      <!-- Nombre / Titulo Column -->
      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{(tipoEntidadSelected === TipoEntidad.PROYECTO ? 'csp.ejecucion-economica.proyecto.titulo' :
          'csp.ejecucion-economica.grupo.nombre') | translate}}
        </th>
        <td mat-cell *matCellDef="let element">
          {{element.nombre}}
        </td>
      </ng-container>

      <!-- Referencia en entidad convocante Column -->
      <ng-container matColumnDef="codigoExterno" *ngIf="this.tipoEntidadSelected === TipoEntidad.PROYECTO">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{'csp.ejecucion-economica.ref-entidad-convocante' | translate}}
        </th>
        <td mat-cell *matCellDef="let element">
          {{element.codigoExterno}}
        </td>
      </ng-container>

      <!-- Referencia interna Column -->
      <ng-container matColumnDef="codigoInterno" *ngIf="this.tipoEntidadSelected === TipoEntidad.PROYECTO">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{'csp.ejecucion-economica.ref-interna' | translate}}
        </th>
        <td mat-cell *matCellDef="let element">
          {{element.codigoInterno}}
        </td>
      </ng-container>

      <!-- Responsable Column -->
      <ng-container matColumnDef="responsable">
        <th mat-header-cell *matHeaderCellDef>
          {{(tipoEntidadSelected === TipoEntidad.PROYECTO ? 'csp.ejecucion-economica.proyecto.responsable' :
          'csp.ejecucion-economica.grupo.responsable') | translate}}
        </th>
        <td mat-cell *matCellDef="let element" matTooltip="{{element.responsables | personaNombreCompleto}}">
          {{element.responsables | personaNombreCompleto}}
        </td>
      </ng-container>

      <!-- Fecha inicio Column -->
      <ng-container matColumnDef="fechaInicio">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{'csp.ejecucion-economica.fecha-inicio' | translate}}
        </th>
        <td mat-cell *matCellDef="let element">
          {{element.fechaInicio | luxon:'shortDate'}}
        </td>
      </ng-container>

      <!-- Fecha fin Column -->
      <ng-container matColumnDef="fechaFin">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{'csp.ejecucion-economica.fecha-fin' | translate}}
        </th>
        <td mat-cell *matCellDef="let element">
          {{element.fechaFin | luxon:'shortDate'}}
        </td>
      </ng-container>

      <!-- Acciones Column -->
      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef> {{'label.actions' | translate}} </th>
        <td mat-cell *matCellDef="let element">
          <a *ngIf="element.id" mat-icon-button color="primary" matTooltip="{{'btn.view' | translate}}"
            [routerLink]="[element.proyectoSge.id]">
            <mat-icon>visibility</mat-icon>
          </a>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="columnas"></tr>
      <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
    </table>

    <div [class]="tipoEntidadSelected === TipoEntidad.PROYECTO ? 'paginator-export' : ''">
      <button mat-button color="primary" matTooltip="{{'btn.export' | translate}}" (click)="openExportModal()"
        [disabled]="totalElementos<=0" *ngIf="tipoEntidadSelected === TipoEntidad.PROYECTO">
        <mat-icon>insert_chart_outlined</mat-icon>
      </button>
      <mat-paginator [pageSizeOptions]="elementosPagina" [length]="totalElementos" showFirstLastButtons>
      </mat-paginator>
    </div>
  </div>
</sgi-menu-content>