<div class="sgi-dialog-header" fxLayout="row" fxLayoutGap="20px">
  <span fxFlexAlign="center" mat-mat-dialog-title role="heading" aria-level="3" fxFlex>
    {{'csp.grupo' | translate:MSG_PARAMS.CARDINALIRY.PLURAL}}
  </span>
  <button fxFlex="nogrow" mat-icon-button mat-dialog-close>
    <mat-icon class="close-icon">close</mat-icon>
  </button>
</div>
<mat-dialog-content fxLayout="column" fxLayoutGap="20px">
  <form [formGroup]="formGroup" fxLayout="column">
    <div fxFlex fxLayout="row" fxLayoutGap="10px">
      <!-- Nombre -->
      <mat-form-field>
        <mat-label>{{'csp.grupo.nombre' | translate}}</mat-label>
        <input matInput type="text" placeholder="{{'csp.grupo.nombre' | translate}}" formControlName="nombre">
      </mat-form-field>

      <!-- Codigo -->
      <mat-form-field fxFlex="1 1.5 auto">
        <mat-label>{{'csp.grupo.codigo' | translate}}</mat-label>
        <input matInput type="text" placeholder="{{'csp.grupo.codigo' | translate}}" formControlName="codigo">
      </mat-form-field>

      <!-- Codigo identificacion SGE -->
      <mat-form-field fxFlex="1 1.5 auto">
        <mat-label>{{'csp.grupo.codigo-sge' | translate}}</mat-label>
        <input matInput type="text" placeholder="{{'csp.grupo.codigo-sge' | translate}}"
          formControlName="proyectoSgeRef">
      </mat-form-field>
    </div>

    <div fxFlex fxLayout="row" fxLayoutGap="10px">
      <!-- Fecha inicio desde -->
      <mat-form-field fxFlex="1 1.5 auto">
        <mat-label>{{'label.fecha-inicio' | translate}} {{'label.desde' | translate}}</mat-label>
        <input matInput formControlName="fechaInicioDesde" [matDatepicker]="pickerInicioDesde" />
        <mat-datepicker-toggle matSuffix [for]="pickerInicioDesde"></mat-datepicker-toggle>
        <mat-datepicker #pickerInicioDesde></mat-datepicker>
      </mat-form-field>

      <!-- Fecha inicio hasta -->
      <mat-form-field fxFlex="1 1.5 auto">
        <mat-label>{{'label.fecha-inicio' | translate}} {{'label.hasta' | translate}}</mat-label>
        <input matInput formControlName="fechaInicioHasta" [matDatepicker]="pickerInicioHasta" />
        <mat-datepicker-toggle matSuffix [for]="pickerInicioHasta"></mat-datepicker-toggle>
        <mat-datepicker #pickerInicioHasta></mat-datepicker>
      </mat-form-field>

      <!-- Miembro equipo -->
      <mat-form-field>
        <mat-label>{{'csp.grupo.miembro-equipo' | translate}}</mat-label>
        <sgi-select-persona placeholder="{{'csp.grupo.miembro-equipo' | translate}}" formControlName="miembroEquipo"
          [colectivos]="colectivosBusqueda"></sgi-select-persona>
      </mat-form-field>
    </div>

  </form>

  <div fxFlex fxLayoutAlign="start">
    <button color="primary" mat-raised-button (click)="search(true)">
      {{'btn.search' | translate}}
    </button>
    <button color="warn" aria-label="Center Align" (click)="onClearFilters()" mat-button>
      {{'btn.clean'| translate}}
    </button>
  </div>

  <div fxFlex class="mat-elevation-z3">
    <table mat-table [dataSource]="grupos$ | async" matSort matSortActive="id" matSortDirection="desc"
      matSortDisableClear>
      <!-- Nombre Column -->
      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef>
          {{'csp.grupo.nombre' | translate}}
        </th>
        <td mat-cell *matCellDef="let element">
          {{element.nombre}}
        </td>
      </ng-container>

      <!-- Investigador principal Column -->
      <ng-container matColumnDef="investigadorPrincipal">
        <th mat-header-cell *matHeaderCellDef>
          {{'csp.grupo.investigador-principal' | translate}}
        </th>
        <td mat-cell *matCellDef="let element"
          matTooltip="{{element.investigadoresPrincipales | personaNombreCompleto}}">
          {{element.investigadoresPrincipales | personaNombreCompleto }}
        </td>
      </ng-container>

      <!-- Codigo Column -->
      <ng-container matColumnDef="codigo">
        <th mat-header-cell *matHeaderCellDef>
          {{'csp.grupo.codigo' | translate}}
        </th>
        <td mat-cell *matCellDef="let element">
          {{element.codigo}}
        </td>
      </ng-container>

      <!-- Fecha Inicio Column -->
      <ng-container matColumnDef="fechaInicio">
        <th mat-header-cell *matHeaderCellDef>
          {{'label.fecha-inicio' | translate}}
        </th>
        <td mat-cell *matCellDef="let element">
          {{element.fechaInicio | luxon:'shortDate'}}
        </td>
      </ng-container>

      <!-- Fecha Fin Column -->
      <ng-container matColumnDef="fechaFin">
        <th mat-header-cell *matHeaderCellDef>
          {{'label.fecha-fin' | translate}}
        </th>
        <td mat-cell *matCellDef="let element">
          {{element.fechaFin | luxon:'shortDate'}}
        </td>
      </ng-container>

      <!-- Tipo Column -->
      <ng-container matColumnDef="tipo">
        <th mat-header-cell *matHeaderCellDef>
          {{'csp.grupo.tipo-grupo' | translate}}
        </th>
        <td mat-cell *matCellDef="let element">
          {{TIPO_MAP.get(element.tipo) | translate}}
        </td>
      </ng-container>

      <!-- Acciones Column -->
      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef>
          {{'label.actions' | translate}}
        </th>
        <td mat-cell *matCellDef="let proyecto">
          <button mat-icon-button color="primary" matTooltip="{{'btn.select' | translate}}"
            (click)="closeModal(proyecto)">
            <mat-icon>done_outline</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="elementosPagina" [length]="totalElementos" showFirstLastButtons>
    </mat-paginator>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button class="link-cancelar" mat-button type="button" mat-dialog-close>
    {{'btn.cancel' | translate}}
  </button>
</mat-dialog-actions>