<sgi-action [actionService]="actionService">
  <ng-container menu>
    <sgi-action-fragment-menu-item [route]="[AUTORIZACION_ROUTE_NAMES.DATOS_GENERALES]"
      [title]="'label.datos-generales' | translate"
      [fragment]="actionService.getFragment(actionService.FRAGMENT.DATOS_GENERALES)">
    </sgi-action-fragment-menu-item>
    <sgi-action-fragment-menu-item [route]="[AUTORIZACION_ROUTE_NAMES.HISTORICO_ESTADOS]"
      [title]="'label.historico-estados' | translate"
      [fragment]="actionService.getFragment(actionService.FRAGMENT.HISTORICO_ESTADOS)">
    </sgi-action-fragment-menu-item>

    <ng-container footer>
      <sgi-action-footer [texto]="textoEditar" [actionService]="actionService">
        <sgi-action-footer-button *sgiHasAuthorityForAnyUO="'CSP-AUT-INV-ER'" color="primary" [text]="textoPresentar"
          [disabled]="disablePresentar$ | async" icon="move_to_inbox" (buttonClick)="presentar()">
        </sgi-action-footer-button>
        <sgi-action-footer-button *sgiHasAuthorityForAnyUO="'CSP-AUT-E'" color="primary" [text]="textoCambioEstado"
          icon="move_to_inbox" (buttonClick)="openCambioEstado()" [disabled]="disableCambioEstado">
        </sgi-action-footer-button>
      </sgi-action-footer>
    </ng-container>
  </ng-container>
</sgi-action>