<div class="sgi-dialog-header" fxLayout="row" fxLayoutGap="20px">
  <span fxFlexAlign="center" mat-mat-dialog-title role="heading" aria-level="3" fxFlex>{{title | translate}}</span>
  <button fxFlex="nogrow" mat-icon-button mat-dialog-close>
    <mat-icon class="close-icon">close</mat-icon>
  </button>
</div>
<mat-dialog-content>
  <form [formGroup]="formGroup">
    <div>
      <!-- Número de periodo -->
      <div *ngIf="data.proyectoPeriodoJustificacion?.numPeriodo" [fxLayout.xs]="fxLayoutProperties.xs"
        [fxLayout]="fxLayoutProperties.layout" [fxLayoutGap]="fxLayoutProperties.gap" ngClass.gt-xs="ml-10">
        <mat-form-field>
          <mat-label>{{'csp.proyecto-periodo-justificacion.numero-periodo' | translate}}</mat-label>
          <input matInput formControlName="numPeriodo" type="text"
            placeholder="{{'csp.proyecto-periodo-justificacion.periodo' | translate}}" readonly maxlength="100">
          <mat-error *ngIf="formGroup.controls.numPeriodo.errors?.required">
            {{ 'error.required.entity' | translate:msgParamPeriodoEntity }}
          </mat-error>
        </mat-form-field>
      </div>
      <!-- Tipo -->
      <div [fxLayout.xs]="fxLayoutProperties.xs" [fxLayout]="fxLayoutProperties.layout"
        [fxLayoutGap]="fxLayoutProperties.gap" ngClass.gt-xs="ml-10">
        <mat-form-field>
          <mat-label>{{'csp.proyecto-periodo-justificacion.tipoJustificacion' | translate}}</mat-label>
          <sgi-select-enum formControlName="tipoJustificacion" required [enumMap]="TIPO_JUSTIFICACION_MAP">
          </sgi-select-enum>
          <mat-error *ngIf="formGroup.controls.tipoJustificacion.errors?.required">
            {{ 'error.required.entity' | translate:msgParamTipoEntity }}
          </mat-error>
          <mat-error *ngIf="formGroup.controls.tipoJustificacion.errors?.notAllowed">
            {{'error.csp.proyecto-periodo-justificacion.tipo.duplicate' | translate}}
          </mat-error>
          <mat-error *ngIf="formGroup.controls.tipoJustificacion.errors?.finalNotLast">
            {{'error.csp.proyecto-periodo-justificacion.tipo.last' | translate}}
          </mat-error>
        </mat-form-field>
      </div>

      <div class="fieldset-form">
        {{'label.csp.proyecto-periodo-justificacion.periodo-justificar' | translate}}
      </div>
      <!-- Fecha inicio -->
      <div [fxLayout.xs]="fxLayoutProperties.xs" [fxLayout]="fxLayoutProperties.layout"
        [fxLayoutGap]="fxLayoutProperties.gap" ngClass.gt-xs="ml-10">
        <div>
          <mat-form-field>
            <mat-label>{{'csp.proyecto-periodo-justificacion.fecha-inicio' | translate}}</mat-label>
            <input matInput [matDatepicker]="pickerFechaInicio" formControlName="fechaInicio" required
              (blur)="recalcularNumPeriodo()">
            <mat-datepicker-toggle class="fechaIcon" matSuffix [for]="pickerFechaInicio"></mat-datepicker-toggle>
            <mat-datepicker #pickerFechaInicio>
            </mat-datepicker>
            <mat-error *ngIf="formGroup.controls.fechaInicio.errors?.required">
              {{ 'error.required.entity' | translate:msgParamFechaInicioEntity }}
            </mat-error>
            <mat-error *ngIf="formGroup.controls.fechaInicio.errors?.overlapped">
              {{ 'error.periodo.justificacion.overlapping.range.fecha-inicio' | translate }}
            </mat-error>
          </mat-form-field>
        </div>
        <!-- Fecha fin -->
        <div>
          <mat-form-field sgiEndDate>
            <mat-label>{{'csp.proyecto-periodo-justificacion.fecha-fin' | translate}}</mat-label>
            <input matInput [matDatepicker]="pickerFechafin" formControlName="fechaFin" required>
            <mat-datepicker-toggle class="fechaIcon" matSuffix [for]="pickerFechafin"></mat-datepicker-toggle>
            <mat-datepicker #pickerFechafin>
            </mat-datepicker>
            <mat-error *ngIf="formGroup.controls.fechaFin.errors?.required">
              {{ 'error.required.entity' | translate:msgParamFechaFinEntity }}
            </mat-error>
            <mat-error *ngIf="formGroup.controls.fechaFin.errors?.after">
              {{'error.after.param' | translate:msgParamFechaInicioEntity}}
            </mat-error>
            <mat-error *ngIf="formGroup.controls.fechaFin.errors?.overlapped">
              {{ 'error.periodo.justificacion.overlapping.range.fecha-fin' | translate }}
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="fieldset-form">
        {{'label.csp.proyecto-periodo-justificacion.periodo-entrega-justificacion' | translate}}
      </div>
      <!-- Fecha de inicio Presentación-->
      <div [fxLayout.xs]="fxLayoutProperties.xs" [fxLayout]="fxLayoutProperties.layout"
        [fxLayoutGap]="fxLayoutProperties.gap" ngClass.gt-xs="ml-10">
        <div>
          <mat-form-field>
            <mat-label>{{'csp.proyecto-periodo-justificacion.fecha-inicio-presentacion' | translate}}</mat-label>
            <input matInput formControlName="fechaInicioPresentacion" [ngxMatDatetimePicker]="picker1">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <ngx-mat-datetime-picker #picker1 showSeconds="true" [defaultTime]="[0,0,0]"></ngx-mat-datetime-picker>
          </mat-form-field>
        </div>
        <!-- Fecha de fin Presentación -->
        <div>
          <mat-form-field>
            <mat-label>{{'csp.proyecto-periodo-justificacion.fecha-fin-presentacion' | translate}}</mat-label>
            <input matInput formControlName="fechaFinPresentacion" [ngxMatDatetimePicker]="picker2">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <ngx-mat-datetime-picker #picker2 showSeconds="true" [defaultTime]="[23,59,59]"></ngx-mat-datetime-picker>
            <mat-error *ngIf="formGroup.controls.fechaFinPresentacion.errors?.after">
              {{'error.after.param' | translate:msgParamFechaInicioEntity}}
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <!-- Observaciones -->
      <div [fxLayout.xs]="fxLayoutProperties.xs" [fxLayout]="fxLayoutProperties.layout"
        [fxLayoutGap]="fxLayoutProperties.gap" ngClass.gt-xs="ml-10">
        <div [fxFlex.sm]="fxFlexProperties2.sm" [fxFlex.md]="fxFlexProperties2.md"
          [fxFlex.gt-md]="fxFlexProperties2.gtMd" [fxFlexOrder]="fxFlexProperties2.order">
          <mat-form-field>
            <mat-label>{{'csp.proyecto-periodo-justificacion.observaciones' | translate}}</mat-label>
            <textarea matInput formControlName="observaciones" type="text" id="observaciones"
              placeholder="{{'csp.proyecto-periodo-justificacion.observaciones' | translate}}">
                </textarea>
            <mat-error *ngIf="formGroup.controls.observaciones.errors?.after">
              {{ 'error.maxlength.entity' | translate:msgParamObservacionesEntity }}
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </div>
    <!-- Datos de la convocatoria -->
    <div fxFlex="50" *ngIf="showDatosConvocatoriaPeriodoJustificacion">
      <h3>{{'info.csp.datos-convocatoria' | translate}}</h3>
      <!-- Número de período convocatoria -->
      <div *ngIf="data.proyectoPeriodoJustificacion?.numPeriodo" [fxLayout.xs]="fxLayoutProperties.xs"
        [fxLayout]="fxLayoutProperties.layout" [fxLayoutGap]="fxLayoutProperties.gap" ngClass.gt-xs="ml-10">
        <mat-form-field>
          <mat-label>{{'csp.proyecto-periodo-seguimiento-cientifico.numero-periodo' | translate}}</mat-label>
          <input matInput formControlName="numPeriodoConvocatoria" type="number" id="numPeriodoConvocatoria"
            placeholder="{{'csp.proyecto-periodo-seguimiento-cientifico.numero-periodo' | translate}}">
        </mat-form-field>
      </div>
      <!-- Tipo De Justificacion convocatoria-->
      <div [fxLayout.xs]="fxLayoutProperties.xs" [fxLayout]="fxLayoutProperties.layout"
        [fxLayoutGap]="fxLayoutProperties.gap" ngClass.gt-xs="ml-10">
        <mat-form-field>
          <mat-label>{{'csp.proyecto-periodo-justificacion.tipoJustificacion' | translate}}</mat-label>
          <sgi-select-enum formControlName="tipoJustificacionConvocatoria" [enumMap]="TIPO_JUSTIFICACION_MAP">
          </sgi-select-enum>
        </mat-form-field>
      </div>
      <!-- Periodo de Justificacion convocatoria -->
      <div class="fieldset-form">
        {{'label.csp.proyecto-periodo-justificacion.periodo-justificar' | translate}}
      </div>
      <!-- Fecha inicio Convocatoria-->
      <div [fxLayout.xs]="fxLayoutProperties.xs" [fxLayout]="fxLayoutProperties.layout"
        [fxLayoutGap]="fxLayoutProperties.gap" ngClass.gt-xs="ml-10">
        <div>
          <mat-form-field>
            <mat-label>{{'csp.proyecto-periodo-justificacion.fecha-inicio' | translate}}</mat-label>
            <input matInput [ngxMatDatetimePicker]="pickerFechaInicioConvocatoria"
              formControlName="fechaInicioConvocatoria" required>
            <mat-datepicker-toggle class="fechaIcon" matSuffix [for]="pickerFechaInicioConvocatoria">
            </mat-datepicker-toggle>
            <ngx-mat-datetime-picker #pickerFechaInicioConvocatoria showSeconds="true" [defaultTime]="[0,0,0]">
            </ngx-mat-datetime-picker>
            <mat-error *ngIf="formGroup.controls.fechaInicioConvocatoria.errors?.required">
              {{ 'error.required.entity' | translate:msgParamFechaInicioEntity }}
            </mat-error>
            <mat-error *ngIf="formGroup.controls.fechaInicioConvocatoria.errors?.overlapped">
              {{ 'error.overlapping.range' | translate }}
            </mat-error>
          </mat-form-field>
        </div>
        <!-- Fecha fin Convocatoria -->
        <div>
          <mat-form-field>
            <mat-label>{{'csp.proyecto-periodo-justificacion.fecha-fin' | translate}}</mat-label>
            <input matInput [ngxMatDatetimePicker]="pickerFechafinConvocatoria" formControlName="fechaFinConvocatoria"
              required>
            <mat-datepicker-toggle class="fechaIcon" matSuffix [for]="pickerFechafinConvocatoria">
            </mat-datepicker-toggle>
            <ngx-mat-datetime-picker #pickerFechafinConvocatoria showSeconds="true" [defaultTime]="[23,59,59]">
            </ngx-mat-datetime-picker>
            <mat-error *ngIf="formGroup.controls.fechaFinConvocatoria.errors?.required">
              {{ 'error.required.entity' | translate:msgParamFechaFinEntity }}
            </mat-error>
            <mat-error *ngIf="formGroup.controls.fechaFinConvocatoria.errors?.after">
              {{'error.after.param' | translate:msgParamFechaInicioEntity}}
            </mat-error>
            <mat-error *ngIf="formGroup.controls.fechaFinConvocatoria.errors?.overlapped">
              {{ 'error.overlapping.range' | translate }}
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <!-- Plazo de presentación convocatoria -->
      <div class="fieldset-form">
        {{'label.csp.proyecto-periodo-justificacion.periodo-entrega-justificacion' | translate}}
      </div>

      <div [fxLayout.xs]="fxLayoutProperties.xs" [fxLayout]="fxLayoutProperties.layout"
        [fxLayoutGap]="fxLayoutProperties.gap" ngClass.gt-xs="ml-10">

        <!-- Fecha de inicio de presentación convocatoria-->
        <div>
          <mat-form-field>
            <mat-label>{{'csp.proyecto-periodo-justificacion.fecha-inicio-presentacion'|
              translate}}</mat-label>
            <input matInput formControlName="fechaInicioPresentacionConvocatoria"
              [ngxMatDatetimePicker]="pickerFechaInicioPresentacion">
            <mat-datepicker-toggle class="fechaIcon" matSuffix [for]="pickerFechaInicioPresentacion">
            </mat-datepicker-toggle>
            <ngx-mat-datetime-picker #pickerFechaInicioPresentacion showSeconds="true" [defaultTime]="[0,0,0]">
            </ngx-mat-datetime-picker>
          </mat-form-field>
        </div>

        <!-- Fecha de fin de presentación convocatoria-->
        <div>
          <mat-form-field>
            <mat-label>{{'csp.proyecto-periodo-justificacion.fecha-fin-presentacion' | translate}}</mat-label>
            <input matInput formControlName="fechaFinPresentacionConvocatoria"
              [ngxMatDatetimePicker]="pickerFechaFinPresentacion">
            <mat-datepicker-toggle class="fechaIcon" matSuffix [for]="pickerFechaFinPresentacion">
            </mat-datepicker-toggle>
            <ngx-mat-datetime-picker #pickerFechaFinPresentacion showSeconds="true" [defaultTime]="[23,59,59]">
            </ngx-mat-datetime-picker>

          </mat-form-field>
        </div>
      </div>
      <!-- Observaciones convocatoria -->
      <div [fxLayout.xs]="fxLayoutProperties.xs" [fxLayout]="fxLayoutProperties.layout"
        [fxLayoutGap]="fxLayoutProperties.gap" ngClass.gt-xs="ml-10">
        <mat-form-field>
          <mat-label>{{'csp.proyecto-periodo-justificacion.observaciones' | translate}}</mat-label>
          <textarea matInput formControlName="observacionesConvocatoria" type="text" id="observaciones"
            placeholder="{{'csp.proyecto-periodo-justificacion.observaciones' | translate}}" [disabled]>
                      </textarea>
          <mat-error *ngIf="formGroup.controls.observaciones.errors?.after">
            {{ 'error.maxlength.entity' | translate:msgParamObservacionesEntity }}
          </mat-error>
        </mat-form-field>
      </div>

      <div class="separation-button" *ngIf="data.convocatoriaPeriodoJustificacion">
        <button color="primary" aria-label="Center Align" mat-raised-button (click)="copyToProyecto()">
          {{'label.csp.proyecto-concepto-gasto'| translate}}
        </button>
      </div>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button color="accent" (click)="saveOrUpdate()" mat-raised-button type="submit"
    *sgiHasAnyAuthorityForAnyUO="['CSP-CON-C', 'CSP-CON-E']">
    <mat-icon class="save-icon">save</mat-icon>{{textSaveOrUpdate | translate}}
  </button>
  <button class="link-cancelar" mat-button type="button" mat-dialog-close>{{'btn.cancel' |
    translate}}</button>
</mat-dialog-actions>