<sgi-action-dialog title="{{'title.csp.solicitud.cambio-estado' | translate}}">
  <form [formGroup]="formGroup">
    <div fxLayout="row">
      <!-- Estado actual -->
      <mat-form-field>
        <mat-label>{{'csp.solicitud.cambio-estado.actual' | translate}}</mat-label>
        <sgi-select-enum formControlName="estadoActual" [enumMap]="ESTADO_MAP">
        </sgi-select-enum>
      </mat-form-field>
    </div>
    <div fxLayout="row">
      <!-- Estado nuevo -->
      <mat-form-field>
        <mat-label>{{'csp.autorizacion.cambio-estado.nuevo' | translate}}</mat-label>
        <sgi-select-enum formControlName="estadoNuevo" [enumMap]="ESTADO_MAP" required>
        </sgi-select-enum>
        <mat-error *ngIf="formGroup.get('estadoNuevo').errors?.required">
          {{'error.required.entity' | translate:msgParamNuevoEstadoEntity}}
        </mat-error>
      </mat-form-field>
    </div>
    <div fxLayout="row">
      <!-- fecha Estado-->
      <mat-form-field>
        <mat-label>{{'csp.autorizacion.estado-autorizacion.fecha' | translate}}</mat-label>
        <input matInput formControlName="fechaEstado" [ngxMatDatetimePicker]="fechaEstado" required>
        <mat-datepicker-toggle matSuffix [for]="fechaEstado"></mat-datepicker-toggle>
        <ngx-mat-datetime-picker #fechaEstado showSeconds="true">
        </ngx-mat-datetime-picker>
        <mat-error *ngIf="formGroup.get('fechaEstado').errors?.required">
          {{'error.required.entity' | translate:msgParamFechaEstadoEntity}}
        </mat-error>
      </mat-form-field>
    </div>
    <!-- Comentario -->
    <div fxLayout="row">
      <mat-form-field>
        <mat-label>{{'csp.solicitud.cambio-estado.comentario' | translate}}</mat-label>
        <textarea matInput formControlName="comentario" type="text">
            </textarea>
        <mat-error *ngIf="formGroup.get('comentario').errors?.maxlength">
          {{'error.maxlength.entity' | translate:msgParamComentarioEntity}}
        </mat-error>
      </mat-form-field>
    </div>
  </form>
</sgi-action-dialog>